<div class="rt-box col-xs-12 c_height_5">
    {{topic-list-header currentUser=currentUser title=machineTitle viewIcons="true" gridView=isGrid listView=isList}}
    <div class="bottom-divider"></div>
    <div {{bind-attr class="isGrid:gridViewVisible:gridViewHidden"}} id="app-grid-view">
        <div class='contents'>
            <div class="row c_pading-b15">
                <div class="portlet-body-head">                    
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 cat_title">
                        <span class="darker-black">
                        <i class="topics_header_torpedo"></i>
                        <span class="title">
                          {{i18n 'dashboards.torpedo.title'}}
                        </span>
                        </span>
                        <span style="display: block; margin-top: 10px;">
                        <span style="color: #6fde86">
                          {{topic-count inkTopicsModel "torpedo"}}
                        </span>
                        {{i18n 'dashboards.torpedo.subtitle'}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="bottom-divider"></div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row app_box app_storage">
                  <a href {{action "createTopic"}}>
                      <div class="col-xs-8 col-sm-4 col-md-3 col-lg-2 col-xl-2 app_cover one_<%= cattype %>">
                        <div class="app_inner">
                            <div class="app_new">
                              {{#conditional-loading-spinner condition=loading size="extra-large"}}
                                <span class="glyphicon glyphicon-plus"></span>
                                <p>
                                  {{i18n 'dashboards.torpedo.create'}}
                                </p>
                                {{/conditional-loading-spinner}}
                              </div>
                          </div>
                    </div>
                  </a>
                    {{#if hasTopics}}
                        {{topic-grid showCategory=torpedoCategory visibleShowMore=false showTopicPostBadges=showTopicPostBadges showPosters=true currentUser=currentUser canBulkSelect=canBulkSelect changeSort="changeSort" toggleBulkSelect="toggleBulkSelect" hideCategory=model.hideCategory order=order ascending=ascending bulkSelectEnabled=bulkSelectEnabled
                        selected=selected expandGloballyPinned=expandGloballyPinned expandAllPinned=true topics=inkTopicsModel}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    <div id="app-list" {{bind-attr class="isList:listViewVisible:listViewHidden"}}>
      <div class="row c_pading-b15">
          <div class="portlet-body-head">
              <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 cat_title">
                  <i class="topics_header_torpedo"></i> {{i18n 'dashboards.torpedo.title'}}
                  <span>{{topic-count inkTopicsModel "torpedo"}} {{i18n 'dashboards.torpedo.subtitle'}}</span>
              </div>
          </div>
      </div>
      <div class="bottom-divider"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                {{#if hasTopics}}
                    {{topic-list showCategory=torpedoCategory showTopicPostBadges=showTopicPostBadges showPosters=true currentUser=currentUser canBulkSelect=canBulkSelect changeSort="changeSort" toggleBulkSelect="toggleBulkSelect" hideCategory=model.hideCategory order=order ascending=ascending bulkSelectEnabled=bulkSelectEnabled
                    selected=selected expandGloballyPinned=expandGloballyPinned expandAllPinned=expandAllPinned topics=inkTopicsModel}}
                {{/if}}
            </div>
        </div>
    </div>
</div>
