<ul>
	<% if cattype == Assemblies::TORPEDO.capitalize %>
	<li>
		<%= link_to catalogs_path(:id => id,:cat_id => id, :name => name, :command => Assemblies::REBOOT, :cattype => cattype), :data => {:remote => true }, :method => :post  do %>
		<i class="glyphicon glyphicon-refresh"></i>Reboot <%= cattype %>
		<% end %>
	</li>
	<li>
		<%= link_to kelvi_path(:id => id, :cat_id => id,:name => name, :command => Assemblies::DELETE, :cattype => cattype), :data => {:remote => true }, :method => :post do %>
		<i class="glyphicon glyphicon-trash"></i>Delete <%= cattype %>
		<% end %>
	</li>
	<% else %>
	<li>
		<%= link_to catalogs_path(:id => id, :cat_id => id, :name => name, :command => Assemblies::START, :cattype => cattype), :data => {:remote => true }, :method => :post do %>
		<i class="glyphicon glyphicon-play-circle"></i>Start <%= cattype %>
		<% end %>
	</li>
	<li>
		<%= link_to catalogs_path(:id => id, :cat_id => id,:name => name, :command => Assemblies::STOP, :cattype => cattype), :data => {:remote => true }, :method => :post  do %>
		<i class="glyphicon glyphicon-record"></i>Stop <%= cattype %>
		<% end %>
	</li>
	<li>
		<%= link_to catalogs_path(:id => id,:cat_id => id, :name => name, :command => Assemblies::RESTART, :cattype => cattype), :data => {:remote => true }, :method => :post  do %>
		<i class="glyphicon glyphicon-refresh"></i>Restart <%= cattype %>
		<% end %>
	</li>
	<li>
		<%= link_to kelvi_path(:id => id, :cat_id => id,:name => name, :command => Assemblies::DELETE, :cattype => cattype), :data => {:remote => true }, :method => :post do %>
		<i class="glyphicon glyphicon-trash"></i>Delete <%= cattype %>
		<% end %>
	</li>
	<% end %>
</ul>
