<!--
** Copyright [2013-2015] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->
<% content_for :content_settings do %>
<% provide(:title, 'Dashboard') %>

<div class="rt-box col-xs-12 col-sm-8 col-md-9 col-lg-9 col-xl-9 c_bg_white c_height_5">

	<div class="row c_pading-b15 settings_top">
		<div class="margin_15">
			<div class="col-xs-9 col-sm-6 col-md-7">
				<h3> Dashboard </h3>
			</div>
			<%= render :partial => "users/topright_icons" %>
		</div>
	</div>
	<div class="row">
		<div class="mplace mplace-head">
			<div class="col-xs-12 col-md-3 mplace-left">
				<h4>Dashboard</h4>
			</div>
			<div class="col-xs-12 col-md-9 mplace-middle hidden-xs hidden-sm">
				<span class="pull-right c_small">Not sure what to do next?<i class="c_icon-rocket"></i><a href="http://docs.megam.io/v1.0/docs/megam_cloudmanagement_intro" target="_blank">Take a Tour</a></span>
			</div>
		</div>
	</div>

	<div class="margin_30 pad_t25">
		<%= render :partial => "cockpits/flyasm", :locals => {:catname => Assemblies::DEW,     :assemblies_grouped => @assemblies_grouped[Assemblies::DEW]} %>
		<%= render :partial => "cockpits/flyasm", :locals => {:catname => Assemblies::APP,     :assemblies_grouped => @assemblies_grouped[Assemblies::APP]} %>
		<%= render :partial => "cockpits/flyasm", :locals => {:catname => Assemblies::SERVICE, :assemblies_grouped => @assemblies_grouped[Assemblies::SERVICE]} %>
	</div>
</div>
<% end %>
<%= render :template => "users/show" %>
