<% content_for :content_settings do %>
<% provide(:title, 'Manage Services') %>
<% if flash[:notice] %>
<script>
$("#events").prepend('<li><a href="#"><span class="label label-sm label-icon label-success"><i class="icon-plus"></i></span> <%=flash[:notice] %> <span class="time">Just now</span></a></li>');
</script>
<% end %>
<% if flash[:alert] %>
<script>
$("#events").prepend('<li><a href="#"><span class="label label-sm label-icon label-danger"><i class="icon-plus"></i></span> <%=flash[:notice] %> <span class="time">Just now</span></a></li>');
</script>
<% end %>


<div class="rt-box col-xs-12 col-sm-8 col-md-9 col-lg-9 col-xl-9 c_bg_white c_height_5">
	<div class="row c_pading-b15 settings_top">
		<div class="margin_15">
			<div class="col-xs-9 col-sm-6 col-md-7">
				<h3> Services </h3>
			</div>
			<%= render :partial => "users/topright_icons" %>
		</div>
	</div>
	<div class="row">
		<div class="mplace mplace-head">
			<div class="col-xs-12 col-md-3 mplace-left">
				<h4> Services </h4>
			</div>
			<div class="col-xs-12 col-md-9 mplace-middle hidden-xs hidden-sm">
				<!-- <span>The <span class="badge_blue">supported</span> addons are marked by a Click on the addon to select it.</span> -->
				<span class="pull-right c_small">Manage your services<i class="c_icon-rocket"></i><a href="#">Take a Tour</a></span>
			</div>
		</div>
	</div>
	<div class="margin_30 pad_t25">

		<div class="bottom-divider"></div>


		<%= render :partial => "main_dashboards/services", :locals => {:user => current_user, :assemblies => @assemblies} %>

	</div>
</div>

<div id="cloudbook_delete_popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h3 id="myModalLabel">Delete - App</h3>
			</div>
			<div class="modal-body">
				<div class="alert alert-success">
					<p>
						<div id="delete_body"></div>
					</p>
				</div>
			</div>
			<div class="modal-footer">
				<div id="delete_footer"></div>
			</div>
		</div>
	</div>
</div>

<div id="cloudbook_clone_popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>

				<h3 id="myModalLabel">Clone - App</h3>
			</div>
			<%= form_tag(clone_path, :method => "post", :remote => true) do %>
			<div class="modal-body">
				<% @new_book_name = book_name %>
				<% @domain_name = ".megam.co" %>
				</br>
				<div class="row">
					<div class="col-md-6">
						<!--<%= link_to  @new_book_name, "#", :id => "identity_new", :onchange => "angular.element(this).scope().fileNameChaged()", :class => "btn btn-large btn-primary disabled btn-block", :data => { :type => 'text', :name => 'book_name'} %>-->
						<a class="btn btn-lg btn-primary disabled btn-block" data-name="book_name" data-type="text" href="#" id="identity_new" ><%= @new_book_name %></a>
					</div>
					<div class = "col-md-6">
						<%= link_to @domain_name, "#", :class => "btn btn-lg btn-primary disabled btn-block", :id => 'domain'%>
					</div>
				</div>
				<br/>
				<br/>
				<div class="row">
					<div class="col-md-6">
						<%= label_tag 'Number_of_clones' %>
					</div>
					<div class="col-md-6">
						<%= number_field_tag 'noofinstances', 1, in: 1...10 %>
					</div>
				</div>

				<%= hidden_field_tag 'new_name', @new_book_name, :id=> 'changename' %>
				<%= hidden_field_tag 'domain_name', @domain_name %>
				<input type="hidden" id="clone_name" name="clone_name" value="">
				<br/>
			</div>
			<div class="modal-footer">
				<%= submit_tag "OK", :class => "btn btn-primary", data: { disable_with: "Please wait..." } %>
			</div>
			<% end %>
		</div>
	</div>
</div>

<div id="clone_postfinish_popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h3 id="myModalLabel">App</h3>
			</div>
			<div class="modal-body">
				<div class="alert alert-success">
					<p>
						App launch was submitted to the megam cloud gateway successfully. It typically takes a few minutes to run it on the cloud.
						</br>
						</br>
						<span class="label label-info">Logs</span>&nbsp;streams the status of launch.</strong>
					</p>
				</div>
			</div>
			<div class="modal-footer">
				<%= link_to  "Ok", apps_path, :class => "btn btn-primary", :target => "_self" %>
			</div>
		</div>
	</div>
</div>
<div id="clone_postfinish_popup_error" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h3 id="myModalLabel">App</h3>
			</div>
			<div class="modal-body">
				<div class="alert alert-danger">
					<p>
						App launch to the megam cloud gateway was not successful.
						</br>
						<div id="err_msg"></div>
					</p>
				</div>
			</div>
			<div class="modal-footer">
				<%= link_to  "Ok", services_path, :class => "btn btn-primary", :target => "_self" %>
			</div>
		</div>
	</div>
</div>

<% end %>
<%= render :template => users_show_path %>
