<!-- APP INFO MODAL -->
<div aria-hidden="true" class="modal fade" data-backdrop="static" id="megam_flymodal" role="basic" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content c_modal-content">
      <div class="modal-header">
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button"></button>
        <h4 class="modal-title"><%= @msg[:title].camelize %></h4>
      </div>
      <div class="modal-body text-center">
        <%= @msg[:message] %>
      </div>
      <div class="modal-footer c_modal-footer">
        <%= link_to  t('ok') , "#{@msg[:redirect]}", :class => "btn btn-success a_pad", :target => "_self" %>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- APP KELVI MODAL -->
<div aria-hidden="true" class="modal fade" data-backdrop="static" id="megam_flykelvi" role="basic" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content c_modal-content">
      <div class="modal-header">
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button"></button>
        <h4 class="modal-title"><%= @msg[:title].camelize %></h4>
      </div>
      <div class="modal-body text-center">
        <%= @msg[:message] %>?
      </div>
      <div class="modal-footer c_modal-footer">
        <button class="btn default" data-dismiss="modal" type="button"><%= t('cancel') %></button>
        <%= link_to  t('confirm'), "#{@msg[:redirect]}", :class => "btn btn-success a_pad", :method => :delete, :target => "_self", data: {remote: true} %>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
