<!-- APP INFO MODAL -->
<div class="modal fade" id="megam_flymodal" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content c_modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title"><%= @msg[:title].camelize %></h4>
			</div>
			<div class="modal-body text-center">
				 <%= @msg[:message] %>
			</div>
			<div class="modal-footer c_modal-footer">
				<%= link_to  t('ok') , "#{@msg[:redirect]}", :class => "btn btn-success a_pad", :target => "_self" %>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<!-- APP KELVI MODAL -->
<div class="modal fade" id="megam_flykelvi" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
       <div class="modal-content c_modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
             <h4 class="modal-title"><%= @msg[:title].camelize %></h4>
          </div>
          <div class="modal-body text-center">
             <%= t('general.you_want_to') %> <%= @msg[:message] %>?
          </div>
          <div class="modal-footer c_modal-footer">
             <button type="button" class="btn default" data-dismiss="modal"><%= t('cancel') %></button>
             <%= link_to  t('confirm'), "#{@msg[:redirect]}", :class => "btn btn-success a_pad", :remote => true, :method => :delete, :target => "_self" %>
          </div>
       </div>
       <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
 </div>
 <!-- /.modal -->
