<% solocomps = by_cattype(components, filter_cattype) %>
<div class="row margintb_15 margin_30">
  <%= link_to marketplaces_path, :data => { :remote => true} do %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 app_cover one">
      <div class="app_inner">
        <div class="app_new">
          <span class="glyphicon glyphicon-plus"></span>
          <p>
            Create  <%= filter_cattype.downcase.camelize %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
  <%  solocomps.each do |com| %>
    <% if com != nil %>
      <% com.each do |c| %>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 app_cover row">
          <div class="app_inner">
            <div class="app">
              <div class="app_head">
                <span class="app_config" id="config_menu_1"><i class="c_icon-config"></i></span>
                <div class="config_menu config_menu_1">
                  <%= render :partial => "cockpits/flycontrols", :locals => {:id => assembly.id, :name => assembly.name, :cattype => Assemblies::SERVICE} %>
                </div>
                <div class="row app_icon">
                  <h5><a href="#"><%= assembly.name  %>.<%= assembly.components[0][0].components.inputs.select { |x| x["key"] == "domain" }[0]['value'] %></a></h5>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <ul class="list-inline app_icon_bottom">
                      <li>
                        <%= image_tag  "logos/#{assembly.components[0][0].components.tosca_type.split('.').last}.png", :alt => "" %>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="app_footer">
                <!-- <div class="circle_red"></div> -->
                <i class="circle_green"></i>
                <span>Launched</span>
                <i class="c_icon-window pull-right"></i>
                <i class="c_icon-star pull-right"></i>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
