<!-- CATALOG START MODAL -->
<div class="modal fade app_exist" id="app_start" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<%= form_tag controls_path, multipart: true, :novalidate => 'novalidate',  :method => 'post', :remote => true  do %>
		<div class="modal-content c_modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">Start App</h4>
			</div>
			<div class="modal-body text-center">
				<span id="start_app_id"></span>
				<span id="start_app_name"></span>
				<%= hidden_field_tag 'command', nil, placeholder: "", :class =>"form-control", :value => "start"  %>
				Are you sure you want to start the app ?
			</div>
			<div class="modal-footer c_modal-footer">
				<button type="button" class="btn default" data-dismiss="modal">
					Cancel
				</button>
				<%= submit_tag "Confirm", :class => "btn btn-success", data: { disable_with: "Please wait..." } %>
			</div>
		</div>
		<% end %>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- CATALOG STOP MODAL -->
<div class="modal fade app_exist" id="app_stop" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<%= form_tag controls_path, multipart: true, :novalidate => 'novalidate',  :method => 'post', :remote => true  do %>
		<div class="modal-content c_modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">Stop App</h4>
			</div>
			<div class="modal-body text-center">
				<span id="stop_app_id"></span>
				<span id="stop_app_name"></span>
				<%= hidden_field_tag 'command', nil, placeholder: "", :class =>"form-control", :value => "stop"  %>
				Are you sure you want to stop the app ?
			</div>
			<div class="modal-footer c_modal-footer">
				<button type="button" class="btn default" data-dismiss="modal">
					Cancel
				</button>
				<%= submit_tag "Confirm", :class => "btn btn-success", data: { disable_with: "Please wait..." } %>
			</div>
		</div>
		<% end %>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- CATALOG RESTART MODAL -->
<div class="modal fade app_exist" id="app_restart" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<%= form_tag controls_path, multipart: true, :novalidate => 'novalidate',  :method => 'post', :remote => true  do %>
		<div class="modal-content c_modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">Restart App</h4>
			</div>
			<div class="modal-body text-center">
				<span id="restart_app_id"></span>
				<span id="restart_app_name"></span>
				<%= hidden_field_tag 'command', nil, placeholder: "", :class =>"form-control", :value => "restart"  %>
				Are you sure you want to restart the app ?
			</div>
			<div class="modal-footer c_modal-footer">
				<button type="button" class="btn default" data-dismiss="modal">
					Cancel
				</button>
				<%= submit_tag "Confirm", :class => "btn btn-success", data: { disable_with: "Please wait..." } %>
			</div>
		</div>
		<% end %>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- CATALOG DELETE MODAL -->
<div class="modal fade app_exist" id="app_delete" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<%= form_tag controls_path, multipart: true, :novalidate => 'novalidate',  :method => 'post', :remote => true  do %>
		<div class="modal-content c_modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">Delete App</h4>
			</div>

			<div class="modal-body text-center">
				<span id="delete_app_id"></span>
				<span id="delete_app_name"></span>
				<%= hidden_field_tag 'command', nil, placeholder: "", :class =>"form-control", :value => "delete"  %>

				Are you sure you want to delete the app ?
			</div>
			<div class="modal-footer c_modal-footer">
				<button type="button" class="btn default" data-dismiss="modal">
					Cancel
				</button>
				<%= submit_tag "Confirm", :class => "btn btn-danger", data: { disable_with: "Please wait..." } %>

			</div>
		</div>
		<% end %>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="app_postfinish_popup" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content c_modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title"><div id="command_msg"></div> App</h4>
			</div>
			<div class="modal-body text-center">
				<div id="app_res_msg"></div>
			</div>
			<div class="modal-footer c_modal-footer">
				<%= link_to  "Ok", cockpits_path, :class => "btn btn-success", :target => "_self" %>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<div class="modal fade" id="app_postfinish_popup_error" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content c_modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title"><div id="command_msg"></div> App</h4>
			</div>
			<div class="modal-body text-center">
				Whew! Failed to App Request published.
				</br>
				<div id="app_err_msg"></div>
			</div>
			<div class="modal-footer c_modal-footer">
				<%= link_to  "Ok", cockpits_path, :class => "btn btn-success", :target => "_self" %>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
