<!--
** Copyright [2013-2015] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->
<%= render 'layouts/header' %>
<% asmid = request.original_url.partition('=').last %>
<div class="container main-cover">
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 col-xl-3 c_bg_white cover c_bg_white_override">
			<div class="row">
				<div class="page-sidebar navbar-collapse collapse">
					<!-- BEGIN SIDEBAR MENU -->
					<ul class="page-sidebar-menu">
						<li></li>
						<li class="start active" >
							<%= link_to cockpits_path , :data => {:remote => true} do %>
							<i class="icon-chevron-sign-left pull-left"></i>
							<span class="title pull-left">Back to Dashboard</span>
							<span class="hidden-xs selected" id="left_onedash"></span>
							<% end %>
						</li>
						<li class= "start active">
							<%= link_to "one#{cattype.downcase.pluralize}?id=#{asmid}", :data => {:remote => true},  :onclick => "$('#left_onedash, #left_oneindex, #left_onelog, #left_oneruntime').removeClass('hidden-xs selected'); $('#left_oneindex').addClass('selected');" do %>
							<i class="icon-bar-chart pull-left"></i>
							<span class="title pull-left">Overview</span>
							<span class="hidden-xs" id="left_oneindex"></span>
							<% end %>
						</li>
						<li class="start active">
							<%= link_to runtime_path(:id => asmid, :cattype => cattype), :data => {:remote => true} , :onclick => "$('#left_onedash, #left_oneindex, #left_onelog, #left_oneruntime').removeClass('hidden-xs selected'); $('#left_oneruntime').addClass('selected');" do %>
							<i class="icon-cog pull-left"></i>
							<span class="title pull-left">Runtime</span>
							<span class="hidden-xs" id="left_oneruntime"></span>
							<% end %>
						</li>																						
						<li class= "start active">
							<%= link_to logs_path(:id => asmid, :cattype => cattype), :data => {:remote => true} , :onclick => "$('#left_onedash, #left_oneindex, #left_onelog, #left_oneruntime').removeClass('hidden-xs selected'); $('#left_onelog').addClass('selected');" do %>
							<i class="icon-list-ul pull-left"></i>
							<span class="title pull-left">Logs</span>
							<span class="hidden-xs" id="left_onelog"></span>
							<% end %>
						</li>
					</ul>
					<!-- END SIDEBAR MENU -->
				</div>
			</div>
		</div>
		<div id="content">
			<%= content_for?(:onecat_contents) ? yield(:onecat_contents) : yield %>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>
