<% provide(:title, "Sign in") %>
<div class="signin login">
	<!-- BEGIN LOGO -->
	<div class="container">
		<div class="row">
			<div class="logo">
				<%= image_tag "logo.png" %>
			</div>
		</div>

		<!-- END LOGO -->
		<!-- BEGIN LOGIN -->
		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 col-xl-6 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xl-offset-3 outer bg_white border_grey">
			<div class="container">
				<div class="row bottom-divider">
					<div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10">
						<h2>Login</h2>
					</div>
				</div>
			</div>

			<div class="cover col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10">
				<!-- BEGIN LOGIN FORM -->
				<%= form_tag sessions_path, multipart: true, :id => "megamform", role: "form", :novalidate => "novalidate", :method => "post", data: { spinlock: "#spin_cross_cloud"}  do %>
				<div class="c_inline">
					<!-- <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email"> -->
					<div class="form-group">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-112">
								<i class="c_ico-excla"></i>
								<%= text_field_tag 'email', nil, :required => true, :class => 'form-control', placeholder: "Email" %>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-112">
								<i class="c_ico-excla"></i>
								<%= password_field_tag 'password', nil, :required => true, :class => 'form-control', placeholder: "Password" %>
							</div>
						</div>
					</div>

					<% if flash[:error] %>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer">
							<div class="alert alert-danger alert-dismissable">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
								<strong>Warning!</strong> <%= flash[:error] %>
							</div>
						</div>
					</div>
					<% end %>

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer">
							<div class="row">
								<div  class="col-lg-6 col-md-6 col-sm-6 col-xs-6 tour-btn">
									<span> <a href="signup"><u class="colr-bluegrey">Create new account ? </u></a> </span>
								</div>
								<div  class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-right tour-btn">
									<span> <a  data-toggle="modal" href="#forgot_password"  class="pull-right" href="#"><u class="colr-denimblue">Forgot password ?</u></a> </span>

								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="row">
								<div  class="col-lg-6 col-md-6 col-sm-6 col-xs-12 tour-btn">
									<%= link_to "Take a tour", demo_path(:email =>"fake@mypaas.io",:password =>"fakemypaas#megam"),:class => "btn btn-success btn-plain", :id => "popover_demosignin" %>
								</div>
								<div  class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right tour-btn">
								    <%= submit_tag "Login", :class => "btn btn-success btn-plain-green" %>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<p class="text-center login-social">
								Login with social media
							</p>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 social">
							<ul class="list-inline text-center">
								<li>
									<a href="/auth/github" class="github icon" ></a>
								</li>
								<li>
									<a href="/auth/facebook" class="facebook icon"></a>
								</li>
								<li>
									<a href="/auth/google_oauth2" class="google icon"></a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<% end %>
				<!-- END REGISTRATION FORM -->
			</div>

		</div>
		<div  class="col-xs-12 col-sm-8 col-md-8 col-lg-7 col-xl-6 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xl-offset-3 outer footer-bottom">
			<div class="row">
				<p>
					<a href="http://enixel.com/" target="_blank">Powered by Enixel</a><span class="pull-right"><a href="https://www.megam.io" target="_blank">megam.io</a></span>
				</p>
			</div>
		</div>
		<!-- END LOGIN -->
	</div>
</div>

<!-- Forgot password form modal -->
<div class="modal fade" id="forgot_password" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog" style="max-width:400px">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">Forgot password</h4>
			</div>
			<div class="modal-body">
				<div class="scroller" style="min-height:200px" data-always-visible="1" data-rail-visible1="1">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<%= form_tag password_resets_path, :method => :post, :remote => true, data: { spinlock: '#creating_sshkeys'}  do %>

								<label for="ssh-key_name">Email</label>
								<%= text_field_tag :email, nil, :class => 'form-control', :required => true, placeholder: "Email" %>
							</div>

							<%= submit_tag "Reset Password", :class => "btn btn-success col-md-12 col-xs-12" %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="postfinish_reset_password" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content c_modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">Reset Password</h4>
			</div>
			<div class="modal-body text-center">
				<div>

					<p>
						An email has been sent to your registered email address to reset your password
					</p>
				</div>
			</div>
			<div class="modal-footer c_modal-footer">
				<%= link_to  "Ok", root_path, :class => "btn btn-success", :target => "_self" %>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<div class="modal fade" id="postfinish_reset_password_error" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content c_modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">Reset Password</h4>
			</div>
			<div class="modal-body text-center">
				<div>

					<p>
						You recently made a request for a lost password. Please Enter a valid megam account email address
					</p>
				</div>
			</div>
			<div class="modal-footer c_modal-footer">
				<%= link_to  "Ok", root_path, :class => "btn btn-success", :target => "_self" %>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

