<!--
** Copyright [2013-2016] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->
<% provide(:title, "Sign in") %>
<div class="signin login">
    <!-- BEGIN LOGO -->
    <div class="container">
        <div class="row">
            <div class="logo">
                <%= image_tag "#{SiteSetting.logo_small_url}" %>
            </div>
        </div>

        <!-- END LOGO -->
        <!-- BEGIN LOGIN -->
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 col-xl-6 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xl-offset-3 outer bg_white border_grey">
            <div class="container">
                <div class="row bottom-divider">
                    <div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10">
                        <h2><%= t('login.title') %></h2>
                    </div>
                </div>
            </div>

            <div class="cover col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10">
                <!-- BEGIN LOGIN FORM -->
                <%= form_tag sessions_path, multipart: true, :id => "megamform", :class => "sign-form", role: "form", :novalidate => "novalidate", :method => "post", data: { spinlock: "#spin_cross_cloud"}  do %>
                <div class="c_inline">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-112">
                                <i class="c_ico-excla"></i>
                                <%= text_field_tag :email, nil, :required => true, :class => 'form-control', placeholder: t('signup.email') %>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-112">
                                <i class="c_ico-excla"></i>
                                <%= password_field_tag 'password', nil, :required => true, :class => 'form-control', placeholder: t('signup.email') %>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer">
                            <div class="row">
                                <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-6 tour-btn">
                                    <span> <a href="signup" id="la-button"><u class="colr-bluegrey"></u><%= t('login.new_user') %></a> </span>
                                </div>
                                <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-right tour-btn">
                                    <span> <a  data-toggle="modal" href="#forgot_password"  class="pull-right"><u class="colr-denimblue"></u><%= t('login.forget_password') %> ?</a> </span>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-12 tour-btn">

                                    <button class="btn btn-success btn-plain">
                                        <a href="/tour"><%= t('login.tour') %></a>
                                    </button>
                                </div>
                                <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right tour-btn">
                                    <button type="submit" class="btn btn-success btn-plain-green" data-remote="true">
                                        <%= t('login.title') %>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <p class="text-center login-social">
                                <%= t('login.media') %>
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 social">
                            <ul class="list-inline text-center">
                                <li>
                                    <a href="/auth/github" class="github icon" ></a>
                                </li>
                                <li>
                                    <a href="/auth/facebook" class="facebook icon"></a>
                                </li>
                                <li>
                                    <a href="/auth/google_oauth2" class="google icon"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <% end %>
                <!-- END REGISTRATION FORM -->
            </div>

        </div>
        <div  class="col-xs-12 col-sm-8 col-md-8 col-lg-7 col-xl-6 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xl-offset-3 outer footer-bottom">
            <div class="row">
                <p>
                    <a href="http://enixel.com/" target="_blank"><%= t('login.ui_design_credits') %></a><span class="pull-right"><a href="#{UrlHelper.public_suffix(SiteSetting.contact_url)}" target="_blank"><%= UrlHelper.public_suffix(SiteSetting.contact_url) %></a></span>
                </p>
            </div>
        </div>
        <!-- END LOGIN -->
    </div>
</div>
<%= render :partial => "sessions/reset_modal" %>
