<% provide(:title, "Sign in") %>

<%= render :partial => "customizations/flash_messages" %>
<div id="containerlogin">
	<div id="logo">
		<a href="http://www.gomegam.com" target="_blank"> <%= image_tag Rails.configuration.megam_logo_url , :alt => "Megam", :class => "megam_image" %> </a>
	</div>

	<div id="loginbox">
		<%= form_for(:session, :url => sessions_path, :html => {:id =>'password_validate', :novalidate => 'novalidate'}) do |f| %>
		<p>
			Enter username and password to continue.
		</p>
		<div class="input-group">
			<span class="input-group-addon"><i class="fa fa-user"></i></span>
			<%= f.text_field :email, :class => 'form-control required',placeholder: "Email" %>
		</div>
		<div class="input-group">
			<span class="input-group-addon"><i class="fa fa-lock"></i></span>
			<%= f.password_field :password, :id => 'password', :class => 'form-control required',placeholder: "Password" %>
		</div>
		<div class="form-actions">
			<div class="row">
				<div class="col-md-12">
					<div class="pull-left">
						<%= link_to "Create new account", signup_path, :class => "flip-link to-register blue" %>
					</div>
					<div class="pull-right">
						<%= link_to "Forgot password?", new_password_reset_path, :class=> "flip-link to-recover grey" %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<%= link_to "Demo Sign in", demo_path(:email =>"dummy@megamsandbox.com",:password =>"dummykeysandbox#megam"),:class => "btn btn-primary btn-lg btn-block", :id => "popover_demosignin" %>					
					
				</div>
				<div class="col-md-6">
					<%= f.submit "Sign in", :class => "btn btn-primary btn-lg btn-block" %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<a href="http://www.gomegam.com" class="btn btn-dark-red btn-block" target="_blank"><i class="fa fa-globe"></i>&nbsp;Visit <strong>Gomegam.com</strong></a>
				</div>
			</div>
		</div>
		<div class="footer-login">
			<div class="pull-left text">
				Login with
			</div>
			<div class="pull-right btn-social">
				<a class="btn btn-facebook" href="/auth/facebook"><i class="fa fa-facebook"></i></a>
				<a class="btn btn-twitter disabled" href="/auth/twitter"><i class="fa fa-twitter"></i></a>
				<a class="btn btn-google-plus disabled" href="/auth/google-plus"><i class="fa fa-google-plus"></i></a>
			</div>

		</div>

		<% end %>

	</div>
	</br>
	<div class="pull-right">
		<small> <a href="http://www.podnix.com" target="_blank"><font color="black">Powered by Podnix cloud</font></a></small>
	</div>
</div>

<script>
    $(document).ready(function() {
        $("body").addClass("login");
    }); 
</script>
