
<div id="door" style="background: url('/assets/login_background.jpg');" >
<% provide(:title, "Sign in") %>

<%= render :partial => "customizations/flash_messages" %>

<div id="container" style="background: url('/assets/login_background.jpg');">
        <div id="logo">
        <%= image_tag Rails.configuration.megam_logo_url , :alt => "Megam", :class => "megam_image" %>
        </div>
        <div id="loginbox">
                <%= form_for(:session, :url => sessions_path, :html => {:id =>'password_validate', :novalidate => 'novalidate'}) do |f| %>
                <p>
                        Enter username and password to continue.
                </p>
                <div class="input-group">
                        <span class="input-group-addon"><i class="icon-user"></i></span><%= f.text_field :email, :class => 'form-control required',placeholder: "Email" %>
                </div>
                <div class="input-group">
                        <span class="input-group-addon"><i class="icon-lock"></i></span><%= f.password_field :password, :id => 'password', :class => 'form-control required',placeholder: "Password" %>
                </div>
                <div class="row or-login">
                        <span>or login using</span>
                </div>
                <div class="row">
                        <div class="btn-group btn-sm btn-social">
                                <a class="btn btn-primary" href="/auth/facebook"><i class="icon-facebook"></i> Facebook</a>
                        <!--      <a class="btn btn-info" href="#"><i class="icon-twitter"></i> Twitter</a>
                                <a class="btn btn-danger" href="#"><i class="icon-google-plus"></i> Google+</a>
                        -->
                        </div>
                </div>
                <hr />
                <div class="form-actions">
                        <div class="pull-left">
                                <%= check_box_tag :remember_me, "checked", params[:remember_me], :id => "remember_me" %>
                                <%= label_tag :remember_me %>
                                <br/>
                                <%= link_to "Forgot password?", new_password_reset_path %>
                                <br />  
                                <%= link_to "Need account? Register here!", signup_path %>                      
                        </div>
                        <div class="pull-right">
                        	<%= f.submit "Sign in", :class => "btn btn-default" %>                                
                        </div>
                </div>
                <% end %>                        
        </div>
</div>
</div>
<!--
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

<div id="box_login">
<div class="container">
<div class="span12 box_wrapper">
<div class="offset2 span12 box">
<div>
<div class="head">
<h4>Log in to your account</h4>
</div>
<div class="social">
<a href="/auth/facebook" class="face_login"> <span class="face_icon"> <%= image_tag "i_face.png", :alt => "fb" %> </span> <span class="text">Sign in with Facebook</span> </a>
<div class="division">
<hr class="left">
<span>or</span>
<hr class="right">
</div>
</div>
<div class="form">
<%= form_for(:session, :url => sessions_path, :html => {:id =>'password_validate', :novalidate => 'novalidate'}) do |f| %>
<div class="control-group">
<div class="controls">
<%= f.text_field :email, :class => 'text_field required',placeholder: "Email" %>

</div>
</div>

<div class="control-group">
<div class="controls">
<%= f.password_field :password, :id => 'password', :class => 'text_field required',placeholder: "Password" %>
</div>
</div>
<div class="remember">
<div class="left">
<%= check_box_tag :remember_me, "checked", params[:remember_me], :id => "remember_me" %>
<%= label_tag :remember_me %>
</div>

<div class="right">
<%= link_to "Forgotpassword?", new_password_reset_path %>
</div>
</div>

<%= f.submit "Sign in", :class => "btn" %>
<% end %>
</div>
</div>
</div>
<p class="already">
Don't have an account? <%= link_to "Sign up", signup_path %>
</p>
</div>
</div>
</div>
-->
<!--   <script src="http://code.jquery.com/jquery-latest.js"></script> -->

