<% provide(:title, "Sign in") %> <h1>Sign in</h1>
<div class="row">
	<div class="span6 offset3">
		<%= form_for(:session, :url => sessions_path) do |f| %>
		<%= f.label :email %>
		<%= f.text_field :email, placeholder: "e-mail" %>

		<%= f.label :password %>
		<%= f.password_field :password, placeholder: "Password" %>
		<br>
		</br>

		<%= f.submit "Sign in", :class => "btn btn-large btn-primary" %>
		<% end %>
		<p>
			New user? <%= link_to "Sign up now!", signup_path %>
		</p>
		<p>
			<strong>Sign in through one of these services:</strong>
		</p>

		<a href="/auth/facebook" class="auth_provider"> <%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %>Facebook</a>
	</div>
</div>
