<% provide(:title, "Forgot password") %>
<%= render :partial => "customizations/flash_messages" %>
<div id="containerlogin">
	<div id="logo">
		<a href="http://www.gomegam.com" target="_blank">
		<%= image_tag Rails.configuration.megam_logo_url , :alt => "Megam", :class => "megam_image" %>
		</a>
	</div>
	<div id="loginbox_password_reset">
		<%= spinner_tag 'spin_reset' %>
		<%= form_tag password_resets_path, :method => :post, :remote =>
		true, data: { spinner: '#spin_reset'} do %>
		<p>
			Enter your e-mail address below and we will send you instructions how to recover a password.
		</p>
		<div class="input-group">
			<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
			<%= text_field_tag :email, params[:email], :class => 'form-control required' %>
		</div>
		<hr />
		<div class="form-actions">
			<div class="pull-left">
				&laquo; <%= link_to "Back to login", signin_path %>
				<br />
				<%= link_to "Need account? Register here!", signup_path %>
			</div>
			<div class="pull-right">
				<%= submit_tag "Reset Password", :class => "btn btn-default" %>
			</div>
		</div>
		<% end %>
	</div>
</div>
<script>
    $(document).ready(function() {
        $("body").addClass("login");
    }); 
</script>
<div id="postfinish_reset_password" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			×
		</button>
		<h3 id="myModalLabel">Success</h3>
	</div>
	<div class="modal-body">
		<p>
			You recently made a request for a lost password. Please remember to keep your passwords recorded in a safe place. Mail has been sent to your email address to reset your password
		</p>
	</div>

	<div class="modal-footer" id="reset_path"></div>

</div>

<div id="postfinish_reset_password_error" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			×
		</button>
		<h3 id="myModalLabel">Failure</h3>
	</div>
	<div class="modal-body">
		<p>
			You recently made a request for a lost password. Please Enter a valid megam account email address
		</p>
	</div>

	<div class="modal-footer" id="reset_error_path"></div>

</div>

