<!--
** Copyright [2013-2015] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->
<% provide(:title, "Reset") %>
<div class="signin login">
	<!-- BEGIN LOGO -->
	<div class="container">
		<div class="row">
			<div class="logo">
				<%= image_tag "logo.png" %>
			</div>
		</div>
		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 col-xl-6 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xl-offset-3 outer bg_white border_grey">
			<div class="container">
				<div class="row bottom-divider">
					<div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10">
						<h2>Forgot Password</h2>
					</div>
				</div>
			</div>

			<div class="cover col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10">
				<!-- BEGIN LOGIN FORM -->
				<%= form_tag password_resets_path, :method => :post, :remote => true do %>
				<div class="c_inline">
					<div class="form-group">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-112">
								<i class="c_ico-excla"></i>
								<%= text_field_tag :email, params[:email], :class => 'form-control', :required => true, placeholder: "Email" %>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="row">
								<div  class="col-lg-6 col-md-6 col-sm-6 col-xs-12 tour-btn">
									<%= link_to "Need account?", signup_path, :class => 'btn btn-success btn-plain' %>
								</div>
								<div  class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right tour-btn">
									<%= submit_tag "Reset Password", :class => "btn btn-success btn-plain-green" %>
								</div>
							</div>
						</div>
					</div>

					<% end %>
					<!-- END REGISTRATION FORM -->
				</div>

			</div>
		</div>
		<div  class="col-xs-12 col-sm-8 col-md-8 col-lg-7 col-xl-6 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xl-offset-3 outer footer-bottom">
			<div class="row">
				<p>
					<a href="http://www.podnix.com" target="_blank">Powered by Podnix Cloud</a><span class="pull-right">gomegam.com</span>
				</p>
			</div>
		</div>

	</div>
</div>
</div>

<div id="postfinish_reset_password" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			×
		</button>
		<h3 id="myModalLabel">Success</h3>
	</div>
	<div class="modal-body">
		<p>
			You recently made a request for a lost password. Please remember to keep your passwords recorded in a safe place. Mail has been sent to your email address to reset your password
		</p>
	</div>

	<div class="modal-footer" id="reset_path"></div>

</div>

<div id="postfinish_reset_password_error" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			×
		</button>
		<h3 id="myModalLabel">Failure</h3>
	</div>
	<div class="modal-body">
		<p>
			You recently made a request for a lost password. Please Enter a valid megam account email address
		</p>
	</div>

	<div class="modal-footer" id="reset_error_path"></div>

</div>

