<div class="widget-box">
	<div class="widget-title">
		<span class="icon"> <i class="icon-th-list"></i> </span>
		<h5>Cloud Book Details</h5>
		<div class="buttons">
			<div class="container-fluid">
				<%= link_to cloud_book_path(:id => @cloud_book.id, :name => @cloud_book.node_name, :book_type => @cloud_book.node_type), :class => "btn btn-mini", :title => "Icon Title", :remote => true, :target => "_self", :data => { spinner: '#refresh'} do %> <i class="icon-refresh"></i> Refresh <% end %>
				<%= mini_spinner_tag 'refresh' %>
			</div>

		</div>
	</div>
	<div class="widget-content">
		<div class="widget-box">
			<div class="widget-title">
				<ul class="nav nav-tabs">
					<li class="active">
						<a data-toggle="tab" href="#tab1">Details</a>
					</li>
					<li>
						<a data-toggle="tab" href="#tab2">Actions</a>
					</li>
					<li>
						<a data-toggle="tab" href="#tab3">Scaling</a>
					</li>
					<li>
						<a data-toggle="tab" href="#tab4">Security</a>
					</li>
				</ul>
			</div>
			<div class="widget-content tab-content">
				<div id="tab1" class="tab-pane active">

					<%= render :partial => "cloud_books/tab_details" , :locals => {:cloud_book => @cloud_book, :requests => @requests, :book_requests => @book_requests}%>

				</div>
				<!-- tab1 -->

				<div id="tab2" class="tab-pane">
					<%= render :partial => "cloud_books/tab_actions" , :locals => {:cloud_book => @cloud_book, :requests => @requests}%>
				</div><!-- tab2 -->
				<div id="tab3" class="tab-pane">

					<div class="row">
						<div class="alert alert-info alert-block">
							<h4 class="alert-heading">Work in Progress</h4>
							<div>
								<p class="help-block">
									<%= image_tag "helpbota.png", :alt => "help bot"%>
									<strong>Go Ahead </strong>
									Develop More Application on Cloud
								</p>
								<i class="icon-chevron-left"></i>&nbsp; &nbsp; Click <span class="badge badge-important"> Cloud Application </span>
								</br>
							</div>
						</div>
					</div>

					<!-- <%= render :partial => "cloud_books/tab_scaling" , :locals => {:cloud_book => @cloud_book, :requests => @requests}%> -->
				</div><!-- tab3 -->
				<div id="tab4" class="tab-pane">
					<div class="row">
						<div class="alert alert-info alert-block">
							<h4 class="alert-heading">Work in Progress</h4>
							<div>
								<p class="help-block">
									<%= image_tag "helpbota.png", :alt => "help bot"%>
									<strong>Go Ahead </strong>
									Develop More Application on Cloud
								</p>
								<i class="icon-chevron-left"></i>&nbsp; &nbsp; Click <span class="badge badge-important"> Cloud Application </span>
								</br>
							</div>
						</div>
					</div>
					<!--<%= render :partial => "cloud_books/tab_security" , :locals => {:cloud_book => @cloud_book, :requests => @requests}%>-->
				</div><!-- tab4 -->
			</div>
		</div>
	</div>
</div>

