
	<div class="span10">
		<div class="span3">
			<div class="cb_box">
				<h4 align="center"> Count</h4>
				<h3 align="center" ><span class="icon"><i class="icon-book"></i></span><%= @cb_count %> of 2</h3>
			</div>

			<%= link_to "Create", new_cloud_book_path, class: "btn btn-large btn-success btn-block", :target => "_self" %>
			<!--
			<% cbhc = 6 %>
			<% if cbhc < 2 %>
			<br/>
			<%= link_to "Create", new_cloud_book_path, class: "btn btn-large btn-success btn-block", :target => "_self" %>
			<br/>
			<% else %>
			<br/>
			<%= link_to "Create", "", class: "btn btn-large btn-success btn-block", :target => "_self", :disabled => true %>
			<br/>
			<% end %> -->

			<br/>

			<%= link_to "Run History Information", cloud_books_histories_path, class: "btn btn-large btn-success btn-block", :target => "_self" %>
			<br/>

			<span class="btn btn-large disabled btn-block"><h3><%= @cb_count %></h3> <h4>Launched </h4></span>

			</br>
			<%= link_to "Upgrade", pricing_path, class: "btn btn-large btn-inverse btn-block ", :target => "_self" %>

		</div>
		<!-- Span6 -->

		<div class="span6">
			<div class="widget-box">
				<div class="widget-title">
					<span class="icon"> <i class="icon-th-list"></i> </span>
					<h5>Your Usage</h5>
				</div>
				<div class="widget-content" overflow-y: scroll;">
				<% @percent = @cb_count/2.0*100 %>
				<div class="row-fluid">
 <div class="span6">
			<div class="cb_box">
	<br/><br/><br/>
				<div class="span1">
				<h3>0</h3>
				</div>
				<div class="span9">
				<% if @percent >= 80 %>
				<div class="progress progress-danger">
				<div class="bar" style="width: <%= @percent %>%;"></div>
				</div>
				<% else %>
				<div class="progress progress-success">
				<div class="bar" style="width: <%= @percent %>%;"></div>
				</div>
				<% end %>
				</div>
				<div class="span1">
				<h3>2</h3>
				</div>
</div></div>
 <div class="span6">
			<div class="cb_box">
				<h4 align="center" >Recent Activity</h4>
				<% @n_hash.select{|k, v|k==latest_book.name}.each do |k, v| %>
					<% v.each do |node| %>
					<% cloud_book = @nodes.lookup(node) %>
					<h5 align="Center">
					<%= link_to "#{cloud_book.node_name}", cloud_book_path(:id => latest_book.id, :class => "btn", :name => cloud_book.node_name), :remote => true, data: { spinlock: '#book'} %>
					</h5>
					<% end %>
				<% end %>
				<!--<% @latest_cloud_book = latest_book %>
				<h5 align="Center"><%= @latest_cloud_book.name %></h5>-->
				<h5 align="Center"><span class="icon"> <i class="icon-calendar"></i> </span><b><%= latest_book.created_at.to_formatted_s(:rfc822) %></b></h5> 
			</div>
</div>
				</div>
				</div>
				</div>



				<% @n_hash.each do |k, v| %>
				<% cb = CloudBook.find_by_name(k) %>
				<div class="accordion-group widget-box">
					<div class="accordion-heading">
						<div class="widget-title">
							<a data-parent="#collapse-group" href="#collapse<%=k%>" data-toggle="collapse"> <span class="icon"><i class="icon-magnet"></i></span><h5><%=k%></h5></span>  <h5><%= cb.created_at.to_formatted_s(:rfc822) %></h5>
				<% if cb.book_type == 'APP' %> 
				<span class="label label-info"><%= cb.book_type %></span> 
				<% elsif cb.book_type == 'BOLT' %>
				<span class="label label-warning"><%= cb.book_type %></span> 
				<% end %>
 </a>
						</div>
					</div>
					<div class="collapse accordion-body" id="collapse<%=k%>">
						<div class="widget-content" style="overflow-x: scroll;">
									<div class="container-fluid ">
<table class="table table-bordered table-striped table-hover">
				<thead>
				<tr>
				<th>Actions</th>
				<th>Name</th>
				<th>Created At</th>
				<th>Clone</th>
				<th>Destroy</th>
				<th>Status</th>
				</tr>
				</thead>
				<tbody>
				<% v.each do |node| %>



				<tr>
				<% cloud_book = @nodes.lookup(node) %>
				<td>

				<div class="btn-group">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				Actions
				<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
				<li><%= link_to "Start", definition_path(cloud_book.node_name), :target => "_self" %></li>
				<li><%= link_to "Stop", definition_path(cloud_book.node_name), :remote => true %></li>
				<li><%= link_to "build", definition_path(cloud_book.node_name), :remote => true %></li>
				<li><%= link_to "more", cloud_book_path(:id => cb.id, :name => cloud_book.node_name), :remote => true, data: { spinlock: '#book'} %></li>
				</ul>
				</div>

				</td>
				<td> <%= link_to "#{cloud_book.node_name}", "http://#{cloud_book.node_name}" , { :target => '_blank'} %> </td>
				<td> <%= cloud_book.created_at.to_datetime.to_formatted_s(:rfc822) %> </td>
				<td>
		<%= link_to "#", :class =>"btn btn-mini btn-success", :title=> "CLone Cloud Book" do %>
		<i class="icon-plus-sign"></i>
		Clone
		<% end %>
				</td>

				<td>
		<%= link_to cloud_book_path(:id => cb.id, :name => cloud_book.node_name, :n_hash => @n_hash), :class =>"btn btn-mini btn-success", :title=> "CLone Cloud Book", method: :delete, :data => { :confirm => "Are you sure?"} do %>
		<i class="icon-trash"></i>
		Delete
		<% end %>
				</td>

				<!--<td> <%= link_to "delete", cloud_book_path(:id => cb.id, :name => cloud_book.node_name, :n_hash => @n_hash), method: :delete, class: "btn btn-mini btn-success", :data => { :confirm => "Are you sure?"}%></td>-->
				<td> <%= cloud_book.status %> </td>

				</tr>



				<% end %>
				</tbody>

				</table>

</div>
					</div>
					</div>
				</div>

				<% end %>

				</div> <!-- Span6 -->

				<div class="span10" >
				<div  id="cb_action">
				</div>
				</div>
				</div> <!-- Span12 -->
