<div class="row">
	<div class="col-md-12">
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon"> <i class="icon-th-list"></i> </span>
				<h5>My Apps Usage</h5>
			</div>
			<div class="widget-content" >
				<div class="row">
					<div class="col-md-4">
						<div class="cb_box">
							<h4 align="center"> Number of Apps </h4>
							<h5 align="center" ><span class="icon"> <i class="icon-book"></i> </span>&nbsp;Used <b><%= @launched_books_quota %></b>&nbsp; Allowed <b>2</b></h5> <% @percent = @launched_books_quota/2.0*100 %>
						</div>
						<br/>
						<div class="progress">
							<% if @percent >= 80 %>
							<div class="progress-bar progress-bar-warning" style="width: <%= @percent %>%;"></div>
							<% else %>
							<div class="progress-bar progress-bar-success" style="width: <%= @percent %>%;"></div>
							<% end %>
						</div>
					</div>
					<div class="col-md-4">
						<div class="cb_box">
							<span class="btn btn-large disabled btn-block"><h3><%= @launched_books_quota %></h3> <h4>Launched </h4> </span>
						</div>
						</br>
						<a href="http://support.megam.co/kb/cloud-applications/" target="_blank"><i class="icon-question-sign"> We are here to help </i> </a>

					</div>
					<div class="col-md-4">
						<div class="cb_box">
							<h4 align="center">Recent Activity </h4><h5 align="Center"><span class="icon"> <i class="icon-calendar"></i> </span><%= latest_book.created_at.to_formatted_s(:rfc822) %></h5> 
							<h5 align="Center"> <%= link_to latest_book.name, cloud_book_path(:id => latest_book.id, :name => latest_book.name, :book_type => latest_book.book_type), :remote => true, data: { spinlock: '#book'} %> </h5>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<%= link_to new_cloud_book_path, class: "btn btn-lg btn-success btn-block", title: 'Choose your application\'s framework', rel: 'tooltip', :target => "_self" do %>
						Choose Your Framework
						<% end %>
					</div>
					<div class="col-md-4">
						<%= link_to "Watch Logs", cloud_books_histories_path, class: "btn btn-lg btn-info btn-block", title: 'Watch logs of created apps', rel: 'tooltip', :target => "_self" %>
					</div>
					<div class="col-md-4">
						<%= link_to "Upgrade", pricing_path, class: "btn btn-lg btn-inverse btn-block ", :target => "_self" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon"> <i class="icon-th-list"></i> </span>
				<h5>My Apps</h5>
			</div>
			<div class="widget-content">
				<% @launched_books.each do |k, v| %>
				<% cb = CloudBook.find_by_group_name(k) %>
				<div class="accordion" id="collapse-group">
					<div class="accordion-group widget-box">
						<div class="accordion-heading">
							<div class="widget-title">
								<a data-parent="#collapse-group" href="#collapse<%= k%>" data-toggle="collapse"> <span class="icon"> <i class="icon-magnet"></i></span> <% if cb.book_type == 'APP' %> <span class="label label-info"> <%= cb.book_type %> </span> <% elsif cb.book_type == 'BOLT' %> <span class="label label-warning"><%= cb.book_type %></span> <% end %> <p></p> <span class="badge badge-info"><%= k%></span> </a>
							</div>
						</div>
						<div class="collapse accordion-body" id="collapse<%= k%>">
							<div class="widget-content nopadding"  style="overflow-y: scroll; height:250px;">
								<table class="table">
									<thead>
										<tr>
											<th>Actions</th>
											<th>Name</th>
											<th>Clone</th>
											<th>Delete</th>
											<th>Created At</th>
											<th>Status</th>
										</tr>
									</thead>
									<tbody>
										<% v.each do |node| %>

										<tr>
											<% cloud_book = @nodes.lookup(node) %>
											<td> <% if cloud_book.node_type == "APP" %>
											<div class="btn-group">
												<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-folder-open"> Actions </span> <span class="caret"></span> </a>
												<ul class="dropdown-menu">
													<li>
														<%= link_to send_request_path(:scm => cloud_book.predefs[:scm],:node_name => cloud_book.node_name, :book_type => cloud_book.node_type, :defns_id => cloud_book.appdefnsid, :status => cloud_book.status, :req_type => "build"), :remote => true,  data: { spinlock: '#cloud_book_request_now_nbuild'} do %>
														<i class="icon-building">&nbsp;Build&nbsp;</i> <% end %>
														<%= mini_spinner_tag  'cloud_book_request_now_nbuild' %>
													</li>
													<li class="divider"></li>
													<li>
														<%= link_to send_request_path(:scm => cloud_book.predefs[:scm],:node_name => cloud_book.node_name, :book_type => cloud_book.node_type, :defns_id => cloud_book.appdefnsid, :status => cloud_book.status, :req_type => "start"), :remote => true,  data: { spinlock: '#cloud_book_request_now_nstart'} do %>
														<i class="icon-play">&nbsp;Start&nbsp;</i> <% end %>
														<%= mini_spinner_tag  'cloud_book_request_now_nstart' %>
													</li>
													<li>
														<%= link_to send_request_path(:scm => cloud_book.predefs[:scm],:node_name => cloud_book.node_name, :book_type => cloud_book.node_type, :defns_id => cloud_book.appdefnsid, :status => cloud_book.status, :req_type => "stop"), :remote => true,  data: { spinlock: '#cloud_book_request_now_nstop'} do %>
														<i class="icon-stop">&nbsp;Stop&nbsp;</i> <% end %>
														<%= mini_spinner_tag  'cloud_book_request_now_nstop' %>
													</li>
													<li>
														<%= link_to send_request_path(:scm => cloud_book.predefs[:scm],:node_name => cloud_book.node_name, :book_type => cloud_book.node_type, :defns_id => cloud_book.appdefnsid, :status => cloud_book.status, :req_type => "restart"), :remote => true,  data: { spinlock: '#cloud_book_request_now_nrestart'} do %>
														<i class="icon-refresh">&nbsp;Restart&nbsp;</i> <% end %>
														<%= mini_spinner_tag  'cloud_book_request_now_nrestart' %>
													</li>
													<li class="divider"></li>
													<li>
														<%= link_to "Details", cloud_book_path(:action => "show", :id => cb.id, :name => cloud_book.node_name, :book_type => cloud_book.node_type), :remote => true, data: { spinlock: '#book'} %>
													</li>
													</li>
												</ul>
											</div> <% else %>
											<div class="btn-group">
												<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> Actions <span class="caret"></span> </a>
												<ul class="dropdown-menu">
													<li>
														<%= link_to "Start Bolt", build_request_path(:name => cloud_book.node_name, :defnsid => cloud_book.boltdefnsid, :req => "start"), :remote => true %>
													</li>
													<li>
														<%= link_to "Stop Bolt", build_request_path(:name => cloud_book.node_name, :defnsid => cloud_book.boltdefnsid, :req => "stop"), :remote => true %>
													</li>
													<li>
														<%= link_to "Restart Bolt", build_request_path(:name => cloud_book.node_name, :defnsid => cloud_book.boltdefnsid, :req => "restart"), :remote => true %>
													</li>
													<li class="divider"></li>
													<li>
														<%= link_to "Backup Bolt", build_request_path(:name => cloud_book.node_name, :defnsid => cloud_book.boltdefnsid, :req => "build"), :remote => true %>
													</li>
													<li>
														<%= link_to "More", cloud_book_path(:id => cb.id, :name => cloud_book.node_name, :book_type => cloud_book.node_type), :remote => true, data: { spinlock: '#book'} %>
													</li>
												</ul>
											</div> <% end %> </td>
											<td> <%= link_to "#{cloud_book.node_name}", "http://#{cloud_book.node_name}" , { :target => '_blank'} %> </td>
											<td> <%= link_to clone_build_path(:name => cloud_book.node_name), :class =>"btn btn-mini btn-success", :title=> "Clone Cloud Book", :remote => true, method: :post do %> <i class="icon-copy"> Clone</i> <% end %> </td>
											<td> <%= link_to cloud_book_path(:id => cb.id, :name => cloud_book.node_name, :launched_books => @launched_books), :class =>"btn btn-mini btn-danger", :title=> "Delete Cloud Book", method: :delete, :remote => true, :target => "_self", :data => { :confirm => "Are you sure?", spinner: '#delete_node'} do %> <i class="icon-trash"> Delete</i> <% end %>  <%= mini_spinner_tag 'delete_node' %> </td>
											<td><span class="icon"> <i class="icon-calendar"></i> </span> <%= cloud_book.created_at.to_datetime.to_formatted_s(:rfc822) %> </td>
											<td> <%= cloud_book.status %> </td>
										</tr>

										<% end %>
									</tbody>

								</table>

							</div>
						</div>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12" >
		<div  id="cb_action"></div>
	</div>
</div>

<div id="cloud_book_request_now_popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h3 id="myModalLabel">Cloud Book</h3>
			</div>
			<div class="modal-body">
				<div class="alert alert-success">

					<p>
						Your request was submitted to megam cloud gateway was successful.
						</br>
						<div id="cloud_book_request_now_success"></div>
						</br>
					</p>
				</div>
			</div>
			<div class="modal-footer">
				<%= link_to  "Ok", cloud_books_path, :class => "btn btn-primary", :target => "_self"%>
			</div>
		</div>
	</div>
</div>

<div id="cloud_book_request_now_popup_error" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h3 id="myModalLabel">Build</h3>
			</div>
			<div class="modal-body">
				<div class="alert alert-error">
					<p>
						Your request to megam cloud gateway was not successful.
						</br>
						<%= link_to  "Please open a support ticket support.megam.co", "http://support.megam.co", :class => "btn btn-primary", :target => "_self"%>
					</p>
				</div>
			</div>
			<div class="modal-footer">
				<%= link_to  "Ok", cloud_books_path, :class => "btn btn-primary", :target => "_self"%>
			</div>
		</div>
	</div>
</div>
