<%= form_for @book, :html => {:id =>'form-wizard', :class=>"form-horizontal" }, :remote => true,  data: { spinlock: '#spin_user_book'}, :method => 'post' do |f| %>
<div id="form-wizard-1" class="step">
	<table class="table table-bordered">
		<div class="widget-content">
			<p class="help-block">
				<strong><span class="label label-warning">*selection</span> Select any one platform </strong>
			</p>
			<tbody>
				<tr>
					<td> <%= f.radio_button :predef_name, 'rails', :class => 'check-radio', :checked => true %>
					<%= label :platform, 'Rails' %> <td> <%= f.radio_button :predef_name, 'java', :class => 'check-radio' %>
					<%= label :platform, 'Java' %></td>
					<td> <%= f.radio_button :predef_name, 'play', :class => 'check-radio' %>
					<%= label :platform, 'Play' %></td>
				</tr>
				<tr>
					<td> <%= f.radio_button :predef_name, 'akka', :class => 'check-radio' %>
					<%= label :platform, 'Akka' %></td>
					<td> <%= f.radio_button :predef_name, 'nodejs', :class => 'check-radio' %>
					<%= label :platform, 'Nodejs' %></td>
				</tr>
			</tbody>
		</div>
	</table>
	<% @book_name = book_name %>
	<div class="widget-box">
		<div class="widget-title">
			<span class="icon"> <i class="icon-th-list"></i> </span>
			<h5>Cloud Book Name</h5>
		</div>
		<div class="widget-content">
			<p class="help-block">
				<strong><span class="label label-warning">*optional</span> Click on the default book name to change it</strong>
			</p>
			<div class="span12">
				<div class="span7">
					<%= link_to  @book_name, "#", :id => "identity_new_account_name",
					:class => "btn btn-large btn-primary disabled btn-block", :disabled => "disabled",
					:data => { :type => 'text', :name => 'book_name'} %>
				</div>
				<div class = "span4">
					<%= link_to  ".megam.co", "#", :class => "btn btn-large btn-primary disabled btn-block", :id => 'domain'%>
				</div>
			</div>
			<br/>
			<br/>
			<br/>
			<%= f.text_field :domain_name, :type => 'hidden', :id => 'domainname' %>
			<%= f.text_field :predef_cloud_name, :id => 'predefcloudname', :type => 'hidden' %>
		</div>

	</div>

</div>
<div id="form-wizard-2" class="step">
	<div class="widget-box">
		<div class="widget-title">
			<span class="icon"> <i class="icon-th-list"></i> </span>
			<h5>Cloud Book Dependencies</h5>
			<div class="buttons">
				<%= render :partial => "customizations/refresh" %>
			</div>
		</div>
		<div class="widget-content">
			<div class="accordion" id="collapse-group">
				<div class="accordion-group widget-box">
					<div class="accordion-heading">
						<div class="widget-title">
							<a data-parent="#collapse-group" href="#collapseGOne" data-toggle="collapse"> <span class="icon"><i class="icon-magnet"></i></span><h5>SCM</h5> </a>
						</div>
					</div>
					<div class="collapse in accordion-body" id="collapseGOne">
						<div class="widget-content">
							SCM : <span class="full_text"> <%= f.text_field :deps_scm, :class => 'text_field', placeholder: "git@github.com:username/project.git" %> </span>
						</div>
					</div>
				</div>
				<div class="accordion-group widget-box">
					<div class="accordion-heading">
						<div class="widget-title">
							<a data-parent="#collapse-group" href="#collapseGTwo" data-toggle="collapse"> <span class="icon"><i class="icon-magnet"></i></span><h5>WAR <span class="badge badge-important">*For java only</span></h5> </a>
						</div>
					</div>
					<div class="collapse accordion-body" id="collapseGTwo">
						<div class="widget-content">
							WAR : <span class="full_text"> <%= f.text_field :deps_war, :class => 'text_field', placeholder: "https://s3-ap-southeast-1.amazonaws.com/bucket_name/folder_name/file_name.war" %> </span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="widget-box">
		<div class="widget-title">
			<span class="icon"> <i class="icon-th-list"></i> </span>
			<h5>Cloud Book Settings</h5>
			<div class="buttons">
				<%= render :partial => "customizations/refresh" %>
			</div>
		</div>
		<div class="widget-content">
			<div class="span5">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon"> <i class="icon-th"></i> </span>
						<h5>Default predef's</h5>
					</div>
					<div style="height: 250px;  overflow-y: scroll;">
						<div class="widget-content">
							<%= link_to  "ec2_rails", "#",:class => "btn btn-large btn-primary disabled btn-block", :disabled => "disabled"	 %>
							<%= link_to  "ec2_java", "#",:class => "btn btn-large btn-primary disabled btn-block", :disabled => "disabled"	 %>
							<%= link_to  "rackspace_play", "#",:class => "btn btn-large btn-primary disabled btn-block", :disabled => "disabled"	 %>
							<%= link_to  "rackspace_akka", "#",:class => "btn btn-large btn-primary disabled btn-block", :disabled => "disabled"	 %>
							<%= link_to  "rackspace_nodejs", "#",:class => "btn btn-large btn-primary disabled btn-block", :disabled => "disabled"	 %>
						</div>
					</div>
				</div>
			</div>
			<div class="span5">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon"> <i class="icon-th"></i> </span>
						<h5>User selected predef's</h5>
					</div>
					<div style="height: 250px;  overflow-y: scroll;">
						<div class="widget-content">
							<table class="table table-striped table-bordered">
								<tbody>
									<tr>
										<td class="taskDesc">Groups</td>
										<td class="taskStatus"><span class="full_text"> <%= text_field :group, :class => 'required', placeholder: "groups" %> </span></td>
									</tr>
									<tr>
										<td class="taskDesc">Image</td>
										<td class="taskStatus"><span class="full_text"> <%= text_field :image, :class => 'required', placeholder: "image" %> </span></td>
									</tr>
									<tr>
										<td class="taskDesc">Flavor</td>
										<td class="taskStatus"><span class="full_text"> <%= text_field :flavor, :class => 'required', placeholder: "flavor" %> </span></td>
									</tr>
									<tr>
										<td class="taskDesc">SSH-Key</td>
										<td class="taskStatus"><span class="full_text"> <%= text_field :ssh_key, :class => 'required', placeholder: "ssh-key" %> </span></td>
									</tr>
									<tr>
										<td class="taskDesc">Identity-File</td>
										<td class="taskStatus"><span class="full_text"> <%= text_field :identity_file, :class => 'required', placeholder: "identity-file" %> </span></td>
									</tr>
									<tr>
										<td class="taskDesc">SSH-User</td>
										<td class="taskStatus"><span class="full_text"> <%= text_field :ssh_user, :class => 'required', placeholder: "ssh-user" %> </span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class = "span1">
				<br/>
				<br/>
				<br/>
				<button class="btn btn-primary">
					Add
				</button>
				<br/>
				<br/>
				<br/>
				<button class="btn btn-primary">
					Save
				</button>
			</div>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
		</div>
	</div>
</div>
<div class="form-actions">
	<div class="offset3">
		<input id="back" class="btn btn-primary" type="reset" value="Back" />
		<%= submit_tag("next", :class => "btn btn-primary", :id => "next") %>		
		<div id="status"></div>
	</div>
</div>
<div id="postfinish_popup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
				×
			</button>
			<h3 id="myModalLabel">Cloud Book</h3>
		</div>
		<div class="modal-body">
			<p>
				Your cloud book create request was send megam API server, after few minutes your platform will be run....! 
			</p>
		</div>
		<div class="modal-footer">				
			<%= link_to  "Ok", running_cloud_path(:book_name => 'megam.co'), :class => "btn btn-primary" %>					
		</div>
	</div>
<div id="submitted"></div>
<% end %>

