<%= form_for @book, :html => {:id =>'user_cloud_book' },:remote => true, data: { spinlock: '#spin_user_book'}, :method => 'post' do |f| %>

<table class="table table-bordered">
	<div class="widget-content">
		<p class="help-block">
			<strong><span class="label label-warning">*selection</span> Select any one platform </strong>
		</p>
		<tbody>
			<tr class="success" >
				<td>
				<div id="book_rails" class="btn ">
					Rails
				</div></td>
				<td>
				<div id="book_java" class="btn">
					Java
				</div></td>
				<td>
				<div id="book" class="btn ">
					Play
				</div></td>
			</tr>
			<tr class="success">
				<td>
				<div id="book" class="btn ">
					Akka
				</div></td>
				<td>
				<div id="book" class="btn ">
					Nodejs
				</div></td>
			</tr>
		</tbody>
	</div>
</table>
<% @book_name = book_name %>
<div class="widget-box">
	<div class="widget-title">
		<span class="icon"> <i class="icon-th-list"></i> </span>
		<h5>Cloud Book Name</h5>
	</div>
	<div class="widget-content">
		<p class="help-block">
			<strong><span class="label label-warning">*optional</span> Click on the default book name to change it</strong>
		</p>
		<div class="span12">
			<div class="span7">
				<%= link_to  @book_name, "#", :id => "identity_new_account_name",
				:class => "btn btn-large btn-primary disabled btn-block", :disabled => "disabled",
				:data => { :type => 'text', :name => 'book_name'} %>
			</div>
			<div class = "span4">
				<%= link_to  ".megam.co", "#", :class => "btn btn-large btn-primary disabled btn-block" %>
			</div>
		</div>
		<br/>
		<br/>
		<br/>
		<input type="hidden" name="book_name" value="<%= @book_name %>">
	</div>

</div>

<div class="span12">
	<div class="span4 offset4">
		<%= link_to "cloud_book_second_step", :class => "btn btn-large btn-success btn-block", :title => "Icon Title" do %>Next<i class=" icon-chevron-right"></i><i class=" icon-chevron-right"></i> <% end %>
	</div>
</div>

<% end %>