<div class="modal-body">
	<div class="info">
		<%= form_tag send_request_path, :method => 'post', :remote => true, data: { spinlock: '#spin_cloud_book_reques'}  do %>

		<h3 class="pull-left"><span class="label label-important"><%= @defn_out[:defn].node_name %></span></h3>
		<h3 class="pull-right"><span class="label label-info"><%= @defn_out[:defn].id %></span></h3>
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td>
					<div class="alert alert-info alert-block">
						Just press submit, if you don't want to change the script.
					</div></td>
				</tr>
				<tr>
					<td><h3><span class="label label-info"> <%= label_tag @defn_out[:scm] %> </span></h3></td>
				</tr>
				<tr>
					<td> <%= text_field_tag 'lc_apply', @defn_out[:defn].appdefns[:runtime_exec], placeholder: 'Modify runtime exec - script', hint: "test" %> </td>
				</tr>
				<tr>
					<td><%= text_field_tag 'lc_additional', nil, placeholder: 'Modify addtional runtime - script' %></td>
				</tr>
				<tr>
					<td><%= text_field_tag 'lc_when', nil, placeholder: 'Modify when to apply - script' %></td>
				</tr>
			</tbody>
		</table>
		<%= submit_tag "Save", :class => "btn btn-large btn-success btn-block" %>
		<% end %>
	</div>
</div>
<div class="modal-footer"></div>
