<h3 align="center"><span class="icon"><i class="icon-code"></i></span> <%= cloud_book.node_name %> </h3>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Value</th>
		</tr>
	</thead>
	<tbody>

		<tr>
			<td>Node Type</td> <td> <%= cloud_book.node_type %></td>
		</tr>
		<tr>
			<td>Predef Name</td> <td> <%= cloud_book.predefs[:name] %></td>
		</tr>
		<tr>
			<td>SCM</td> <td> <%= cloud_book.predefs[:scm] %></td>
		</tr>
<% if cloud_book.predefs[:war] != 'null' %>
		<tr>
			<td>WAR</td> <td> <%= cloud_book.predefs[:war] %></td>
		</tr>
<% end %>
		<tr>
			<td>DB</td> <td> <%= cloud_book.predefs[:db] %></td>
		</tr>
		<tr>
			<td>Queue</td> <td> <%= cloud_book.predefs[:queue] %></td>
		</tr>
	</tbody>
</table>
