	<p><b>Book Name = </b><%= cloud_book.name %></p>
	<p><b>Domain Name = </b><%= cloud_book.domain_name %></p></p>
	<p><b>Predef Name = </b><%= cloud_book.predef_name %></p>
	<p><b>Predef Cloud Name = </b><%= cloud_book.predef_cloud_name %></p>
	<p><b>Deps SCM = </b><%= cloud_book.deps_scm %></p>
<% unless cloud_book.deps_war.nil? %>
	<p><b>Deps WAR = </b><%= cloud_book.deps_war %></p>
<% end %>
	<p><b>Created at = </b><%= cloud_book.created_at.to_formatted_s(:rfc822) %></p>

