<h3 align="center"><span class="icon"><i class="icon-code"></i></span> <%= cloud_book.name.capitalize %> </h3>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Value</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><span class="label label-default">Platform</span></td>
			<td><%= cloud_book.predef_name.capitalize %></h3>
		</tr>
		<tr>
			<td><span class="label label-default">Type</span></td>
			<td><%= cloud_book.book_type.capitalize %></h3>
		</tr>
		<tr>
			<td><span class="label label-default">Domain</span></td>
			<td><%= cloud_book.domain_name %></td>
		</tr>
		<tr>
			<td><span class="label label-default">Created at</span></td>
			<td><%= cloud_book.created_at.to_formatted_s(:rfc822) %></td>
		</tr>
		<tr>
			<td>Launch Cloud Name</td>
			<td><%= cloud_book.predef_cloud_name %></td>
		</tr>
	</tbody>
</table>
