<%= form_tag(:controller => "cross_clouds", :action => "create") do %>
			<div class="row-fluid">
					<div class="span2">
						<h5><%= label_tag "Upload ssh file   :" %>
					</div></h5>
					<div class="span8">
						<%= file_field_tag :ssh_file, placeholder: "Logo" %>
					</div>
			</div>

			<div class="row-fluid">

					<div class="span2">
						<h5><%= label_tag "Upload ssh security   :" %>
					</div></h5>
					<div class="span8">
						<%= file_field_tag :ssh_file, placeholder: "Logo" %>
					</div>
			</div>

			<br/>
			<br/>
			<div class="row-fluid">
				<div class="span4"></div>
				<div class="span4">
					<%= submit_tag "Save", :class => "btn btn-large btn-success btn-block", :remote => true, :disable_with => "Please wait...", :data => { :spinner => '#spin-btn'} %>
				</div>
			</div>
<% end %>
<%= spinner_tag 'spin-btn' %>

