<div class="row">

	<div class="col-md-3 offset2">
		<br/>
		<%= link_to "Start", get_request_path(:node_name => cloud_book.node_name, :book_type => cloud_book.node_type, :defns_id => cloud_book.appdefnsid, :req_type => "start"), :class => "btn btn-link", :remote => true, rel: 'tooltip', data: { spinner: '#lcrequest'} %>
		<br/>
		<%= link_to "Stop", get_request_path(:node_name => cloud_book.node_name, :book_type => cloud_book.node_type, :defns_id => cloud_book.appdefnsid, :req_type => "stop"), :class => "btn btn-link", :remote => true, data: { spinner: '#lcrequest'} %>
		<br/>
		<%= link_to "Build", get_request_path(:node_name => cloud_book.node_name, :book_type => cloud_book.node_type, :defns_id => cloud_book.appdefnsid, :req_type => "build"), :class => "btn btn-link", :remote => true, data: { spinner: '#lcrequest'} %>
		<br/>
		<%= link_to "Restart", get_request_path(:node_name => cloud_book.node_name, :book_type => cloud_book.node_type, :defns_id => cloud_book.appdefnsid, :req_type => "build"), :class => "btn btn-link", :remote => true, data: { spinner: '#lcrequest'} %>
		<br/>
	</div>
	<%= spinner_tag 'lcrequest' %>
	<div class="col-md-6" id="lc_form">
		<div class="panel panel-primary">
			<div class="panel-heading">
				App
			</div>
			<div class="panel-body">
				<h2><%= cloud_book.node_name %></h2>
			</div>
		</div>
	</div>

</div>

