				<div class="widget-box">
				<div class="widget-title">
				<span class="icon"> <i class="icon-th-list"></i> </span>
				<h5>Cloud Book</h5>
				</div>
				<div class="widget-content nopadding">
				<table class="table table-bordered table-striped table-hover">
				<thead>
				<tr>
				<th>Name</th>
				<th>Value</th>
				</tr>
				</thead>
				<tbody>

		<tr>
			<td><b>Node Name</b></td> <td> <%= cloud_book.node_name %></td>
		</tr>

		<tr>
			<td><b>Node Type</b></td> <td> <%= cloud_book.node_type %></td>
		</tr>
		<tr>
			<td><b>Platform</b></td> <td> <%= cloud_book.predefs[:name] %></td>
		</tr>
		<tr>
			<td><b>SCM</b></td> <td> <%= cloud_book.predefs[:scm] %></td>
		</tr>
<% if !cloud_book.predefs[:war].empty? %>
		<tr>
			<td><b>WAR</b></td> <td> <%= cloud_book.predefs[:war] %></td>
		</tr>
		<tr>
			<td><b>Status</b></td> <td> <%= cloud_book.status %></td>
		</tr>
<% end %>
				</tbody>

				</table>
				</div>
				</div>

				<div class="widget-box">
				<div class="widget-title">
				<span class="icon"> <i class="icon-th-list"></i> </span>
				<h5>Cloud Book Requests</h5>
				</div>
				<div class="widget-content nopadding">
				<table class="table table-bordered table-striped table-hover">
				<thead>
				<tr>
				<th>Name</th>
				<th>Value</th>
				</tr>
				</thead>
				<tbody>

		<tr>
			<td><b>Node Name</b></td> <td> <%= cloud_book.node_name %></td>
		</tr>

		<tr>
			<td><b>Node Type</b></td> <td> <%= cloud_book.node_type %></td>
		</tr>
		<tr>
			<td><b>Platform</b></td> <td> <%= cloud_book.predefs[:name] %></td>
		</tr>
		<tr>
			<td><b>SCM</b></td> <td> <%= cloud_book.predefs[:scm] %></td>
		</tr>
<% if !cloud_book.predefs[:war].empty? %>
		<tr>
			<td><b>WAR</b></td> <td> <%= cloud_book.predefs[:war] %></td>
		</tr>
<% end %>
				</tbody>

				</table>
				</div>
				</div>


