<% content_for :content_settings do %>
<% provide(:title, 'Manage Cloud Books') %>
<%= render :partial => "users/header" , :locals => {:head => "Manage Cloud Book's Definition'"}%>
<div id="breadcrumb">
	<%= render_breadcrumbs %>
</div>

<div class="container-fluid">

<%= render :partial => "cloud_books/books" , :locals => {:cloud_books => @cloud_books}%>

<div class="offset4 span6">
	<div class="widget-box show">
		<div class="widget-title">
			<span class="icon"> <i class="icon-th-list"></i> </span>
			<h5>Cloud Book Definitions</h5>
			<div class="buttons">
				<%= render :partial => "customizations/refresh" %>
			</div>
		</div>
		<div class="widget-content">
Request what needs to be filled in?
		</div>
	</div>
</div>

</div> <!-- container-fluid -->

<% end %>
<%= render :template => users_show_path %>
