<% content_for :content_settings do %>
<% provide(:title, 'Manage Cloud Books') %>
<h1>Books</h1>

<%= will_paginate %>

<ul class="books">
  <%= render @cloud_books %>
</ul>

				<%= link_to new_cloud_book_path do %>
				<i class="icon-book"></i>Cloud Books
				<% end %>

<%= will_paginate %>

<% end %>
<%= render :template => users_show_path %>
