<% content_for :content_settings do %>
<% provide(:title, 'Manage Cloud Books') %>
<%= render :partial => "contents/header" , :locals => {:head => "Manage Cloud Books"}%>
<div id="breadcrumb">
	<%= render_breadcrumbs %>
</div>

<div class="container-fluid">
	<div class="span10">
		<div class="span3">
			<div class="cb_box">
				<h4 align="center"> Count</h4>
				<h3 align="center" ><span class="icon"><i class="icon-book"></i></span><%= @cloud_books.count %> of 2</h3>
			</div>
			<% cbhc = 0 %>
			<% @cloud_books.each do |cb| %>
			<% cbhc = cbhc+cb.cloud_books_histories.count %>
			<% end %>
<% if cbhc < 20 %>
			<br/>
			<%= link_to "Create", new_cloud_book_path, class: "btn btn-large btn-success btn-block", :target => "_self" %>
			<br/>
<% end %>
			<div class="cb_box">
				<h4 align="center" >Recent Activity</h4>
				<% @latest_cloud_book = @cloud_books.last(:order => 'created_at DESC') %>
				<h5 align="Center"><%= @latest_cloud_book.name %></h5>
				<h5 align="Center"><span class="icon"> <i class="icon-calendar"></i> </span><b><%= @latest_cloud_book.created_at.to_formatted_s(:rfc822) %></b></h5>
			</div>
			<br/>

			<%= link_to "Run History Information", cloud_books_histories_path, class: "btn btn-large btn-success btn-block", :target => "_self" %>
			<br/>
			
			<span class="btn btn-large disabled btn-block"><h3><%= cbhc %></h3> <h4>Launched </h4></span>

			</br>
			<%= link_to "Upgrade", pricing_path, class: "btn btn-large btn-inverse btn-block ", :target => "_self" %>

		</div>
		<!-- Span6 -->

		<div class="span6">
			<div class="widget-box">
				<div class="widget-title">
					<span class="icon"> <i class="icon-th-list"></i> </span>
					<h5>Your Usage</h5>
				</div>
				<div class="widget-content" overflow-y: scroll;">
				<% @percent = @cloud_books.count/2.0*100 %>
				<div class="row-fluid">
				<div class="span1">
				<h3>0</h3>
				</div>
				<div class="span10">
				<% if @percent >= 80 %>
				<div class="progress progress-danger">
				<div class="bar" style="width: <%= @percent %>%;"></div>
				</div>
				<% else %>
				<div class="progress progress-success">
				<div class="bar" style="width: <%= @percent %>%;"></div>
				</div>
				<% end %>
				</div>
				<div class="span1">
				<h3>2</h3>
				</div>
				</div>
				</div>
				</div>

				<div class="widget-box">
				<div class="widget-title">
				<span class="icon"> <i class="icon-th-list"></i> </span>
				<h5>Cloud Books</h5>
				</div>
				<div class="widget-content nopadding">
				<table class="table table-bordered table-striped table-hover">
				<thead>
				<tr>
				<th>Name</th>
				<th>Created At</th>
				<th></th>
				<th></th>
				</tr>
				</thead>
				<tbody>
				<% current_user.cloud_books.each do |cloud_book| %>
				<tr>
				<td> <%= link_to "#{cloud_book.name}", "http://#{cloud_book.name}#{cloud_book.domain_name}" , { :target => '_blank'} %> </td>
				<td> <%= cloud_book.created_at.to_formatted_s(:rfc822) %> </td>
				<td> <%= link_to "View", cloud_book_path(cloud_book.id), :remote => true, class: "btn btn-mini btn-success" %> </td>
				<td> <%= link_to "Clone", "#", class: "btn btn-mini btn-success" %> </td>
				</tr>
				<% end %>
				</tbody>

				</table>
				</div>
				</div>

				</div> <!-- Span6 -->

				</div> <!-- Span12 -->

				<div id="cloudbook_show_popup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							×
						</button>
						<h3 id="myModalLabel">Cloud Book view</h3>
					</div>
					<div class="modal-body">
						<p>
							<h4 id="book_show"></h4>
						</p>
					</div>
					<div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">
							Ok
						</button>
					</div>
				</div>

				</div> <!-- container-fluid -->

				<% end %>
				<%= render :template => users_show_path %>
