<% content_for :content_settings do %>
<% provide(:title, 'Apps') %>
<%= render :partial => "users/header" , :locals => {:head => "Apps - Step 1 of 2"}%>
<div id="breadcrumb">
	<%= breadcrumbs.render(:format => :inline, :separator => '') %>
</div>
<%= form_tag(new_book_path, :method => "post", :name => "predef") do %>
<div class="container">
	<div class="row">
		<div class="col-lg-11">
			<div class="widget-box">
				<div class="widget-title">
					<span class="icon"> <i class="icon-list"></i> </span>
					<h5>App Frameworks</h5>
				</div>
				<div class="widget-content">
					<div class="row">
						<div class="col-md-12">
							<p class="help-block">
								<strong><span class="label label-info">*selection</span> Choose a framework </strong>
							</p>
							</br>
							<div class="row">
								<div class="col-md-6">
									<div id="platformapps" class="required">
										<div class="col-md-6">
											<a href="#" rel="tooltip" title="supports applications written in several Java based frameworks including Spring, Struts."> <%= radio_button_tag :predef_name, 'java' %>
											<%= label :platform, 'Java' do %> <i class="logo_java"></i> <% end %> </a>
										</div>

										<div class="col-md-6">
											<a href="#" rel="tooltip" title="supports Ruby applications written using the Rails 4.0 +, Sinatra, and Rack frameworks."> <%= radio_button_tag :predef_name, 'rails' %>
											<%= label :platform, 'Rails' do %> <i class="logo_rails"></i> <% end %> </a>
										</div>

										<div class="col-md-6">
											<a href="#" rel="tooltip" title="supports Scala based popular Playframework, the high velocity webframework for Scala. Play is based on a lightweight, stateless, web-friendly architecture"> <%= radio_button_tag :predef_name, 'play' %>
											<%= label :platform, 'Play' do %> <i class="logo_play"></i> <% end %> </a>
										</div>

										<div class="col-md-6">
											<a href="#" rel="tooltip" title="supports Scala based Akka toolkit. Akka is a toolkit and runtime for building highly concurrent, distributed, and fault tolerant event-driven applications on the JVM"> <%= radio_button_tag :predef_name, 'akka' %>
											<%= label :platform, 'Akka' do %> <i class="logo_akka"></i> <% end %> </a>
										</div>

										<div class="col-md-6">
											<a href="#" rel="tooltip" title="supports JavaScript applications using the Nodejs runtime and web frameworks like Express"> <%= radio_button_tag :predef_name, 'nodejs' %>
											<%= label :platform, 'Nodejs' do %> <i class="logo_nodejs"></i> <% end %> </a>
										</div>
										<div class="col-md-6">
											<a href="http://support.megam.co/discussion/new" target="_blank"> <h5><i class="icon-bar-chart"></i> Your framework isn't here?</h5> We are here to help
											<div class="arrow-right">
												<i class="icon-chevron-right"></i>
											</div> </a>
										</div>
									</div>
								</div>
								<div class="col-md-5">
									<div class="panel panel-primary">
										<div class="panel-heading">
											<i class="icon-home"></i> Scale Your App Quickly
											<div>
												<i class="icon-check-sign">&nbsp;You selected </i>
												<span id="books_total">0</span>
												<input type="hidden" id="cb_count" name="no_of_instances" value="<%= @books_count %>">
												App(s) Of:
												<span class="badge badge-danger">
													<div id="selected_platformapp">
														<h3>none</h3>
													</div></span>
											</div>
										</div>
										<div class="panel-body">
											<div id="scalebooks">
												<div class="overflow">
													<table class="table table-striped">
														<thead>
															<tr>
																<th>My Apps</th>
																<th><a href="#" rel="tooltip" title="max 2 (*beta)" class='info'>Instances <i class="icon-info-sign"></i></a></th>
																<th><i class="icon-trash"></i></th>
															</tr>
														</thead>
														<tbody>

														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-11">
			<div class="widget-box">
				<div class="widget-title">
					<span class="icon"> <i class="icon-th-list"></i> </span>
					<h5>Source Code</h5>
				</div>
				<div class="widget-content">
					<div class="row">
						<div class="col-md-2">
							<div class="media">
								<div class="panel panel-primary">
									<div class="panel-heading">
										List Repositories
									</div>
									<div class="panel-body">
										<%= link_to "/auth/github", :title=> "Click to connect and list your github repositories", :target => "_self", :data => { spinner: '#git_oauth'} do %>
										<%= image_tag "logo_github.png",:class=> "img-responsive center-block",:size => "90x90"%><% end %>
										<%= link_to scm_manager_auth_path, :title=> "Click to connect and list your scm-manager git repositories", :target => "_self", :data => { spinner: '#scm_oauth'} do %>
										<%= image_tag "logo_scm_200x200.png",:class=> "img-responsive center-block",:size => "90x90"%><% end %>
										<%= image_tag "logo_bitbucket_200x200.png",:class=> "img-responsive center-block",:size => "90x90"%>
										<%= image_tag "logo_cloudforge_200x200.png",:class=> "img-responsive center-block",:size => "90x90"%>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-9">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<p class="help-block">
										<h4 class="alert-heading">Need a sample source code repository ?
										Try our sample. Click on <i class="icon-plus-sign"></i> icon </h4>
									</p>
								</div>
								<div class="panel-body">
									<div class="alert alert-info alert-block  nopadding clearfix" id="sample_repo"></div>
								</div>
							</div>

							<% if defined?(repos) %>
							<div class="panel panel-success">
								<div class="panel-heading">
									<p class="help-block">
										<h4 class="alert-heading">Your repositories list
									</p>
								</div>
								<div class="panel-body">
									<div class="col-md-11">
										<%= select_tag 'scm', options_for_select(repos.insert(0, "Select a Repository")), :id => "repo_select", :style => "width:500px" %>
									</div>
									<br/>
								</div>
							</div>
							<% end %>

							<div class="input-group input-group-lg">
								<span class="input-group-btn"> <a href="https://github.com" class="btn btn-warning" target="_blank">Git!</a> </span>
								<%= text_field_tag 'deps_scm', nil, class: 'form-control input-lg', id: "selected_debs_scm", placeholder: "https://github.com/username/project.git" %>
							</div>

						</div>
						<% if @predef_name == "java" %>
						<div class="accordion-group widget-box">
							<div class="accordion-heading">
								<div class="widget-title">
									<a data-parent="#collapse-group" href="#collapseGTwo" data-toggle="collapse"> <span class="icon"><i class="icon-magnet"></i></span><h5>WAR <span class="badge badge-info">*For java only</span></h5> </a>
								</div>
							</div>
							<div class="collapse accordion-body" id="collapseGTwo">
								<div class="widget-content">
									WAR : <span class="full_text"> <%= text_field_tag 'deps_war', nil, class: 'large_text_field', placeholder: "https://s3-ap-southeast-1.amazonaws.com/bucket_name/folder_name/file_name.war" %> </span>

								</div>
							</div>
						</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<%= submit_tag "Next", :class => "btn btn-default btn-lg btn-success btn-block", :id => "cb_next", :disabled => true, :remote => true, :data => { :disable_with => "Please wait..."}, title: 'Please select your application platform and then click Next', rel: 'tooltip' %>
			<% end %>
			<br/>
		</div>
		<div class="col-md-4">

		</div>
	</div>
</div>
<% end %>
<%= render :template => users_show_path %>
