<% content_for :content_settings do %>
<% provide(:title, 'cloud_books') %>
<%= render :partial => "contents/header" , :locals => {:head => "Cloud Platform - Step 2 of 2"}%>
<div id="breadcrumb">
	<%= render_breadcrumbs %>
</div>
<div class="container-fluid">

	<%= form_for @book, :html => {:multipart => true }, :remote => true, :method => 'post' do |f| %>

	<div class="widget-box">
		<div class="widget-title">
			<span class="icon"> <i class="icon-th-list"></i> </span>
			<h5>Platform Selected</h5>
		</div>
		<div class="widget-content">
			<div class="control-group">
				<div class="controls">
					<div class="row-fluid">
						<div class="span12">
							<p class="help-block">
								<strong><span class="label label-info">Platform launch</span> How does it happen ? For more information</strong>
								<%= link_to "Platform launch",   "http://docs.megam.co", { :target => '_blank'} %>
							</p>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span3">
							<i class="logo_chef"></i>
						</div>
						<div class="span2">
							<h3>Will Launch<h3><span class="badge badge-info"> <h4>Role : <%= @predef.provider_role %><h4></span>
						</div>
						<div class="span2">
							<h3 align="center"><i class="i_cloud"></i></h3>
						</div>
						<div class="span2">
							<%= image_tag "build_monkey.png", :alt => "build bots" %>
						</div>
						<div class="span3">
							<h3>Build monkey<h3><span class="badge badge-success"><h4> <%= @predef.build_monkey %></h4></span>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="row-fluid"  ng-controller="CloudBooksCtrl">			
		<div class="span12">
			<% @new_book_name = book_name %>
			<div class="widget-box">
				<div class="widget-title">
					<span class="icon"> <i class="icon-th-list"></i> </span>
					<h5>Cloud Book Name</h5>
				</div>
				<div class="widget-content">
					<p class="help-block">
						<strong><span class="label label-info">*optional</span> Click on the default book name to change it</strong>
					</p>
					</br>
					<div class="span12">
						<div class="span7">
							
							<!--<%= link_to  @new_book_name, "#", :id => "identity_new", :onchange => "angular.element(this).scope().fileNameChaged()", :class => "btn btn-large btn-primary disabled btn-block", :data => { :type => 'text', :name => 'book_name'} %>-->
                            <a class="btn btn-large btn-primary disabled btn-block" data-name="book_name" data-type="text" href="#" id="identity_new" ><%= @new_book_name %></a>
						</div>
						<div class = "span4">
							<%= link_to  @domain_name, "#", :class => "btn btn-large btn-primary disabled btn-block", :id => 'domain'%>
						</div>
					</div>
					<br/>
					<br/>
					<br/>
					
					<%= f.text_field :name, :type => 'hidden', :id=> 'changename', :value => @new_book_name %>
                    <input type="hidden" name="book_name" id="bookname" value="<%= @new_book_name %>">
					<%= f.text_field :domain_name, :type => 'hidden', :value => @domain_name %>
				</div>
			</div>
		</div>
	</div>

	<div class="widget-box">
		<div class="widget-title">
			<span class="icon"> <i class="icon-th-list"></i> </span>
			<h5>Cross Cloud Selection</h5>
		</div>
		<div class="widget-content">
			<div class="control-group">
				<p class="help-block">
					<strong><span class="label label-info">Default</span> Cross cloud default. Upgrade to create more.</strong>
					<%= link_to "Cross Cloud Settings",   "http://docs.megam.co", { :target => '_blank'} %>
				</p>
				<p>
					<%= f.select :predef_cloud_name, options_for_select(@predef_cloud.map{ |c| [c.name] }) %>
				</p>
			</div>
		</div>
	</div>

	<% @predef_hash = {} %>
	<% @predef_cloud.each do |k| %>
	<% @predef_hash = @predef_hash.merge(@predef) %>
	<% end %>

	<% @predef_hash.each do |key,value| %>
	<%= hidden_field_tag "predef[#{key}]",value %>

	<% end %>

	<%= f.text_field :predef_name, :type => 'hidden', :value => @predef_name %>

	<div class="widget-box">
		<div class="widget-title">
			<span class="icon"> <i class="icon-th-list"></i> </span>
			<h5>Cloud Book Dependencies</h5>
			<div class="buttons">
				<%= render :partial => "customizations/refresh" %>
			</div>
		</div>
		<div class="widget-content">
			<div class="accordion" id="collapse-group">
				<div class="accordion-group widget-box">
					<div class="accordion-heading">
						<div class="widget-title">
							<a data-parent="#collapse-group" href="#collapseGOne" data-toggle="collapse"> <span class="icon"><i class="icon-magnet"></i></span><h3>SCM</h3> </a>
						</div>
					</div>
					<div class="collapse in accordion-body" id="collapseGOne">
						<div class="widget-content">
							SCM : <span class="full_text"> <%= f.text_field :deps_scm, :class => 'large_text_field', placeholder: "git@github.com:username/project.git" %> </span>
						</div>
					</div>
				</div>
				<% if @predef_name == "java" %>
				<div class="accordion-group widget-box">
					<div class="accordion-heading">
						<div class="widget-title">
							<a data-parent="#collapse-group" href="#collapseGTwo" data-toggle="collapse"> <span class="icon"><i class="icon-magnet"></i></span><h5>WAR <span class="badge badge-info">*For java only</span></h5> </a>
						</div>
					</div>
					<div class="collapse accordion-body" id="collapseGTwo">
						<div class="widget-content">
							WAR : <span class="full_text"> <%= f.text_field :deps_war, :class => 'large_text_field', placeholder: "https://s3-ap-southeast-1.amazonaws.com/bucket_name/folder_name/file_name.war" %> </span>
						</div>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span4"></div>
		<div class="span4">
			<%= f.submit nil, :class => "btn btn-large btn-success btn-block" %>
			<% end %>
		</div>
		<div class="span4"></div>

	</div>

	<div id="cloudbook_postfinish_popup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
				×
			</button>
			<h3 id="myModalLabel">Cloud Book</h3>
		</div>
		<div class="modal-body">
			<div class="alert">

				<p>
					<h4> A cloud book creation request to the megam cloud server was successful. </h4>
					</br>
					<strong>Click<span class="label label-info"> OK </span> to watch the status Real Time</strong>
				</p>
			</div>
		</div>
		<div class="modal-footer" id="history_path"></div>
	</div>

</div>
<% end %>
<%= render :template => users_show_path %>
