<% content_for :content_settings do %>
<% provide(:title, 'Apps') %>
<%= render :partial => "users/header" , :locals => {:head => "Apps - Step 2 of 2"}%>
<div id="breadcrumb">
	<%= breadcrumbs.render(:format => :inline, :separator => '') %>
</div>
<%= form_for @book,  :remote => true, :method => 'post' do |f| %>

<% @appname = book_name %>

<div class="container">
	<div class="row">
		<div class="col-xs-11 col-sm-11">
			<div class="widget-box">
				<div class="widget-title">
					<span class="icon"> <i class="icon-th-list"></i> </span>
					<h5>App Name</h5>
				</div>
				<div class="widget-content">
					<br/>
					<div class="row">
						<div class="form-group">
							<div class="col-sm-5 col-md-5 col-lg-5">
								<%= link_to  @appname, "#", :id => "changeappname",
								:class => "btn btn-lg btn-purple btn-block",
								:data => { :type => 'text', :name => 'appname'} %>
							</div>
							<div class="col-sm-7 col-md-7 col-lg-7">
								<%= link_to  @domain_name, "#", :class => "btn btn-lg btn btn-pink btn-block", :id => 'domain' %>
							</div>
						</div>
					</div>
					<br/>
					<br/>
					<%= f.text_field :appname, :type => 'hidden',  :value => @appname, :id => "appname" %>
					<%= f.text_field :domain_name, :type => 'hidden', :value => @domain_name %>
				</div>
			</div>
		</div>
		<div class="col-xs-11 col-sm-11">
			<div class="widget-box">
				<div class="widget-title">
					<span class="icon"> <i class="icon-th-list"></i> </span>
					<h5>Cloud Selection</h5>
				</div>
				<div class="widget-content">
					<div class="row">
						<div class="col-sm-11 col-md-11 col-lg-11">
							<p class="help-block">
								<%= link_to "To learn more about creating a new cloud setting",   "http://gomegam.com/docs/crosscloud.html", { :target => '_blank'} %>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<label class="col-sm-3 col-md-3 col-lg-2 control-label">Choose a cloud</label>
							<div class="col-sm-9 col-md-9 col-lg-10">
								<%= f.select :predef_cloud_name, options_for_select(@predef_cloud.map{ |c| [c.name] }) %>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="col-xs-11 col-sm-11">
			<div class="widget-box">
				<div class="widget-title">
					<span class="icon"> <i class="icon-th-list"></i> </span>
					<h5>Advanced App Settings</h5><strong><span class="label label-info"><%= current_user.user_type %> user</span> </strong>
				</div>
				<div class="widget-content">
					<div class="row">
						<div class="col-sm-11 col-md-11 col-lg-11">
							<p class="help-block">
								<%= link_to "To Learn more about these advanced settings",   "http://gomegam.com/docs/apps.html", { :target => '_blank'} %>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<label class="col-sm-3 col-md-3 col-lg-2 control-label">Monitor</label>
							<div class="col-sm-9 col-md-9 col-lg-10">
								<label> <%= hidden_field_tag 'monitoring', "megam" %>
									<%= check_box_tag 'monitoring', "", :class => "checked" %></label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<label class="col-sm-3 col-md-3 col-lg-2 control-label">Logging</label>
							<div class="col-sm-8 col-md-8 col-lg-9">
								<label><%= hidden_field_tag 'logging', "megam" %>
									<%= check_box_tag 'logging', "", :class => "checked" %></label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<label class="col-sm-3 col-md-3 col-lg-2 control-label">Lifecycle command</label>
							<div class="col-sm-8 col-md-8 col-lg-9">
								<%= text_field_tag 'runtime_exec', "#{@predef.runtime_exec}", :class => "form-control input-sm", placeholder: 'Modify runtime exec - script' %>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<label class="col-sm-3 col-md-3 col-lg-2 control-label">Launched At</label>
							<div class="col-sm-8 col-md-8 col-lg-9">
								<%= text_field_tag 'timetokill', "#{Time.now.to_formatted_s(:rfc822)}", :class => "form-control", :readonly => true, placeholder: 'Modify runtime exec - script' %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<% @predef_hash = {} %>
		<% @predef_cloud.each do |k| %>
		<% @predef_hash = @predef_hash.merge(@predef) %>
		<% end %>

		<% @predef_hash.each do |key,value| %>
		<%= hidden_field_tag "predef[#{key}]",value %>

		<% end %>

		<%= f.text_field :predef_name, :type => 'hidden', :value => @predef_name %>
		<%= f.text_field :book_type, :type => 'hidden', :value => "APP" %>
		<input type="hidden" name="no_of_instances" value="<%= @no_of_instances %>">
		<input type="hidden" name='deps_scm' value="<%= @deps_scm %>">
		<input type="hidden" name="deps_war" value="<%= @deps_war %>">

		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<%= f.submit  "Launch",:class => "btn btn-lg btn-success btn-block", :data => {:disable_with => "Launching App..."} %>
				<% end %>
				<br/>
				</br/>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
</div>
<% end %>
<%= render :template => users_show_path %>
<div id="cloudbook_postfinish_popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h3 id="myModalLabel">App</h3>
			</div>
			<div class="modal-body">
				<div class="alert alert-success">
					<p>
						App was launched successfully. It typically takes a few minutes to spin it on the cloud.
						</br>
						</br>
						<span class="label label-info">Logs</span>&nbsp;streams the status of launch.</strong>
					</p>
				</div>
			</div>
			<div class="modal-footer">
				<%= link_to  "Ok", cloud_books_path, :class => "btn btn-primary", :target => "_self" %>
			</div>
		</div>
	</div>
</div>
<div id="cloudbook_postfinish_popup_error" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h3 id="myModalLabel">App</h3>
			</div>
			<div class="modal-body">
				<div class="alert alert-danger">
					<p>
						App launch to the megam cloud gateway was not successful.
						</br>
						<div id="err_msg"></div>
					</p>
				</div>
			</div>
			<div class="modal-footer">
				<%= link_to  "Ok", new_cloud_book_path, :class => "btn btn-primary", :target => "_self" %>
			</div>
		</div>
	</div>
</div>
