<% content_for :content_settings do %>
<% provide(:title, 'cloud_books') %>
<div id="content-header">
	<h1>Cloud Books</h1>
	<div class="btn-group">
		<a class="btn btn-large tip-bottom" title="Manage Files"><i class="icon-file"></i></a>
		<a class="btn btn-large tip-bottom" title="Manage Users"><i class="icon-user"></i></a>
		<a class="btn btn-large tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a>
		<a class="btn btn-large tip-bottom" title="Manage Orders"><i class="icon-shopping-cart"></i></a>
	</div>
</div>
<%= render_breadcrumbs %>
<div class="container-fluid">
	<div class="widget-box">
		<div class="widget-title">
			<span class="icon"> <i class="icon-th-list"></i> </span>
			<h5>Cloud Book creation</h5>
		</div>
		<div class="widget-content">
			<div class="alert alert-success alert-block">
				<a class="close" data-dismiss="alert" href="#">×</a>
				<h4 class="alert-heading">Success!</h4>
				successfully launch <span class="label label-success"><%= params[:predef_name] %></span> platform.
			</div>
			<div class="alert alert-info alert-block">
				<a class="close" data-dismiss="alert" href="#">×</a>
				<h4 class="alert-heading">Predef's</h4><br/>
				Predef Name : <%= params[:predef_name] %><br/>
				Predef cloud Name : <%= params[:predef_cloud_name] %>
			</div>
			<input class="btn btn-large btn-success btn-block" type="submit" value="Finish" />
		</div>

	</div>
</div>

<% end %>
<%= render :template => users_show_path %>
