<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<title>User information</title>		
	</head>

	<body>
		<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable" style="background-color : #FAFAFA;">
			<tr>
				<td align="center" valign="top">				
				<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer" style="border : 1px solid #DDDDDD; background-color : #FFFFFF;">
					<tr>
						<td align="center" valign="top">
						<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
							<tr>
								<td valign="top" class="bodyContent" style="background-color : #FFFFFF;">
								<table border="0" cellpadding="20" cellspacing="0" width="100%">
									<tr>
										<td valign="top">
										<div style="width:566px; text-align:left; word-wrap:break-word;">
											<strong>User information </strong>
											<br />
											<br />
											Name : <%= @contact_user[:inputName] %>
											<br />
											Email : <%= @contact_user[:inputEmail] %>
											<br />
											Mobile No. : <%= @contact_user[:inputPhone] %>
											<br />
											Multiple Selects : <%= @contact_user[:multiple_selects] %>
											<br />
											Description : <%= @contact_user[:inputComment] %>
										</div>
										<br />
										<br />										
										</td>
									</tr>
								</table></td>
							</tr>
						</table></td>
					</tr>					
				</table>
				<br />
				</td>
			</tr>			
		</table>
	</body>
</html>
