<% content_for :content_settings do %>
<% provide(:title, 'Services') %>
<%= render :partial => "users/header" , :locals => {:head => "Services - Step 1 of 2"}%>
<div id="breadcrumb">
	<%= render_breadcrumbs %>
</div>
<div class="container-fluid">
	<%= form_tag(new_store_path, :method => "post", :name => "store") do %>
	<div class="row">
		<div class="widget-content nopadding">
			<div id="form-wizard-1" class="step">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon"> <i class="icon-list"></i> </span>
						<h5>Service Selection</h5>
					</div>
					<div class="widget-content">
						<div class="row">
							<div class="col-md-12">
								<p class="help-block">
									<strong><span class="label label-info">*selection</span> Choose a service </strong>
								</p>
								</br>
								<div class="row">
									<div class="col-md-6">
										<div id="platformapps" class="required">
											<div id="new_db2" class="required">
												<div class="col-md-6">
													<%= label :platform, 'postgresql' do %>
													<%= radio_button_tag :dbms, 'postgresql' %>
													<i class="logo_postgresql"></i>
													<% end %>
												</div>
												<div class="col-md-6">
													<%= label :platform, 'riak' do %>
													<%= radio_button_tag :dbms, 'riak' %>
													<i class="logo_riak"></i>
													<% end %>
												</div>
												<div class="col-md-6">
													<%= label :platform, 'redis' do %>
													<%= radio_button_tag :dbms, 'redis' %>
													<i class="logo_redis"></i>
													<% end %>
												</div>
												<div class="col-md-6">
													<a href="http://support.megam.co/discussion/new" target="_blank"> <h5><i class="icon-question-sign"></i> Your service isn't here?</h5> We are here to help
													<div class="arrow-right">
														<i class="icon-chevron-right"></i>
													</div> </a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="row">
											<div class="panel panel-primary">
												<div class="panel-heading">
													<i class="icon-home"></i> Scale Your Service Quickly
													<div>
														<i class="icon-check-sign">&nbsp;You selected </i>
														<span id="books_total">0</span>
														<input type="hidden" id="cb_count" name="no_of_instances" value="<%= @books_count %>">
														Service(s) Of:
														<span class="badge badge-danger">
															<div id="selected_platformapp">
																<h3>none</h3>
															</div></span>
													</div>
												</div>
												<div class="panel-body">
													<div id="scalebooks">
														<div class="overflow">
															<table class="table table-striped">
																<thead>
																	<tr>
																		<th>My Apps</th>
																		<th><a href="#" rel="tooltip" title="max 2 (*beta)" class='info'>Instances <i class="icon-info-sign"></i></a></th>
																		<th><i class="icon-trash"></i></th>
																	</tr>
																</thead>
																<tbody>

																</tbody>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon"> <i class="icon-th-list"></i> </span>
						<h5>Service selection</h5>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="widget-content">
								<p class="help-block">
									<strong><span class="label label-info">*selection</span> Choose a service model</strong>
								</p>
								</br>
								<div class="row">
									<div class="panel panel-primary">
										<div class="panel panel-heading">
											What is this option ?
											<ul>
												<li>
													Captive      : This is a service that you manage and maintain and is only for you on cloud.
												</li>
												<li>
													Service      : This is a service where you avail an account on a clustered highly available service.
												</li>
											</ul>
										</div>
										<div class="panel-body">
											<a href="http://support.megam.co" target="_blank"> <h5><i class="icon-question-sign"></i> Tell me more about these service models</h5> We are here to help
											<div class="arrow-right">
												<i class="icon-chevron-right"></i>
											</div> </a>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<div id="new_db1" class="required">
											<div class="col-md-6">
												<%= label :full, 'Captive' do %>
												<%= radio_button_tag :db_model, 'full' %>
												<h3><i class="icon-folder-open" id="popover_servicemodel_onlyforyou"></i>&nbsp;Captive</h3>
												<% end %>
											</div>
											<div class="col-md-6">
												<%= label :multitenant, 'Service' do %>
												<%= radio_button_tag :db_model, 'multitenant', false, disabled: true %>
												<h3><i class="icon-envelope" id="popover_servicemodel_managed"></i>&nbsp;Service</h3><span class="label label-primary">work in progress</span>
												<% end %>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<%= submit_tag "Next", :class => "btn btn-lg btn-success btn-block", :id => "db_next", :disabled => true, :remote => true, :data => { :disable_with => "Please wait..."}, title: 'Please select your service and click Next', rel: 'tooltip' %>
				<% end %>
				<br/>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>

</div>
<% end %>
<%= render :template => users_show_path %>
