<% content_for :content_settings do %>
<% provide(:title, 'New CLoud Store') %>
<%= render :partial => "users/header" , :locals => {:head => "New CLoud Store"}%>
<div id="breadcrumb">
	<%= render_breadcrumbs %>
</div>

<div class="container-fluid">


		<div class="widget-content">

			<%= form_tag(:controller => "cross_clouds", :action => "create") do %>

			<% if @db_model == "multitenant" %>
				<%= "List out the existing db" %>
			<% else %>
<% @new_book_name = book_name %>
							<div class="widget-box">
				<div class="widget-title">
					<span class="icon"> <i class="icon-th-list"></i> </span>
					<h5>Cloud Book Name</h5>
				</div>
				<div class="widget-content">
					<p class="help-block">
						<strong><span class="label label-info">*optional</span> Click on the default book name to change it</strong>
					</p>
					</br>
					<div class="span12">
						<div class="span7">

							<!--<%= link_to  @new_book_name, "#", :id => "identity_new", :onchange => "angular.element(this).scope().fileNameChaged()", :class => "btn btn-large btn-primary disabled btn-block", :data => { :type => 'text', :name => 'book_name'} %>-->
							<a class="btn btn-large btn-primary disabled btn-block" data-name="book_name" data-type="text" href="#" id="identity_new" ><%= @new_book_name %></a>
						</div>
						<div class = "span4">
							<%= link_to  @domain_name, "#", :class => "btn btn-large btn-primary disabled btn-block", :id => 'domain'%>
						</div>
					</div>
					<br/>
					<br/>
					<br/>

					<input type="hidden" name="book_name" id="bookname" value="<%= @new_book_name %>">
					<input type="hidden" name="domain_name" id="domainname" value="<%= @domain_name %>">
				</div>
			</div>
		</div>

	<div class="widget-box">
		<div class="widget-title">
			<span class="icon"> <i class="icon-th-list"></i> </span>
			<h5>Cross Cloud Selection</h5>
		</div>
		<div class="widget-content">
			<div class="control-group">
				<p class="help-block">
					<strong><span class="label label-info">Default</span> Cross cloud default. Upgrade to create more.</strong>
					<%= link_to "Cross Cloud Settings",   "http://docs.megam.co", { :target => '_blank'} %>
				</p>
				<p>
				</p>
			</div>
		</div>
	</div>
			<% end %>
			<%= label_tag "DB_Name" %>
			<%= text_field_tag 'store_db_name', "db_#{current_user.first_name}", :readonly => true %>
			<br/>
			<% if @dbms == 'postgres' %>
			<%= label_tag "DB_Username" %>
			<%= text_field_tag 'user_name', "#{current_user.first_name}", :readonly => true %>
			<br/>
			<%= label_tag "DB_password" %>
			<%= text_field_tag 'password', "#{current_user.api_token}", :readonly => true %>
			<br/>
			<%= label_tag "DB_url" %>
			<%= text_field_tag 'url', "postgres://#{current_user.first_name}:#{current_user.api_token}@postgres1.megam.co.in:5432/db_#{current_user.first_name}", :readonly => true %>
			<br/>
			<%= label_tag "DB_prime" %>
			<%= text_area_tag 'prime', nil, placeholder: "Enter prime" %>
			<br/>
			<% end %>

			<div class="row-fluid">
				<div class="span4"></div>
				<div class="span4">
					<%= submit_tag "Save", :class => "btn btn-large btn-success btn-block", :remote => true, :data => { :spinner => '#spin-btn', :disable_with => "Please wait..."} %>
				</div>
				<div class="span4"></div>
			</div>
			<% end %>
			<%= spinner_tag 'spin-btn' %>
		</div>
	</div>

</div>
<!-- container-fluid -->

<% end %>
<%= render :template => users_show_path %>
