<% content_for :content_settings do %>
<% provide(:title, 'Services') %>
<%= render :partial => "users/header" , :locals => {:head => "Services - Step 2 of 2"}%>
<div id="breadcrumb">
	<%= render_breadcrumbs %>
</div>
<%= form_for @book, :html => {:multipart => true }, :remote => true, :method => 'post' do |f| %>
<div class="container">
	<div class="row">
		<div class="col-xs-11 col-sm-11">
			<% @new_book_name = book_name %>
			<div class="widget-box">
				<div class="widget-title">
					<span class="icon"> <i class="icon-th-list"></i> </span>
					<h5>Service Name</h5><strong><span class="label label-info"><%= @new_book_name %>.<%= @domain_name %> </span> </strong>
				</div>

				<div class="widget-content">
					<div class="row">
						<div class="col-sm-11 col-md-11 col-lg-11">
							<p class="help-block">
								Your service URL is
								<strong><span class="label label-info"><%= @new_book_name %>.<%= @domain_name %> </span> </strong>
							</p>
						</div>
					</div>

					<div class="row">
						<div class="form-group">
							<div class="col-sm-3 col-md-3 col-lg-2">
								<a class="btn btn-lg btn-primary disabled btn-block" data-name="book_name" data-type="text" href="#" id="identity_new" ><%= @new_book_name %></a>
							</div>
							<div class="col-sm-9 col-md-9 col-lg-10">
								<%= link_to  @domain_name, "#", :class => "btn btn-lg btn-primary disabled btn-block", :id => 'domain'%>
							</div>
						</div>
					</div>
					<br/>
					<br/>
					<%= f.text_field :name, :type => 'hidden', :id=> 'changename', :value => @new_book_name %>
					<%= f.text_field :domain_name, :type => 'hidden', :value => @domain_name %>
				</div>
			</div>
		</div>
		<div class="col-xs-11 col-sm-11">
			<div class="widget-box">
				<div class="widget-title">
					<span class="icon"> <i class="icon-th-list"></i> </span>
					<h5>Cloud Selection</h5>
				</div>
				<div class="widget-content">
					<div class="row">
						<div class="col-sm-11 col-md-11 col-lg-11">
							<p class="help-block">
								<%= link_to "To learn more about creating a new cloud setting",   "http://gomegam.com/docs/crosscloud.html", { :target => '_blank'} %>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<label class="col-sm-3 col-md-3 col-lg-2 control-label">Choose a cloud</label>
							<div class="col-sm-9 col-md-9 col-lg-10">
								<%= f.select :predef_cloud_name, options_for_select(@predef_cloud.map{ |c| [c.name] }) %>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<% @predef_hash = {} %>
		<% @predef_cloud.each do |k| %>
		<% @predef_hash = @predef_hash.merge(@predef) %>
		<% end %>

		<% @predef_hash.each do |key,value| %>
		<%= hidden_field_tag "predef[#{key}]",value %>

		<% end %>

		<%= f.text_field :predef_name, :type => 'hidden', :value => @predef_name %>
		<%= f.text_field :book_type, :type => 'hidden', :value => "BOLT" %>
		<input type="hidden" name="no_of_instances" value="<%= @no_of_instances %>">

		<div class="col-xs-11 col-sm-11">
			<div class="widget-box">
				<div class="widget-title">
					<span class="icon"> <i class="icon-th-list"></i> </span>
					<h5>Advanced Service settings</h5><strong><span class="label label-info"><%= current_user.user_type %> user</span> </strong>
				</div>
				<div class="widget-content">

					<div class="row">
						<div class="col-sm-11 col-md-11 col-lg-11">
							<div class="panel panel-primary">
								<div class="panel-heading">
									Service settings
								</div>
								<div class="panel-body">
									<ul class="list-unstyled list">
										<li>
											<span class="icon"> <i class="icon-user"></i> </span>Service User and <span class="icon"> <i class="icon-lock"></i> </span> Password are your registered <span class="label label-info">email , api_key</span>
										</li>
									</ul>
									<p class="help-block">
										<%= link_to "To Learn more about these advanced settings",   "http://gomegam.com/docs/services.html", { :target => '_blank'} %>
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<label for="" class="col-sm-3 col-md-3 col-lg-2 control-label">Service Name </label>
							<div class="col-sm-8 col-md-8 col-lg-9">
								<div class="input-group input-group-sm">
									<span class="input-group-addon"><i class="fa fa-globe"></i></span>
									<%= text_field_tag 'store_db_name', "db_#{current_user.first_name}",:class => "form-control" ,:readonly => true %>
								</div>
							</div>
						</div>
					</div>
					<% if @dbms == 'postgresql' %>
					<div class="row">
						<div class="form-group">
							<label for="" class="col-sm-3 col-md-3 col-lg-2 control-label">Service User</label>
							<div class="col-sm-8 col-md-8 col-lg-9">
								<div class="input-group input-group-sm">
									<span class="input-group-addon"><i class="fa fa-globe"></i></span>
									<%= text_field_tag 'user_name', "#{current_user.email}", :class => "form-control",:readonly => true %>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<label for="" class="col-sm-3 col-md-3 col-lg-2 control-label">Service Password</label>
							<div class="col-sm-8 col-md-8 col-lg-9">
								<div class="input-group input-group-sm">
									<span class="input-group-addon"><i class="fa fa-globe"></i></span>
									<%= text_field_tag 'password', "#{current_user.api_token}",:class => "form-control" ,:readonly => true %>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<label for="" class="col-sm-3 col-md-3 col-lg-2 control-label">Service URL</label>
							<div class="col-sm-8 col-md-8 col-lg-9">
								<div class="input-group input-group-sm">
									<span class="input-group-addon"><i class="fa fa-globe"></i></span>
									<%= text_field_tag 'url', "postgres://#{current_user.first_name}:#{current_user.api_token}@postgres1.megam.co.in:5432/db_#{current_user.first_name}", :class => "form-control", :readonly => true %>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<label for="" class="col-sm-3 col-md-3 col-lg-2 control-label">Service Initiation</label>
							<div class="col-sm-8 col-md-8 col-lg-9">
								<div class="input-group input-group-sm">
									<span class="input-group-addon"><i class="fa fa-globe"></i></span>
									<%= text_area_tag 'prime', nil,:class => "form-control" ,placeholder: "Enter the service initiation commands" %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<% end %>
		<div class="input-group"></div>
	</div>
</div>
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4 offset3">
		<%= f.submit "Launch", :class => "btn btn-lg btn-success btn-block" %>
		</br>
	</div>
</div>
<% end %>
<% end %>
<%= render :template => users_show_path %>
<div id="cloudbook_postfinish_popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h3 id="myModalLabel">Service</h3>
			</div>
			<div class="modal-body">
				<div class="alert alert-success">
					<p>
						Service launch was submitted to the megam cloud gateway successfully. It typically takes a few minutes to run it on the cloud of choice.
						</br>
						</br>
						<span class="label label-info">Logs</span>&nbsp;streams the status of launch.</strong>
					</p>
				</div>
			</div>
			<div class="modal-footer" id="history_path">
				<%= link_to  "Ok", cloud_stores_path, :class => "btn btn-sm btn-primary", :target => "_self" %>
			</div>
		</div>
	</div>
</div>

<div id="cloudbook_postfinish_popup_error" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h3 id="myModalLabel">Service</h3>
			</div>
			<div class="modal-body">
				<div class="alert alert-danger">

					<p>
						Service launch submission to the megam cloud gateway was not successful.
						</br>
						<div id="err_msg"></div>
					</p>
				</div>

			</div>
			<div class="modal-footer">
				<%= link_to  "Ok", cloud_stores_path, :class => "btn btn-sm btn-primary", :target => "_self" %>
			</div>
		</div>
	</div>
</div>

