<% provide(:title, ' Customization') %>
<div class="row-fluid">
	<div class="span3">
		<div class="sidebar-nav">
			<ul class="well nav nav-list" id="my-collapse-nav">
				<li class="nav-header">
				Customization
				</li>
				<li class="divider"></li>
				<li>
					<a href="#" data-target="#demo">Settings</a>
					<ul id="demo" class="collapse" style="height: 0px;">
						<li>
							<%= link_to cloud_identity_path(current_user.id) do %>
						 API (Developers)	<i class="icon-chevron-right"></i>
							<% end %>
						</li>
						<li>
							<%= link_to cloud_identity_path(current_user.id) do %>
						 Cloud Identity	<i class="icon-chevron-right"></i>
							<% end %>
						</li>

						<li>
							<%= link_to cloud_app_path(current_user.id) do %>
							Cloud Applications	<i class="icon-chevron-right"></i>
							<% end %>
						</li>
					</ul>
				</li>

				<li class="nav-header">
				My stuff
				</li>
				<li>
					<%= link_to connector_projects_path do %>
					Projects	<i class="icon-chevron-right"></i>
					<% end %>
				</li>
				<li>
					<%= link_to "#" do %>
					Customers 	<i class="icon-chevron-right"></i>
					<% end %>
				</li>
				<li>
					<%= link_to "#" do %>
					Suppliers 	<i class="icon-chevron-right"></i>
					<% end %>
				</li>
				<li class="nav-header">
					Account
				</li>
				<li>
					<%= link_to "#" do %>
					Billing 	<i class="icon-chevron-right"></i>
					<% end %>
				</li>

			</ul>
		</div>
	</div>
	<div class="span6">
		<h3> <%- flash.each do |name, msg| -%>
		<%= content_tag :div, msg, :id => "flash_#{name}" %>
		<%- end -%> </h3>
		<%= content_for?(:content_settings) ? yield(:content_settings) : yield %>
	</div><!--/span7-->
</div><!--/row-->

