<% provide(:title, ' Customization') %>
<div class="row-fluid">
	<div class="span3">
		<div class="sidebar-nav">
			<ul class="well nav nav-list" id="my-collapse-nav">

				
				<li class="nav-header">
					Settings
				</li>

				<li>
					<%= link_to cloud_identity_path(current_user.id) do %>
					<i class="icon-wrench"></i> Cloud Identity
					<% end %>
				</li>

				<li>
					<%= link_to cloud_app_path(current_user.id) do %>
					<i class="icon-briefcase"></i> Cloud Applications
					<% end %>
				</li>

				<li class="nav-header">
					Invite
				</li>
				<li>
					<%= link_to "#" do %>
					<i class="icon-user"></i> My Customers
					<% end %>
				</li>
				<li>
					<%= link_to "#" do %>
					<i class="icon-magnet"></i> My Suppliers
					<% end %>
				</li>
				<li class="nav-header">
					Account
				</li>
				<li>
					<%= link_to "#" do %>
					<i class="icon-gift"></i> Billing
					<% end %>
				</li>
				
			</ul>
		</div>
	</div>
	<div class="span6">
		<h3> <%- flash.each do |name, msg| -%>
		<%= content_tag :div, msg, :id => "flash_#{name}" %>
		<%- end -%> </h3>
		<%= content_for?(:content_settings) ? yield(:content_settings) : yield %>
		<!--	<%= content_for?(:content_settings1) ? yield(:content_settings1) : yield %>	-->
	</div><!--/span6-->

</div><!--/row-->

