<div class="col-sm-3 storage-rt-list">
  <dl>
    <h3>Usage</h3>
    <dt>
      <%= t('overviews.name') %>
    </dt>
    <dd>
      <%= @deployed.name %>
    </dd>
    <dt class="margin-top-20"></dt>
    <dt>
      <%= t('overviews.available_ram') %>
    </dt>
    <dd>
      <%= @deployed.favourized.ram %>
    </dd>
    <dt class="margin-top-20"></dt>
    <dt>
      <%= t('overviews.cpu_core') %>
    </dt>
    <dd>
      <%= @deployed.favourized.cpu %>
    </dd>
    <dt class="margin-top-20"></dt>
    <dt>
      <%= t('overviews.available_hdd') %>
    </dt>
    <dd>
      <%= @deployed.favourized.hdd %>
    </dd>
    <dt class="margin-top-20"></dt>
    <dt>
      <%= t('overviews.operating_system') %>
    </dt>
    <dd>
      <%= image_tag  "logos/#{@deployed.logo}", :alt => "" %>
      <dt class="margin-top-20"></dt>
      <dt>
        <%= t('overviews.ip') %>
      </dt>
      <dd>
        <%= @deployed.status %>
      </dd>
      <dt class="margin-top-20"></dt>
      <dt>
        VNC URL
      </dt>
      <dd>
        <%= link_to "#{@deployed.vnc}", "#{@deployed.vnc}", :target => '_blank' %>
      </dd>
      <dt class="margin-top-20"></dt>
      <dt>
        SSH URL
      </dt>
      <dd>
        <%= @deployed.ssh %>
      </dd>
      <% if @deployed.has_envs? %>
        <dt class="margin-top-20"></dt>
        <dt>
          ENVS
        </dt>
        <dd>
          <%= @deployed.envs_to_s %>
        </dd>
      <% end %>
      <dt class="margin-top-20"></dt>
      <dt>
        Region
      </dt>
      <dd>
        <%= @deployed.region %>
      </dd>
      <dt class="margin-top-20"></dt>
      <dt>
        <%= t('overviews.current_sshkey') %>
      </dt>
      <dd>
        <%= link_to @deployed.sshkey,
      edit_ssh_key_path(:id => @deployed.fullsshkey), :class => "hint  hint--bottom", :target => "_self", 'data-hint' => "Click here to download private key" %>
      </dd>
    </dl>
  </div>
