<% content_for :content_settings do %>
<% provide(:title, 'Logs') %>
<%= render :partial => "users/header" , :locals => {:head => "Logs"}%>
<div id="breadcrumb">
	<%= render_breadcrumbs %>
</div>
<div class="container-fluid">
	<div class="row">
		<div ng-controller="LogCtrl">

			<div class="widget-box">
				<div class="widget-title">
					<span class="icon"> <i class="icon-th-list"></i> </span>
					<h5>Logs</h5>
				</div>
				<div class="widget-content nopadding">
				<div class="row">
					<% @nodes.each do |node| %>
					<div class="col-md-3 col-md-offset-3">
						<input type="button" ng-model="query" ng-click="sendmessage('<%= node.node_name %>')" id="node_names" value="<%= node.node_name %>" class="btn btn-lg btn-primary btn-block">
					</div>
					<% end %>
					</div>
				</div>
			</div>
			<input type="hidden" ng-model="source">

					<div class="panel panel-info">
						<div class="panel-heading">
							{{bookName}}
							
												<span class="label label-info pull-right"><a href="http://monitor.megam.co/kibana/#/dashboard/file/{{bookName}}.json" target="_blank">view Offline Log</a></span>
												
						</div>
						<div class="panel-body">
							<table class="table table-bordered table-striped table-hover"  style=" overflow-y: scroll;">
								<thead>
									<tr>
										<th class="col-md-3">Timestamp</th>
										<th class="col-md-9">Message</th>
									</tr>
								</thead>
								<tbody>
								
									<div class="progress progress-striped active" style="{{prog_bar}}">
										<div style="width: 40%;" class="progress-bar progress-bar-success"></div>
									</div>
									
									<tr ng-repeat="log in logs | orderBy:predicate:!reverse | slice:0:100">
										<td>
										<p>
											{{ log.timestamp | date:'d  MMMM,  y - hh:mm a Z' }}
										</p></td>
										<td>
										<p>
											{{log.message }}
										</p></td>
									</tr>
								</tbody>
							</table>
						</div>
			</div>
		</div>
	</div>
</div>

<% end %>
<%= render :template => users_show_path %>

