<div class="signin login">
    <div class="container">
      {{login-logo minimized=showExtraInfo}}
        <!-- BEGIN LOGIN -->
        <div class="col-md-10 col-sm-12 col-md-offset-1   bg_white border_grey sign-up">

            <div class="col-md-6 col-sm-6">
                <img src="images/launch/sign-up.png" alt="" class="img-responsive" />
                <h3>Launch your applications seamlessly with less than <span>$5</span></h3>
            </div>

            <div class="col-md-6 col-sm-6">
                <h2>Sign up <span class="sign_up_small">It wont take morethan 1 minute, we promise</span></h2>
                <form role="form" id="theform" name="theform" class="signup-form">
                    <div class="form-group">
                        <div class="c-inline">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                    {{text-field type="firstname" value=firstname placeholderKey="user.email.firstname" class ="form-control" id="new-account-firstname" name="firstname"}}
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 input-icon right">
                                    {{text-field type="lastname" value=lastname placeholderKey="user.email.lastname" class ="form-control" id="new-account-lastname" name="lastname"}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-112">
                                {{text-field type="phonenumber" value=phonenumber placeholderKey="user.email.phonenumber" class ="form-control" id="new-account-phonenumber" name="phonenumber"}}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                {{text-field type="email" value=accountEmail placeholderKey="user.email.title" class ="form-control" id="new-account-email" disabled=emailValidated name="email" autofocus="autofocus"}}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="c_inline">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                    {{password-field value=accountPassword type="password" placeholderKey="user.password.title" class="form-control" id="new-account-password" capsLockOn=capsLockOn}}
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                    {{password-field value=accountPassword type="password" placeholderKey="user.password.title1" class="form-control" id="new-account-password1" capsLockOn=capsLockOn}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <button type="submit" class="btn btn-success">Create Account</button>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <p> <a href=""><u class="colr-bluegrey">Already have an account ? </u></a> <a href=""><u class="colr-denimblue">Login here</u></a> </p>
                        </div>
                    </div>

                </form>
            </div>
        </div>


        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 col-xl-6 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xl-offset-3 outer footer-bottom">
            <div class="row">
                <p>User Interface & Design by <a href="http://enixel.com/" target="_blank">Enixel Creative Studio</a></p>
            </div>
        </div>
        <!--End login-->
    </div>
</div>
