<div id="component-create">
    {{edit-category-title launchable=launchOption}}
    <div class="hideme steps">
        <section>
            <div class="tabbable-custom nav-justified">
                <ul class="nav nav-tabs nav-justified">
                    {{edit-category-tab panels=panels selectedTab=selectedTab tab="general"}}
                    {{edit-category-tab panels=panels selectedTab=selectedTab tab="selection"}}
                    {{edit-category-tab panels=panels selectedTab=selectedTab tab="summary"}}
                </ul>

                <div class="modal-body">
                    {{#each panels as |tab|}}
                        {{component tab selectedTab=selectedTab category=model.metaData}}
                    {{/each}}
                </div>
            </div>
        </section>
        <div class="footer hideme3 no-padding">
            {{launching-cost saveLabel=saveLabel category=model.metaData}}
            <div class="col-sm-3 no-padding">
              {{#if generalSelected}}
                  {{#d-button id="next-category" class="btn btn-block btn-primary" disabled=disabled action="nextCategory" label=saveLabel}}
                      <span class="pull-right">
                        {{conditional-loading-spinner size="large" condition=selecting}}
                      </span>
                  {{/d-button}}
              {{else if selectionSelected}}
                  {{#d-button id="next-identity" class="btn btn-block btn-primary" disabled=disabled action="nextSummarize" label=saveLabel}}
                      <span class="pull-right">
                          {{conditional-loading-spinner size="large" condition=selecting}}
                      </span>
                  {{/d-button}}
              {{else if summarySelected}}
                  {{#d-button id="save-category" class="btn btn-block btn-primary" disabled=disabled action="saveCategory" label=saveLabel}}
                      <span class="pull-right">
                              {{conditional-loading-spinner size="large" condition=saving}}
                          </span>
                  {{/d-button}}
              {{/if}}
            </div>
        </div>
    </div>
</div>
