<form>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for='username-or-email'>{{i18n 'forgot_password.invite'}}</label>
          {{text-field value=accountEmailOrUsername placeholderKey="login.email_placeholder" class="form-control" id="username-or-email" autocorrect="off" autocapitalize="off"}}
        </div>
      </div>
    </div>
      <button class='btn btn-success col-md-12 col-xs-12' {{bind-attr disabled="submitDisabled"}} {{action "submit"}}>{{i18n 'forgot_password.reset'}}</button>
      <div class="clear"></div>
  </div>
</form>
