<div class="modal-outer-container">
  <div class="modal-middle-container">
    <div class="modal-inner-container">
      <div class="modal-header">
        <a class="close pull-right" {{action "cancelModal"}}>{{fa-icon "remove"}}</a>
        {{#if smallTitle}}
            <h4 class="modal-title {{headCentered}}">{{title}}</h4>
        {{else}}
            <h1 class="modal-title {{headCentered}}">{{title}}</h1>
        {{/if}}
        <div class="clearfix"></div>
      </div>
      <div id='modal-alert'></div>
      {{outlet "modalBody"}}
      {{#each errors as |error|}}
        <div class="alert alert-error">
          <button class="close" data-dismiss="alert">×</button>
          {{error}}
        </div>
      {{/each}}
    </div>
  </div>
</div>
