<div class="modal-dialog">
    <div class="modal-content c_modal-content">
        <div class="modal-header">
          <div class="head">
            <div class="row">
               <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                 <a class="close pull-right" {{action "closeModal"}}>{{fa-icon "remove"}}</a>
                  <h1 class="text-center modal-title">{{title}}</h1>
                </div>
            </div>
          </div>
        </div>
        <div id='modal-alert'></div>
        {{outlet "modalBody"}}
        {{#each error in errors}}
            <div class="alert alert-error">
                <button class="close" data-dismiss="alert">×</button>
                {{error}}
            </div>
        {{/each}}
    </div>
</div>
