<div class="modal-body">
    <div class="scroller" style="min-height:200px" data-always-visible="1" data-rail-visible1="1">
        <div class="row">
            <div class="col-md-12">
                <div class="alert ssh-alert-success">
                    {{i18n 'ssh_keys.import_info'}}
                    <a href="" target="_blank"> <strong>{{i18n 'ssh_keys.info_link'}}</strong></a>
                    {{i18n 'ssh_keys.info_end'}}
                </div>
                <form multipart="true" remote="true">
                    <div class="row margintb_15">
                        <div class="col-xs-6">
                            <label for="ssh-key_name">
                                {{i18n 'ssh_keys.private_key'}}
                            </label>
                            <div class="form-group">
                                <span class="btn green fileinput-button col-xs-11">
                                  <span class="glyphicon glyphicon-plus"></span>
                                  <span class="filetag">{{i18n 'ssh_keys.add_files'}}</span>
                                  {{file-field value=sshPrivateKeyValue}}
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <label for="ssh-key_name">
                                {{i18n 'ssh_keys.public_key'}}
                            </label>
                            <div class="form-group">
                                <span class="btn blue fileinput-button col-xs-11">
                                      <span class="glyphicon glyphicon-plus"></span>
                                      <span class="filetag">{{i18n 'ssh_keys.add_files'}}</span>
                                      {{file-field value=sshPublicKeyValue}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ssh-key_name">
                            {{i18n 'ssh_keys.name'}}
                        </label>
                        {{input type="text" class="form-control" required="true" placeholder=placeHolder value=sshKeyImportName}}
                    </div>
                    <button class="btn btn-success col-md-12 col-xs-12" {{bind-attr disabled="submitDisabled"}} {{action "sshkey_import"}}>
                        {{i18n 'ssh_keys.import'}}
                        <span class="pull-right">
                          {{conditional-loading-spinner condition=showSpinner size="large"}}
                        </span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
