<!--
** Copyright [2013-2015] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->

<%= form_tag bind_service_path, multipart: true, :novalidate => 'novalidate',  :method => 'get', :remote => true  do %>
	<div class="modal-dialog" style="max-width:400px">
<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<h4 class="modal-title"><%= t('overviews.bind_service_title') %></h4>
	</div>
<% if @service.length > 1 %>
	<div class="modal-body">
		<% @str = "" %>

	        <%= select_tag "bind_type", options_for_select(@service, :selected=>@service[0]), :class =>"form-control" %>
		<%= hidden_field_tag 'bindapp', nil, placeholder: "", :class =>"form-control", :value => @bindapp  %>
	</div>
	<div class="modal-footer c_modal-footer">

		<button type="button" class="btn default" data-dismiss="modal">
			<%= t('cancel') %>
		</button>
		<%= submit_tag t('overviews.bind') , :class => "btn btn-success", data: { disable_with: "Please wait..." } %>
	</div>

<% else %>
	<div class="modal-body">
	<%= t('overviews.no_service') %>
	</div>
	<div class="modal-footer c_modal-footer">

		<button type="button" class="btn default" data-dismiss="modal">
			<%= t('ok') %>
		</button>
	</div>
<% end %>

</div>
</div>
<!-- /.modal-content -->
<% end %>
