<!--
** Copyright [2013-2015] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->

<%= form_tag oneapps_path, multipart: true, :novalidate => 'novalidate',  :method => 'post', :remote => true  do %>
<% if @service.length > 1 %>
<% @str = "" %>

<%= select_tag "bind_type", options_for_select(@service, :selected=>@service[0]), :class =>"form-control" %>
<%= hidden_field_tag 'assemblyID', nil, placeholder: "", :class =>"form-control", :value => @bindapp  %>
<%= hidden_field_tag 'assemblyname', nil, placeholder: "", :class =>"form-control", :value => @assemblyname  %>
<%= hidden_field_tag 'component', nil, placeholder: "", :class =>"form-control", :value =>@components %>
<div class="modal-footer  c_modal-footer">
    <button type="button" class="btn default" data-dismiss="modal">
        <%= t('cancel') %>
    </button>
    <%= submit_tag t('overviews.bind') , :class => "btn btn-success", data: {:remote => true,  disable_with: "Binding service..." } %>
    <% else %>
    <%= t('overviews.no_service') %>

    <button type="button" class="btn default" data-dismiss="modal">
        <%= t('ok') %>
    </button>
</div>
<% end %>
<!-- /.modal-content -->
<% end %>
