<% content_for :oneapp_contents do %>
<% provide(:title, 'App Overview') %>

<div class="rt-box col-xs-12 col-sm-8 col-md-9 col-lg-9 col-xl-9">
	<div class="row c_pading-b15 settings_top">
		<div class="margin_15">
			<div class="col-xs-9 col-sm-6 col-md-7">
				<h3> Apps Overview </h3>
			</div>
			<%= render :partial => "users/topright_icons" %>
		</div>
	</div>
	<div class="row">
		<div class="mplace mplace-head">
			<div class="col-xs-6 col-md-3 mplace-left">
				<h4> Apps Overview </h4>
			</div>
			<div class="col-xs-12 col-md-6 mplace-middle hidden-xs hidden-sm">
				<span> Overview of the application.</span>
			</div>
			<div class="col-xs-6 col-md-3 mplace-right">
				<span class="pull-right"><i class="c_icon-rocket"></i><a href="#">Take a Tour</a></span>
			</div>
		</div>
	</div>
	<!-- TITLE BOX ENDS HERE -->
	<div class="row margin_15 overview margintb_15">
		<div class="overview-top">
			<div class="col-xs-12 col-sm-12 col-md-6 overview-route">
				<span>Routes: </span><a href="#"><%= @assembly.name + "." + @assembly.components[0][0].inputs[:domain] %></a>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 overview-git">
				<div class="row">
					<div class="col-xs-3">
						<label>GIT URL: </label>
					</div>
					<div class="col-xs-6">
						<input type="text" class="overview-giturl form-control" value="<%= @assembly.components[0][0].inputs[:source] %>" placeholder="Enter text">
						<!-- <button class="btn green" type="button" data-toggle="dropdown">CODE</button> -->
					</div>
					<div class="col-xs-3 overview-submit">
						<button class="btn green" type="button" data-toggle="dropdown">
							CODE
						</button>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="margin_30 bottom-divider"></div>

	<!-- 				<div class="row">
	<div class="running_app margin_15 ">
	<div class="col-xs-12 col-sm-4"></div>
	<div class="col-xs-12 col-sm-4"></div>
	<div class="col-xs-12 col-sm-4"></div>
	</div>

	</div> -->
	<div class="clearfix"></div>
	<div class="row margin_30 overview margintb_15 running_app">
		<div class="">
			<div class="col-xs-12 col-sm-12 col-md-4 app_runtime">
				App Runtime: <span> 0 </span>

				<span class="app_config run_config" id="config_menu_3"><i class="c_icon-config"></i></span>
				<div class="app_menu config_menu config_menu_3">
					<ul>
						<li>
							<a href="#"><i class="glyphicon glyphicon-play-circle"></i>Start App</a>
						</li>
						<li>
							<a href="#"><i class="glyphicon glyphicon-record"></i>Stop App</a>
						</li>
						<li>
							<a href="#"><i class="glyphicon glyphicon-refresh"></i>Restart App</a>
						</li>
						<li>
							<a href="#"><i class="glyphicon glyphicon-trash"></i>Delete App</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 app_library">
				<div class="row">
					<div class="col-xs-6 col-sm-6">
                               <!-- <%= image_tag "https://s3-ap-southeast-1.amazonaws.com/megampub/images/market_place_images/"+@assembly.components[0][0].tosca_type.split(".")[2].downcase+".png", :alt => "" %> -->
                                <%= image_tag "logos/"+@assembly.components[0][0].tosca_type.split(".")[2].downcase+".png", :alt => "" %>
					</div>
					<div class="pad_0 col-xs-6 col-sm-6">
						<div class="app_library-text">
							Library for <%= @assembly.components[0][0].tosca_type.split(".")[2] %>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-4 app_instance">
				<span>0</span> out of 1 app Instances
			</div>

		</div>
	</div>
	<div class="clearfix"></div>

	<div class="row margin_30 c_pading-b15">
		<div class="portlet-body-head">
			<div class="col-xs-12 col-sm-12 col-md-6">
				<i class="c_icon-layer_lg"></i>Your Services <span>0 Services running</span>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 create_bind">
				<ul class="list-inline">
					<li class=" col-sm-6 active">
						<i class="icon-plus"></i> <%= link_to "Create a Service", marketplaces_path %>
					</li>
					<li class=" col-sm-6">
						<i class="icon-plus"></i> Bind a Service
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="margin_30 bottom-divider"></div>

	<div class="row margintb_15 margin_30 ">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 app_cover">
			<div class="app_inner">
				<div class="app">
					<div class="app_head">
						<span class="app_config" id="config_menu_1"><i class="c_icon-config"></i></span>
						<div class="config_menu config_menu_1">
							<ul>
								<li>
									<a href="#"><i class="glyphicon glyphicon-play-circle"></i>Start App</a>
								</li>
								<li>
									<a href="#"><i class="glyphicon glyphicon-record"></i>Stop App</a>
								</li>
								<li>
									<a href="#"><i class="glyphicon glyphicon-refresh"></i>Restart App</a>
								</li>
								<li>
									<a href="#"><i class="glyphicon glyphicon-trash"></i>Delete App</a>
								</li>
							</ul>
						</div>
						<div class="row app_icon">
							<h5><a href="#"><%= @assembly.name + "." + @assembly.components[0][0].inputs[:domain] %></a></h5>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
								<ul class="list-inline app_icon_bottom">
									<%  @assembly.components.each do |com| %>
									<% if com != nil %>
									<% com.each do |c| %>
									<% com_type = c.tosca_type.split(".") %>
									<% ctype = get_type(com_type[2].capitalize) %>
									<li>
										<%= image_tag "logos/"+com_type[2].downcase+".png", :alt => "" %>
									</li>
									<% end %>
									<% end %>
									<% end %>
							</div>          
						</div>
						<!-- <img class="center-block" src="assets/img/app2.png"> -->
					</div>
					<div class="app_footer">
						<!-- <div class="circle_red"></div> -->
						<i class="circle_red"></i>
						<span>Down</span>
						<i class="c_icon-window pull-right"></i>
						<i class="c_icon-star pull-right"></i>
					</div>
				</div>
			</div>

		</div>
	</div>

</div>
<% end %>
<%= render :template => oneapps_show_path %>
