<% content_for :oneapp_contents do %>
<% provide(:title, 'Runtime') %>
<div class="rt-box col-xs-12 col-sm-8 col-md-9 col-lg-9 col-xl-9">
	<div class="row c_pading-b15 settings_top">
		<div class="margin_15">
			<div class="col-xs-9 col-sm-6 col-md-7">
				<h3> Monitoring Console </h3>
			</div>
			<%= render :partial => "users/topright_icons" %>
		</div>
	</div>	
<ng-view ng-show="resolved" ng-cloak></ng-view>
</div>

<% end %>


<script>
    (function($) {
    $.Sources = JSON.parse('<%= raw Sources.sources.to_json %> ');
    $.AppName = "<%= @appname %>";
    $.SocketURL = "<%= @socketURL %>";
     })($);
</script>

<%= render :template => oneapps_show_path %>
