<%= render 'layouts/header' %>
<div class="container main-cover">
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 col-xl-3 c_bg_white cover">
			<div class="row">
				<div class="page-sidebar navbar-collapse collapse">

					<!-- BEGIN SIDEBAR MENU -->
					<ul class="page-sidebar-menu">

						<li></li>
						<li class="start active" >
							<% appkey = "appname" %>
							<%= link_to overview_path(:appkey => appkey) do %>
							<i class="c_icon c_icon-dash pull-left"></i>
							<span class="title pull-left">Overview</span>
							<span class="selected hidden-xs"></span>
							<% end %>
						</li>

						<li class=<%= "start active" if controller_name=="apps"%>>
							<%= link_to apps_path do %>
							<i class="c_icon c_icon-browser pull-left"></i>
							<span class="title pull-left">Runtime Logs</span>
							<span class="selected hidden-xs"></span>
							<% end %>
						</li>

						<li class=<%= "start active" if controller_name == "services"%>>
							<%= link_to apps_path do %>
							<i class="c_icon c_icon-layer pull-left"></i>
							<span class="title pull-left">Offline Logs</span>
							<span class="selected hidden-xs"></span>
							<% end %>
						</li>

						<li class=<%= "start active" if controller_name== "addons"%>>
							<%= link_to logs_path do %>
							<i class="c_icon c_icon-stack pull-left"></i>
							<span class="title pull-left">Logs</span>
							<% end %>
						</li>

						<li class=<%= "start active" if controller_name== "settings"%>>
							<%= link_to settings_path do %>
							<i class="c_icon c_icon-settings pull-left"></i>
							<span class="title pull-left">Services</span>
							<% end %>
						</li>

					</ul>
					<!-- END SIDEBAR MENU -->
				</div>
			</div>
		</div>

		<div id="content">
			<%= content_for?(:oneapp_contents) ? yield(:oneapp_contents) : yield %>

		</div>

	</div>

</div>
<%= render 'layouts/footer' %>
