<% content_for :content_settings do %>
<% provide(:title, 'Connector Project Results') %>
<h1>Project Results</h1>
<hr/>

<table class="table table-condensed table-striped">
	<thead>
		<tr>
			<th></th>
			<th>Id</th>
			<th>When ?</th>
			<th>Result</th>
		</tr>
	</thead>
	<tbody>
		
		<td> <%= link_to "Load", "#", :class => 'btn btn-small btn-primary' %> </td>

		<td> <%= @connector_execution.id %> </td>
		<td> <%= @connector_execution.created_at %> </td>

		<td> <%= @connector_execution.result %> </td>

		
	</tr>

     	</tbody>

</table>


<% end %>
<%= render :template => users_show_path %>
