<div class="rt-box col-xs-12 c_height_5">
    {{topic-list-header currentUser=currentUser title=title nameEnabled=nameEnabled name=name subTitleEnabled=subTitleEnabled subTitle=subTitle}}
    <div class="bottom-divider"></div>
    <div class="row c_pading-b25 pad_0">
        <div class="col-md-4 pad_0">
            Launched at
            {{format-age createdAt}}
            ago
        </div>
        <div class="col-md-4 pad_0">
            Time now
            {{clock.hour}}
            hours
            {{clock.minute}}
            minute
            {{clock.second}}
            seconds
        </div>
        <div class="col-md-4">
               {{vnc-console-button model=model activateVNC=activateVNC title=title}}
        </div>
    </div>
    <div class="predeploybar">
        {{#progress-bar deployError=deployError value=streamPercentage barHead=barHead striped=true animate=true minValue=0 maxValue=100 label=barLabel showLabel=true type="danger"}}{{/progress-bar}}
    </div>

    {{conditional-loading-spinner size="large" condition=model.postStream.loading}}

    {{scrolling-post-stream posts=postsToRender}}
</div>
