<div class="col-md-4 pad_0">
    <table class="table usg_table">
        <thead>
            <tr>
                <th style="width: 30%;text-align:center;">Quotas</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <!--Any span.blue text is supposed to be editable by the user. with the numbers (eg. 1024) -> it turns into a textbox that only accepts numbers. If MB/SSD is clicked then you will be able to see 'MB/GB/TB' for MB & SSD/HDD for SSD in a dropdown. Once the user enters the new number then the Usage estimator is updated. Also with CORES - the way it works is it's bundled with RAM. This is to avoid heavy CPU abuse. It's a preset of something like 1 vCPU per 2048MB ram, anything under 2048 gets 1vCPU.  -->
                <td>
                    <span class="blue">{{text-field value=nmemory class="filter-text" type="number"}}</span>
                </td>
            </tr>

            <tr>
                <td>
                    <span class="blue">{{text-field value=ncpu  class="filter-text" type="number"}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="blue">{{text-field  value=nstorage class="filter-text" type= "number"}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="blue">{{text-field  value=200 class="filter-text" type= "number"}}</span>
                </td>
            </tr>
            <tr>
                <td class="bottom-b blue">
                    <span >{{text-field  value=1 class="filter-text" type= "number"}}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
