{{#if withRepoDetail}}
    <label class="badge badge-info">{{language}}</label>
    <label class="badge badge-success">{{publicOrPrivate}}</label>
    <label class="badge badge-warning">{{defaultBranch}}</label>
    {{format-date updatedAt}}
    <h4>{{description}}</h4>
{{/if}}
