<div class="row">
    <div data-toggle="buttons">
        <div class="btn-storage-container bigger">
            {{customapp-repo-chooser name=myRepos repoable=customRepoType style="float: left, margin-top: 10px"}}
            {{customapp-repo-chooser name=publicRepos repoable=customRepoType style="float: right"}}
        </div>
    </div>
</div>
{{#if gitty}}
    {{customapp-repo-github category=category selectedRepo=selectedRepo}}
{{else if pubty}}
    {{customapp-repo-publicurl category=category selectedRepo=selectedRepo}}
{{/if}}

