<div class="row">
    <div id="prelaunch_image" class="col-md-6 pull-left" style="margin: 20px 0 0 0;">
        {{#if comboVisible}}
            {{customapp-chooser customapps=customapps valueAttribute="id" value=selectedApp selectedItem=selectedItem}}
        {{else}}
            <div class="row ">
                <div class="col-md-8 pull-right">
                    <h4><b>{{selectedItem.flavor}}</b><img src={{selectedItemLogo}}></h4>
                </div>                
            </div>
        {{/if}}
    </div>
    <div class="col-md-1 col-xs-6" style="margin: 20px 0 0 0; line-height: 33px;">
        <label style="font-weight: bold;">Version</label>
    </div>
    <div class="col-md-4 col-xs-6" style="margin: 20px 0 0 0;">
        {{combo-box valueAttribute="value" content=appVersions value=selectedAppVersion}}
    </div>
</div>
