<section class="" id="section-topline-2">
    <div class="vm-step2">
        <div class="row" style="margin-top:15px;">
        <div class="col-md-12">
            <ul class="tabsos">
                {{#if tabHeaderVisible}}
                    {{launching-images-tab imagepanels=imagepanels selectedTab=selectedTab tab="centos"}}
                    {{launching-images-tab imagepanels=imagepanels selectedTab=selectedTab tab="coreos"}}
                    {{launching-images-tab imagepanels=imagepanels selectedTab=selectedTab tab="debian"}}
                    {{launching-images-tab imagepanels=imagepanels selectedTab=selectedTab tab="ubuntu"}}
                    {{launching-images-tab imagepanels=imagepanels selectedTab=selectedTab tab="fedora"}}
                    {{launching-images-tab imagepanels=imagepanels selectedTab=selectedTab tab="snapshots"}}
                {{else}}
                    {{launching-images-tab imagepanels=imagepanels selectedTab=selectedTab tab=selectedItemFlavor}}
                {{/if}}
            </ul>
            <div class="oscontainer">
                <div class="tab-content">
                    {{#each imagepanels as |tab|}}
                        {{component tab tab=tab selectedTab=selectedTab category=category}}
                    {{/each}}
                </div>
            </div>
        </div>
        </div>
    </div>
</section>
