<section class="step1" id="section-topline-1">
    <h3>Domain & Name</h3>
    <div class="bottom-divider"></div>
    <input class="roundText" name="name" placeholder="name" type="text">
    <span class="domain-tag">.app.det.io</span>

    {{#if subRegions}}
        {{launching-regions regions=regions}}
    {{else}}
        <label>{{i18n 'launcher.regions_not_found'}}</label>
    {{/if}}

    <h3>Resources</h3>
    <div class="bottom-divider"></div>
    {{launching-resources-chooser}}

    {{#if subResources}}
      {{launching-resources resources=resources}}
    {{else}}
        <label>{{i18n 'launcher.resources_not_found'}}</label>
    {{/if}}
</section>
