<div class="container">
	<div class="row">
		<div class="col-sm-12 footer-menu">
			<ul class="list-inline text-center">
				<li class="list-inline-item">
					<a href="https://www.megam.io" target="_blank"> {{i18n 'login.megam_io'}}</a>
				</li>
				<li class="list-inline-item">
					<a href="http://docs.megam.io" target="_blank">{{i18n 'footer.docs'}}</a>
				</li>
				<li class="list-inline-item">
					<a href="http://devcenter.megam.io" target="_blank">{{i18n 'footer.devcenter'}}</a>
				</li>
				<li class="list-inline-item">
					<a href="http://support.megam.io" target="_blank">{{i18n 'footer.support'}} </a>
				</li>
				<li class="list-inline-item">
					<a href="http://docs.megam.io/discuss" target="_blank">{{i18n 'footer.forum'}}</a>
				</li>
			</ul>
		</div>
		<div class="col-sm-12">
			<p class="text-center">
        {{i18n 'footer.copyright'}}
			</p>
		</div>
	</div>
</div>
