<div class="row">
    <h3>{{i18n 'launcher.summarize_basics'}} - {{category.regionoption}}</h3>
    <div class="bottom-divider"></div>
</div>

<div class="row pad_t25">
    <div class="col-md-6  pad_0">
        <h4>{{i18n 'launcher.summarize_hostname'}}</h4>
    </div>
    <div class="col-md-6  pad_0">
        {{category.random_name}}.{{category.domain}}
    </div>
</div>
<div class="row">
    <h3>{{i18n 'launcher.summarize_settings'}}</h3>
    <div class="bottom-divider"></div>
</div>

<div class="row pad_t25">
    <div class="col-md-6 pad_0">
        <h4>{{i18n 'launcher.summarize_flavor'}}</h4>
    </div>
    <div class="col-md-6  pad_0">
        {{category.unitoption.flavor.key}} - {{category.unitoption.flavor.value}}/{{category.storageoption}}
    </div>
</div>
<div class="row pad_t25">
    <div class="col-md-6  pad_0">
        <h4>{{i18n 'launcher.summarize_operating_system'}}</h4>
    </div>
    <div class="col-md-6  pad_0">
        {{category.versionoption}}
    </div>
</div>
