<div class="rInner col-sm-4 pad_0">
    <div class="rBox shorter">
        <div class="rHead">
            <div class="rTitle">
                <span>{{flavorName}}</span>
            </div>
            <div class="rContent">
                <p>
                    <span>{{fcpu}}</span> CPU
                    <br>
                    <span>{{fmemory}}</span> Memory
                    <br>
                    <span>{{fstorage}}</span> Storage
                    <br>
                </p>
            </div>
        </div>
        <div class="rFooter">
          {{launching-flavor-chooser name=flavorName flavourable=flavourable}}
        </div>
    </div>
</div>
