<div class="row">
    <h3>{{i18n 'launcher.select_networking'}}</h3>
    <div class="bottom-divider"></div>
</div>
<div class="row pad_t25">
    <div class="col-md-3  pad_0">
        {{d-checkbox label="launcher.enable_publicipv4" checked=enablePublicIPv4 change="enablePublicIPv4Flag"}}
    </div>
    <div class="col-md-3  pad_0">
        {{d-checkbox label="launcher.enable_privateipv4" checked=enablePrivateIPv4 change="enablePrivateIPv4Flag"}}
    </div>
    <div class="col-md-3  pad_0">
        {{d-checkbox label="launcher.enable_publicipv6" checked=enablePublicIPv6 change="enablePublicIPv6Flag"}}
    </div>
    <div class="col-md-3  pad_0">
        {{d-checkbox label="launcher.enable_privateipv6" checked=enablePrivateIPv6 change="enablePrivateIPv6Flag"}}
    </div>
</div>
