<div class="rInner col-sm-4 pad_0">
    <div class="rBox shorter">
        <div class="rHead">
            <div class="rTitle">
                <span>{{flavorName}}</span>
            </div>
            <div class="rContent">
                <p>
                    <span>{{cpu}}</span> CPU
                    <br>
                    <span>{{memory}}</span> Memory
                    <br>
                    <span>{{storage}}</span> Storage
                    <br>
                </p>
            </div>
        </div>
        <div class="rFooter">
          {{launching-flavor-chooser}}

            <label class="btn btn-block" id="slideDown3">
                <input autocomplete="off" id="loc1" name="options" style="display:none;" type="radio"> select
            </label>
        </div>
    </div>
</div>
