<div class="row">
    <h3>{{i18n 'launcher.resources'}}</h3>
    <div class="bottom-divider"></div>
</div>

{{launching-storage-chooser}}

<div class="row pad_t25">
    {{#if resources}}
        {{#each resources as |r|}}
            {{launching-resource  resource=r flavor=r resourceable=resourceable}}
        {{/each}}
    {{else}}
        <label>{{i18n 'launcher.resources_not_found'}}</label>
    {{/if}}
</div>
