    <li></li>

    <li class='page-sidebar-menu_dash_top'>
      <button class="btn btn-success btn-menu-top text-center"  {{action "newLaunch"}}>
          {{newTitle}}
          <span class="pull-right">
              {{conditional-loading-spinner condition=loading size="large"}}
          </span>
      </button>
    </li>

    {{#each navItem in navItems}}
        {{navigation-item content=navItem  filterMode=filterMode}}
    {{/each}}

    <li class='start'>
        {{#link-to 'sshkeys'}}
            <i class='c_icon-set pull-left'></i>
            <i class='leftnav_settings pull-left'></i>
            <span class='title pull-left'>{{i18n 'ssh_keys.title'}}</span>
        {{/link-to}}
    </li>

    <li class='start'>
        {{#if siteSettings.allow_billings}}
            {{#link-to 'billing'}}
                <i class='leftnav_billing pull-left'></i>
                <span class='title pull-left'>{{i18n 'billing.title'}}</span>
            {{/link-to}}
        {{/if}}
    </li>

    {{custom-html "extraNavItem"}}
