{{#if showLabel}}
    <div class="predeploybar-title" style="background: #0DFF61;">
        <span>{{label}}</span>
    </div>
    <div class="predeploybar-bar" style="background: #0DFF61;"></div>
    <div class="predeploybar-percent">
        {{#if hasBlock}}
            {{yield percentRounded}}
        {{else}}
            {{percentRounded}}%
        {{/if}}
    </div>
{{else}}
    <div class="predeploybar-percent">
        {{#if hasBlock}}
            <span class="sr-only">{{yield percentRounded}}</span>
        {{else}}
            <span class="sr-only">{{percentRounded}}%</span>
        {{/if}}
    </div>
{{/if}}
