<td>{{showBrandImage}}
    {{resultType.name}}</td>
<td>{{resultType.provider}}</td>
<td>{{resultType.category}}</td>
<td>
    <button class="btn-block btnFooter" {{action "edit"}} {{bind-attr disabled="submitDisabled"}}>{{selectionStatus}}</button>
</td>
