    <td class="td-left">{{topic.name}}</td>
    <td class="set_title"> {{topic-link topic}} </td>
    <td> {{showBrandImage}} </td>
    <td><i class="mt12-5 circle-{{topic.status}}"></i> <span class="mar_l10">{{topic.status}}</span></td>
    <td>
        <ul class="list-inline app_icon_bottom">
            <li class="list-inline-item mt12-5">
                <a href="" class="c_icon-window pull-right"></a>
            </li>
            <li class="list-inline-item">
                <a href="" class="c_icon-star pull-right"></a>
            </li>
            <li class="list-inline-item">
                <a href="" class="c_icon-config pull-right"></a>
            </li>
        </ul>
    </td>
