<div class="row ">
    <div class="col-md-8 profile_left_pad_15">
        <h3><b>Change Password </b></h3>
    </div>
</div>
<div class="row profile_bottom_pad_15">
    <div class="col-md-3 profile_left_pad_15 profile_align">
        <label class="label-profile lable-color">Current</label>
    </div>
    <div class="col-md-5">
        {{text-field class="form-control" placeholder="Enter Current Password"}}
    </div>
    <div class="col-md-4">
        <a {{action "onClick"}} class="pull-left btn">change?</a>
    </div>
</div>
<div class="row profile_bottom_pad_15">
    <div class="col-md-3 profile_left_pad_15 profile_align">
        <label class="label-profile lable-color">New Password</label>
    </div>
    <div class="col-md-5">
        {{text-field class="form-control" placeholder="Enter New Password" readonly="disabled"}}
    </div>
</div>
<div class="row profile_bottom_pad_15">
    <div class="col-md-3 profile_left_pad_15 profile_align">
        <label class="label-profile lable-color">Retype</label>
    </div>
    <div class="col-md-5">
        {{text-field class="form-control" placeholder="Retype New Password" readonly="true" }}
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3 input-group margin-top-10 ">
        <button class='btn disabled btn-success col-md-5 col-xs-12' {{action "update"}}>update</button>
    </div>
</div>
