<div class="col-md-6 info">
    <h3><b>{{title}}</b></h3>
    <div class="bottom-divider"></div>
    <table>
      <tr>
        <td><h5><b>Id</b></h5></td>
        <td>{{model.id}}</td>
      </tr>
      <tr>
        <td><h5><b>Name</b></h5></td>
        <td>{{model.name}}</td>
      </tr>
      <tr>
        <td><h5><b>Domain</b></h5></td>
        <td>{{model.domain}}</td>
      </tr>
      <tr>
        <td><h5><b>State</b></h5></td>
        <td>{{model.status}}</td>
      </tr>
      <tr>
        <td><h5><b>Host</b></h5></td>
        <td>{{model.host}}</td>
      </tr>
      <tr>
        <td><h5><b>Start Time</b></h5></td>
        <td>{{model.createdAt}}</td>
      </tr>
    </table>
</div>
