<div class="col-md-6 info">
  <h3><b>{{keys_title}}</b></h3>
  <div class="bottom-divider"></div>
  <table>
    <tr>
      <td><h5><b>{{content_sshkey_name}}</b></h5></td>
      <td>{{model.sshkey_name}}</td>
    </tr>
    <tr>
      <td><h5><b>{{content_private_sshkey}}</b></h5></td>
      <td>{{privateKey}}{{privateKey_suffix}}</td>
      <td class="sett-private">
        <a href {{action "download" privateKey privatekeyType}} class="btn btn-dark-red" >
          <i class="c_icon-inBlue"></i><span>Download</span>
          <span class="pull-right">
            {{conditional-loading-spinner condition=showPrivateSpinner size="large"}}
          </span>
        </a>
      </td>
    </tr>
    <tr>
      <td><h5><b>{{content_public_sshkey}}</b></h5></td>
      <td>{{publicKey}}{{publicKey_suffix}}</td>
      <td class="sett-public">
        <a href {{action "download" publicKey publickeyType}} class="btn btn-dark-blue ">
          <i class="c_icon-in"></i><span>Download</span>
          <span class="pull-right">
            {{conditional-loading-spinner condition=showPublicSpinner size="large"}}
          </span>
        </a>
      </td>
    </tr>
  </table>
</div>
