<div class="logs ui-border ui-collapsible ui-collapsible-inset ui-corner-all ui-collapsible-themed-content" data-collapsed="false" data-role="collapsible">
    <h4 class="ui-collapsible-heading"><a class="ui-collapsible-heading-toggle ui-btn ui-btn-inherit" href="#">Activity log <span class="ui-collapsible-heading-status">click
    	    to collapse contents</span></a></h4>
    <div aria-hidden="false" class="ui-collapsible-content ui-body-inherit">
        <div class="log-list">
            <div class="ui-input-text ui-body-inherit ui-corner-all ui-shadow-inset">
                <input id="log-filter" placeholder="Filter..." type="text">
            </div>
            <fieldset class="ui-controlgroup ui-controlgroup-horizontal ui-corner-all" data-role="controlgroup" data-type="horizontal">
                <div class="ui-controlgroup-controls">
                    <div class="ui-radio ui-mini">
                        {{log-tab logPanels=logPanels logSelectedTab=logSelectedTab logTab="all"}}
                    </div>
                    <div class="ui-radio ui-mini">
                        {{log-tab logPanels=logPanels logSelectedTab=logSelectedTab logTab="actions"}}
                    </div>
                    <div class="ui-radio ui-mini">
                        {{log-tab logPanels=logPanels logSelectedTab=logSelectedTab logTab="info"}}
                    </div>
                    <div class="ui-radio ui-mini">
                        {{log-tab logPanels=logPanels logSelectedTab=logSelectedTab logTab="warnings"}}
                    </div>
                    <div class="ui-radio ui-mini">
                        {{log-tab logPanels=logPanels logSelectedTab=logSelectedTab logTab="errors"}}
                    </div>
                </div>
            </fieldset>
            {{#each logPanels as |logTab|}} {{component logTab logSelectedTab=logSelectedTab message=message}} {{/each}}
            <div class="no-logs"></div>
        </div>
    </div>
</div>
