<div class="row info">
    <div {{bind-attr class="col-md-6 con-pad showContentPrivateIPV4"}}>
        {{network-ip-table content=content_private_ipv4 ip=privateipv4}}
    </div>
    <div {{bind-attr class="col-md-6 con-pad showContentPublicIPV4"}}>
        {{network-ip-table content=content_public_ipv4 ip=publicipv4}}
    </div>
    <div {{bind-attr class="col-md-6 con-pad showContentPrivateIPV6"}}>
        {{network-ip-table content=content_private_ipv6 ip=privateipv6}}
    </div>
    <div {{bind-attr class="col-md-6 con-pad showContentPublicIPV6"}}>
        {{network-ip-table content=content_public_ipv6 ip=publicipv6}}
    </div>
</div>
<div class="row con-pad">
    <div class="col-md-12">
        {{chart-network model=model selectedTab=selectedTab}}
    </div>
</div>
