<div class="col-md-6 info">
    <h3><b>{{title}}</b></h3>
    <div class="bottom-divider"></div>
    <table>
      <tr>
        <td><h5><b>{{content_id}}</b></h5></td>
        <td>{{model.id}}</td>
      </tr>
      <tr>
        <td><h5><b>{{content_name}}</b></h5></td>
        <td>{{model.name}}</td>
      </tr>
      <tr>
        <td><h5><b>{{content_domain}}</b></h5></td>
        <td>{{model.domain}}</td>
      </tr>
      <tr>
        <td><h5><b>{{content_state}}</b></h5></td>
        <td>{{model.status}}</td>
      </tr>
      <tr>
        <td><h5><b>{{content_host}}</b></h5></td>
        <td>{{model.host}}</td>
      </tr>
      <tr>
        <td><h5><b>{{content_region}}</b></h5></td>
        <td>{{model.region}}</td>
      </tr>
      <tr>
        <td><h5><b>{{content_start_time}}</b></h5></td>
        <td>{{model.createdAt}}</td>
      </tr>
    </table>
</div>
<div class="col-md-6 info">
  <h3><b>{{keys_title}}</b></h3>
  <div class="bottom-divider"></div>
  <table>
    <tr>
      <td><h5><b>{{content_sshkey_name}}</b></h5></td>
      <td>{{model.sshkey_name}}</td>
    </tr>
    <tr>
      <td><h5><b>{{content_private_sshkey}}</b></h5></td>
      <td>{{model.private_sshkey}}</td>
      <td>
        <a href="{{model.privatekey_download}}" class="btn btn-danger">
          <span class="glyphicon glyphicon-save"></span> Download
        </a>
      </td>
    </tr>
    <tr>
      <td><h5><b>{{content_public_sshkey}}</b></h5></td>
      <td>{{model.public_sshkey}}</td>
      <td>
        <a href="{{model.publickey_download}}" class="btn btn-danger ">
          <span class="glyphicon glyphicon-save"></span> Download
        </a>
      </td>
    </tr>
  </table>
</div>
