<!--
** Copyright [2013-2015] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->
<% content_for :onecat_contents do %>
<% provide(:title, 'DEW Overview') %>
<div class="rt-box col-xs-12 col-sm-8 col-md-9 col-lg-9 col-xl-9">
	<div class="row c_pading-b15 settings_top">
		<div class="margin_15">
			<div class="col-xs-12 col-sm-6 col-md-7">
				<h3> <%= Assemblies::DEW %> Overview </h3>
			</div>
			<%= render :partial => "users/topright_icons" %>
		</div>
	</div>
	<div class="row">
		<div class="mplace mplace-head">
			<div class="col-xs-6 col-md-3 mplace-left">
				<h4> <%= Assemblies::DEW %> Overview </h4>
			</div>
			<div class="col-xs-12 col-md-9 mplace-middle hidden-xs hidden-sm">
				<span class="pull-right c_small">Overview of you dew.<i class="c_icon-rocket"></i><a href="http://docs.megam.io/v1.0/docs/megam_cloudmanagement_intro" target="_blank">Take a Tour</a></span>
			</div>
		</div>
	</div>
	<!-- TITLE BOX ENDS HERE -->
	<div class="row">
		<div class="margin_15 overview margintb_15">
			<div class="overview-top">
				<div class="col-xs-12 col-sm-12 col-md-6 overview-route">
					<span>URL: </span><a href="http://<%= assembly.name  %>.<%= assembly.inputs.select { |x| x["key"] == "domain" }[0]['value'] %>" target="_blank"><%= assembly.name  %>.<%= assembly.inputs.select { |x| x["key"] == "domain" }[0]['value'] %></a>
				</div>
			</div>
		</div>
		<div class="margin_30 bottom-divider"></div>
	</div>
	<div class=" overview margintb_15 vm-overview">
		<div class="vm-bg">
			<div class="overview-top ">
				<div class="col-xs-12 col-sm-4 col-md-6 overview-git row vm-icons">
					<label class="col-md-6"><i class="fa fa-hdd-o"></i> Available RAM </label>
					<span1>
						512 MB
					</span1>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-6 overview-git row vm-icons">
					<label class="col-md-6"><i class="fa fa-columns"></i> CPU Core </label>
					<span1>
						1 VCPU
					</span1>
				</div>
			</div>
			<div class="overview-top ">
				<div class="col-xs-12 col-sm-4 col-md-6 overview-git row vm-icons">
					<label class="col-md-6"><i class="fa fa-puzzle-piece"></i> IP </label>
					<span1>
						IPADDRESS
					</span1>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-6 overview-git row vm-icons">
					<label class="col-md-6"><i class="fa fa-building-o"></i> Architecture </label>
					<span1>
						AMD64
					</span1>
				</div>
			</div>

			<!-- Onedew index {"DEW"=>#<Megam::Assembly:0x00000005933b68 @id="ASM1209518690316451840", @name="sealant", @tosca_type="tosca.dew.coreos", @components=[], @requirements=[], @policies=[], @inputs=[{"key"=>"sshkey", "value"=>"test_sealant"}], @operations=[], @outputs=[], @status="LAUNCHING", @created_at="2015-05-11 12:05:41 +0000", @email=nil, @api_key=nil>}
			-->
			<div class="overview-top">
				<div class="col-xs-12 col-sm-4 col-md-6 overview-git row vm-icons">
					<label class="col-md-6"> <i class="fa fa-bullseye"></i> OS </label>
					<span1 style="border-bottom:none;">
						<%= image_tag  "logos/#{assembly.tosca_type.split('.').last}.png", :alt => "" %>
					</span1>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-6 overview-git row vm-icons">
					<label class="col-md-6"><i class="fa fa-lock"></i> SSH Key </label>
					<span1>
						<%= assembly.inputs.select { |x| x["key"] == "sshkey" }[0]['value'] %>
					</span1>
				</div>
			</div>
		</div>
	</div>
	<br/>
	<div class="row c_pading-b15" style="padding-top:15px;">
		<div class="portlet-body-head">
			<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
				<i class="c_icon-grid"></i>Your Machines
			</div>
		</div>
	</div>
	<div class="bottom-divider"></div>
	<div class="row">
		<div class="row margintb_15 margin_30 ">

			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 app_cover">
				<div class="app_inner">
					<div class="app">
						<div class="app_head">
							<span class="app_config" id="config_menu_1"><i class="c_icon-config"></i></span>
							<div class="config_menu config_menu_1"></div>
							<div class="row app_icon">
								<h5><a href="#"><%= assembly.name %>.megambox.com</a></h5>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
									<ul class="list-inline app_icon_bottom">
										<li>
											<%= image_tag  "logos/#{assembly.tosca_type.split('.').last}.png", :alt => "" %>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="app_footer">
							<!-- <div class="circle_red"></div> -->
							<i class="circle_green"></i>
							<span>Launched</span>
							<i class="c_icon-window pull-right"></i>
							<i class="c_icon-star pull-right"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<% end %>
<%= render :template => "catalogs/show", :locals => {:cattype => Assemblies::DEW} %>
