
<% @products = Product.all %>
<div class="row-fluid">
	<div class="span12" id="folders">
		<div class="flexslider">
			<ul class="slides">
				<% @products.each do |product| %>				
				<li>			     	
					<%= link_to import_path(:api_name => product.name), :remote => true, :type => "submit", :method => "post", data: { spinlock: '#dec'}  do %>
					<%= image_tag product.image_url, :id=>"slider-image"%>
					<% end %>
				</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
<%= form_tag "/deccanplato", :id => 'form_json', :remote => true do %>
<div class="row-fluid">
	<div class="widget-box">
		<div class="widget-title">
			<span class="icon"> <i class="icon-th-list"></i> </span>
			<h5>Live Cloud</h5>
		</div>
		<div class="widget-content">
			<table class="table table-striped table-bordered">
				<br/>
				<tbody>
					<tr>
						<td>
						<div style="height: 340px;  overflow-y: scroll;">							
							<div class="invoice-content offset1"  id="cloud_rest_api">
							<div class="alert alert-info alert-block">
								<h5>Select any </h5>
								<h5> one</h5>
								<h5> of the App....!</h5>
							</div>
							</div>							
						</div></td>
						<td>
						<div  style="height: 340px;  overflow-y: scroll; padding-left: 70px;">
							<h3>Data Explorer</h3>
							<br/>
							URL
							<br/>
							<%= text_field :path, :id => 'large_text', placeholder: "Path" %>

							<div class="control-group">
								<div class="controls">
									Path
									<br/>
									<%= text_field :path, :id => 'large_text', placeholder: "Path" %>
								</div>
							</div>
							<div class="control-group">
								<div class="controls">
									Query string
									<br/>
									<%= text_field :json_text, :id => 'json_text', placeholder: "json" %>
								</div>
								<div class="offset3">									
                                    <%= submit_tag "Run Query", :class => "btn btn-primary" %>									
								</div>
							</div>
						</div></td>
						<td>
						<div style="padding-left: 70px; ">
							<h3>JSON</h3>
							<br/>
							<%= text_area_tag "json", :id => 'json_input' %>							
						</div></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>
<% end %>
