<div id="connector_form">


	<%= form_for @connector_project, :html => { :multipart => true } do |f| %>

	<fieldset class="sectionwrap">
		<legend>
			Sales Force Connector
		</legend>
		<div class="alert alert-info">
			<strong>Hey there!</strong>
			Enter the secret key and password. Click here for detailed instructions.
		</div>

		<table class="table table-condensed table-striped table-bordered">

			<tr>
				<td><%= f.label :Consumer_Key %></td>
				<td><%= f.text_field :consumer_key, :class => 'text_field', placeholder: "ConsumerKey" %></td>
				<td><%= f.label :Consumer_Secret %></td>
				<td><%= f.text_field :consumer_secret, :class => 'text_field', placeholder: "SecretKey" %></td>
			</tr>
			<tr>
				<td><%= f.label :User_Name %></td>
				<td><%= f.text_field :access_username, :class => 'text_field', placeholder: "User_Name" %></td>
				<td><%= f.label :Password %></td>
				<td><%= f.text_field :access_password, :class => 'text_field', placeholder: "Password" %></td>
			</tr>
			
		</table>

	</fieldset>
	<fieldset class="sectionwrap">
		<legend>
			Connector Action
		</legend>
	
		<div class="alert alert-info">
		 <strong>Default Values</strong>
		  <table>
		   <tr><td><h5>Email Encoding : </h5></td>  <td>UTF-8</td> </tr>
		  </table>
		</div>
		<%= fields_for :connector_actions, @connector_action do |ca| %>
		<table class="table table-condensed table-striped table-bordered">
			<tr>
				<td><%= ca.label :User %></td>
				<td><%= ca.select(:biz_function, [['Create', 'user#create'], ['List', 'user#list'], ['Delete', 'user#delete'], ['Update','user#update']]) %></td>

				<td><%= ca.label :Profile %></td>
				<td><%= ca.select(:profile, [['Force.com', 'force.com'], ['Sales.com', 'sales.com']]) %></td>
			</tr>
    			
			<tr>
				<td><%= ca.label :Alias %></td>
				<td><%= ca.text_field :alias, :class => 'text_field', placeholder: "Alias" %></td>
				
				<td><%= ca.label :Last_Name %></td>
				<td><%= ca.text_field :last_name, :class => 'text_field', placeholder: "Last Name" %></td>
			
			</tr>
  			<tr>
				<td><%= ca.label :Language %></td>
				<td><%= ca.select(:language, [['English', 'english'], ['Us', 'us']]) %></td>
			
				<td><%= ca.label :Locale %></td>
				<td><%= ca.select(:locale, [['Us', 'us'], ['India', 'india'], ['France', 'france']]) %></td>	
			</tr>
			
			<tr>
				<td><%= ca.label :Email %></td>
				<td><%= ca.text_field :email, :class => 'text_field', placeholder: "Email" %></td>

				<td><%= ca.label :Time_Zone %></td>
				<td> <%= ca.time_zone_select(:time_zone) %> </td>
			</tr>
			<%= ca.text_field :charset_encoding, :value => "UTF-8", :type => 'hidden' %>
		</table>
		<% end %>
	</fieldset>

	<fieldset class="sectionwrap">
		<legend>
			Connector Output
		</legend>
                <%= fields_for :connector_outputs, @connector_output do |co| %>
		<table class="table table-condensed table-striped table-bordered">
			<tr>
				<td><%= co.label :Type %></td>
				<td><%= co.select(:type, [['Default', 'default'],['Box', 'box'], ['Dropbox', 'dropbox']]) %></td>
			</tr>
			<tr>
				<td><%= co.label :Location %></td>
				<td><%= co.select(:location, [['Default', 'default'],['Box', 'box'], ['Dropbox', 'dropbox']]) %></td>
			</tr>
		</table>
		<% end %>
	</fieldset>
	<%= f.text_field :description, :value => "My first Connector Project", :type => 'hidden' %>
	<%= f.text_field :provider, :value => "salesforce", :type => 'hidden'  %> 
	<%= f.text_field :category, :value => "CRM", :type => 'hidden' %>
       	<%= f.text_field :user_email, :value => current_user.email, :type => 'hidden' %>
	<%= f.text_field :org_name, :value => current_user.organization.name, :type => 'hidden' %>

	


	<%= f.submit nil, :class => 'btn btn-primary' %>
	
	<% end %>

</div>

