<div id="connector_form">

	<%= form_for @connector_project, :html => { :multipart => true } do |f| %>

	<fieldset class="sectionwrap">
		<legend>
			Sales Force Connector
		</legend>

		<div class Load Connector projects ="alert alert-info">
			<strong>Hey there!</strong>
			Enter the secret key and password. Click here for detailed instructions.
		</div>
		<table class="table table-condensed table-striped">

			<tr>
				<td><%= f.label :Consumer_Key %></td>
				<td><%= f.text_field :Consumer_Key, :class => 'text_field', placeholder: "ConsumerKey" %></td>
			</tr>
			<tr>
				<td><%= f.label :Consumer_Secret %></td>
				<td><%= f.text_field :Consumer_Secret, :class => 'text_field', placeholder: "SecretKey" %></td>
			</tr>
		</table>

	</fieldset>
	<fieldset class="sectionwrap">
		<legend>
			Connector Action
		</legend>
		<%= fields_for :connector_action, @connector_action do |ca| %>
		<table class="table table-condensed table-striped">
			<tr>
				<td><%= ca.label :Name %></td>
				<td><%= ca.text_field :Name, :class => 'text_field', placeholder: "Name" %></td>
			</tr>
			<tr>
				<td><%= ca.label :Email %></td>
				<td><%= ca.text_field :Email, :class => 'text_field', placeholder: "Name" %></td>
			</tr>
		</table>
		<% end %>
	</fieldset>

	<fieldset class="sectionwrap">
		<legend>
			Connector Output
		</legend>
	</fieldset>
	<%= f.text_field :Description, :value => "My first Connector Project", :type => 'hidden' %>
	<%= f.submit nil, :class => 'btn btn-primary' %>

	<% end %>

</div>

