<% content_for :content_settings do %>
<% provide(:title, 'Connector Project') %>
<h1>Project</h1>
<hr/>
<% if @connector_project.nil? %>
<div class="alert alert-info">
	<strong>Hey there!</strong>
	You don't have Connector Project. To create click the below link.
</div>
<% else %>

	<table class="table table-condensed">
		<thead>
			<tr>
				<th> </th>
				<th>Id</th>
				<th>When ?</th>
				<th>Description</th>
			</tr>
		</thead>
		</tbody>
		<% @connector_project.each do |connector_project_el| %>
		<tr>

			<td> <%= link_to "Load", connector_project_path(connector_project_el.id), :class => 'btn btn-small btn-primary' %> </td>

			<td> <%= connector_project_el.id %> </td>
			<td> <%= connector_project_el.created_at %> </td>

			<td> <%= connector_project_el.Description %> </td>

			<td> <%= link_to "Delete", connector_project_destroy_path(:id => connector_project_el.id), class: "btn btn-primary",  :remote => true,:method => :delete, data: { spinner: '#'+ dom_id(connector_project_el) + '_user_form_spinner'} %> 
		    <%= spinner_tag dom_id(connector_project_el) + '_user_form_spinner' %>
			
			</td>
		</tr>
		<% end %>
		</tbody>

	</table>

<% end %>

<div class="offset3 span5">
	<%= link_to "Create Connector Project", new_connector_project_path, :class => 'btn btn-primary' %>
</div>

<% end %>
<%= render :template => customizations_show_path %>
