<% content_for :content_settings do %>
<% provide(:title, 'Connector Project') %>
<h1>Connector Project</h1>
<hr/>
<% if !@connector_project %>
<div class="alert alert-info">
			<strong>Hey there!</strong>
			You don't have Connector Project. To create click the below link.
</div>
<% else %>
<div class="span9">
<div class="alert alert-success">
<div class="row">
	
		<div class="offset1 span5">
			<%= @connector_project.Id %>
		</div>
		<div class="span2">
			<%= @connector_project.Description %>
		</div>
		<div class="span1">
			<%= link_to "Delete", "#", :class => 'btn btn-small btn-primary' %>
		</div>

	</div>
</div>
</div>
<% end %>	

<div class="offset2 span5">
<%= link_to "Create Connector Project", new_connector_project_path, :class => 'btn btn-large btn-primary' %>
</div>


<% end %>
<%= render :template => customizations_show_path %>
