<% content_for :content_settings do %>
<% provide(:title, 'Dashboard') %>
<div id="content-header">
	<h1>Projects</h1>
	<div class="btn-group">
		<a class="btn btn-large tip-bottom" title="Manage Files"><i class="icon-file"></i></a>
		<a class="btn btn-large tip-bottom" title="Manage Users"><i class="icon-user"></i></a>
		<a class="btn btn-large tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a>
		<a class="btn btn-large tip-bottom" title="Manage Orders"><i class="icon-shopping-cart"></i></a>
	</div>
</div>
<%= breadcrumbs.render(:format => :inline, :separator => '') %>
<div class="container">
	<div class="row">
		<div class="span12" id="folders">
			<div class="flexslider">
				<% @products = Product.all %>
				<ul class="slides">
					<% @products.each do |product| %>
				    <% if product.cloud_sync %>
					<li>
						<%= link_to "#" do %>
							<i class="logoc_<%= product.image_url %>", id ="slider-image"></i>		
						<% end %>						
					</li>
					<% end %>
					<% end %>
				</ul>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon"> <i class="icon-th-list"></i> </span>
				<h5>Live Cloud</h5>
			</div>
			<div class="widget-content">
				<table class="table table-striped table-bordered">
					<br/>
					<tbody>
						<tr>
							<td>
							<div style="height: 340px;  overflow-y: scroll;">
								<div class="invoice-content offset2">
									<%= render :partial => "connector_projects/rest_api" %>
								</div>
							</div></td>
							<td>
							<div  style="height: 340px;  overflow-y: scroll; padding-left: 70px;">
								<h3>Data Explorer</h3>
								<br/>
								URL
								<br/>
								<%= text_field :path, :id => 'large_text', placeholder: "Path" %>

								<div class="control-group">
									<div class="controls">
										Path
										<br/>
										<%= text_field :path, :id => 'large_text', placeholder: "Path" %>
									</div>
								</div>
								<div class="control-group">
									<div class="controls">
										Query string
										<br/>
										<%= text_field :path, :id => 'app_path', placeholder: "Path" %>
									</div>
									<div class="offset3">
									
										<%= submit_tag("Run Query", :class => "btn btn-primary") %>
									</div>
								</div>
							</div></td>
							<td>
							<div style="padding-left: 70px;">
								<h3>JSONfgh</h3>
								<br/>
								<%= text_area :path, :id => 'large_text', placeholder: "Path" %>
							</div></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
</div>
<% end %>
<%= render :template => users_show_path %>
