<% content_for :content_settings do %>
<% provide(:title, 'New Connector_projects') %>

<h2> Load Connector projects </h2>

<div id="toolbar" class="navbar-inner">
	<% @products.each do |product| %>
	<% @apps_item.each do |apps_item_el| %>
	<% if apps_item_el.product_id === product.id %>
	<%= image_tag product.image_url, :id => product.name, :alt => "Megam", :size => "50x50" %>
	<% end %>
	<% end %>
	<% end %>
</div>
<div class="navbar-inner">
	<%= link_to "Create", "#", :class => 'btn btn-small btn-primary' %>
	<%= link_to "Import", "#", :class => 'btn btn-small btn-primary' %>
	<%= link_to "Export", connector_execution_export_path(@connector_project.id), :class => 'btn btn-small btn-primary' %>
	<%= link_to "Execute", connector_execution_execute_path(@connector_project.id), :class => 'btn btn-small btn-primary' %>
	<%= link_to "List", connector_execution_path(@connector_project.id), :class => 'btn btn-small btn-primary' %>
</div>
<div class="organizations">
	<table>
		<tr>
			<td><label for="name"><h5>User's Email : </h5></label></td>
			<td><span class="content"><%= @connector_project.user_email %></span></td>
		</tr>

		<tr>
			<td><label for="email"><h5>Company Name : </h5></label></td>
			<td><span class="content"><%= @connector_project.org_name %></span></td>

		</tr>
		
		
	</table>

</div>

<div class="row">

	<div id="right_pane" class="span10"></div>

</div>



<%= render "load" %>

<div id="new1-dropcontainer" class="span6">
	<ul></ul>
</div>

<% end %>
<%= render :template => customizations_show_path %>
