<!--
** Copyright [2013-2015] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->
<% content_for :onecat_contents do %>
<% provide(:title, "Torpedo Overview") %>
<div class="rt-box col-xs-12 col-sm-8 col-md-9 col-lg-9 col-xl-9">
  <div class="">
    <div class="row c_pading-b15">
      <div class="storage_top">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <h3>
            <b>
              Torpedo Overview
            </b>
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-divider"></div>
  <div class="row">
    <div class="col-xs-12 col-sm-9 col-md-9 br_grey" id="tabs">

      <% domain = assembly.inputs.select { |x| x["key"] == "domain" }[0]['value'] %>
      <% @logname = "#{assembly.name}.#{domain}" %>
      <%= render 'catalogs/mycomponent' %>

    </div>

    <div class="col-sm-3 storage-rt-list">
<<<<<<< HEAD
      <dl><h3>Usage</h3>
         <dt><%= t('overviews.name') %></dt>
         <dd><%= assembly.name %>
           <%= t('marketplace.megambox') %></dd>
        <dt class="margin-top-20"></dt>
=======
      <dl>
        <h3>Specifications</h3>
>>>>>>> origin/0.9
        <dt><%= t('overviews.available_ram') %></dt>
        <dd><%= assembly.inputs.select { |x| x["key"] == "ram" }[0]['value'] %>
          <%= t('overviews.mb') %></dd>
        <dt class="margin-top-20"></dt>
        <dt><%= t('overviews.cpu_core') %></dt>
        <dd><%= assembly.inputs.select { |x| x["key"] == "cpu" }[0]['value'] %></dd>
        <dt class="margin-top-20"></dt>
        <dt><%= t('overviews.os') %></dt>
        <dd><%= image_tag  "logos/#{assembly.tosca_type.split('.').last}.png", :alt => "" %>
        <dt class="margin-top-20"></dt>
        <dt>
          <%= t('overviews.ip') %></dt>
        <dd><% ip = parse_key_value_pair(assembly.outputs, "ip") %>
          <%= ip if ip != "" %>
          <%= t('overviews.not_get_ip') if ip == "" %></dd>
          <dt class="margin-top-20"></dt>
          <dt>URL</dt>
                            <dd>megam.com <i class="c_icon-form"></i></dd>
	                        
        <dt class="margin-top-20"></dt>
        <dt>URL</dt>
        <dd>megam.com
          <i class="c_icon-form"></i>
        </dd>
        <dt class="margin-top-20"></dt>
        <dt>Region</dt>
        <dd><img src="assets/images/search-icon.png">
          INDIA</dd>

      </dl>
    </div>
  </div>
<<<<<<< HEAD
  </div>

  <% end %>
  <%= render :template => "catalogs/show", :locals => {:cattype => Assemblies::TORPEDO} %>

  
  <script type="text/javascript">

  $(document).ready(function () {
    $('[data-toggle="popover"]').popover({
      'html': 'true'
    });
  });


  	$('.create_bucket_modal').click(function(e) {
  		$('#create_bucket').modal();
  			});
  		$('.inner-menu').click(function(e) {
  			e.preventDefault();
  			$('.inner-child').toggle();
  		});
  		//storage left menu
  		$('.storage_left_add_inner').hide();
  		$('.storage_left_add a ').click(function() {
  		// e.preventDefault();
  		$('.storage_left_add_inner').slideToggle();
  		});
  		// $('.storage-popup').hide();
  		// storage overview pop up menu
  		$('.my_bucket_inner').bind('contextmenu', function(e) {
  			e.preventDefault();
  			$('.storage-popup').css({
  				'top' : e.pageY,
  				'left' : e.pageX,
  			});
  			$('#bucketName').val($(event.currentTarget).attr('id'));
  			//$.session.set('bucketname', $(event.currentTarget).attr('id'));
  			$('.storage-popup').show();
  					return false;
  			});
  	// hide storage menu when clicked outside the div
  	$(document).on('click', function(e) {
  		if ($(e.target).closest(".my_bucket_inner").length === 0) {
  			$('.storage-popup').hide();
  		}
  	});
       
 

  	// for upload
  	/*$(function() {
  	$('#file_upload').fileupload({
  	  forceIframeTransport: true,    // VERY IMPORTANT.  you will get 405 Method Not Allowed if you don't add this.
  	  autoUpload: true,
  	  add: function (event, data) {
  			//Ajax-1 started
  			$.ajax({
  				type: 'GET',
  				url: '/sign_auth',
  				success:  completeHandler = function(data) {
          //Ajax-2 started
  					$.ajax({
  						url: "http://192.168.1.248/arun_accet/"+ data.files[0].name +"?AWSAccessKeyId=Y71TT566EPWU9AIV8CE8&Expires=1444810624&Signature=%2BCJQRBGxkRi0R8wXkmmpTKKESO8%3D",  //server script to process data
  	      		type: 'PUT',
  						beforeSend: function (request)
              {
                  request.setRequestHeader("x_amz_acl", "private");
  								request.setRequestHeader("x_amz_storage_class", "STANDARD");
  								request.setRequestHeader("content_type", "application/octet-stream");
  								request.setRequestHeader("content_length", "12345");
              },
  						processData: false,
  	      		data: data.files[0],
  						//Ajax events
  	      		success:  completeHandler = function(data) {
=======
</div>
>>>>>>> origin/0.9

<% end %>
<%= render :template => "catalogs/show", :locals => {:cattype => Assemblies::TORPEDO} %>
