	<p><b>Predef Cloud Name = </b><%= predef_cloud.name %></p>
	<p><b>Cloud Type = </b><%= predef_cloud.spec[:type_name] %></p>
	<p><b>Group = </b><%= predef_cloud.spec[:groups] %></p>
	<p><b>Image = </b><%= predef_cloud.spec[:image] %></p>
	<p><b>Flavor = </b><%= predef_cloud.spec[:flavor] %></p><br/>
	<p><b>SSH Key = </b><%= predef_cloud.access[:ssh_key] %></p>
	<p><b>Identity File = </b><%= predef_cloud.access[:identity_file] %></p>
	<p><b>SSH User = </b><%= predef_cloud.access[:ssh_user] %></p><br/>
	<p><b>Predef Cloud Ideal = </b><%= predef_cloud.ideal %></p>
	<p><b>Predef Cloud Performance = </b><%= predef_cloud.performance %></p>


