<% content_for :content_settings do %>
<% provide(:title, 'Predef CLouds') %>
<%= render :partial => "contents/header" , :locals => {:head => "Cross Clouds"}%>
<div id="breadcrumb">
	<%= render_breadcrumbs %>
</div>

<div class="container-fluid">


			<div class="widget-box">
                            <div class="widget-title">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#tab1">Cross cloud</a></li>
                                    <li><a data-toggle="tab" href="#tab2">Database</a></li>
                                    <li><a data-toggle="tab" href="#tab3">Queue</a></li>
                                </ul>
                            </div>
                            <div class="widget-content tab-content">
                                <div id="tab1" class="tab-pane active">
					<%= render :partial => "predef_clouds/cross_cloud", :locals => {:predef_clouds => @predef_clouds, :method => 'post'} %>
				</div>
                                <div id="tab2" class="tab-pane">
					<%= render :partial => "predef_clouds/db", :locals => {:predef_clouds => @predef_clouds, :method => 'post'} %>
				</div>
                                <div id="tab3" class="tab-pane">This is a Tab Three Content</div>
                            </div>                            
                        </div>


</div> <!-- container-fluid -->

	<div id="predef_cloud_show_popup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
				×
			</button>
			<h3 id="myModalLabel">Cloud Book view</h3>
		</div>
		<div class="modal-body">
			<div class="alert">
			<p>
				<h4 id="predef_cloud_show">
				</h4> 
			</p>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">
				Ok
			</button>
		</div>
	</div>


<% end %>
<%= render :template => users_show_path %>
