<% content_for :content_settings do %>
<% provide(:title, 'New Cloud DB') %>
<%= render :partial => "contents/header" , :locals => {:head => "New Cloud DB"}%>
<div id="breadcrumb">
	<%= render_breadcrumbs %>
</div>

<div class="container-fluid">

			<%= form_tag(new_db_init_path, :method => "post", :name => "predef") do %>


<div class="widget-box">
		<div class="widget-title">
			<span class="icon"> <i class="icon-th-list"></i> </span>
			<h5>Cloud DB Type</h5>
		</div>
		<div class="widget-content">

							<p class="help-block">
								<strong><span class="label label-info">*selection</span> Select any one Databse model Multitenant or Full? </strong>
							</p>

								<div class="row-fluid">
								<div id="new_db1">
									<div class="span6">
										<%= radio_button_tag :db_model, 'Multitenant' %>
										<%= label :platform, 'Java' do %>
										<h1><i class="icon-cloud"></i></h1>
										<% end %>
			
									</div>
									<div class="span6">
										<%= radio_button_tag :db_model, 'full' %>
										<%= label :platform, 'Nodejs' do %>
										<h1><i class="icon-home"></i></h1>
										<% end %>
									</div>
								</div>
								</div>
		</div>
</div>

<div class="widget-box">
		<div class="widget-title">
			<span class="icon"> <i class="icon-th-list"></i> </span>
			<h5>Cloud DB Systems</h5>
		</div>
		<div class="widget-content">

							<p class="help-block">
								<strong><span class="label label-info">*selection</span> Select any one DBMS postgresql, riak, redis </strong>
							</p>

								<div class="row-fluid">
								<div id="new_db2">
									<div class="span4">
										<%= radio_button_tag :dbms, 'postgresql' %>
										<%= label :platform, 'postgresql' do %>
										<i class="logo_postgres"></i>
										<% end %>
			
									</div>
									<div class="span4">
										<%= radio_button_tag :dbms, 'riak' %>
										<%= label :platform, 'riak' do %>
										<i class="logo_riak"></i>
										<% end %>
									</div>
									<div class="span4">
										<%= radio_button_tag :dbms, 'redis' %>
										<%= label :platform, 'redis' do %>
										<i class="logo_redis"></i>
										<% end %>
									</div>
								</div>
								</div>

				<%= submit_tag "Next", :class => "btn btn-large btn-success btn-block", :id => "db_next", :remote => true, :disabled => true, :data => { :disable_with => "Please wait..."}, title: 'Please select your application platform and then click Next', rel: 'tooltip' %>

		</div>
</div>
			<% end %>

</div> <!-- container-fluid -->

<% end %>
<%= render :template => users_show_path %>
