<% content_for :content_settings do %>
<% provide(:title, 'New Cross CLoud') %>
<%= render :partial => "contents/header" , :locals => {:head => "New Cross CLoud"}%>
<div id="breadcrumb">
	<%= render_breadcrumbs %>
</div>

<div class="container-fluid">

<div class="widget-box">
		<div class="widget-title">
			<span class="icon"> <i class="icon-th-list"></i> </span>
			<h5>Cross cloud settings</h5>
			<div class="buttons">
				<%= render :partial => "customizations/refresh" %>
			</div>
		</div>
		<div class="widget-content">

<%= form_tag(create_db_path, :method => "post") do %>
<%= text_field_tag 'store_db_name', "db_#{current_user.first_name}", :readonly => true %><br/>
<% if @dbms == 'postgresql' %>
<%= text_field_tag 'user_name', "#{current_user.first_name}", :readonly => true %><br/>
<%= text_field_tag 'password', "#{current_user.api_token}", :readonly => true %><br/>
<%= text_field_tag 'url', "postgres://#{current_user.first_name}:#{current_user.api_token}@postgres1.megam.co.in:5432/db_#{current_user.first_name}", :readonly => true %><br/>
<%= text_area_tag 'prime', nil, placeholder: "Enter prime" %><br/>
<% end %>

		<div class="row-fluid">
			<div class="span4"></div>
			<div class="span4">
				<%= submit_tag "Save", :class => "btn btn-large btn-success btn-block", :remote => true, :disable_with => "Please wait...", :data => { :spinner => '#spin-btn'} %>
			</div>
			<div class="span4"></div>
		</div>
<% end %>
				<%= spinner_tag 'spin-btn' %>
		</div>
	</div>

</div> <!-- container-fluid -->

<% end %>
<%= render :template => users_show_path %>
