<!--
** Copyright [2013-2015] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->
<%= form_tag marketplaces_path, multipart: true, :novalidate => 'novalidate',  :method => 'post', :remote => true  do %>
<% @mkp["plans"].each do |c| %>
<% if c["version"] == version %>
<% @mkp_price = c["price"] %>
<% @appname = launch_namegen %>
<% @mkp_plan = c["plantype"] %>
<% @mkp_description = c["description"] %>
<% @mkp_os = c["os"] %>
<% @pro_name = (@mkp["name"]).split("-") %>
<% end %>
<% end %>

<%= hidden_field_tag 'version', nil, placeholder: "", :class =>"form-control", :value => version  %>
<%= hidden_field_tag 'appname', nil, placeholder: "", :class =>"form-control", :value =>  launch_namegen %>
<%= hidden_field_tag 'sshoption', nil, placeholder: "", :class =>"form-control sshoption"%>
<%= hidden_field_tag 'mkp', nil, placeholder: "", :class =>"form-control", :value => @mkp.to_json %>
<%= hidden_field_tag 'scm_name', nil, placeholder: "", :class =>"form-control"%>
<div class="row">
	<div class="col-sm-7 body_left">
		<div class="row">
			<div class="col-sm-7 app_left_name">
				<span>Choose your SCM</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div id="byoc_connect">
					<%= image_tag "gitimg.png",:class=> "img-responsive_byoc "%>
				</div>
			</div>
			<div class="col-md-4">
				<div id="gogs_connect">
					<%= image_tag "gogsimg.png",:class=> "img-responsive_byoc "%>
				</div>
			</div>
		</div>
		<div class="bottom-divider"></div>
	<div class="row pad_tb25" id="scm">
			<div data-role="content">
                <div id="localPropList" data-role="controlgroup">
                	 <div id="scm">
                   <input name="assigned_proposal_id" type="radio" value="scm" id="chk1" />
                         <label for="chk1">SCM</label>
			          <div id="repos_list"></div>
			         <div id="gogs_repos_list"></div>
		             </div>

		           <div id="starterpack">
                   <input name="assigned_proposal_id" type="radio" value="STARTERPACK" id="chk2" />
                   <label for="chk2">Megam's Starter Pack </label>

		         	 <%= text_field_tag 'source_starterpacks', nil, placeholder: '', :class =>"form-control spacks", :value => @deps_scm %>
                  </div>
		        </div>
		</div>
		</div>

</br>
<%= hidden_field_tag 'source', nil, placeholder: '', :class =>"form-control main_source", :value => '' %>
<%= hidden_field_tag 'check_ci', nil, placeholder: '', :class =>"form-control", :value => 'true' %>
		<div class="row">
	<div class="col-sm-7 body_left">
		<div class="bottom-divider"></div>
		<div class="row">
			<div class="col-sm-7 app_left_name">
				<span>Create or Import SSH keys</span>
			</div>
		</div>            

		<div class="row">
			<div class="col-sm-12 app_left_desc">
				<div class="row">
					<div class="col-xs-12" >
						<div class="form-group">
							<select class="form-control" id="sshkeyoption">
								<option>Choose your sshkeys options</option>
								<option value="CREATE">Create a new sshkey</option>
								<option value="EXIST">Use your already uploaded keys </option>
								<option value="UPLOAD">Upload your ssh keys</option>
							</select>
						</div>
					</div>
				</div>

				<div class="row"  style="display:none;" id="sshkey_exist">
					<% if @ssh_keys != nil %>
					<div class="col-sm-3 app_left_name">
						<span>Pick a sshkey</span>
					</div>
					<div class="col-sm-9 app_left_desc">
						<%= select_tag "sshexistname", options_for_select(@ssh_keys.map{ |c| c[:name] }, :selected=>@ssh_keys[0]), :class =>"form-control" %>
					</div>
					<% else %>
					<div class="app_left_name">
						<span>You must have create or upload the sshkeys</span>
					</div>
					<% end %>
				</div>
				<div class="row"  style="display:none;" id="sshkey_create">
					<div class="col-sm-3 app_left_name">
						<span>Name</span>
					</div>
					<div class="col-sm-9 app_left_desc">
						<%= text_field_tag 'sshcreatename', nil, placeholder: 'Type a key pair name to save', :class =>"form-control" %>
					</div>
				</div>
				<div class="row" style="display:none;" id="sshkey_upload">
					<div class="col-sm-12 col-xs-12" >
						<div class="row margintb_15">
							<div class="col-xs-6">
								<label for="ssh-key_name">Private key</label>

								<div class="form-group">
									<span class="btn green fileinput-button col-xs-11"> <i class="icon-plus"></i> <span>Add files...</span> <%= file_field_tag :ssh_private_key, placeholder: 'Upload private key' %> </span>
								</div>
							</div>
							<div class="col-xs-6">
								<div>
									<label for="ssh-key_name">Public key</label>
									<div class="form-group">
										<span class="btn blue fileinput-button  col-xs-11"> <i class="icon-plus"></i> <span>Add files...</span> <%= file_field_tag :ssh_public_key, placeholder: 'Upload public key' %> </span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-5 app_left_name">
								<span>Name</span>
							</div>
							<div class="col-sm-7 app_left_desc">
								<%= text_field_tag 'sshuploadname', nil, placeholder: 'Type a key pair name to save', :class =>"form-control" %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
	<!-- body_left ends here -->

	<div class="col-sm-5 body_right c_height_2">
		<h4>Create an App</h4>
		<div class="row">
			<div class="col-xs-6">
				<div class="form-group">
				    <%= text_field_tag 'name', nil, placeholder: 'App Name', :class =>"form-control", :value => @appname %>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="form-group">
				    <%= text_field_tag 'domain', nil, placeholder: "megam.co", :class =>"form-control", :value => "megam.co", disabled: true %>
				    <%= hidden_field_tag 'domain', nil, placeholder: ".megam.co", :class =>"form-control", :value => "megam.co" %>
				</div>
			</div>
		</div>
		<div class="bottom-divider"></div>
		<h4 style="display:none;">Manage an App</h4>
		<div class="row">
			<div class="col-xs-12" style="display:none;">
				<div class="form-group">
					<select class="form-control">
						<option>Version</option>
						<option>Option 1</option>
						<option>Option 2</option>
						<option>Option 3</option>
						<option>Option 4</option>
						<option>Option 5</option>
					</select>
				</div>
			</div>

			<div class="col-xs-12">
				<div class="form-group">
				    <%= submit_tag "Create App", :class => "btn btn-success col-xs-12" %>
				</div>
			</div>
		</div>
	</div>
	<!-- body_right ends here -->
</div>
<% end %>


<script>
	$(document).ready(function() {
		$("#scm_name").val("gogs");
		$("#gogs_connect").click(function() {
			$.oauthpopup({
				path : "/auth/gogs",
				callback : function() {
					$.ajax({
						type : "POST",
						url : "/publish_gogs",
						success : function(data) {
							console.log("It worked!")
							console.log(dataString);
						},
						error : function(data) {
							console.log("ERROR CHECK PROPERLY!!");
							console.log(data);
						}
					});
					return false;
				}
			});
		});
		$("#byoc_connect").click(function() {
			$("#scm_name").val("github");
			$.oauthpopup({
				path : "/auth/github",
				callback : function() {
					$.ajax({
						type : "POST",
						url : "/publish_github",
						success : function(data) {
							console.log("It worked!")
							console.log(dataString);
						},
						error : function(data) {
							console.log("ERROR CHECK PROPERLY!!");
							console.log(data);
						}
					});
					return false;
				}
			});
		});
	});
</script>
<script type="text/javascript">
	// Script to show the ssh keys options
	$(document).ready(function() {
		$('#sshkeyoption').on('change', function() {
			if (this.value == "CREATE") {
				$("#sshkey_create").show();
				$("#sshkey_exist").hide();
				$("#sshkey_upload").hide();
				$(".sshoption").val("CREATE");
			}
			if (this.value == "EXIST") {
				$("#sshkey_create").hide();
				$("#sshkey_exist").show();
				$("#sshkey_upload").hide();
				$(".sshoption").val("EXIST");
			}
			if (this.value == "UPLOAD") {
				$("#sshkey_create").hide();
				$("#sshkey_exist").hide();
				$("#sshkey_upload").show();
				$(".sshoption").val("UPLOAD");
			}
		});
	});
</script>

<script>
    	    							$(document).ready(function() {
    $("input:radio[name=assigned_proposal_id]").click(function() {
    var value = $(this).val();
    if (value == 'STARTERPACK'){
    	$(".main_source").val($(".spacks").val());
    	console.log("now trying to disable")
   document.getElementById("#scm").disabled = true;
    } else {
    	 $(".main_source").val($(".scm_select").val());
    	    $(".spacks").disabled = true;
    document.getElementById("#starterpack").disabled = true;
    }
  });

});


</script>
