<!--
** Copyright [2013-2015] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->
<%= form_tag marketplaces_path, multipart: true, :novalidate => 'novalidate',  :method => 'post', :remote => true  do %>
<% @mkp["plans"].each do |c| %>
<% if c["version"] == version %>
<% @mkp_price = c["price"] %>
<% @appname = launch_namegen %>
<% @mkp_plan = c["plantype"] %>
<% @mkp_description = c["description"] %>
<% @mkp_source = c["source"] %>
<% @mkp_os = c["os"] %>
<% @pro_name = (@mkp["name"]).split("-") %>
<% end %>
<% end %>

<%= hidden_field_tag 'version', nil, placeholder: "", :class =>"form-control", :value => version  %>
<%= hidden_field_tag 'source', nil, placeholder: "", :class =>"form-control", :value => @mkp_source  %>
<%= hidden_field_tag 'appname', nil, placeholder: "", :class =>"form-control", :value =>  launch_namegen %>
<%= hidden_field_tag 'mkp', nil, placeholder: "", :class =>"form-control", :value => @mkp.to_json %>

<div class="row">
          <div class="col-md-12"> <span class="app_left_name">Description</span>
            <P class="model-description"><%= @mkp_description %><a href="#" target="_blank">View Docs</a></P>
            <div class="pad_tb25">
                <h4>Name</h4>
                <div class="row">
                  <div class="col-xs-6">
                    <div class="form-group">
<%= text_field_tag 'name', nil, placeholder: 'Dew Name', :class =>"form-control", :value => @appname %>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="form-group">
					<%= text_field_tag 'domain', nil, placeholder: "megam.co", :class =>"form-control", :value => "megam.co", disabled: true %>
					<%= hidden_field_tag 'domain', nil, placeholder: ".megam.co", :class =>"form-control", :value => "megam.co" %>
                    </div>
                  </div>
                </div>

               <div class="row">
                  <div class="col-xs-6">
                    <h4>SSH</h4>
                    <div class="form-group">
							<select class="form-control" id="sshkeyoption">
								<option value="CREATE">Create a new sshkey</option>
								<option value="EXIST">Use your already uploaded keys </option>
								<option value="UPLOAD">Upload your ssh keys</option>
							</select>


                    </div>
                  </div>
                  <div class="col-xs-6" >
		    <div id="sshkey_exist" style="display:none;">
                    <h4>Choose your SSH</h4>
                    <div class="form-group">
					<% if @ssh_keys != nil && @ssh_keys.length > 0 %>
						<%= select_tag "sshexistname", options_for_select(@ssh_keys.map{ |c| c[:name] }, :selected=>@ssh_keys[0]), :class =>"form-control" %>

					<% else %>
						<span>You must have create or upload the sshkeys</span>
					<% end %>
                    </div>
		    </div>

		    <div id="sshkey_create">
                    <h4>SSH keypair name</h4>
                    <div class="form-group">
			<%= text_field_tag 'sshcreatename', nil, placeholder: 'Type a key pair name to save', :required => true, :class =>"form-control" %>
                    </div>
		    </div>

                  </div>
                </div>
                   <div id="sshkey_upload" style="display:none; margin-top:10px;">
                <div class="row">

                      <div class="col-xs-6">
								<div class="form-group">
									<span class="btn green fileinput-button  col-md-12  col-xs-7"> <i class="icon-plus"></i> <span>Add files...</span> <%= file_field_tag :ssh_private_key, placeholder: 'Upload private key' %> </span>
								</div>
                        </div>
                        <div class="col-xs-6">
									<div class="form-group">
										<span class="btn blue fileinput-button  col-md-12  col-xs-7"> <i class="icon-plus"></i> <span>Add files...</span> <%= file_field_tag :ssh_public_key, placeholder: 'Upload public key' %> </span>
									</div>
                        </div>
                      </div>
                </div>
<br/><br/>
                <div class="row">
                  <div class="col-md-offset-4 col-md-4">
                    <div class="form-group">
<%= submit_tag "Create Docker", :class => "btn btn-success col-xs-12", :data => {:remote => true} %>
                    </div>
                  </div>
                </div>
            </div>
            <div class="bottom-divider"></div>
            <div class="bottom-divider"></div>
          </div>
          <!-- body_left ends here --> 
          
          <!-- body_right ends here --> 
        </div>
</div>
<script type="text/javascript">
	// Script to show the ssh keys options
	$(document).ready(function() {
	$('#sshkeyoption').on('change', function() {
	if(this.value=="CREATE") {
	$("#sshkey_create").show();
	$("#sshkey_exist").hide();
	$("#sshkey_upload").hide();
	$(".sshoption").val("CREATE");
	}
	if(this.value=="EXIST") {
	$("#sshkey_create").hide();
	$("#sshkey_exist").show();
	$("#sshkey_upload").hide();
	$(".sshoption").val("EXIST");
	}
	if(this.value=="UPLOAD") {
	$("#sshkey_create").show();
	$("#sshkey_exist").hide();
	$("#sshkey_upload").show();
	$(".sshoption").val("UPLOAD");
	}
	});
	});
</script>


<% end %>
