<!--
** Copyright [2013-2015] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->
<%= form_tag app_boilers_launch_path, multipart: true, :novalidate => 'novalidate',  :method => 'post', :remote => true  do %>
<% @mkp.plans.each do |c| %>
<% if c["version"] == version %>
<% @mkp_price = c["price"] %>
<% @appname = launchgen %>
<% @mkp_plan = c["plantype"] %>
<% @mkp_description = c["description"] %>
<% @mkp_source = c["source"] %>
<% @mkp_os = c["os"] %>
<% @pro_name = (@mkp.name).split("-") %>
<% @predef_name = get_predef_name(@pro_name[3].downcase) %>
<% @combos = get_combos(@pro_name[3].downcase) %>
<% @combo = @combos.split("+") %>
<% end %>
<% end %>
<% if @mkp_source == "" %>
<% @deps_scm = get_deps_scm(@pro_name[3].downcase) %>
<% else %>
<% @deps_scm = @mkp_source %>
<% end %>
<% @predef_cloud = ListPredefClouds.perform(force_api[:email], force_api[:api_key]) %>
<%  if @predef_cloud.class == Megam::Error %>
<% redirect_to new_app_path, :gflash => { :warning => { :value => "#{@predef_cloud.some_msg[:msg]}", :sticky => false, :nodom_wrap => true } }     %>
<% end %>
<%= hidden_field_tag 'version', nil, placeholder: "", :class =>"form-control", :value => version  %>
<%= hidden_field_tag 'source', nil, placeholder: "", :class =>"form-control", :value => @deps_scm  %>
<%= hidden_field_tag 'type', nil, placeholder: "", :class =>"form-control", :value =>  @pro_name[3] %>
<%= hidden_field_tag 'combos', nil, placeholder: "", :class =>"form-control", :value =>  @combos %>
<%= hidden_field_tag 'servicename', nil, placeholder: "", :class =>"form-control", :value =>  launchgen %>
<div class="row">
	<div class="col-sm-7 body_left">
		<h4><%= @pro_name[3] %></h4>
		<div class="row pad_tb25">
			<div class="col-sm-5">
				<div class="app_inner brad-3">
					<div class="stpack">
						<%= image_tag "combos/"+@pro_name[3].downcase+".png", :alt => "" %>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom-divider"></div>
		<div class="row">
			<div class="col-sm-3 app_left_name">
				<span>Description</span>
			</div>
			<div class="col-sm-9 app_left_desc">
				<span> <%= @mkp_description %> <a href=<%= get_doc_link(@pro_name[3].downcase) %> target="_blank">View Docs</a> </span>
			</div>
		</div>
		<div class="bottom-divider"></div>

		<div class="row">
			<div class="col-sm-3 app_left_name">
				<span>Pick a Cloud</span>
			</div>
			<div class="col-sm-9 app_left_desc">
				<div class="row">
					<div class="col-sm-6 col-xs-6">
						<%= link_to settings_path, :class => "btn btn-success btn-plain-green col-md-12 col-xs-12" do %>Create<%end%>
					</div>
					<div class="col-sm-6 col-xs-6">
						<%= select_tag "cloud", options_for_select(@predef_cloud.map{ |c| [c.name] }, :selected=>@predef_cloud[0]), :class =>"form-control" %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- body_left ends here -->

	<div class="col-sm-5 body_right c_height_2">
		<h4>Name</h4>
		<div class="row">
			<div class="col-xs-6">
				<div class="form-group">
					<%= text_field_tag 'name', nil, placeholder: 'Service Name', :class =>"form-control", :value => @appname %>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="form-group">
					<%= text_field_tag 'domain', nil, placeholder: "megam.co", :class =>"form-control", :value => "megam.co", disabled: true %>
					<%= hidden_field_tag 'domain', nil, placeholder: ".megam.co", :class =>"form-control", :value => "megam.co" %>
				</div>
			</div>
		</div>
		<div class="bottom-divider"></div>
		<h4>App</h4>
		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<% list = [] %>
					<% list << "select an APP" %>
					<% @apps.map{ |c| list << [c["name"], c["name"]+":"+c["aid"]+":"+c["cid"], {onclick: "console.log('HI');"}] } %>
					<%= select_tag "bindedAPP", options_for_select(list, :selected=>list[0]), :class =>"form-control", :id => "bindedApp" %>
				</div>
			</div>

			<div class="col-xs-12">
				<div class="form-group">
					<%= submit_tag "Create", :class => "btn btn-success btn-plain-green col-xs-12" %>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="form-group">

				</div>
			</div>
		</div>
	</div>
	<!-- body_right ends here -->
</div>
</div> <!-- app_body ends here -->
<script>
	(function($) {
		$('#bindedApp').on('change', function(e) {
			var optionSelected = $("option:selected", this);
			var valueSelected = this.value;
			console.log(valueSelected);
		});
	})($); 
</script>
<% end %>
