<% @mkp.plans.each do |c| %>
<% if c["version"] == version %>
<% @mkp_price = c["price"] %>
<% @mkp_plan = c["plantype"] %>
<% @mkp_description = c["description"] %>
<% @mkp_source = c["source"] %>
<% @mkp_os = c["os"] %>
<% @pro_name = (@mkp.name).split("-") %>
<% @predef_name = get_predef_name(@pro_name[1]) %>
<% end %>
<% end %>
<% if @mkp_source == "" %>
<% @deps_scm = get_deps_scm(@pro_name[1]) %>
<% else %>
<% @deps_scm = @mkp_source %>
<% end %>
<div id="detail_form">
<div class="row"">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<!-- Default panel contents -->
			<div class="panel-body">
				<table class="table table-condensed">
					<thead>
						<h4><span class="label label-purple">Version details</span></h4>
					</thead>
					<tbody>
						<tr>
							<td><b>Plan Type</b></td>
							<td><%= @mkp_plan %></td>
						</tr>
						<tr>
							<td><b>Software Price</b></td>
							<td><%= @mkp_price %> </td>
						</tr>
						<tr>
							<td><b>Version</b></td>
							<td><code><b><%= version %></b></code></td>
						</tr>
						<tr>
							<td><b>Description</b></td>
							<td><%= @mkp_description %> </td>
						</tr>
						<tr>
							<td><h4><span class="label label-purple">Other details</span></h4></td>
							<td></td>
						</tr>
						<tr>
							<td><b>Operating System</b></td>
							<td>Linux/Unix, <code><b><%= @mkp_os %></b></code></td>
						</tr>
						<tr>
							<td><b>Delivery Method</b></td>
							<td>64-bit Image</td>
						</tr>
						<tr>
							<td><b>Support</b></td>
							<td>See Product description</td>
						</tr>
						<tr>
							<td><b>Services Required</b></td>
							<td>Compute cloud (<a href="http://www.gomegam.com/gogrid/" target="_blank">GOGRID</a>,<a href="http://www.gomegam.com/megam-profitbricks/" target="_blank">ProfitBricks</a>..)</td>
						</tr>
					</tbody>
				</table>
			</div
		</div>
	</div>
	<% cat_name = @mkp.name.split("-") %>
	<% if @mkp.approved == "true" %>
	<% if @mkp.attach == "true" %>
	<br/>
	<%= link_to "Configure", addon_path(:id =>@mkp.id, :name => @mkp.name), class: "btn btn-success btn-block btn-lg", :method => :get %>
	<% else %>
	<%= render :partial => "marketplaces/add_button", :locals => {:name => cat_name[1].downcase!, :category => @mkp.appdetails[:category], :predef_name => @predef_name, :deps_scm => @deps_scm} %>
	<br/>
	<% end %>
	<% else %>
	<div class="alert alert-danger alert-block">
		<a class="close" data-dismiss="alert" href="#">×</a>
		<h4 class="alert-heading"><b>Announcing soon.</b></h4>
		We will support this market place addon shortly.
	</div>
	<% end %>
</div>
</div>
</div>
