<% content_for :content_settings do %>
<% provide(:title, 'Marketplace') %>

<%= render :partial => "users/header" , :locals => {:head => "Marketplace"}%>
<div id="breadcrumb">
	<%= breadcrumbs.render(:format => :inline,:separator => '') %>
</div>
<div class="container">
	<div class="row underlineolivegreen">
		<div class="col-md-2">
			<a href="#" > <%= image_tag @mkp.appdetails[:logo], :alt => @mkp.name, :class => "megam_image" %> </a>
			<br/>
			<br/>
		</div>
		<div class="col-md-3">
			<p>
				<strong><h3><%= @mkp.name.upcase %></h3></strong>
			</p>
			<p>
				<h5><%= @mkp.appdetails[:category].upcase %></h5>
			</p>
		</div>
		<div class="col-md-6">
			<%= @mkp.appdetails[:description].html_safe %>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-md-5">
			<ul class="list-group">
				<li class="list-group-item">
					<span class="pull-right"><h4><%= @mkp.plan[:plantype].capitalize %></h4></span>
					<h4><span class="label label-default">Plan Type</span></h4>
				</li>
				<li class="list-group-item">
					<span class="pull-right"><h4><%= @mkp.plan[:price]%></h4></span>
					<h4><span class="label label-default">Software Price</span></h4>
				</li>
				<li class="list-group-item">
					<div class="panel panel-primary">
						<!-- Default panel contents -->
						<div class="panel-body">
							<table>
								<tr>
									<td><b>Version</b></td>
									<td><%= @mkp.appdetails[:version] %> on Ubuntu 13.04</td>
								</tr>
								<tr>
									<td><b>Base Operating System</b></td>
									<td>Linux/Unix, Ubuntu 13.04 +</td>
								</tr>
								<tr>
									<td><b>Delivery Method</b></td>
									<td>64-bit Image</td>
								</tr>
								<tr>
									<td><b>Support</b></td>
									<td>See details below</td>
								</tr>
								<tr>
									<td><b>Services Required</b></td>
									<td>Any compute cloud (gogrid, profitbricks..)</td>
								</tr>

							</table>
						</div
					</div>
		</div>

		<% if @mkp.approved == "true" %>
		<%= render :partial => "marketplaces/add_button", :locals => {:name => @mkp.name, :category => @mkp.appdetails[:category], :predef_name => @predef_name, :deps_scm => @deps_scm} %>
		<br/>
		<% if @mkp.attach == "true" %>
		<br/>
		<div class="well well-lg">
			<div class="form-group">
				<div class="col-sm-8 col-md-8 col-lg-9">
					<%= select_tag 'App', options_for_select(@my_apps.insert(0, "Choose a running app to include this addon")), :id => "attach_app_select" %>
				</div>
			</div>
			<br/>
			<button class="btn btn-purple btn-block btn-lg">
				Attach
			</button>
		</div>
		<% else %>
		<% end %>
		<% else %>
		<div class="alert alert-danger alert-block">
			<a class="close" data-dismiss="alert" href="#">×</a>
			<h4 class="alert-heading"><b>Announcing soon.</b></h4>
			We will support this market place addon shortly.
		</div>
		<% end %>

	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">
				Pricing details
			</div>
			<div class="panel-body">
				<% @pricing.each do |name, type| %>
				<div class="widget-box collapsible">
					<div class="widget-title">
						<a href="#collapse<%= name %>" data-toggle="collapse"> <span class="icon"><i class="fa fa-times"></i></span> <h5><%= name.gsub('-', ' ') %></h5> </a>
					</div>
					<div class="collapse" id="collapse<%= name %>">
						<div class="widget-content">
							<table class="table table-bordered table-striped table-hover" >
								<thead>
									<tr>
										<th class="col-md-3">Type <th class="col-md-3">Memory (GB) <th class="col-md-9">Pricing</th>
										<th class="col-md-9">Setup</th>
									</tr>
								</thead>
								<tbody>
									<% type.each do |key, value| %>
									<tr>
										<td> <%= key %> </td>
										<td> <%= value["memory"] %> </td>
										<td> <%= value["price"] %> </td>
										<td><i class="fa fa-check-circle"></i></td>
									</tr>
									<% end %>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<%end%>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-11">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div class="col-sm-7 col-md-7 col-lg-8">
						<span class="pull-left"><b>Features</b></span>
					</div>
				</div>
			</div>
			<table class="table table-hover" >
				<tbody>
					<% @mkp.features.each do |k, v| %>
					<% if v.length > 0 %>
					<tr>
						<td><i class="fa fa-check">&nbsp;</i></td>
						<td><%= v.capitalize %></td>
					</tr>
					<% end %>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-5">
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon"><i class="fa fa-file"></i></span><h5>Support</h5><!--<span title="scm-manager" class="label label-info tip-left">54</span>-->
			</div>
			<div class="widget-content nopadding">
				<ul class="recent-posts">
					<li>
						<div class="user-thumb">
							<%= image_tag "knol3.png", :alt => "user", :width => "40", :height => "40" %>
						</div>
						<div class="article-post">
							<span class="user-info"><h4><%= @mkp.name %> support</h4></span>
							<p>
								<a href="<%= @mkp.applinks[:free_support] %>" target="_blank">Free (Forums) ..</a>
							</p>
							<% if @mkp.applinks[:paid_support] != "#" %>
							<a href="<%= @mkp.applinks[:paid_support] %>" class="btn btn-danger btn-xs" target="_blank">Paid</a>
							<% end %>
						</div>
					</li>
					<li>
						<div class="user-thumb">
							<%= image_tag "knol1.png", :alt => "user", :width => "40", :height => "40" %>
						</div>
						<div class="article-post">

							<span class="user-info"><h4>Megam support</h4></span>
							<p>
								<a href="http://support.megam.co" target="_blank">Free</a>
							</p>
							<a href="http://www.gomegam.com/contact/" class="btn btn-danger btn-xs" target="_blank">Paid</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon"><i class="fa fa-comment"></i></span><h5>Knowledge base</h5><!--<span title="88 total comments" class="label label-info tip-left">88</span>-->
			</div>
			<div class="widget-content nopadding">
				<ul class="recent-comments">
					<li>
						<div class="user-thumb">
							<%= image_tag "knol2.png", :alt => "user", :width => "40", :height => "40" %>
						</div>
						<div class="comments">
							<span class="user-info"><h4><%= @mkp.name %> docs</h4></span>
							<p>
								<a href="<%= @mkp.applinks[:info_link] %>" target="_blank">Learn more ...</a>
							</p>
							<a href="<%= @mkp.applinks[:home_link] %>" class="btn btn-warning btn-xs" target="_blank">Home</a>
						</div>
					</li>
					<li>
						<div class="user-thumb">
							<%= image_tag "knol3.png", :alt => "user", :width => "40", :height => "40" %>
						</div>
						<div class="comments">
							<span class="user-info"><h4><%= @mkp.name %> wiki/others</h4></span>
							<p>
								<a href="<%= @mkp.applinks[:wiki_link] %>" target="_blank">Community wiki - <%= @mkp.name %>...</a>
							</p>
							<a href="<%= @mkp.applinks[:source_link] %>" class="btn btn-warning btn-xs" target="_blank">Code</a>
						</div>
					</li>

				</ul>
			</div>
		</div>
	</div>
</div>
</div>

<% end %>
<%= render :template => users_show_path %>
