<!--
** Copyright [2013-2016] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->
<div class="row">
	<div class="col-xs-12">
		<div class="col-sm-2 body_left"></div>
		<div class="col-sm-2 body_right"></div>
		<div class="col-sm-6 body_center">
			</br>
			<%= image_tag "gitlabimg.png",:class=> "img-responsive center-block",:size => "90x90", :id => "slider-image"%>

			<%= form_tag('/store_gitlab', method: 'post') do %>
			</br>
			<%= email_field_tag 'gitlab_username', nil, placeholder: 'Enter Gitlab Username', :style => "width:350px; height:50px;" ,:required => true, :class =>"form-control" %>
			</br>
			<%= password_field_tag 'gitlab_password', nil, placeholder: 'Enter Gitlab Password', :style => "width:350px; height:50px;", :required => true, :class =>"form-control" %>
			</br>
			<%= submit_tag t('titles.login_title'), :style => "width:350px; height:50px;", data: { disable_with: "Hold on! accessing gitlab!" }, :class => "btn green col-xs-12", :id => "close_it" %>
		</div>
	</div>
</div>

<% end %>
