<div class="row">
  <div class="prof bottom_border_grey">
    <div class="row">
      <div class="col-xs-10 col-sm-9">
        <h4 class=""><%= t('myprofile.your_api_key') %></h4>
      </div>
      <%= form_tag(user_path, :method => "put", :remote => true) do %>
        <%= submit_tag t('myprofile.update'), :class => "pull-right btn-disabled disabled btn btn-success col-md-2 col-xs-0" %>
      <% end %>
    </div>
  </div>
</div>
<%= form_tag user_path, :remote => true  do %>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <table class="table tb_action_list">
      <thead>
        <tr>
          <th><%= t('keys') %></th>
          <th><%= t('ssh_keys.created_at') %></th>
          <th><%= t('actions') %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="set_title" > <%= current_user.api_key %></td>
          <td > <%= current_user.created_at %></td>
          <td><i class="icon-trash"></i>Delete</td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>
<% if current_cephuser %>
    <!-- storage keys -->
    <div class="row">
      <div class="prof bottom_border_grey">
        <div class="row">
          <div class="col-xs-10 col-sm-9">
            <h4 class="">Your storage keys</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <table class="table tb_action_list">
        <thead>
          <tr>
            <th>Access key</th>
            <th>Secret key</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="set_title" width="55%"><%= current_cephuser.access_key_id     %></td>
            <td class="set_title" width="45%"><%= current_cephuser.secret_access_key %></td>
          </tr>
        </tbody>
      </table>
  </div>
<% end %>
