<div class="row">
  <div class="prof bottom_border_grey_btpad">
    <h4 class=""><%= t('myprofile.change_password') %></h4>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 cloud_signup_save c_tab-content-top">
    <%= form_tag user_path({:id => current_user.email, :email => current_user.email}), :method => :put, :class => "form-horizontal", role: "form", :novalidate => "novalidate", :id => "megamform"  do %>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>">
    </input>
  </input>
  <div class="form-group">
    <label class="col-md-3 control-label label-profile"><%= t('myprofile.current') %></label>
    <div class="col-md-5 input-group margin-top-10 pad_rt-5">
      <%= password_field_tag 'current_password', nil, :class=> 'form-control', :required => true, placeholder: "Enter Current password" %>
    </div>
    <span class="input-group-addon" ><a onClick="change_current_password();" id="change_password" class="pull-left btn"><%= t('myprofile.change') %></a></span>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label label-profile"><%= t('myprofile.new_password') %></label>
    <div class="col-md-5 input-group margin-top-10 pad_rt-5">
      <%= password_field_tag 'password', nil, :class=> 'form-control', :required => true, :id => 'newpassword', :readonly => true, placeholder: "Type New password" %>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label label-profile"><%= t('myprofile.retype') %></label>
    <div class="col-md-5 input-group margin-top-10 pad_rt-5">
      <%= password_field_tag 'password_confirmation', nil, :required => true, :class=> 'form-control', :id => 'newpassword_confirmation', :readonly => true, placeholder: "Retype New password" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-6 col-md-offset-3 input-group margin-top-10">
      <%= submit_tag t('myprofile.update'), :id => "password_submit", :class => "btn disabled btn-success col-md-5 col-xs-12" %>
    </div>
  </div>
<% end %>
</div>
</div>
