<div id="content-header">
	<h1> <%= head %> </h1>
	<div class="btn-group">		
		<%= link_to new_market_place_path, :class =>"btn btn-lg", :title=> "Manage Market Place", :id => "db_link", :target => "_self"  do %>
		<i class="icon-shopping-cart"></i>
		Market Place
		<% end %>
		<%= link_to cloud_stores_path, :class =>"btn btn-lg", :title=> "Manage Databases", :id => "db_link", :target => "_self"  do %>
		<i class="icon-list-alt"></i>
		Databases
		<% end %>
		<!--<%= link_to cloud_books_path, :class =>"btn btn-large", :title=> "Manage Cloud Queue", :target => "_self", :disabled => true  do %>
		<i class="icon-cog"></i>
		Queue
		<% end %>
		<%= link_to cloud_books_path, :class =>"btn btn-large", :title=> "Manage Comments", :target => "_self"  do %>
		<i class="icon-comment"></i><span class="label label-important">5</span>
		<% end %>
		-->
	</div>
</div>