<!--
** Copyright [2013-2016] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->
<div class="rt-box col-xs-12 col-sm-9 col-md-10 c_bg_white c_height_5">
  <%= render :partial => "users/topright_icons", :locals => {:title_name => t('myprofile.title')} %>
  <div class="row pad_tb25">
    <div class="tabbable-custom nav-justified">
      <ul class="nav nav-tabs nav-justified">
        <li class="active">
          <a href="#profile_1" data-toggle="tab"> <%= t('myprofile.account') %> </a>
        </li>
        <li>
          <a href="#profile_2" data-toggle="tab"> <%= t('myprofile.organization') %> </a>
        </li>
        <li >
          <a href="#profile_3" data-toggle="tab"> <%= t('myprofile.api_key') %> </a>
        </li>
      </ul>
      <div class="tab-content c_tab-content">
        <div class="tab-pane active" id="profile_1">
          <%= render :partial => 'users/change_basicinfo' %>
          <%= render :partial => 'users/change_password' %>
        </div>
        <div class="tab-pane" id="profile_2">
          <%= render :partial => 'users/myorganization', :locals => {:orgs => @orgs} %>
        </div>
        <div class="tab-pane" id="profile_3">
          <%= render :partial => 'users/change_apikey' %>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="invite_user" class="modal fade" data-backdrop="static" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog" style="max-width:400px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title"> Organization Invite </h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <%= form_tag invite_path, multipart: true, :method => :post, :remote => true do %>
              <div class="form-group">
                <%= text_field_tag 'email', nil, :class=> 'form-control', placeholder: "Email", :required => true %>
              </div>
              <%= submit_tag "Invite", :class => "btn btn-success col-md-12 col-xs-12" , :data => {:remote => true}%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- To load toastr message  -->
<%= render :partial => "layouts/toastr_message" %>
<%= render :partial => "phones/authorize_mobile", :locals => {:redirect => "/users/1/edit"} %>
<script type="text/javascript">
  $(document).ready(function() {
        	$('.invite_user_modal').click(function(e) {
        		$('#invite_user').modal();
        	});
            $("#password_submit").on("click", function(event) {
        	var match = $('#newpassword').val() == $('#newpassword_confirmation').val();
            if (!match) {
                toastr.error("New password mismatch error", { "timeOut": "0"});
                return false;
            }
            });
          $("#phone").intlTelInput({preferredCountries: ["IN", "TZ"]});
            // Pass mobile number to controller on clicking verify button
            $("#phone_verify_link").on("click", function(event) {
                // get the value inside the text field
        	if ($("#phone").intlTelInput("isValidNumber")){
                	var phone = $("#phone").intlTelInput("getNumber");
        	       $.get('/phones/new', { mobile_number: phone, redirect: '/users/1/edit', format: 'js' }, function(data) {
                	            console.log(data);
        	        });
        		event.preventDefault(); // don't trigger default
        	}else{
        		toastr.error("Enter valid number");
        		return false;
        	}
            });
            $("#profile_submit").on("click", function(event) {
        	     $("#phone").val($("#phone").intlTelInput("getNumber"));
            });
        });
</script>
