<!--
** Copyright [2013-2015] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->
<div id="profilebox">
	<%= form_for @user, :html => {:id =>'password_validate', :novalidate => 'novalidate', :class => 'user_fields_form_organization' }, :remote => true, data: { spinlock: '#spin_user_organization'}, :method => 'patch' do |f| %>
	<%= f.text_field :user_type, :value => "free_user", :type => 'hidden' %>
	<input type="hidden" name="user_fields_form_type" value="<%= user_fields_form_type.to_s %>">
	<%= f.fields_for :organization_attributes, @user.organization do |org_f| %>
	<div class="row">   
		<div class="col-md-3">
			<% if current_user.organization.present? %>
			<%= image_tag(current_user.organization.logo, :size => "90x90", :alt => "Upload your logo") %>
			<% else %>
			<%= image_tag avatar_url(current_user),:class=> "img-rounded",  :size => "90x90"%>
			<% end %>
		</div>
		<div class="col-md-9">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-group"></i></span>
				<%= org_f.text_field :name, :class=> 'form-control required', placeholder: "Organization name" %>
			</div>
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-group"></i></span>
				<%= org_f.text_field :url, :class=> 'form-control required', placeholder: "Organization URL" %>
			</div>
		</div>
	</div>
	<br/>
	<div class="row">
	<div class="form-group">
		<label class="col-sm-5 col-md-5 col-lg-4 control-label">New Logo</label>
		<div class="col-sm-7 col-md-7 col-lg-8">
			<%= org_f.file_field :logo, :id => 'org_logo', placeholder: "Logo" %>
		</div>
	</div>
	</div>
	<br/>

	<% end %>
	<%= f.submit "Update", :class => "btn btn-default" %>

	<% end %>
</div>
