
<%= form_for @user, :html => {:id =>'password_validate', :novalidate => 'novalidate', :multipart => true, :class => 'user_fields_form_organization' },  :method => 'patch', data: { spinner: '#spin_user_organization', :remote => true}  do |f| %>

<%= f.text_field :user_type, :value => "free_user", :type => 'hidden' %>

<%= f.fields_for :organization_attributes, @user.organization do |org_f| %>
<div class="control-group">
	<div class="controls">
		<%= org_f.text_field :name, :class=> 'span4 required', placeholder: "Organization name" %>
	</div>
</div>
<div class="control-group">
	<div class="controls">
		<%= org_f.text_field :url, :class=> 'span4 required', placeholder: "Organization URL" %>
	</div>
</div>
<div class="control-group">
    <%= org_f.label "upload_your_new_logo(wipes out existing)", :class => 'control-label' %>
    <div class="controls">
        <%= org_f.file_field :logo, :id => 'org_logo', placeholder: "Logo" %>
    </div>
</div>


<% end %>
<%= f.submit "Update", :class => "btn", :remote => true %>

<% end %>
