<!--
** Copyright [2013-2015] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->

<div class="">
  <div class="row c_pading-b15">
    <div class="">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <h3>
          <b><%= title_name %></b>
        </h3>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 settings_grid pull-right">
        <ul class="list-inline pull-right rt-top-list">
          <li class="two">
            <%= link_to marketplaces_path , :data => {:remote => true}, :onclick => "$('#step-0').fadeOut(); $('#step-1').fadeOut();" do %>
            <i class="c_icon-window-lg"></i>
            <span class="mplace-selected hidden-xs hidden-sm pull-right"><%= t('titles.marketplace_title') %></span>
            <% end %>
          </li>
          <li>
            <%= link_to storages_path , :onclick => "$('#step-0').fadeOut(); $('#step-1').fadeOut();" do %>
            <i class="c_icon-grid-25"></i>
            <span class="hidden-xs hidden-sm pull-right"><%= t('titles.storage_title') %></span>
            <% end %>
          </li>
          <li class="mar_l20">
            <i class="c_icon-list" id="app-list-btn"></i>
          </li>
          <li>
            <i class="c_icon-grid lg-mar-r-15 " id="app-grid-btn"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
