
<%= form_for @user, :html => {:id =>'password_validate', :novalidate => 'novalidate', :class => 'user_fields_form_password' }, :remote => true, data: { spinlock: '#spin_user_profile'}, :method => method do |f| %>

<input type="hidden" name="user_fields_form_type" value="<%= user_fields_form_type.to_s %>">
<div class="control-group">
	<div class="controls">
		<%= f.password_field :password, :class=> 'required', placeholder: "Password" %>
	</div>
</div>

<div class="control-group">
	<div class="controls">
		<%= f.password_field :password_confirmation,  :class=> 'required', placeholder: "Confirm password" %>
	</div>
</div>


<%= f.submit "Update", :id => "submit_update", :class => "btn" %>
<% end %>
