
 
<%= form_for @user, :html => {:id =>'password_validate', :novalidate => 'novalidate', :class => 'user_fields_form_email'}, :method => method do |f| %>

<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>">
<input type="hidden" name="user_fields_form_type" value="<%= user_fields_form_type.to_s %>">
<div class="control-group">
	<div class="controls">
		<%= f.text_field :first_name, :id => 'first_name', :class => 'text_field required', placeholder: "First name" %>
	</div>
</div>
<div class="control-group">
	<div class="controls">
		<%= f.text_field :last_name, :id => 'last_name', :class => 'text_field required', placeholder: "Last name" %>
	</div>
</div>

<div class="control-group">
	<div class="controls">
		<%= f.text_field :phone, :class => 'text_field required', placeholder: "Phone number" %>
	</div>
</div>

<% if current_user.nil? %>
<div class="control-group">
	<div class="controls">
		<%= f.text_field :email, :class => 'text_field required', placeholder: "Email" %>
	</div>
</div>

<% random_hash = p SecureRandom.urlsafe_base64(nil, true) %>
<%= f.text_field :verification_hash, :value => random_hash, :type => 'hidden' %>
<% random_api = p SecureRandom.urlsafe_base64(nil, true) %>
<%= f.text_field :api_token, :value => random_api, :type => 'hidden' %>
<% end %>

<% if current_user.nil? %>
<div class="control-group">
	<div class="controls">
		<%= f.password_field :password, :class=> 'required', placeholder: "Password" %>
	</div>
</div>

<div class="control-group">
	<div class="controls">
		<%= f.password_field :password_confirmation,  :class=> 'required', placeholder: "Confirm password" %>
	</div>
</div>
<%= link_to "create", user_path(:id => 8, :first_name => :first_name, :last_name => 'rrrr', :email => 'rajthilak@megam.co.in', :phone => '9159532292', :password => 'thilakmca', :password_confirmation => 'thilakmca', :user_fields_form_type => 'email' ), id:  "user_fields_form_email", class: "btn", :method => 'patch', :type => 'submit', :remote => true, data: { spinner: '#spin_user_profile'}  %>

<% else %>
<%= link_to "update", user_path(:id => current_user.id, :first_name => :first_name, :last_name => 'rrrr', :email => 'rrrajthilak@gmail.com', :phone => '9159532292', :user_fields_form_type => 'email' ), id:  "user_fields_form_email", class: "btn", :method => method, :type => 'submit', :remote => true, data: { spinner: '#spin_user_profile'}  %>

<% end %>
<% end %>
