<%= form_for @user, :method => 'patch', data: { spinner: '#spin_user_profile',:remote => true} } do |f| %>
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>">

<div class="control-group">
	<div class="controls">
		<%= f.text_field :first_name, :class => 'text_field required', placeholder: "First name" %>
	</div>
</div>
<div class="control-group">
	<div class="controls">
		<%= f.text_field :last_name, :class => 'text_field required', placeholder: "Last name" %>
	</div>
</div>

<div class="control-group">
	<div class="controls">
		<%= f.text_field :phone, :class => 'text_field required', placeholder: "Phone number" %>
	</div>
</div>

<% if current_user.nil? %>
<div class="control-group">
	<div class="controls">
		<%= f.text_field :email, :class => 'text_field required', placeholder: "Email" %>
	</div>
</div>

<% random_hash = p SecureRandom.urlsafe_base64(nil, true) %>
<%= f.text_field :verification_hash, :value => random_hash, :type => 'hidden' %>
<% random_api = p SecureRandom.urlsafe_base64(nil, true) %>
<%= f.text_field :api_token, :value => random_api, :type => 'hidden' %>
<% end %>

<div class="control-group">
	<div class="controls">
		<%= f.password_field :password,:class=> 'required', placeholder: "Password" %>
	</div>
</div>

<div class="control-group">
	<div class="controls">
		<%= f.password_field :password_confirmation,  :class=> 'required',placeholder: "Confirm password" %>
	</div>
</div>

<%= f.text_field :user_type, :value => "free_user", :type => 'hidden' %>

<% if !current_user.nil? && current_user.admin? %>

<%= f.fields_for :organization_attributes, @user.organization do |org_f| %>
<div class="control-group">
	<div class="controls">
		<%= org_f.text_field :name,:class=> 'span4 required', placeholder: "Organization name" %>
	</div>
</div>
<div class="control-group">
	<div class="controls">
		<%= org_f.text_field :url, :class=> 'span4 required', placeholder: "Organization URL" %>
	</div>
</div>
<!-- 
<div class="control-group">
	<%= org_f.label :upload_organization_logo, :class => 'control-label' %>
	<div class="controls">
		<%= org_f.file_field :logo, placeholder: "Logo" %>
	</div>
</div>
-->
<% end %>
<% end %>
<%= f.submit nil, :class => 'btn btn-large btn-success btn-block',:remote => true %>

<% end %>
