<div id="profilebox">
	<%= form_for @user, :html => {:id =>'password_validate', :novalidate => 'novalidate', :class => 'user_fields_form_email'},:remote => true, data: { spinlock: '#spin_user_profile'}, :method => method do |f| %>

	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>">
	<input type="hidden" name="user_fields_form_type" value="<%= user_fields_form_type.to_s %>">
	<div class="input-group">
		<span class="input-group-addon"><i class="icon-user"></i></span>
		<%= f.text_field :first_name, :id => 'first_name', :class => 'form-control required', placeholder: "First name" %>
	</div>
	<div class="input-group">
		<span class="input-group-addon"><i class="icon-user"></i></span>
		<%= f.text_field :last_name, :id => 'last_name', :class => 'form-control', placeholder: "Last name" %>
	</div>
	<div class="input-group">
		<span class="input-group-addon"><i class="icon-phone"></i></span>
		<%= f.text_field :phone, :class => 'form-control', placeholder: "Phone number" %>
	</div>
<br/>
	<%= f.submit "Update", :class => "btn btn-default" %>

	<% end %>
</div>