<%= form_for @user, :html => {:id =>'password_validate', :novalidate => 'novalidate', :class => 'user_fields_form_api_key' }, :remote => true, data: { spinlock: '#spin_user_api'}, :method => method do |f| %>

<input type="hidden" name="user_fields_form_type" value="<%= user_fields_form_type.to_s %>">
<div class="control-group">
	<div class="controls">
		<%= f.text_field :api_token, :id => 'api_key_field', :disabled => 'disabled', :class=> 'required' %>

		<%= text_field_tag 'created_at', "#{@user.updated_at}", :readonly => true %>
	</div>
</div>

<%= f.submit "Regenerate", :class => "btn" %>
<% end %>
