<% content_for :content_settings do %>
<% provide(:title, 'cloud_run') %>
<div id="content-header">
			<h1>Cloud Run</h1>
			<div class="btn-group">
				<a class="btn btn-large tip-bottom" title="Manage Files"><i class="icon-file"></i></a>
				<a class="btn btn-large tip-bottom" title="Manage Users"><i class="icon-user"></i></a>
				<a class="btn btn-large tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a>
				<a class="btn btn-large tip-bottom" title="Manage Orders"><i class="icon-shopping-cart"></i></a>
			</div>
</div>
	<%= render_breadcrumbs %>



<div class="container-fluid">

	<table class="table table-condensed">
        <thead>
		<tr class="alert">
			<th>Name</th>
			<th>Description</th>
			<th>Status</th>
			<th>Launched at</th>
			<th>Log</th>
		</tr>
	</thead>
	<br/>
	<tbody>
	<% @cloud_runs.each do |cloud_run| %>
	<tr class="success" >
		<td> <%= cloud_run.name %> </td>
		<td> <%= cloud_run.description.to_yaml %> </td>
		<td> <%= cloud_run.status %> </td>
		<td> <%= cloud_run.created_at %> </td>
		<td> 	<%= link_to "Log", "#", :class => "btn" %> </td>
	</tr>
	<% end %>
	</tbody>
	</table>

</div>

<% end %>
<%= render :template => users_show_path %>
