<!--
** Copyright [2013-2015] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->
<% content_for :content_settings do %>
<%= provide(:title, 'Edit user') %>

<div class="rt-box col-xs-12 col-sm-8 col-md-9 col-lg-9 col-xl-9">
	<div class="row c_pading-b15 settings_top">
		<div class="col-xs-12 col-sm-6">
			<h3> My profile</h3>
		</div>
		<%= render :partial => "users/topright_icons" %>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<div class="alert alert-info">
				<strong></strong> Tip  Change your Account settings, Organization, API key here
			</div>
		</div>
	</div>
	<div class="row">
		<div class="tabbable-custom nav-justified">
			<ul class="nav nav-tabs nav-justified">

				<li class="active">
					<a href="#profile_1" data-toggle="tab"> My Account </a>
				</li>
				<li>
					<a href="#profile_2" data-toggle="tab"> Organization </a>
				</li>
				<li >
					<a href="#profile_3" data-toggle="tab"> API key </a>
				</li>

			</ul>
			<div class="tab-content c_tab-content">
				<div class="tab-pane active" id="profile_1">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
							<h4 class="bottom_border_grey">Basic information <span class="pull-right" > <%= @account.email %></span></h4>
						</div>

						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 cloud_signup_save">
							<%= form_tag user_path, multipart: true, :id => "megamform", remote: true, method: 'put', data: { spinlock: "#saving_profilenam"}  do %>
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>">
							<input type="hidden" name="user_fields_form_type" value="profile">
							<div class="form-group">
								<label class="col-md-3 control-label label-profile">Profile name</label>
								<div class="col-md-6 input-group margin-top-10">
									<%= text_field_tag 'first_name', nil, :id => 'first_name', :class => 'form-control',:readonly => true, placeholder: "Enter text", :value => @account.first_name %>
									<span class="input-group-addon" ><a id="change_profilename">Change ?</a></span>
								</div>
								<div class="col-md-3 pull-right c_cog_icon">
									<span>View only</span>
									<i class="icon-cog"></i>
								</div>
							</div>
							<br/>
							<br/>
							<br/>
							<div class="form-group">
								<label class="col-md-3 control-label label-profile">Phone</label>
								<div class="col-md-6 input-group margin-top-10">
									<%= text_field_tag 'phone', nil, :class => 'form-control',:readonly => true, :id => 'phonenumber', placeholder: "Phone Number", :value => @account.phone %>
									<span class="input-group-addon" ><a id="change_phonenumber">Change ?</a></span>
								</div>
							</div>

							<div class="form-group">
								<div class="col-md-6 col-md-offset-3 input-group margin-top-10">
									<%= submit_tag "Update", :class => "btn btn-success col-md-5 col-xs-12" %>
								</div>
							</div>
							<% end %>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
							<h4 class="bottom_border_grey">Change password</h4>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 cloud_signup_save">
							<%= form_tag user_path, multipart: true, :id => "megamform", remote: true, method: 'put', data: { spinlock: "#saving profile_password"}  do %>
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>">
							<input type="hidden" name="user_fields_form_type" value="password">
							<div class="form-group">
								<label class="col-md-3 control-label label-profile">Current</label>
								<div class="col-md-6 input-group margin-top-10">
									<%= password_field_tag 'current_password', nil, :class=> 'form-control', placeholder: "Current password" %>
									<span class="input-group-addon" ><a id="change_password">Change ?</a></span>
								</div>
							</div>
							<br/>
							<br/>
							<br/>
							<div class="form-group">
								<label class="col-md-3 control-label label-profile">New</label>
								<div class="col-xs-12 col-md-6 input-group margin-top-10 pad_rt-9">
									<%= password_field_tag 'password', nil, :class=> 'form-control', :id => 'newpassword', :readonly => true, placeholder: "New password" %>
								</div>
							</div>
							<br/>
							<br/>
							<br/>
							<div class="form-group">
								<label class="col-md-3 control-label label-profile">Retype</label>
								<div class="col-xs-12 col-md-6 input-group margin-top-10 pad_rt-9">
									<%= password_field_tag 'password_confirmation', nil, :class=> 'form-control', :id => 'newpassword_confirmation', :readonly => true, placeholder: "Confirm new password" %>
								</div>
							</div>

							<div class="form-group">
								<div class="col-md-6 col-md-offset-3 input-group margin-top-10">
									<%= submit_tag "Update", :id => "save_password", :class => "btn btn-success col-md-5 col-xs-12" %>
								</div>
							</div>
							<% end %>

						</div>
					</div>

				</div>
				<!-- PROFILE-1 tab ENDS HERE -->
				<div class="tab-pane" id="profile_2">
					<div class="row">

						<div class="col-xs-12 bottom_border_grey">
							<div class="row">
								<div class="col-xs-7 col-sm-6">
									<h4 class="">Organisation Information</h4>
								</div>
								<% if @orgs.class != Megam::Error %>
								<% if @orgs.length > 0 %>
								<% @orgs.each do |one_org| %>
								<div class="dropdown">
									<button class="pull-right btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
										<%= one_org[:name] %>
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" name="orglist" role="menu" aria-labelledby="dropdownMenu1">
										<%= select_tag(:orglist, options_for_select(@orgs)) %>
									</ul>
								</div>
								<% end %>
								<% else %>
								<div class="dropdown">
									<button class="pull-right btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
										No Orgs Found
										<span class="caret"></span>
									</button>
								</div>
								<% end %>
								<% else %>
								<div class="dropdown">
									<button class="pull-right btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
										No Orgs Found
										<span class="caret"></span>
									</button>
								</div>
								<% end %>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"></div>
					</div>
					<div class="row">
						<div class="col-xs-12 margintb_15">

							<ul  class="nav nav-pills c_nav_pills">
								<li class="active">
									<a href="#tab_2_1" data-toggle="tab">Users <span style="margin-left:15px;">|</span></a>
								</li>
								<li class="">
									<a href="#tab_2_2" data-toggle="tab">Domains</a>
								</li>
							</ul>
							<div  class="tab-content">
								<div class="tab-pane fade active in" id="tab_2_1">
									<table class="table tb_action_list">
										<thead>
											<tr>
												<th>Users</th>

											</tr>
										</thead>

										<tbody>
											<tr>

												<td><%= @account.email %></td>
											</tr>

										</tbody>
									</table>
								</div>
								<div class="tab-pane fade" id="tab_2_2">
									<table class="table tb_action_list">
										<tbody>

											<tr>

												<td><a href="">mymegam.in</a></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="tab-pane" id="profile_3">

					<div class="row">
						<div class="col-xs-12 bottom_border_grey">
							<div class="row">
								<div class="col-xs-10 col-sm-9">
									<h4 class="">Your API Key</h4>
								</div>
								<%= form_tag(user_path, :method => "put", :remote => true) do %>
								<input type="hidden" name="user_fields_form_type" value="api_key">
								<%= submit_tag "Create", :class => "pull-right btn btn-success" %>
								<% end %>
							</div>
						</div>
					</div>
					<%= form_tag user_path, :remote => true  do %>
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<table class="table tb_action_list">
							<thead>
								<tr>
									<th>Name</th>
									<th>Created At</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="set_title" > <%= text_field_tag 'api_token', nil, :id => 'api_key_field', :disabled => 'disabled', :class=> 'form-control required', :value => @account.api_key %></td>
									<td > <%= text_field_tag 'created_at', "#{@account.created_at}", :readonly => true, :class=> 'form-control', :value => @account.created_at %></td>

								</tr>

							</tbody>
						</table>
						<% end %>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

</div>

</div>
</div>

<div id="profile_postfinish_popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h3 id="myModalLabel">Profile Update</h3>
			</div>
			<div class="modal-body">
				<div class="alert alert-success" style="display:none" id = "profileres">
					<div id="msg"></div>
				</div>
				<div class="alert alert-danger" style="display:none" id = "profileerr">
					<div id="err"></div>
				</div>
			</div>
			<div class="modal-footer">
				<%= link_to "Ok", edit_user_path(1), :class => "btn btn-primary", :target => "_self" %>
			</div>
		</div>
	</div>
</div>

<% end %>

<%= render :template => "users/show" %>
