<% content_for :content_settings do %>
<%= provide(:title, 'Edit user') %>
<%= render :partial => "users/header" , :locals => {:head => "My Profile"}%>

<div id="breadcrumb">
	<%= breadcrumbs.render(:format => :inline, :separator => '') %>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-5">
				<div class="alert_flash_email"></div>
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon"> <i class="icon-th-list"></i> </span>
						<h5>My Account</h5>
					</div>
					<div class="widget-content nopadding">
						<%= render :partial => "users/user_fields_form_email", :locals => {:user => @user, :user_fields_form_type => 'user', :method => 'patch'} %>
					</div>
				</div>
			</div>
			<div class="col-md-5">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon"> <i class="icon-th-list"></i> </span>
						<h5>Organization&nbsp;</h5>
						<span class="label label-info"> <% if current_user.admin %>
							administrator
							<% else %>
							user
							<% end %> </span>
					</div>
					<div class="widget-content nopadding">
						<%= render :partial => "users/organization_fields_form", :locals => {:user => @user, :user_fields_form_type => "organization"} %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-5">
				<div class="alert_flash_password"></div>
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon"> <i class="icon-th-list"></i> </span>
						<h5>Password</h5>
					</div>
					<div class="widget-content nopadding">
						<%= render :partial => "users/user_fields_form_password", :locals => {:user => @user, :user_fields_form_type => "password", :method => 'patch'} %>
					</div>
				</div>
			</div>
			<div class="col-md-5">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon"> <i class="icon-th-list"></i> </span>
						<h5>API Key </h5><span class="label label-info"><%= @user.user_type %>&nbsp; plan</span>
					</div>
					<div class="widget-content nopadding">
						<%= render :partial => "users/user_fields_form_api_key", :locals => {:user => @user, :user_fields_form_type => "api_key", :method => 'patch'} %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="profile_postfinish_popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
		<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			×
		</button>
		<h3 id="myModalLabel">Profile Update</h3>
	</div>
	<div class="modal-body">
		<div class="alert alert-success">
			<div id="msg"></div>
		</div>
	</div>
	<div class="modal-footer">
		<%= link_to "Ok", dashboards_path, :class => "btn btn-primary", :target => "_self" %>
	</div>
</div>
</div>
</div>

<% end %>
<%= render :template => users_show_path %>