<!--
** Copyright [2013-2015] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->
<% provide(:title, 'Sign up') %> <!-- BEGIN LOGO -->
<div class="login">
	<div class="container">
		<div class="row">
			<div class="logo">
				<%= image_tag "logo.png" %>
			</div>
		</div>
		<!-- END LOGO -->
		<!-- BEGIN SIGNUP -->
		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 col-xl-6 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xl-offset-3 outer bg_white border_grey">
			<div class="container">
				<div class="row bottom-divider">
					<div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10">
						<h2>Sign up<span class="sign_up_small"><i>Just a minute to step into  Megam CMP</span></i></h2>
					</div>
				</div>
			</div>

			<div class="cover col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10">
				<!-- BEGIN LOGIN FORM -->
				<%= form_tag users_path, multipart: true, :id => "megamform", :novalidate => "novalidate", :method => "post", data: { spinlock: "#spin_cross_cloud"}  do %>
				<div class="c_inline">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
							<i class="c_ico-excla"></i>
							<% if session[:auth] %>
							<%= text_field_tag 'first_name', nil, :required => true, :id => 'first_name', :class => 'form-control', placeholder: "First Name", :value => @firstname , :data => {:placement=>"right"} %>
							<% else %>
							<%= text_field_tag 'first_name', nil, :required => true, :id => 'first_name', :class => 'form-control', placeholder: "First Name", :data => {:placement=>"right"} %>
							<% end %>

						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 input-icon right">
							<i class="c_ico-tick"></i>
							<% if session[:auth] %>
							<%= text_field_tag 'last_name', nil, :id => 'last_name', :class => 'form-control', placeholder: "Last Name", :value => @lastname %>
							<% else %>
							<%= text_field_tag 'last_name', nil, :id => 'last_name', :class => 'form-control', placeholder: "Last Name" %>
							<% end %>

						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-112">
							<i class="c_ico-excla"></i>
							<% if session[:auth] %>
							<%= text_field_tag 'phone', nil, :class => 'form-control', placeholder: "Phone Number", :value => @phone %>
							<% else %>
							<%= text_field_tag 'phone', nil, :class => 'form-control', placeholder: "Phone Number" %>
							<% end %>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
							<i class="c_ico-excla"></i>

							<% if session[:auth] %>
							<%= text_field_tag 'email', nil, placeholder: "Email", :readonly => true, :class => 'form-control', :value => @email %>
							<input type="hidden" name="social_uid" value="<%= @social_uid %>">
							<% else %>
							<%= text_field_tag 'email', nil, placeholder: "Email", :required => true, :class => 'form-control' %>
							<% end %>

						</div>
					</div>
				</div>

				<% random_hash = api_keygen %>
				<input type="hidden" name="verification_hash" value="<%= random_hash %>">
				<input type="hidden" name="user_type" value="normal">

				<div class="form-group">
					<div class="c_inline">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
								<%= password_field_tag 'password', nil, :required => true, :class=> 'form-control', placeholder: "Your Password" %>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
								<%= password_field_tag 'password_confirmation', nil, :required => true, :class=> 'form-control', placeholder: "Confirm Password" %>
							</div>
						</div>
					</div>
				</div>

					<% if flash[:error] %>
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer">
							<div class="alert alert-danger alert-dismissable">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
								<strong>Warning!</strong> <%= flash[:error] %>
							</div>
						</div>
					</div>
					<% end %>

				<div class="text-center">
					<!-- <%= submit_tag "Create Account", :class => "btn btn-success" %> -->
					<button type="submit" class="btn btn-success">Create Account</button>
				</div>
				<% end %>
				<!-- END REGISTRATION FORM -->
			</div>

			<div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10 footer">
				<p class="text-center">
					<u class="colr-bluegrey">Already have an account ? </u>&nbsp;&nbsp; <a href="signin" id="la-button" data-anim="la-anim-1"><u class="colr-denimblue">Login here</u></a>
				</p>
			</div>
		</div>
		<div  class="col-xs-12 col-sm-8 col-md-8 col-lg-7 col-xl-6 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xl-offset-3 outer footer-bottom">
			<div class="row">
				<p>
					<a href="http://enixel.com/" target="_blank">Designed by Enixel</a>
				</p>
			</div>
		</div>
		<!-- END SIGNUP -->
	</div>
</div>
