<!--
** Copyright [2013-2015] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->

<% provide(:title, t('titles.signup_title')) %>
<body style="background-color: #edeef5" class="signin-bg">
	 <!-- BEGIN LOGO -->
	<div class="container-fluid">
	<div class="header-inner">
		<div class="row">
			<div class="col-md-2 col-sm-3 col-xs-5">
			<div class="megam_logo img-responsive" alt="logo" style="padding-top: 15px">
				<%= image_tag "#{Ind.logo_white}" %>
		 </div>
		</div>
	 </div>
	</div>
	</div>
	<!-- END LOGO -->
	<div class="container">
		<div class="row">
		<!-- BEGIN LOGIN -->
			<div class="col-md-5 col-sm-5 signUp">
				<div class="top"><h3><%= t('titles.signup_title') %><span class="sign_up_small pull-right"><%= t('signup.megam_disc') %></span></h3></div>
				<%= form_tag users_path, multipart: true, :id => "megamform", :class => "signup-form", role: "form", :novalidate => "novalidate", :method => "post", data: { spinlock: "#spin_cross_cloud"}  do %>
				<div class="middle">
				<div class="form-group">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
							<% if session[:auth] || @email.to_s.empty? %>
                <%= text_field_tag 'email', nil, placeholder: t('signup.email_tag'), :class => 'form-control', :value => @email %>
                <% else %>
                <%= text_field_tag 'email', nil, placeholder: t('signup.email_tag'), :required => true, :class => 'form-control' %>
                <% end %>
						</div>
					</div>
				</div>
				<div class="form-group">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
								<% if session[:auth] %>
								<%= password_field_tag 'password', nil, :required => true, :class=> 'form-control', placeholder: t('signup.password_tag'), :value => @password %>

								<% else %>
								<%= password_field_tag 'password', nil, :required => true, :class=> 'form-control', placeholder: t('signup.password_tag') %>
								<% end %>
							</div>
						</div>
				</div>
<% if Ind.notification.has_key?("infobip") %>
				<div class="form-group">
						<div class="row">
							<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
								<%= text_field_tag 'phone', nil, :required => true,  :class=> 'form-control phone_popover', placeholder: "mobile number with country code", rel: "popover", :"data-content"=>"Please verify your mobile number (Eg: +919876543210)" %>

							</div>
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
								<%= link_to "Verify", { :controller => :phones, :action => :new}, { class: "btn btn-success col-md-12 col-xs-12",  :id=>'phone_verify_link', data: { disable_with: 'sending...' }} %>
							</div>
						</div>
				</div>
<% end %>
			</div>

				<% if flash[:error] %>
	<div id="toast_js" style="display: none;"><%= flash[:error] %> </div>

  <script type="text/javascript">
	toastr.error($('#toast_js').text(), { "timeOut": "0"});
  </script>
				<% end %>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
<% if Ind.notification.has_key?("infobip") %>
						<button type="submit" class="btn btn-success col-lg-12" data-remote="true" data-disable-with="Creating new account..." disabled="disabled" id="create_user" >
								Create User
						</button>
<% else %>
						<button type="submit" class="btn btn-success col-lg-12" data-remote="true" data-disable-with="Creating new account..." >
								Create User
						</button>
<% end %>
					</div>
				</div>
				<div class="bottom">
							<p class="colr-bluegrey"><%= t('signup.existing_user') %> &nbsp;&nbsp; <a href="signin"><span class="colr-denimblue"><%= t('signup.login_here') %></span></a></p>
				</div>
			<% end %>
		</div>

		<div class="col-lg-7 col-md-8">
			 <h1 class="text-banner">
					<span>Simple Cloud.</span></br>
					<span>Deploy a cloud server.</span>
			 </h1>
		</div>
	</div>
</div>
<%= render :partial => "phones/pin_verify_modal" %>
</body>

<script>
//On each time signup page load, trigger popover to verify phone number
$(window).load(function(){
  $(".phone_popover").popover({'placement':'top'}).popover('show');
});

//Disable verify button, when phone number is empty
if($("#phone").val() ==  "") 
   $('#phone_verify_link').attr('disabled', true);

//Disable verify button, when phone number is not in +919876543210 format
//Phone number should 
	// start with '+91' or '0'
	// 10 digit number can start with 9 or 8 or 7 
$('#phone').keyup(function(){
var number_format = /^(((\+?\(91\))|0|((00|\+)?91))-?)?[7-9]\d{9}$/;
//var number_format = /^\d{10}$/;
  if(number_format.test($("#phone").val())) 
           $('#phone_verify_link').attr('disabled', false);    
  else
     $('#phone_verify_link').attr('disabled', true);   
});

// Pass mobile number to controller on clicking verify button
    $("#phone_verify_link").on("click", function(event) {
        // get the value inside the text field
        var phone = $("#phone").val();
       $.get('/phones/new', { mobile_number: phone, format: 'js' }, function(data) {
            // log the result from the server, or whatever...
            console.log(data);
        });
	event.preventDefault(); // don't trigger default
    });

</script>
