<!--
** Copyright [2013-2016] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->
<% provide(:title, "Password reset") %>

<div class="signin login" style="height: 100vh;" >
	<!-- BEGIN LOGO -->
	<div class="container">
		<div class="row">
			<div class="logo">
				<%= image_tag "#{SiteSetting.logo_reverse_url}" %>
			</div>
		</div>
		<!-- END LOGO -->
		<!-- BEGIN LOGIN -->
		        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 col-xl-6 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xl-offset-3 outer bg_white border_grey">
			<div class="container">
				<div class="row bottom-divider">
					<div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10">
						<h2><%= t('login.reset_password') %></h2>
					</div>
				</div>
			</div>
			<% if flash[:error] %>
			<div class="alert alert-error">
				<h4> <%= flash[:error] %></h4>
			</div>
			<% end %>
			<div class="cover col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10">
				<!-- BEGIN LOGIN FORM -->
				<%= form_tag password_reset_path(:email => params[:email]), :id => "megamform", :class => "sign-form", :method => "put"  do %>
                            <input type="hidden" name="myprofile_type" value="<%= Api::Accounts::UPD_PASSWORD %>"> </input>
				<div class="c_inline">
					<div class="form-group">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-112">
								<%= password_field_tag t('signup.password'), nil, :required => true, :class=> 'form-control', placeholder: t('signup.password_placeholder') %>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-112">
								<%= password_field_tag t('signup.password_confirmation'), nil, :required => true, :class=> 'form-control', placeholder: t('signup.confirm_password_placeholder') %>
							</div>
						</div>
					</div>
					<div class="row">
						<div  class="col-lg-6 col-md-4 col-md-offset-3 col-sm-4 col-xs-12 tour-btn">
 						<%= submit_tag t('signup.update_password'), :class => "btn btn-success btn-plain-green" %>
						</div>
					</div>
				</div>
				<% end %>
				<!-- END REGISTRATION FORM -->
			</div>
		</div>
		<div  class="col-xs-12 col-sm-8 col-md-8 col-lg-7 col-xl-6 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xl-offset-3 outer footer-bottom">
			<div class="row">
				<p>
					<a href="http://enixel.com/" target="_blank"><%= t('login_ui_desgin_credits') %></a>
					<span class="pull-right">
						<a href="#{UrlHelper.public_suffix(SiteSetting.contact_url)}" target="_blank"><%= UrlHelper.public_suffix(SiteSetting.contact_url) %></a>
					</span>
				</p>
			</div>
		</div>
	</div>
</div>
