<div class="signin login" style="height: 100vh;" >
	<!-- BEGIN LOGO -->
	<div class="container">
		<div class="row">
			<div class="logo">
				<%= image_tag "#{SiteSetting.logo_url}" %>
			</div>
		</div>
		<!-- END LOGO -->
		<!-- BEGIN LOGIN -->
		   <div class="col-xs-12 col-sm-8 col-md-8 col-lg-7 col-xl-6 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xl-offset-3 outer bg_white border_grey">
			<div class="container">
				<div class="row bottom-divider">
					<div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10">
						<h2><%= t('login.reset_password') %></h2>
					</div>
				</div>
			</div>
			<% if flash[:error] %>
			<div class="alert alert-error">
				<h4> <%= flash[:error] %></h4>
			</div>
			<% end %>
			<% if flash[:success] %>
			<div class="alert alert-success">
				<h4> <%= flash[:success] %></h4>
			</div>
			<% else %>
			<div class="cover col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10">
				 <%=form_tag({}, method: :put) do %>
                  <input type="hidden" name="email" value="<%= params[:email] %>"> </input>
                  <input type="hidden" name="token" value="<%= params[:token] %>"> </input>
				<div class="c_inline">
					<div class="form-group">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-112">
				    	      <input id="user_password" name="password" size="30" type="password" class='form-control' maxlength="<%= User.max_password_length %>" onkeypress="capsLock(event)">
			            	  <label><%= t('js.user.password.instructions', count: SiteSetting.min_password_length) %></label>
				   			</div>
		   			        <div id="capsLockWarning" class="caps-lock-warning" style="visibility:hidden"><i class="fa fa-exclamation-triangle"></i> <%= t 'js.login.caps_lock_warning' %></div>
						</div>
					<div class="row">
						<div  class="col-lg-6 col-md-4 col-md-offset-3 col-sm-4 col-xs-12 tour-btn">
 						<%= submit_tag t('password_reset.update'), :class => "btn btn-success btn-plain-green" %>
						</div>
					</div>
				</div>
			</div>
				<% end %>
				<!-- END REGISTRATION FORM -->
			</div>
		<% end %>
		</div>
	</div>
</div>

<%- content_for(:no_ember_head) do %>
  <%= script "ember_jquery" %>
<%- end %>

<script type="text/javascript">
  document.getElementById('user_password').focus();

  function capsLock(e) {
    kc = e.keyCode?e.keyCode:e.which;
    sk = e.shiftKey?e.shiftKey:((kc == 16)?true:false);
    (((kc >= 65 && kc <= 90) && !sk)||((kc >= 97 && kc <= 122) && sk)) ? document.getElementById('capsLockWarning').style.visibility = 'visible' : document.getElementById('capsLockWarning').style.visibility = 'hidden';
  }
</script>
