<%= render 'layouts/header' %>
<div id="sidebar">
	<ul ng-controller="MainCtrl">
		<!--<div class="you">
		<li >
		<%= link_to edit_user_path(current_user), :target => "_self" do %>
		<%= image_tag avatar_url(current_user), :size => "220x220"%>
		<%end%>
		</li>
		</div>-->
		<li class=<%= "active" if controller_name== "dashboards"%>>
			<%= link_to dashboards_path, :target => "_self" do %>
			<i class="icon-dashboard"></i><span> Dashboard</span>
			<% end %>
		</li>
		<li class=<%= "active" if controller_name== "cloud_settings"%> >
			<a target="_self" href="/cloud_settings" > <i class="icon-random" ></i>Settings</a>
		</li>

        <li class=<%= "active" if controller_name== "market_place"%>>
					<%= link_to new_market_place_path, :target => "_self" do %>
					<i class="icon-shopping-cart"></i>Market Place
					<% end %>
				</li>

		<!--<li class="submenu <%= "active" if controller_name== "market_place"%> ">
			<a href="#"><i class="icon-shopping-cart"></i> <span>Market Place</span> <i class="arrow icon-chevron-right"></i></a>
			<ul>
				<li class=<%= "active" if controller_name== "market_place"%>>
					<%= link_to new_market_place_path, :target => "_self" do %>
					<i class="icon-shopping-cart"></i>All
					<% end %>
				</li>
				<li class=<%= "active" if controller_name== "market_place"%>>
					<%= link_to "#" do %>
					<i class="icon-money"></i>CMS
					<% end %>
				</li>

				<li class=<%= "active" if controller_name== "market_place"%>>
					<%= link_to "#" do %>
					<i class="icon-money"></i>CRM
					<% end %>
				</li>

				<li class=<%= "active" if controller_name== "market_place"%>>
					<%= link_to "#" do %>
					<i class="icon-money"></i>Collaboration
					<% end %>
				</li>
				<li class=<%= "active" if controller_name== "market_place"%>>
					<%= link_to "#" do %>
					<i class="icon-money"></i>Continious Integration
					<% end %>
				</li>
				<li class=<%= "active" if controller_name== "market_place"%>>
					<%= link_to "#" do %>
					<i class="icon-money"></i>Business Intelligence
					<% end %>
				</li>
				<li class=<%= "active" if controller_name== "market_place"%>>
					<%= link_to "#" do %>
					<i class="icon-money"></i>Development Platform
					<% end %>
				</li>
				<li class=<%= "active" if controller_name== "connector_projects"%>>
					<%= link_to new_connector_project_path, :target => "_self" do %>
					<i class="icon-cloud"></i>Cloud Sync
					<% end %>
				</li>

			</ul>
		</li>-->

		<li class=<%= "active" if controller_name== "cloud_books"%> >
			<a target="_self" href="/cloud_books" > <i class="icon-th"></i>Custom Apps</a>
		</li>

		</li>
		<li class=<%= "active" if controller_name== "cloud_stores"%> >
			<a target="_self" href="/cloud_stores" > <i class="icon-list-alt"></i>Store</a>
		</li>

		<li class=<%= "active" if controller_name== "cloud_books_histories"%> >
			<a target="_self" href="/cloud_books_histories" > <i class="icon-facetime-video"></i>Logs</a>
		</li>

		<!--
		<li class=<%= "active" if controller_name== "apps_items"%>>
		<%= link_to new_apps_item_path, :target => "_self" do %>
		<i class="icon-briefcase"></i>Cloud Applications
		<% end %>
		</li>

		<li class=<%= "active" if controller_name== "cloud_identities"%>>
		<%= link_to cloud_identity_path(current_user.id),  :target => "_self" do %>
		<i class="icon-unlock"></i>Cloud Identity
		<% end %>
		</li>
		-->
	</ul>

</div>

<div id="content">
	<%= content_for?(:content_settings) ? yield(:content_settings) : yield %>

</div>
<%= render 'layouts/footer' %>

