<div id="dash">
	<div id="sidebar">
		<a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
		<ul>
			<% if current_user.organization %>
			<li>
				<%= image_tag current_user.organization.logo, :alt => "Logo" %>
			</li>
			<% end %>

			<li class="active">
				<%= link_to dashboard_path do %>
				<i class="icon-home"></i> Dashboard
				<% end %>
			</li>

			<li>
				<%= link_to cloud_identity_path(current_user.id) do %>
				<i class="icon-ok"></i>Cloud Identity
				<% end %>
			</li>

			<li>
				<%= link_to new_apps_item_path do %>
				<i class="icon-globe"></i>Cloud Applications
				<% end %>
			</li>
			<li>
				<%= link_to connector_projects_path do %>
				<i class="icon-cloud"></i>Live Cloud
				<% end %>
			</li>

			<li class="submenu">
				<a href="#"><i class="icon icon-file"></i> <span>Sample pages</span> <span class="label">4</span></a>
				<ul>
					<li>
						<a href="invoice.html">Invoice</a>
					</li>
					<li>
						<a href="chat.html">Support chat</a>
					</li>
					<li>

						<%= link_to "Calendar", calendar_path %>
					</li>
					<li>
						<a href="gallery.html">Gallery</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="charts.html"><i class="icon icon-signal"></i> <span>Charts &amp; graphs</span></a>
			</li>

			<li>
				<%= link_to cloud_run_path do %>
				<i class="icon-ok"></i>Cloud Run
				<% end %>
			</li>
		</ul>

	</div>

	<div id="content">

		<%= content_for?(:content_settings) ? yield(:content_settings) : yield %>

	</div>

</div>
