<div class="container-fluid main-cover">
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-md-2 col-xl-1 c_bg_white">
      <div class="row">
        <div class="page-sidebar navbar-collapse collapse">
          <!-- BEGIN SIDEBAR MENU -->
          <ul class="page-sidebar-menu">
            <li></li>
            <%= render :partial => "layouts/toponeclick" %>
            <li class='start active'>
              <%= link_to cockpits_path, id: 'side-dash-link', :data => { :remote => true}, :target => '_self' do %>
                <i class='leftnav_dashboard pull-left'></i>
                <span class='title pull-left'><%= t('cockpits.title') %></span>
              <% end %>
            </li>
            <%= render :partial => "layouts/category" %>
            <%= render :partial => "layouts/settings" %>
          </ul>
          <!-- END SIDEBAR MENU -->
        </div>
      </div>
    </div>
    <div id="content">
      <%= content_for?(:content_settings) ? yield(:content_settings) : yield %>
    </div>
  </div>
</div>
<%= render_customized_footer_or_not %>
<%= render 'common/toponeclick' %>
