<% content_for :content_settings do %>
<% provide(:title, @user.first_name) %>
<div class="row">
	<div class="span9">
		<ul class="thumbnails">
			<li class="span9">
				<img src="http://placehold.it/260x180" alt="">
				<!-- <%= image_tag @organization.logo.url(:small) %> -->
				<h5><%= @user.first_name %></h5>
			</li>
			<hr>
			</hr>
	</div>
	<div class="span8">
		<% if @user.organization.any? %>
		<ol class="organization">
			<%= render @organization %>
		</ol>
		<%= will_paginate @organization %>
		<% end %>
	</div>
	<div class="span9">
		Cloud Applications
	</div>
</div>
<% end %>
<%= render :template => customizations_show_path %>

