<%= render 'layouts/header' %>
<div id="sidebar">
	<ul ng-controller="MainCtrl">
		<li class=<%= "active" if controller_name== "dashboards"%>>
			<%= link_to cloud_dashboards_path, :target => "_self" do %>
			<i class="fa fa-dashboard"></i><span> Dashboard</span>
			<% end %>
		</li>
		<li class=<%= "active" if controller_name== "cloud_settings"%> >
			<a target="_self" href="/cloud_settings" > <i class="fa fa-random" ></i>Settings</a>
		</li> 	

		<li class=<%= "active" if controller_name== "apps"%> >
			<a target="_self" href="/apps" > <i class="fa fa-th"></i>My Apps</a>
		</li>		

		<li class=<%= "active" if controller_name== "cloud_books_histories"%> >
			<a target="_self" href="/apps_histories" > <i class="fa fa-video-camera"></i>Logs</a>
		</li>

        <!-- <li class=<%= "active" if controller_name== "cloud_stores"%> >
			<a target="_self" href="/cloud_stores/new" > <i class="fa fa-th"></i>cloud_stores</a>
		</li> --> 

		<!--
		<li class=<%= "active" if controller_name== "apps_items"%>>
		<%= link_to new_apps_item_path, :target => "_self" do %>
		<i class="fa-briefcase"></i>Cloud Applications
		<% end %>
		</li>

		<li class=<%= "active" if controller_name== "cloud_identities"%>>
		<%= link_to cloud_identity_path(current_user.id),  :target => "_self" do %>
		<i class="fa-unlock"></i>Cloud Identity
		<% end %>
		</li>
		-->
	</ul>

</div>

<div id="content">
	<%= content_for?(:content_settings) ? yield(:content_settings) : yield %>

</div>
<%= render 'layouts/footer' %>

