<div id="dash">


	<div id="sidebar">
		<a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
		<ul>
			
			<li class="active">
				<%= link_to unicorn_index_path do %>
						<i class="icon-home"></i> Dashboard
						<% end %>
			</li>

			<li class="submenu">
				<a href="#"><i class="icon icon-th-list"></i> <span>Cloud identity</span> <span class="label">3</span></a>
				<ul>
					<li>
						<%= link_to cloud_identity_path(current_user.id) do %>
						 <i class="icon-ok"></i>Launch
							<% end %>
					</li>
					<li>
						<%= link_to cloud_identity_path(current_user.id) do %>
						 <i class="icon-ok"></i>Customize
							<% end %>
					</li>
					<li>
						<%= link_to cloud_identity_path(current_user.id) do %>
						 <i class="icon-ok"></i>Federation
							<% end %>
					</li>
				</ul>
			</li>

			<li>

				
			</li>
			<li>
				<%= link_to cloud_app_path(current_user.id) do %>
							<i class="icon-globe"></i>Cloud Applications
							<% end %>
			</li>
			<li>
					<%= link_to connector_projects_path do %>
					<i class="icon-cloud"></i>Live Cloud
					<% end %>
			</li>
			
			
			<li class="submenu">
				<a href="#"><i class="icon icon-file"></i> <span>Sample pages</span> <span class="label">4</span></a>
				<ul>
					<li>
						<a href="invoice.html">Invoice</a>
					</li>
					<li>
						<a href="chat.html">Support chat</a>
					</li>
					<li>

						<%= link_to "Calendar", calendar_path %>
					</li>
					<li>
						<a href="gallery.html">Gallery</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="charts.html"><i class="icon icon-signal"></i> <span>Charts &amp; graphs</span></a>
			</li>
		</ul>

	</div>

	<div id="content">
		<div id="content-header">
			<h1>Dashboard</h1>
			<div class="btn-group">
				<a class="btn btn-large tip-bottom" title="Manage Files"><i class="icon-file"></i></a>
				<a class="btn btn-large tip-bottom" title="Manage Users"><i class="icon-user"></i></a>
				<a class="btn btn-large tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a>
				<a class="btn btn-large tip-bottom" title="Manage Orders"><i class="icon-shopping-cart"></i></a>
			</div>
		</div>
		<div id="breadcrumb">
			<a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
			<a href="#" class="current">Dashboard</a>
		</div>
		<div class="container-fluid">
			<%= content_for?(:content_settings) ? yield(:content_settings) : yield %>
		</div>

	</div>

</div>
