<!--
** Copyright [2013-2015] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.

-->
<%= render 'layouts/header' %>
<div class="container-fluid main-cover">
  <div class="row">
   <div class="col-xs-12 col-sm-3 col-md-2 c_bg_white cover">
      <div class="row">
        <div class="page-sidebar navbar-collapse collapse">
          <!-- BEGIN SIDEBAR MENU -->
          <ul class="page-sidebar-menu">
            <li></li>


	<!-- BEGIN NOTIFICATION DROPDOWN -->
    <li class="dropdown" id="header_notification_bar">
       <a href="#" class="dropdown-toggle btn btn-success btn-menu-top" data-toggle="dropdown" data-hover="dropdown"
          data-close-others="true"><span class="caret"></span>new
       
       </a>
       <ul class="dropdown-menu extended notification left-dd-top" id="new-drop-down">
          <li>
             <ul class="dropdown-menu-list scroller">
                <li>  
              <%= link_to catalogs_path(:cattype => Assemblies::TORPEDO), :data => { :remote => true} do %>
                <span class="label label-sm label-icon label-success"><i class="glyphicon glyphicon-user"></i></span>
                Torpedo
              <% end %>
                </li>
                <li>  
              <%= link_to catalogs_path(:cattype => Assemblies::APP), :data => { :remote => true} do %>
                <span class="label label-sm label-icon label-success"><i class="glyphicon glyphicon-cog"></i></span>
                Apps
              <% end %>
                </li>
                <li>  
               <%= link_to catalogs_path(:cattype => Assemblies::SERVICE), :data => { :remote => true} do %>
                <span class="label label-sm label-icon label-danger"><i class="glyphicon glyphicon-off"></i></span>
                Services
              <% end %>
               </li>
                <li>  
               <%= link_to marketplaces_path, :data => { :remote => true} do %>
                <span class="label label-sm label-icon label-danger"><i class="glyphicon glyphicon-off"></i></span>
                 Go to marketplace
              <% end %>
                </li>
             </ul>
          </li>
       </ul>
    </li>


            <li class= "start active">
              <%= link_to cockpits_path, :data => { :remote => true}, :target => "_self" do %>
                <i class="c_icon-db pull-left"></i>
                <span class="title pull-left"><%= t('titles.dashboard_title') %></span>
              <% end %>
            </li>
            <li class= "start active">
              <%= link_to catalogs_path(:cattype => Assemblies::TORPEDO ), :data => { :remote => true}, :onclick => "$('#step-0').fadeOut(); $('#step-1').fadeOut();" do %>
                <i class="c_icon c-iocn-window-lg pull-left"></i>
                <span class="title pull-left"><%= t('cockpits.torpedo_tab') %></span>
              <% end %>
            </li>
            <li class= "start active">
              <%= link_to catalogs_path(:cattype => Assemblies::APP), :data => { :remote => true},  :onclick => "$('#step-0').fadeOut(); $('#step-1').fadeOut();" do %>
                <i class="c_icon-apps pull-left"></i>
                <span class="title pull-left"><%= t('cockpits.apps_tab') %></span>
              <% end %>
            </li>
            <li class= "start active">
              <%= link_to catalogs_path(:cattype => Assemblies::SERVICE),:data => { :remote => true},   :onclick => "$('#step-0').fadeOut(); $('#step-1').fadeOut();" do %>
                <i class="c_icon-service pull-left"></i>
                <span class="title pull-left"><%= t('cockpits.services_tab') %></span>
              <% end %>
            </li>
            <li class= "start active">
              <%= link_to catalogs_path(:cattype =>Assemblies::MICROSERVICES), :data => { :remote => true},  :onclick => "$('#step-0').fadeOut(); $('#step-1').fadeOut();" do %>
                <i class="c_icon-addon pull-left"></i>
                <span class="title pull-left"><%= t('cockpits.micro_services_tab') %></span>
              <% end %>
            </li>
            <li class= "start active">
              <%= link_to ssh_keys_path, :data => { :remote => true},  :onclick => "$('#step-0').fadeOut(); $('#step-1').fadeOut();" do %>
                <i class="c_icon-set pull-left"></i>
                <span class="title pull-left"><%= t('titles.ssh_title') %></span>
              <% end %>
            </li>
            <li class= "start active">
            <%  if Ind.billings %>
              <%= link_to billings_path, :data => { :remote => true},  :onclick => "$('#step-0').fadeOut(); $('#step-1').fadeOut();" do %>
                <i class="c_icon c-iocn-window-lg pull-left"></i>
                <span class="title pull-left"><%= t('titles.billing_title') %></span>
                <% end %>
                <% end %>
            </li>
          </ul>
          <!-- END SIDEBAR MENU -->
        </div>
      </div>
    </div>
    <div id="content">
      <%= content_for?(:content_settings) ? yield(:content_settings) : yield %>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>
