<%= render 'layouts/header' %>
<div class="container main-cover">
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 col-xl-3 c_bg_white cover">
			<div class="row">
				<div class="page-sidebar navbar-collapse collapse">
					<!-- BEGIN SIDEBAR MENU -->
					<ul class="page-sidebar-menu"ul ng-controller="MainCtrl">

						<li></li>
						<li class=<%= "start active" if controller_name== "dashboards"%>>
							<%= link_to cloud_dashboards_path, :target => "_self" do %>
							<i class="c_icon c_icon-dash pull-left"></i>
							<span class="title pull-left">Dashboard</span>
							<span class="selected hidden-xs"></span>
							<% end %>
						</li>

						<li class=<%= "start active" if controller_name== "apps"%>>
							<%= link_to apps_path, :target => "_self" do %>
							<i class="c_icon c_icon-browser pull-left"></i>
							<span class="title pull-left">Apps</span>
							<span class="selected hidden-xs"></span>
							<% end %>
						</li>

						<li class=<%= "start active" if controller_name== "dashboards"%>>
							<%= link_to cloud_dashboards_path, :target => "_self" do %>
							<i class="c_icon c_icon-layer pull-left"></i>
							<span class="title pull-left">Services</span>
							<span class="selected hidden-xs"></span>
							<% end %>
						</li>

						<li class=<%= "start active" if controller_name== "dashboards"%>>
							<%= link_to cloud_dashboards_path, :target => "_self" do %>
							<i class="c_icon c_icon-stack pull-left"></i>
							<span class="title pull-left">Add ons</span>
							<% end %>
						</li>

						<li class=<%= "start active" if controller_name== "cloud_settings"%>>
							<%= link_to cloud_settings_path, :target => "_self" do %>
							<i class="c_icon c_icon-settings pull-left"></i>
							<span class="title pull-left">Settings</span>
							<% end %>
						</li>

					</ul>
					<!-- END SIDEBAR MENU -->
				</div>
			</div>
		</div>
	</div>

	<div id="content">
		<%= content_for?(:content_settings) ? yield(:content_settings) : yield %>

	</div>
</div>	
	<%= render 'layouts/footer' %>
