<% content_for :content_settings do %>
<% provide(:title, @user.first_name) %>

<% if @user.organization %>
<%= render @user.organization %>
<hr></hr>
<h2> My Cloud Applications </h2>
<% if @user.organization.cloud_app %>
<%= render @user.organization.cloud_app.apps_items %>
<% end %>

<% else %>
<div class="alert alert-warning">
	<span class="label label-important">!</span>
	<strong>Warning!</strong> Your account isn't complete. Kindly complete your profile before we could proceed further.
</div>
<%= image_tag "blue.png", :alt => "Megam" %>
<h6> Click the following link to enter your organization's details</h6>

<%= link_to "Organization Details", edit_user_path(current_user) %>
<% end %>


<% end %>
<%= render :template => customizations_show_path %>

