<div id="dash">
	<div id="sidebar">
		<ul ng-controller="MainCtrl">
			<div class="you">
				<li>
					<%= image_tag avatar_url(current_user) %>
					<%= link_to edit_user_path(current_user) do %>
					<% current_user.first_name.capitalize %>
					<%end%>
				</li>
			</div>
			<li class=<%= "active" if controller_name== "dashboards"%>>
				<%= link_to dashboards_path do %>
				<i class="icon-dashboard"></i><span> Dashboard</span>
				<% end %>
			</li>

			<!--<li class=<%= "active" if controller_name== "cloud_books"%> >
			<%= link_to cloud_books_path  do %>
			<i class="icon-book"></i>Cloud Books
			<% end %>
			</li>-->

			<li class=<%= "active" if controller_name== "cloud_books"%> >
				<a target="_self" href="/cloud_books" > <i class="icon-book"></i>Cloud Book </a>
			</li>

			<!--<li class=<%= "active" if controller_name== "cloud_books_history"%> >
				<a target="_self" href="/cloud_books_histories" > <i class="icon-book"></i>Run History</a>
			</li>-->

			<li class=<%= "active" if controller_name== "cloud_books_history"%>>
				<%= link_to cloud_books_histories_path do %>
				<i class="icon-spinner"></i>Run History
				<% end %>
			</li>

			<li class=<%= "active" if controller_name== "apps_items"%>>
				<%= link_to new_apps_item_path, :target => "_self" do %>
				<i class="icon-briefcase"></i>Cloud Applications
				<% end %>
			</li>

			<li class=<%= "active" if controller_name== "cloud_identities"%>>
				<%= link_to cloud_identity_path(current_user.id),  :target => "_self" do %>
				<i class="icon-unlock"></i>Cloud Identity
				<% end %>
			</li>

			<li class=<%= "active" if controller_name== "connector_projects"%>>
				<%= link_to new_connector_project_path, :target => "_self" do %>
				<i class="icon-cloud"></i>Live Cloud
				<% end %>
			</li>

			<li class="submenu <%= "active" if controller_name== "billing"%> ">
				<a href="#"><i class="icon icon-file"></i> <span>Billing</span> <span class="label">3</span></a>
				<ul>
					<li class=<%= "active" if controller_name== "billing"%>>
						<%= link_to pricing_path, :target => "_self" do %>
						<i class="icon-money"></i>Pricing
						<% end %>
					</li>

					<li class=<%= "active" if controller_name== "billing"%>>
						<%= link_to account_path, :target => "_self"  do %>
						<i class="icon-credit-card"></i>Account
						<% end %>
					</li>

					<li class=<%= "active" if controller_name== "billing"%>>
						<%= link_to history_path, :target => "_self"  do %>
						<i class="icon-book"></i>History
						<% end %>
					</li>

					<li>

						<%= link_to "Worker", worker_path, :remote => true, :method => "post", data: { spinner: '#fed'}  %>
						<%= spinner_tag 'fed' %>
						<!--<%= link_to "Worker", worker_path, :method => "post", :remote => true %>  -->
					</li>

				</ul>
			</li>
		</ul>

	</div>
	<div id="content">
		<%= render :partial => "customizations/flash_messages" %>

		<%= content_for?(:content_settings) ? yield(:content_settings) : yield %>
	</div>

</div>

