<% content_for :content_settings do %>
<% provide(:title, @user.first_name) %>

<% if @user.organization %>
<%= render @user.organization %>
<hr/>
<h3>Email Verification Status</h3>
<% if !current_user.verified_email %>
Hi <%= current_user.first_name %>, Your  email <%= current_user.email %> has not been verified yet.
<%= link_to "Email Verification", email_verify_path(current_user.verification_hash), class: "btn btn-large btn-primary" %>
<% else %>
Hi <%= current_user.first_name %>, You had verified your email with <%= current_user.email %>. Thank you.
<%= link_to "Resend Email Verification", email_verify_path(current_user.verification_hash), class: "btn btn-small btn-primary" %>
<% end %>
<h2> My Cloud Applications </h2>
<% if @user.organization.cloud_app %>
<div class="alert alert-success">
	<div class="row">
		<div class="offset1 span3">
			<h3>Logo</h3>
		</div>
		<div class="span3">
			<h3>Name</h3>
		</div>
		<div class="span3">
			<h3>Description</h3>
		</div>
	</div>
</div>
<%= render @user.organization.cloud_app.apps_items %>

<% end %>
<hr/>


<% else %>
<div class="alert alert-warning">
	<span class="label label-important">!</span>
	<strong>Warning!</strong> Your account isn't complete. Kindly complete your profile before we could proceed further.
</div>
<%= image_tag "blue.png", :alt => "Megam" %>
<h6> Click the following link to enter your organization's details</h6>

<%= link_to "Organization Details", edit_user_path(current_user) %>
<% end %>

<% end %>
<%= render :template => customizations_show_path %>

