<%= render 'layouts/header' %>
<div class="container main-cover">
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 col-xl-3 c_bg_white cover">
			<div class="row">
				<div class="page-sidebar navbar-collapse collapse">

					<!-- BEGIN SIDEBAR MENU -->
					<ul class="page-sidebar-menu">

						<li></li>
						

						<li class= "start active">
							<%= link_to main_dashboards_path, :target => "_self" do %>
							<i class="c_icon c_icon-dash pull-left"></i>
							<span class="title pull-left">Dashboard</span>
							<span class="hidden-xs <%= "selected" if controller_name == 'main_dashboards'%>"></span>
							<% end %>
						</li>

						<li class= "start active">
							<%= link_to apps_path, :target => "_self" do %>
							<i class="c_icon c_icon-browser pull-left"></i>
							<span class="title pull-left">Apps</span>
							<span class="hidden-xs <%= "selected" if controller_name == 'apps'%>"></span>
							<% end %>
						</li>

						<li class= "start active">
							<%= link_to services_path, :target => "_self" do %>
							<i class="c_icon c_icon-layer pull-left"></i>
							<span class="title pull-left">Services</span>
							<span class="hidden-xs <%= "selected" if controller_name == "services"%>"></span>
							<% end %>
						</li>

						<li class= "start active">
							<%= link_to addons_path, :target => "_self" do %>
							<i class="c_icon c_icon-stack pull-left"></i>
							<span class="title pull-left">Add ons</span>
							<span class="hidden-xs <%= "selected" if controller_name == "addons"%>"></span>
							<% end %>
						</li>

						<li class="start active">
							<%= link_to settings_path, :target => "_self" do %>
							<i class="c_icon c_icon-settings pull-left"></i>
							<span class="title pull-left">Settings</span>
							<span class="hidden-xs <%= "selected" if controller_name == "settings"%>"></span>
							<% end %>
						</li>

					</ul>
					<!-- END SIDEBAR MENU -->
				</div>
			</div>
		</div>

		<div id="content">
			<%= content_for?(:content_settings) ? yield(:content_settings) : yield %>

		</div>

	</div>

</div>
<%= render 'layouts/footer' %>
