var selected_entity = '.user_fields_form_<%= @user_fields_form_type %>';

<% if @user_fields_form_type == 'profile'%>
var selected_entity = '#profile_postfinish_popup';
$(selected_entity).modal({backdrop : false,keyboard: false,show : true});
$("#msg").append('Profile updated successfully');
<% end %>

<% if @user_fields_form_type == 'password'%>
var selected_entity = '#profile_postfinish_popup';
$(selected_entity).modal({backdrop : false,keyboard: false,show : true});
$("#msg").append('Password updated successfully</h5>');
<% end %>

<% if @user_fields_form_type == 'api_key'%>
var msg = '<%= @res_msg %>';
$('#api_key_field').val('<%= @user.api_token %>');
var selected_entity = '#profile_postfinish_popup';
$(selected_entity).modal({backdrop : false,keyboard: false,show : true});
$("#msg").append('API Key  generated <%= @res_msg %>.');
<% end %>



$('.alert_flash_<%= @user_fields_form_type %>').replaceWith('<div class="alert alert-success fade in"><a href="#" data-dismiss="alert" class="close">×</a><h4 align="center">Updated successfully</h4></div>').fadeIn("slow");


