var selected_entity = '.user_fields_form_<%= @user_fields_form_type %>';

<% if @user_fields_form_type == 'api_key'%>
var msg = '<%= @res_msg %>';
$('#api_key_field').val('<%= @api_token %>');
var selected_entity = '#profile_postfinish_popup';
$(selected_entity).modal('show');
$("#msg").append('API Key was refreshed successfully <%= @res_msg %>.');
<% end %>

<% if @user_fields_form_type == 'password'%>
var selected_entity = '#profile_postfinish_popup';
$(selected_entity).modal('show');
$("#msg").append('Your password was updated successfully</h5>');
<% end %>

<% if @user_fields_form_type == 'organization'%>
var selected_entity = '#profile_postfinish_popup';
$(selected_entity).modal('show');
$("#msg").append('Your organization details were updated successfully</h5>');
<% end %>

<% if @user_fields_form_type == 'user'%>
var selected_entity = '#profile_postfinish_popup';
$(selected_entity).modal('show');
$("#msg").append('Your account details were updated successfully');
<% end %>

$('.alert_flash_<%= @user_fields_form_type %>').replaceWith('<div class="alert alert-success fade in"><a href="#" data-dismiss="alert" class="close">×</a><h4 align="center">Updated successfully</h4></div>').fadeIn("slow");


