<!--
** Copyright [2013-2016] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->
<!-- /.create or import sshkeys buttons here -->
<div class="row">
	<div class="col-xs-6 col-sm-7 col-md-9 col-lg-9 col-xl-9">
		<h4><%= t('ssh_keys.activity') %></h4>
	</div>
	<div class="col-xs-6 col-sm-5 col-md-3 col-lg-3 col-xl-3">
		<ul class="list-inline c_sett_inline">
			<li>
				<i class="c_icon-compose"></i><a data-toggle="modal" href="#create_ssh"><%= t('cockpits.create') %></a>
			</li>
			<li class="pull-right">
				<i class="c_icon-import pull"></i><a data-toggle="modal" href="#import_ssh"><%= t('ssh_keys.import') %></a>
			</li>
		</ul>
	</div>
</div>
<!-- /.show the ssh keys collection in table format -->
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<div class="bottom-divider"></div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<table class="table tb_action_list">
			<thead>
				<tr>
					<th><%= t('ssh_keys.action') %></th>
					<th><%= t('name') %></th>
					<th><%= t('ssh_keys.created_at') %></th>
				</tr>
			</thead>
			<tbody>

				<% @ssh_keys.each do |sshkey| %>

				<tr>
					<td>
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 sett-public">
							<%= link_to edit_ssh_key_path(:id => sshkey[:name]+"_pub"), :class => "btn btn-dark-blue" , :target => "_self" do %>
							<i class="c_icon-in"></i><span><%= t('ssh_keys.public') %></span>
							<% end %>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 sett-private">
							<%= link_to edit_ssh_key_path(:id => sshkey[:name]+"_key"), :class => "btn btn-dark-red", :target => "_self" do %>
							<i class="c_icon-inBlue"></i><span><%= t('ssh_keys.private') %></span>
							<% end %>
						</div>
					</div></td>
					<td class="set_title"><%= sshkey[:name] %></td>
					<td><i class="c_icon-calendar"></i> <%= sshkey[:created_at] %> </td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
<!-- create SSH modal starts here -->
<div id="create_ssh" class="modal fade" data-backdrop="static" data-backdrop="static" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog" style="max-width:400px">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title"><%= t('ssh_keys.create_title') %></h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<div class="alert alert-success">
							<%= t('ssh_keys.create_info') %> <a href="http://docs.megam.io/docs/debian" target="_blank"> <strong><%= t('ssh_keys.info_link') %></strong></a> <%= t('ssh_keys.info_end') %>
						</div>
						<%= form_tag ssh_keys_path, multipart: true, :method => :post, :remote => true do %>
						<div class="form-group">

							<label for="ssh-key_name"><%= t('name') %></label>
							<%= text_field_tag 'ssh_keypair_name', nil, :class=> 'form-control', placeholder: t('ssh_keys.temp_name'), :required => true %>
							<input type="hidden" name="key_type" value="RSA">
							<input type="hidden" name="key_bit" value="2048">
						</div>
						<%= submit_tag t('ssh_keys.create'), :class => "btn btn-success col-md-12 col-xs-12" , :id => "sshkey_create_submit", :data => {:remote => true}%>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- import SSH modal starts here -->
<div id="import_ssh" class="modal fade" data-backdrop="static" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog" style="max-width:400px">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title"><%= t('ssh_keys.import_title') %></h4>
			</div>
			<div class="modal-body">
				<div class="scroller" style="min-height:200px" data-always-visible="1" data-rail-visible1="1">
					<div class="row">
						<div class="col-md-12">
							<div class="alert alert-success">
								<%= t('ssh_keys.import_info') %><a href="http://docs.megam.io/docs/debian" target="_blank"> <strong><%= t('ssh_keys.info_link') %></strong></a> <%= t('ssh_keys.info_end') %>
							</div>
							<%= form_tag ssh_key_path(1), multipart: true, :id => "megamform", :method => :put, :remote => true do %>
							<div class="row margintb_15">
								<div class="col-xs-6">
									<label for="ssh-key_name"><%= t('ssh_keys.private_key') %></label>
									<div class="form-group">
										<span class="btn green fileinput-button col-xs-11"><i class="icon-plus filetag"></i> <span class="filetag"><%= t('ssh_keys.add_files') %></span> <%= file_field_tag :ssh_private_key, placeholder: t('ssh_keys.upload_key') %> </span>
									</div>
								</div>
								<div class="col-xs-6">
									<div>
										<label for="ssh-key_name"><%= t('ssh_keys.public_key') %></label>
										<div class="form-group">
											<span class="btn blue fileinput-button  col-xs-11"> <i class="icon-plus filetag"></i> <span class="filetag"><%= t('ssh_keys.add_files') %></span><%= file_field_tag :ssh_public_key, placeholder: t('ssh_keys.upload_pub_key') %> </span>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="ssh-key_name"><%= t('name') %></label>
								<%= text_field_tag 'ssh_keypair_name', nil, :class=> 'form-control', placeholder: t('ssh_keys.temp_name'), :required => true %>
							</div>
							<%= submit_tag t('ssh_keys.import'), :class => "btn btn-success col-md-12 col-xs-12", :id => "sshkey_import_submit", :data => {:remote => true} %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- To load toastr message  -->
  <%= render :partial => "layouts/toastr_message" %>
<script>
    $("#sshkey_create_submit").on("click", function(event) {
	$('#create_ssh').modal('hide');
});
    $("#sshkey_import_submit").on("click", function(event) {
	$('#import_ssh').modal('hide');
});
</script>
