<div class="row">
	<div class="col-xs-6 col-sm-7 col-md-9 col-lg-9 col-xl-9">
		<h4>Activity</h4>
	</div>
	<div class="col-xs-6 col-sm-5 col-md-3 col-lg-3 col-xl-3">
		<ul class="list-inline c_sett_inline">
			<li>
				<i class="c_icon-compose"></i><a data-toggle="modal" href="#create-ssh">Create</a>
			</li>
			<li class="pull-right">
				<i class="c_icon-import pull"></i><a data-toggle="modal" href="#import-ssh">import</a>
			</li>
		</ul>
	</div>

</div>

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<div class="bottom-divider"></div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<table class="table tb_action_list">
			<thead>
				<tr>
					<th>Actions</th>
					<th>Name</th>
					<th>Created At</th>
				</tr>
			</thead>
			<tbody>
				<% if @ssh_keys_collection.class != Megam::Error %>
				<% @ssh_keys.each do |sshkey| %>
				<tr>
					<td>
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 sett-public">
							<%= link_to sshkeys_download_path(:filename => sshkey[:name]+"_pub"), :class => "btn btn-dark-blue" , :target => "_self" do %>
							<i class="c_icon-in"></i><span>Public</span>
							<% end %>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 sett-private">
							<%= link_to sshkeys_download_path(:filename => sshkey[:name]+"_key"), :class => "btn btn-dark-red", :target => "_self" do %>
							<i class="c_icon-inBlue"></i><span>Private</span>
							<% end %>
						</div>
					</div></td>
					<td class="set_title"><%= sshkey[:name] %></td>
					<td> <%= sshkey[:created_at] %> </td>
				</tr>
				<% end %>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<!-- create SSH modal starts here -->
<div id="create-ssh" class="modal fade" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog" style="max-width:400px">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">New key</h4>
			</div>
			<div class="modal-body">
				<div class="scroller" style="min-height:200px" data-always-visible="1" data-rail-visible1="1">
					<div class="row">
						<div class="col-md-12">
							<div class="alert alert-success">
								Generate a SSH RSA 2048 key pair. Read <a href="http://www.gomegam.com/docs/sshkeys" target="_blank"> <strong>here</strong></a> for more information.
							</div>
							<%= form_tag ssh_keys_path, multipart: true, :method => 'post', :remote => true, data: { spinlock: '#creating_sshkeys'}  do %>
							<div class="form-group">
								<label for="ssh-key_name">Name</label>
								<%= text_field_tag 'key_name', nil, :class=> 'form-control', placeholder: 'Enter a key pair name to save', :required => true %>
								<input type="hidden" name="key_type" value="RSA">
								<input type="hidden" name="key_bit" value="2048">
							</div>
							<%= submit_tag "Create key", :class => "btn green col-md-12 col-xs-12" %>
							<% end %>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<!-- import SSH modal starts here -->
<div id="import-ssh" class="modal fade" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog" style="max-width:400px">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">Import key</h4>
			</div>
			<div class="modal-body">
				<div class="scroller" style="min-height:200px" data-always-visible="1" data-rail-visible1="1">
					<div class="row">
						<div class="col-md-12">
							<div class="alert alert-success">
								Generate a SSH RSA 2048 key pair. Read <a href="http://www.gomegam.com/docs/sshkeys" target="_blank"> <strong>here</strong></a> for more information.
							</div>
							<%= form_tag sshkey_import_path, multipart: true, :id => "megamform", :method => 'post', :remote => true do %>

							<div class="row margintb_15">
								<div class="col-xs-6">
									<label for="ssh-key_name">Private key</label>

									<div class="form-group">
										<span class="btn green fileinput-button col-xs-11"> <i class="icon-plus"></i> <span>Add files...</span> <%= file_field_tag :ssh_private_key, placeholder: 'Upload private key' %> </span>
									</div>
								</div>

								<div class="col-xs-6">
									<div>
										<label for="ssh-key_name">Public key</label>

										<div class="form-group">

											<span class="btn blue fileinput-button  col-xs-11"> <i class="icon-plus"></i> <span>Add files...</span> <%= file_field_tag :ssh_public_key, placeholder: 'Upload public key' %> </span>
										</div>
									</div>

								</div>
							</div>
							<div class="form-group">
								<label for="ssh-key_name">Name</label>
								<%= text_field_tag 'key_name', nil, :class=> 'form-control', placeholder: 'Enter a key pair name to save', :required => true %>
							</div>
							<%= submit_tag "Import key", :class => "btn green col-md-12 col-xs-12" %>
							<% end %>

						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<div id="sshkey_postfinish_popup" class="modal fade" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog" style="max-width:400px">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">New key</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-success">
					<p>
						<div id="ssh_res_msg"></div>
						</br>
					</p>
				</div>
			</div>
			<div class="modal-footer">
				<%= link_to  "Ok", settings_path, :class => "btn btn-pink", :target => "_self" %>
			</div>
		</div>
	</div>
</div>

<div id="sshkey_postfinish_popup_error" class="modal fade" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog" style="max-width:400px">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">New key</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-success">
					<p>
						<div id="ssh_err_msg"></div>
						</br>
					</p>
				</div>
			</div>
			<div class="modal-footer">
				<%= link_to  "Ok", settings_path, :class => "btn btn-pink", :target => "_self" %>
			</div>
		</div>
	</div>
</div>
