<% content_for :content_settings do %>
<% provide(:title, 'SSH Keys') %>
<%= render :partial => "users/header" , :locals => {:head => "SSH Keys"}%>
<div id="breadcrumb">
	<%= breadcrumbs.render(:format => :inline, :separator => '') %>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-11">
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon"> <i class="fa fa-th-list"></i> </span>
				<h5>Import Keys</h5>
			</div>
			<div class="widget-content" >
				<div class="row">
					<%= form_tag sshkey_import_path, multipart: true, :id =>'basic_validate', :novalidate => 'novalidate', :name => "basic_validate1",  :method => 'post', :remote => true, data: { spinlock: '#spin_sshkey1'}  do %>
					<div class="col-md-12">
						<div class="alert alert-success alert-block">
							<div>
								Import a SSH RSA 2048bit key pair. Read <a href="https://help.ubuntu.com/community/SSH/OpenSSH/Keys" target="_blank">here</a> for more information.
							</div>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-12">
							<div class="widget-box", id="upload_ssh_keys">
								<div class="widget-content">
									<div class="row">
										<div class="form-group">
											<div class="col-sm-12 col-md-12 col-lg-12">
												<div class="col-sm-6 col-md-6 col-lg-6">
													<div class="input-group">
														<label>Private Key(eg:id_rsa)</label> <%= file_field_tag :ssh_private_key, :id => 'ssh_private_key',placeholder: 'Upload private key' %>
													</div>
												</div>
												<div class="col-sm-6 col-md-6 col-lg-6">
													<div class="input-group">
														<label>SSH Public Key(eg:id_rsa.pub)</label> <%= file_field_tag :ssh_public_key, :id => 'ssh_public_key',placeholder: 'Upload public key' %>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-12">
							<div class="widget-box", id="upload_ssh_keys">
								<div class="widget-content">
									<div class="row">
										<div class="col-sm-12 col-md-12 col-lg-12">
											<div class="form-group">
												<div class="col-sm-6 col-md-6 col-lg-6">
													<div class="input-group input-group-lg">
														<span class="input-group-addon"><i class="fa fa-certificate"></i></span>
														<%= text_field_tag 'key_name', nil, :class=> 'required form-control input-lg', placeholder: 'Key pair name to Save' %>
													</div>
												</div>
												<div class="col-sm-6 col-md-6 col-lg-6">
													<%= submit_tag "Import", :class => "btn btn-lg btn-success btn-block" %>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<% end %>
				</div>
			</div>
		</div>
		</div>
	</div>
</div>
<div id="sshkey_postfinish_popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h3 id="myModalLabel">SSH keys</h3>
			</div>
			<div class="modal-body">
				<div class="alert alert-success">
					<p>
						<div id="res_msg"></div>
						</br>
					</p>
				</div>
			</div>
			<div class="modal-footer">
				<%= link_to  "Ok", cloud_settings_path, :class => "btn btn-primary", :target => "_self" %>
			</div>
		</div>
	</div>
</div>

<div id="sshkey_postfinish_popup_error" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h3 id="myModalLabel">SSH keys</h3>
			</div>
			<div class="modal-body">
				<div class="alert alert-error">

					<p>
						A SSH key creation request to the megam cloud gateway was not successful.
						</br>
						<div id="err_msg"></div>
					</p>
				</div>
			</div>
			<div class="modal-footer">
				<%= link_to  "Ok", cloud_settings_path, :class => "btn btn-primary", :target => "_self" %>
			</div>
		</div>
	</div>
</div>
<% end %>
<%= render :template => users_show_path %>