<% content_for :content_settings do %>
<% provide(:title, 'Pricing') %>

<%= render :partial => "users/header" , :locals => {:head => "Pricing"}%>
<div id="breadcrumb">
<%= render_breadcrumbs %>
</div>

<div id="pricing" class="pricing_page">
	<div class="container">
		<!-- header -->
<br/>
		<!-- pricing charts 1 -->
		<div class="row">
			<div class="span4">
				<div class="price_wrapper lite regular">
					<div class="header">
						<span>Lite</span>
						<div class="price">
							<span>$ 35</span>
							Per Month
						</div>
					</div>
					<div class="section">
						<h3>Passages of Lorem randomised
						words which look slightly.</h3>
						<ul class="perks">
							<li>
								<i class="i_shuffle"></i>
								Cross-browser
							</li>
							<li>
								<i class="i_loading"></i>
								Fast-loading
							</li>
						</ul>
						<%= link_to "Order now", account_path, :class => "btn" %>
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="price_wrapper pro">
					<div class="header">
						<span>Pro</span>
						<div class="price">
							<span>$ 99</span>
							Per Month
						</div>
					</div>
					<div class="section">
						<h3>Passages of Lorem randomised
						words which look slightly.</h3>
						<ul class="perks">
							<li>
								<i class="i_shuffle"></i>
								Cross-browser
							</li>
							<li>
								<i class="i_loading"></i>
								Fast-loading
							</li>
							<li>
								<i class="i_bookmark"></i>
								Bookmarkable URLs
							</li>
							<li>
								<i class="i_bars"></i>
								W3C Standards
							</li>
						</ul>
						<%= link_to "Order now", account_path, :class => "btn" %>
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="price_wrapper standard regular">
					<div class="header">
						<span>Standard</span>
						<div class="price">
							<span>$ 65</span>
							Per Month
						</div>
					</div>
					<div class="section">
						<h3>Passages of Lorem randomised
						words which look slightly.</h3>
						<ul class="perks">
							<li>
								<i class="i_shuffle"></i>
								Cross-browser
							</li>
							<li>
								<i class="i_loading"></i>
								Fast-loading
							</li>
							<li>
								<i class="i_bookmark"></i>
								Bookmarkable URLs
							</li>
						</ul>
						<%= link_to "Order now", account_path, :class => "btn" %>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<% end %> <!-- content_for -->
<%= render :template => users_show_path %>
