<% content_for :content_settings do %>
<% provide(:title, 'Pricing') %>

<%= render :partial => "users/header" , :locals => {:head => "Pricing"}%>
<div id="breadcrumb">
	<%= render_breadcrumbs %>
</div>

<div id="pricing" class="pricing_page">
	<div class="container">
		<!-- header -->
		<br/>
		<!-- pricing charts 1 -->
		<div class="row">
			<div class="span4">
				<div class="price_wrapper lite regular">
					<div class="header">
						<span>Lite</span>
						<div class="price">
							<span>$ tbd</span>
							Per Month
						</div>
					</div>
					<div class="section">
						<h3>1 App + 1 DB loadbalanced.</h3>
						<ul class="perks">
							<li>
								<i class="i_shuffle"></i>
								Apps + DB (0-5)
							</li>
							<li>
								<i class="i_loading"></i>
								Enjoy our free beta.
							</li>
						</ul>
						<%= link_to "Order now", account_path, :target => "_self",:class => "btn" %>
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="price_wrapper pro">
					<div class="header">
						<span>Pro</span>
						<div class="price">
							<span>$ tbd</span>
							Per Month
						</div>
					</div>
					<div class="section">
						<h3>Heavy customers with 0 - 10 Books.</h3>
						<ul class="perks">
							<li>
								<i class="i_shuffle"></i>
								Apps + DB (0 - 10)
							</li>
							<li>
								<i class="i_loading"></i>
								Configure Cross Clouds
								Choice of Addons
							</li>
							<li>
								<i class="i_bookmark"></i>
								Enjoy our free beta.
							</li>
						</ul>
						<%= link_to "Order now", account_path, :target => "_self",:class => "btn" %>
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="price_wrapper standard regular">
					<div class="header">
						<span>Standard</span>
						<div class="price">
							<span>$ tbd</span>
							Per Month
						</div>
					</div>
					<div class="section">
						<h3>Enterprise</h3>
						<ul class="perks">
							<li>
								<i class="i_shuffle"></i>
								Any number of Apps
							</li>
							<li>
								<i class="i_loading"></i>
								Opensource support
							</li>
							<li>
								<i class="i_bookmark"></i>
								Enjoy our free beta.
							</li>
						</ul>
						<%= link_to "Order now", account_path, :target => "_self",:class => "btn" %>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<% end %> <!-- content_for -->
<%= render :template => users_show_path %>
