<!--
** Copyright [2013-2015] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->
<h3><span class="label label-inverse"><%= @cross_cloud.name %></span></h3>
<table class="table table-bordered table-condensed">
	<tbody>
		<tr>
			<td>Cloud Type</td>
			<td><b><%= @cross_cloud.spec[:type_name] %></b></td>
		</tr>
		<% if @cross_cloud.spec[:type_name] == 'profitbricks' %>
		<tr>
			<td>Datacenter</td>
			<td><b><%= @cross_cloud.spec[:datacenter] %></b></td>
		</tr>
		<tr>
			<td>CPUs</td>
			<td><b><%= @cross_cloud.spec[:cpus] %></b></td>
		</tr>
		<tr>
			<td>RAM</td>
			<td><b><%= @cross_cloud.spec[:ram] %></b></td>
		</tr>
		<% else %>
		<tr>
			<td>Group</td>
			<td><b><%= @cross_cloud.spec[:groups] %></b></td>
		</tr>
				<tr>
			<td>SSH Key</td>
			<td><b><%= @cross_cloud.access[:ssh_key] %></b></td>
		</tr>
		<% end %>
		<tr>
			<td>Image</td>
			<td><b><%= @cross_cloud.spec[:image] %></b></td>
		</tr>
		<tr>
						<td>Flavor</td>
			<td><b><%= @cross_cloud.spec[:flavor] %></b></td>
		</tr>

		<tr>
			<td>Identity File</td>
			<td><%= @cross_cloud.access[:identity_file] %></td>
		</tr>
		<tr>
			<td>SSH User</td>
			<td><b><%= @cross_cloud.access[:ssh_user] %></b></td>
		</tr>
	</tbody>
</table>
