<% content_for :content_settings do %>
<% provide(:title, 'Marketplace') %>

<%= render :partial => "users/header" , :locals => {:head => "Marketplace"}%>
<div id="breadcrumb">
	<%= breadcrumbs.render(:format => :inline,:separator => '') %>
</div>
<div class="container">
	<div class="row underlineolivegreen">
		<div class="col-md-2">
			<a href="#" > <%= image_tag @mkp[:appdetails][:logo], :alt => @mkp[:name], :class => "megam_image" %> </a>
			<br/>
			<br/>
		</div>
		<div class="col-md-3">
			<p>
				<strong><h3><%= @mkp[:name].upcase %></h3></strong>
			</p>
			<p>
				<h5><%= @mkp[:appdetails][:category].upcase %></h5>
			</p>
		</div>
		<div class="col-md-6">
			<h5><%= @mkp[:appdetails][:description] %></h5>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-md-5">
			<ul class="list-group">
				<li class="list-group-item">
					<span class="pull-right"><h4><%= @mkp[:plan][:plantype].capitalize %></h4></span>
					<h4><span class="label label-default">Plan Type</span></h4>
				</li>
				<li class="list-group-item">
					<span class="pull-right"><h4><%= @mkp[:plan][:price]%></h4></span>
					<h4><span class="label label-default">Software Price</span></h4>
				</li>
				<li class="list-group-item">
					<div class="panel panel-primary">
						<!-- Default panel contents -->
						<div class="panel-body">
							<table>
								<tr>
									<td><b>Version</b></td>
									<td><%= @mkp[:appdetails][:version] %> on Ubuntu 13.04</td>
								</tr>
								<tr>
									<td><b>Base Operating System</b></td>
									<td>Linux/Unix, Ubuntu 13.04</td>
								</tr>
								<tr>
									<td><b>Delivery Method</b></td>
									<td>64-bit Image</td>
								</tr>
								<tr>
									<td><b>Support</b></td>
									<td>See details below</td>
								</tr>
								<tr>
									<td><b>Services Required</b></td>
									<td>Any compute cloud (gogrid, profitbricks..)</td>
								</tr>

							</table>
						</div
					</div>
		</div>

		<% if @mkp[:approved] == "true" %>
		<%= render :partial => "market_places/add_button", :locals => {:name => @mkp[:name], :category => @mkp[:appdetails][:category], :predef_name => @predef_name, :deps_scm => @deps_scm} %>
		<br/>
		<% if @mkp[:attach] == "true" %>
		<!--<%= render :partial => "market_places/add_button", :locals => {:name => @mkp[:name], :category => @mkp[:catagory], :predef_name => @predef_name, :deps_scm => @deps_scm} %>-->
		<br/>
		<div class="well well-lg">
			<div class="form-group">
				<div class="col-sm-8 col-md-8 col-lg-9">
					<%= select_tag 'App', options_for_select(@my_apps.insert(0, "Choose a running app to include this addon")), :id => "attach_app_select" %>
				</div>
			</div>
			<br/>
			<button class="btn btn-purple btn-block btn-lg">
				Attach
			</button>
		</div>
		<% else %>
		<% end %>
		<% else %>
		<div class="alert alert-info alert-block">
			<a class="close" data-dismiss="alert" href="#">×</a>
			<h4 class="alert-heading">Announcing soon.</h4>
			We will support this market place addon shortly.
		</div>
		<% end %>

	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">
				Pricing details
			</div>
			<div class="panel-body">
				<div class="widget-box collapsible">
					<div class="widget-title">
						<a href="#collapseOne" data-toggle="collapse"> <span class="icon"><i class="fa fa-times"></i></span> <h5>Profit bricks</h5> </a>
					</div>
					<div class="collapse" id="collapseOne">
						<div class="widget-content">
							<table class="table table-bordered table-striped table-hover" >
								<thead>
									<tr>
										<th class="col-md-3">Name <th class="col-md-9">Pricing</th>
										<th class="col-md-9">Setup</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td> 2 Core + 1GB </td>
										<td> 0.06$/hr </td>
										<td><i class="fa fa-check-circle"></i></td>
									</tr>
									<tr>
										<td> 2 Core + 1GB </td>
										<td> 0.06$/hr </td>
										<td><i class="fa fa-check-circle"></i></td>
									</tr>
									<tr>
										<td> 2 Core + 1GB </td>
										<td> 0.06$/hr </td>
										<td><i class="fa fa-check-circle"></i></td>
									</tr>
									<tr>
										<td> 2 Core + 1GB </td>
										<td> 0.06$/hr </td>
										<td><i class="fa fa-check-circle"></i></td>
									</tr>
									<tr>
										<td> 2 Core + 1GB </td>
										<td> 0.06$/hr </td>
										<td><i class="fa fa-check-circle"></i></td>
									</tr>
									<tr>
										<td> 2 Core + 1GB </td>
										<td> 0.06$/hr </td>
										<td><i class="fa fa-check-circle"></i></td>
									</tr>
									<tr>
										<td> 2 Core + 1GB </td>
										<td> 0.06$/hr </td>
										<td><i class="fa fa-check-circle"></i></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="widget-box collapsible">
					<div class="widget-title">
						<a href="#collapseTwo" data-toggle="collapse"> <span class="icon"><i class="fa fa-times"></i></span> <h5>Amazon EC2</h5> </a>
					</div>
					<div class="collapse" id="collapseTwo">
						<div class="widget-content">
							<table class="table table-bordered table-striped table-hover" >
								<thead>
									<tr>
										<th class="col-md-3">Type <th class="col-md-3">Memory (GiB) <th class="col-md-9">Pricing</th>
										<th class="col-md-9">Setup</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td> t1.micro </td><td> 0.615GB </td>
										<td> $0.020/hr </td>
										<td><i class="fa fa-check-circle"></i></td>
									</tr>
									<tr>
										<td> m1.small </td><td> 1.7GB </td>
										<td> $0.060/hr </td>
										<td><i class="fa fa-check-circle"></i></td>
									</tr>
									<tr>
										<td> m1.medium </td><td> 3.75GB </td>
										<td> $0.120/hr </td>
										<td><i class="fa fa-check-circle"></i></td>
									</tr>
									<tr>
										<td> m1.large </td><td> 7.5GB </td>
										<td> $0.240/hr </td>
										<td><i class="fa fa-check-circle"></i></td>
									</tr>
									<tr>
										<td> m2.xlarge </td><td> 17.1GB </td>
										<td> $0.410/hr </td>
										<td><i class="fa fa-check-circle"></i></td>
									</tr>
									<tr>
										<td> i2.xlarge </td><td>30.5GB </td>
										<td> $0.853/hr </td>
										<td><i class="fa fa-check-circle"></i></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="widget-box collapsible">
					<div class="widget-title">
						<a href="#collapseThree" data-toggle="collapse"> <span class="icon"><i class="fa fa-times"></i></span> <h5>hpcloud</h5> </a>
					</div>
					<div class="collapse" id="collapseThree">
						<div class="widget-content">
							<table class="table table-bordered table-striped table-hover" >
								<thead>
									<tr>
										<th class="col-md-3">Type <th class="col-md-3">Memory (GiB) <th class="col-md-9">Pricing</th>
										<th class="col-md-9">Setup</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td> Standard Extra Small </td><td> 1GB RAM, 20GB disk </td>
										<td> $0.03/hr </td>
										<td><i class="fa fa-check-circle"></i></td>
									</tr>
									<tr>
										<td> Standard Medium </td><td> 4GB RAM, 80GB disk </td>
										<td> $0.12/hr </td>
										<td><i class="fa fa-check-circle"></i></td>
									</tr>
									<tr>
										<td> Standard Large </td><td> 8GB RAM, 160GB disk </td>
										<td> $0.24/hr </td>
										<td><i class="fa fa-check-circle"></i></td>
									</tr>
									<tr>
										<td> Standard XL </td><td> 15GB RAM, 300GB disk </td>
										<td> $0.45/hr </td>
										<td><i class="fa fa-check-circle"></i></td>
									</tr>
									<tr>
										<td> High Memory Large </td><td> 16GB RAM, 160GB disk </td>
										<td> $0.36/hr </td>
										<td><i class="fa fa-check-circle"></i></td>
									</tr>
									<tr>
										<td> High Memory XL </td><td>30GB RAM, 300GB disk </td>
										<td> $0.68/hr </td>
										<td><i class="fa fa-check-circle"></i></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="widget-box collapsible">
					<div class="widget-title">
						<a href="#collapseFour" data-toggle="collapse"> <span class="icon"><i class="fa fa-times"></i></span> <h5>Google Compute Engine</h5> </a>
					</div>
					<div class="collapse" id="collapseFour">
						<div class="widget-content">
							<table class="table table-bordered table-striped table-hover" >
								<thead>
									<tr>
										<th class="col-md-3">Type <th class="col-md-3">Memory (GiB) <th class="col-md-9">Pricing</th>
										<th class="col-md-9">Setup</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td> f1-micro </td><td> 0.60GB </td>
										<td> $0.019/hr </td>
										<td><i class="fa fa-check-circle"></i></td>
									</tr>
									<tr>
										<td> g1-small </td><td> 1.70GB </td>
										<td> $0.054/hr </td>
										<td><i class="fa fa-check-circle"></i></td>
									</tr>
									<tr>
										<td> n1-standard-1 </td><td> 3.75GB </td>
										<td> $0.104/hr </td>
										<td><i class="fa fa-check-circle"></i></td>
									</tr>
									<tr>
										<td> n1-standard-8 </td><td> 30GB </td>
										<td> $0.829/hr </td>
										<td><i class="fa fa-check-circle"></i></td>
									</tr>
									<tr>
										<td> n1-highmem-2 </td><td> 13GB </td>
										<td> $0.244/hr </td>
										<td><i class="fa fa-check-circle"></i></td>
									</tr>
									<tr>
										<td> n1-highcpu-2 </td><td>1.80GB </td>
										<td> $0.131/hr </td>
										<td><i class="fa fa-check-circle"></i></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-11">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div class="col-sm-7 col-md-7 col-lg-8">
						<span class="pull-left"><b>Features</b></span>
					</div>
					<div class="col-sm-5 col-md-5 col-lg-4">
						<span class="pull-right"> <a href="#" class="btn btn-default btn-sm active" target="_blank" role="button">Read more about <%= @mkp[:name].upcase %></a> </span>
					</div>
				</div>
			</div>
			<table class="table table-hover" >
				<tbody>
					<% @mkp[:features].each do |k, v| %>
					<% if v.length > 0 %>
					<tr>
						<td><i class="fa fa-check">&nbsp;<%= k.capitalize %></i></td>
						<td><i class="fa fa-plus-circle">&nbsp;<%= v.capitalize %></i></td>
					</tr>
					<% end %>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-5">
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon"><i class="fa fa-file"></i></span><h5>Support</h5><!--<span title="scm-manager" class="label label-info tip-left">54</span>-->
			</div>
			<div class="widget-content nopadding">
				<ul class="recent-posts">
					<li>
						<div class="user-thumb">
							<%= image_tag "knol1.png", :alt => "user", :width => "40", :height => "40" %>
						</div>
						<div class="article-post">
							<span class="user-info">SCM-Manager </span>
							<p>
								<a href="#">Free support (Forums) ..</a>
							</p>
							<a href="mailto:#" class="btn btn-danger btn-xs">Paid support</a>
						</div>
					</li>
					<li>
						<div class="user-thumb">
							<%= image_tag "knol2.png", :alt => "user", :width => "40", :height => "40" %>
						</div>
						<div class="article-post">
							<span class="user-info"> Megam support </span>
							<p>
								<a href="http://support.megam.co">Free support, No SLA...</a>
							</p>
							<a href="#" class="btn btn-danger btn-xs">Paid support</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon"><i class="fa fa-comment"></i></span><h5>Knowledge base</h5><!--<span title="88 total comments" class="label label-info tip-left">88</span>-->
			</div>
			<div class="widget-content nopadding">
				<ul class="recent-comments">
					<li>
						<div class="user-thumb">
							<%= image_tag "knol1.png", :alt => "user", :width => "40", :height => "40" %>
						</div>
						<div class="comments">
							<span class="user-info">SCM Manager page</span>
							<p>
								<a href="#">This page contains information about SCM Manager software...</a>
							</p>
							<a href="#" class="btn btn-warning btn-xs">Home</a>
						</div>
					</li>
					<li>
						<div class="user-thumb">
							<%= image_tag "knol2.png", :alt => "user", :width => "40", :height => "40" %>
						</div>
						<div class="comments">
							<span class="user-info">SCM Manager Wiki</span>
							<p>
								<a href="#">Community wiki - SCM Manager...</a>
							</p>
							<a href="#" class="btn btn-warning btn-xs">Wiki</a>
						</div>
					</li>

				</ul>
			</div>
		</div>
	</div>
</div>
</div>

<% end %>
<%= render :template => users_show_path %>
