<% provide(:title, 'Get Started') %>
<div class="container-fluid">
	<div class="container">

		<!-- header -->
		<h2 class="section_header left"><span> Getting Started </span>
		</h2>
		<div class="row">
			<div class="span6">
				<i class="i_cloud"></i><h4> Free, Hosted Environment</h4>
				<p class="environments">
				<p>
					Megam a polygot PaaS is a cloud platform built using Chef 11 and Scala/Akka.
					To see how Quick you can get a polygot cloud app running, you can play in the <code>
						free sandbox</code>
					by <code>
						signing up an account</code>
			<% unless current_user %>
				<p>
					<%= link_to "Sign Up Now!", signup_path, :class => "btn btn-success btn-large" %>
				</p>
			<% end %>
			</div>
			<div class="span6">
				<i class="i_cloud"></i>
				<h4> Private Hosted Environment</h4>
				<p class="environments">
					For  Businesses that want to get involved in using it for their cloud applications,
					there is a great set of installables with
					<code>
						instructions for you
					</code>
					to run from your
					<code>
						private hosted environment.
					</code>
				</p>
				<p>
					<%= link_to 'Installing Megam', page_path("doc"), :class => 'btn btn-success btn-large' %>
				</p>
			</div>
		</div>
		</br>
		<div class="row">
			<div class="span12" align="center">
				<i class="i_cloud"></i><h4> Cloud Readiness</h4>
				<p class="environments">
					Fill in this questionaire to see your PaaS readiness
					<h5> Megam a polygot PaaS is a cloud platform that can be tailored for your needs. </h5>
					<%= link_to "Am I Ready", signup_path, :class => "btn btn-info btn-large" %>
				</p>
			</div>
		</div>
		<h2 class="section_header left"><span>Learn About Megam</span>
		</h2>
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<td> Projects </td>
					<td> Help </td>
					<td> Code </td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Cloud API Server</td>
					<td><%= link_to "Installing the Cloud API Server",   "http://docs.megam.co/cloudserver", { :target => '_blank'} %></td>
					<td><%= link_to "Stateless RESTful Scala/Playframework server is the heart of our cloud ops",   "https://github.com/indykish/megam_play.git", { :target => '_blank'} %></td>
				</tr>
				<tr>
					<td>Cloud Brdige Herk</td>
					<td><%= link_to "Installing the Cloud Bridge Herk",   "http://docs.megam.co/cloudserver", { :target => '_blank'} %></td>
					<td><%= link_to "Scala/Akka based Cloud Agent bridge ",   "https://github.com/indykish/megam_akka.git", { :target => '_blank'} %></td>
				</tr>
				<tr>
					<td>Cloud App Connector</td>
					<td><%= link_to "Installing a set of Cloud App Connector",   "http://docs.megam.co/cloudserver", { :target => '_blank'} %></td>
					<td><%= link_to "Preview - RESTful Cloud connectors to Salesforce, GoogleApp..",   "https://github.com/indykish/deccanplato.git", { :target => '_blank'} %></td>
				</tr>
			</tbody>
		</table>
		<!-- list -->

		<div id="faq" class="faq_page">
			<div class="row">
				<div class="span12">
					<i class="i_chart"></i>
					<h4>Quick Start </h4>
					<p>
						<div class="faq">
							<div class="number">
								1
							</div>
							<div class="question">
								What are the components of Megam ?
							</div>
							<div class="answer">
								There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
								<br>
								All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
								Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius
							</div>
						</div>
						<div class="faq">
							<div class="number">
								2
							</div>
							<div class="question">
								I am an Administrator, I would like to try it On-Premise.
							</div>
							<div class="answer">
								Great. We would like to help you out. Give us a shout, we'll hand hold you.
								Fill in this questionaire, before you start (Google doc. link to access the hardware, private cloud,
								hybrid cloud, and openstack readiness)
								<br>
								<%= link_to "For further reading",   "http://docs.megam.co", { :target => '_blank'} %>
							</div>
						</div>
						<div class="faq">
							<div class="number">
								3
							</div>
							<div class="question">
								I am a Developer Great. How do I Quickly Launch Java for Staging ?
							</div>
							<div class="answer">
								There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
								<br>
								All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
								<%= link_to "For further reading.",   "http://docs.megam.co", { :target => '_blank'} %>
							</div>
						</div>
						<div class="faq">
							<div class="number">
								4
							</div>
							<div class="question">
								I am  DevOps Guy. What is the deal with Cloud Management ?
							</div>
							<div class="answer">
								There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
								<br>
								<br>
								All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
								<%= link_to "For further reading.",   "http://docs.megam.co", { :target => '_blank'} %>
							</div>
						</div>
					</p>
				</div>
				<hr/>
				</br>
				<div class="span6">
				  <% unless current_user %>
					<h3 align="center"> I have an account. </h3>
					<h4 align="center"> <%= link_to "Sign In Now!", signin_path, :class => "btn btn-info btn-large" %> </h4>
				  <% end %>
				</div>
				<div class="span6">
					<%= image_tag "cloudshield.png", :alt => "cloud shield"%>
				</div>
			</div>
		</div>
	</div>
</div>
