<div id="hero">
	<div class="container">
		<!-- starts carousel -->
		<div class="row animated fadeInDown">
			<div class="span12">
				<div id="myCarousel" class="carousel slide">
					<!-- carousel items -->
					<div class="carousel-inner">
						<!-- slide -->
						<div class="active item slide1">
							<div class="row">
								<div class="span6">
									<%= image_tag "slide1.png", :alt => "slide 1"%>
								</div>
								<div class="span4">
									<h1> Code to Cloud </h1>
									<p>
										Minutes to your code in cloud. Tech stack Java, Ruby on Rails, Node.js, Scala(Play), Erlang, Akka and more.
									</p>
									<%= link_to "Get Started Now!",   page_path("get_started"), :class=>"btn btn-success btn-large" %>
								</div>
							</div>
						</div>
						<!-- slide -->
						<div class="item slide2">
							<div class="row">
								<div class="span4 animated fadeInUpBig">
									<h1>Live Cloud Ready</h1>
									<p>
										Want to federate your Cloud Identity with your Cloud Applications ? {Salesforce, GoogleApp, SugarCRM, Liferay}
									</p>
									<%= link_to "Get Started Now!",   page_path("get_started"), :class=>"btn btn-success btn-large" %>

								</div>
								<div class="span6 animated fadeInDownBig">
									<p>
										<iframe src="http://player.vimeo.com/video/38514156" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

										<a href="http://vimeo.com/38514156">Megam Platform - What is it ?</a> on <a href="http://vimeo.com">Vimeo</a>.
									</p>
								</div>
							</div>
						</div>
						<!-- slide -->
						<div class="item slide3 animated fadeInUpBig">
							<%= image_tag "slide3.png", :alt => "slider 3"%>
						</div>
					</div>
					<!-- Carousel nav -->
					<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
					<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="intro">
	<div class="container">
		<h1>Megam - a Polygot PaaS {to build "Live cloud"}.
		Built on solid plaform Scala(Akka), Chef 11.</h1>
	</div>
</div>

<!-- features -->
<div id="features">
	<div class="container">
		<!-- header -->
		<h2 class="section_header">
		<hr class="left visible-desktop">
		<span>Features</span>
		<hr class="right visible-desktop">
		</h2>

		<!-- feature list -->
		<div class="row-fluid">
			<div class="span4 feature">
				<%= image_tag "feature01.png", :class => "thumb", :alt => "polygot platform"%>

				<h3><i class="i_cloud"></i> Polygot PaaS </h3>
				<p class="description">
					Java, Scala, Node, Ruby, RoR, Erlang, Play, PostgreSQL, RabbitMQ, Riak and more to come.
				</p>
				<a href="#" class="btn btn-default">more</a>
			</div>
			<div class="span4 feature">
				<%= image_tag "feature02.png", :class => "thumb", :alt => "polygot platform"%>
				<h3><i class="i_chart"></i>Monitoring & CLI </h3>
				<p class="description">
					Select name and then launch. Monitor your apps, and control your apps using REST API,
					CLI.
				</p>
				<a href="#" class="btn btn-default">more</a>
			</div>
			<div class="span4 feature">
				<%= image_tag "feature03.png", :class => "thumb", :alt => "polygot platform"%>
				<h3><i class="i_movil"></i> Cross Cloud </h3>
				<p class="description">
					AWS, Rackspace, Openstack, Private cloud and more to come.
				</p>
				<a href="#" class="btn btn-default">more</a>
			</div>
		</div>
	</div>
</div>

<!-- starts pricing -->
<div class="container">
	<div class="row-fluid">
		<div class="span12">
			<%= image_tag "feature04.png", :alt => "polygot platform"%>
		</div>

	</div>
</div>
</br>