<% content_for :content_settings do %>
<% provide(:title, 'Connector Project') %>
<h1>Connector Project</h1>
<hr/>
<% if !current_user.organization.cloud_app.connectors.present? %>

<h5>Currently, You don't have any Connector Projects. You can create a new connector by clicking the below button</h5>

<% else %>

<% @connector.each do |con| %>
<div class="span9">
<div class="alert alert-success">
<div class="row">
	
		<div class="offset1 span2">
			<%= con.id %>
		</div>
		<div class="span5">
			<%= con.description %>
		</div>
		<div class="span1">
			<%= link_to "Delete", "#", :class => 'btn btn-small btn-primary' %>
		</div>

	</div>
</div>
</div>
	<% end %>

<% end %>
<div class="offset2 span5">
<%= link_to "Create Connector Project", new_connector_path, :class => 'btn btn-large btn-primary' %>
</div>
<% end %>
<%= render :template => customizations_show_path %>
