<%= render 'layouts/header' %>
<div class="container main-cover">
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 col-xl-3 c_bg_white cover">
			<div class="row">
				<div class="page-sidebar navbar-collapse collapse">

					<!-- BEGIN SIDEBAR MENU -->
					<ul class="page-sidebar-menu">

						<li></li>

						<li class="start" >
							<%= link_to main_dashboards_path , :target => "_self" do %>
							<i class="c_icon c_icon-dash pull-left"></i>
							<span class="title pull-left">Back to dash</span>
							<span class="selected hidden-xs"></span>
							<% end %>
						</li>
						<% servicekey = request.original_url.partition('=').last %>

						<li class= "start active">
							<%= link_to serviceoverview_path(:servicekey => servicekey), :target => "_self" do %>
							<i class="c_icon c_icon-browser pull-left"></i>
							<span class="title pull-left">Overview</span>
							<span class="hidden-xs <%= "selected" if current_page?(:controller => 'oneservice', :action => 'overview')%>"></span>
							<% end %>
						</li>

						<li class= "start active">
							<%= link_to serviceruntime_path(:servicekey => servicekey), :target => "_self" do %>
							<i class="c_icon c_icon-layer pull-left"></i>
							<span class="title pull-left">Runtime</span>
							<span class="hidden-xs <%= "selected" if current_page?(:controller => 'oneservice', :action => 'runtime')%>"></span>
							<% end %>
						</li>

						<li class= "start active">
							<%= link_to servicemetrics_path(:servicekey => servicekey), :target => "_self" do %>
							<i class="c_icon c_icon-stack pull-left"></i>
							<span class="title pull-left">Logs</span>
							<span class="hidden-xs <%= "selected" if current_page?(:controller => 'oneservice', :action => 'metrics')%>"></span>
							<% end %>
						</li>						

					</ul>
					<!-- END SIDEBAR MENU -->
				</div>
			</div>
		</div>

		<div id="content">
			<%= content_for?(:oneservice_contents) ? yield(:oneservice_contents) : yield %>

		</div>

	</div>

</div>
<%= render 'layouts/footer' %>
