<!--
** Copyright [2013-2015] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->
<% content_for :content_settings do %>
<% provide(:title, "Buckets") %>

<div class="rt-box col-xs-12 col-sm-9 col-md-10 c_bg_white c_height_5">

	<%= render :partial => "users/topright_icons", :locals => {:title_name => t('titles.storage_title')} %>

	<!--	<%= react_component('Show' )  %> -->

	<div class="col-xs-12 col-sm-9 col-md-9 br_grey">
		<div class="row app_box app_storage">
			<div class="col-xs-12 col-sm-6 col-md-3  app_cover create_bucket_modal ">
				<div class="app_inner">
					<div class="app_new ">
						<span class="glyphicon glyphicon-plus"></span>
						<p>
							Create Storage
						</p>
					</div>
				</div>
			</div>
			<% @buckets[:bucket_array].each do |bucket| %>
			<div class="col-xs-12 col-sm-6 col-md-3 app_cover my_bucket_inner" id="<%= bucket[:bucket_name] %>">
				<%= link_to bucketkolke_path(:id => bucket[:bucket_name]), :target => "_self", :remote => true do %>
				<div class="app_inner">
					<div class="app">
						<div class="app_head">
							<div class="row app_icon">
								<h5><%= bucket[:bucket_name] %></h5>
								<h6> Size:  <%= bucket[:size] %> </h6>
							</div>
						</div>
						<div class="app_footer">
							<span > Objects count: <%= bucket[:noofobjects] %></span>
						</div>
					</div>
				</div>
				<% end %>
			</div>
			<% end %>
		</div>
	</div>
	<div class="col-sm-3 storage-rt-list ">
		<dl>
			<h3>Usage</h3>
			<dt>
				Total Storage
			</dt>
			<dd>
				<%= @buckets[:total_size] %>
			</dd>
			<dt class="margin-top-20"></dt>
			<dt>
				Total Buckets
			</dt>
			<dd>
				<%= @buckets[:total_buckets] %>
			</dd>

			<h3>Billing</h3>
			<dt>
				Last billed amount
			</dt>
			<dd>
				2500/- INR
			</dd>
			<dt class="margin-top-20"></dt>
			<dt>
				Current due
			</dt>
			<dd>
				0/- INR
			</dd>
			<dt class="margin-top-20"></dt>
			<dt>
				Region
			</dt>
			<dd>
				<%= image_tag "flag_IN.png", :alt => "flag" %> INDIA
			</dd>
		</dl>
	</div>
	<div class="col-xs-12 col-sm-9 col-md-10" id="object_list">

	</div>
</div>

<div class="storage-popup" >
	<ul class="list-unstyled">
		<li>
			<a data-toggle="modal" href="#supload"><i class="c_icon-cloud-download pull-left"></i>Upload File</a>
		</li>
		<li>
			<a data-toggle="modal" href="#megam_flykelvi"><i class="c_icon-cloud-del pull-left"></i>Delete Bucket</a>
		</li>
	</ul>
</div>
<% end %>
<%= render :template => "users/show" %>

<div id="create_bucket" class="modal fade" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog" style="max-width:400px">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title"> Bucket </h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<%= form_tag buckets_path, multipart: true, :method => :post, :remote => true do %>
						<div class="form-group">
							<%= text_field_tag 'bucket_name', nil, :class=> 'form-control', placeholder: "Bucket Name", :required => true %>
						</div>
						<%= submit_tag "create", :class => "btn btn-success col-md-12 col-xs-12" , :data => {:remote => true}%>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="supload" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog" style="max-width:400px">
	  <div class="modal-content">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
	      <h4 class="modal-title"> Upload </h4>
	    </div>
	    <div class="modal-body">
	      <div class="row">
	        <div class="col-md-12">
	          <%= form_tag bucketkolkes_path, :method => :post, :remote => true, :multipart => true do %>
	          <div class="form-group">
	          <label class="fileinput-button">
	          <%= hidden_field_tag 'bucket_name', nil, :class=> 'form-control', :id => "bucketName", placeholder: "Bucket Name", :required => true %>
	          <span class="col-xs-12"><i class="filetag" ></i> <span class="filetag"><%= t('ssh_keys.add_files') %></span> <%= file_field_tag :sobject, multiple: true %> </span>
	          </label>
	          </div>
	          <%= submit_tag "upload", :class => "btn btn-success col-md-12 col-xs-12" , :data => {:remote => true}%>
	          <% end %>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</div>

<!-- APP KELVI MODAL -->
<div class="modal fade" id="megam_flykelvi" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content c_modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">Delete Bucket</h4>
			</div>
			<div class="modal-body text-center">
				<%= t('general.you_want_to') %> delete a bucket?
			</div>
			<div class="modal-footer c_modal-footer">
				<button type="button" class="btn default" data-dismiss="modal">
					<%= t('cancel') %>
				</button>

				<%= link_to  t('confirm'), buckets_path(:id => "delete"), :class => "btn btn-success a_pad", :remote => true, :method => :delete, :target => "_self" %>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<style type="text/css">
	#upload_link {
		text-decoration: none;
	}
	#upload {
		display: none
	}
</style>

<script type="text/javascript">
	$('.create_bucket_modal').click(function(e) {
		$('#create_bucket').modal();
			});
		$('.inner-menu').click(function(e) {
			e.preventDefault();
			$('.inner-child').toggle();
		});
		//storage left menu
		$('.storage_left_add_inner').hide();
		$('.storage_left_add a ').click(function() {
		// e.preventDefault();
		$('.storage_left_add_inner').slideToggle();
		});
		// $('.storage-popup').hide();
		// storage overview pop up menu
		$('.my_bucket_inner').bind('contextmenu', function(e) {
			e.preventDefault();
			$('.storage-popup').css({
				'top' : e.pageY,
				'left' : e.pageX,
			});
			$('#bucketName').val($(event.currentTarget).attr('id'));
			//$.session.set('bucketname', $(event.currentTarget).attr('id'));
			$('.storage-popup').show();
					return false;
			});
	// hide storage menu when clicked outside the div
	$(document).on('click', function(e) {
		if ($(e.target).closest(".my_bucket_inner").length === 0) {
			$('.storage-popup').hide();
		}
	});

</script>
