<!--
** Copyright [2013-2015] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->
<div class="rt-box col-xs-12 col-sm-9 col-md-10 c_bg_white c_height_5">


 <%= render :partial => "users/topright_icons", :locals => {:title_name => t('titles.storage_title')} %>
  <div class="col-xs-12 col-sm-9 col-md-9 br_grey">
    <div class="row app_box app_storage">
      <div class="col-xs-12 col-sm-6 col-md-3  app_cover create_bucket_modal">
        <div class="app_inner">
          <div class="app_new ">
            <span class="glyphicon glyphicon-plus"></span>
            <p>
              Create Storage
            </p>
          </div>
        </div>
      </div>
      <% @bucket[:buckets].each do |bucket| %>
      <div class="col-xs-12 col-sm-6 col-md-3 app_cover my_bucket_inner" id="<%= bucket[:name] %>">
        <%= link_to bucketkolke_path(:id => bucket[:name]), :target => "_self", :remote => true do %>
        <div class="app_inner">
          <div class="app">
            <div class="app_head">
              <div class="row app_icon">
                <h5><%= bucket[:name] %></h5>
                <h6>
                  Size:
                  <%= bucket[:size] %>
                </h6>
              </div>
            </div>
            <div class="app_footer">
              <span >
                Objects count:
                <%= bucket[:count] %></span>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <%= render :partial => "buckets/usage", :locals => {:bucket => @bucket} %>
</div>
<!-- To load toastr message  -->
  <%= render :partial => "layouts/toastr_message" %>

<div class="storage-popup">
  <ul class="list-unstyled">
    <li>
      <a data-toggle="modal" href="#supload">
        <i class="c_icon-cloud-download pull-left"></i>Upload File</a>
    </li>
    <li>
      <a data-toggle="modal" href="#megam_flykelvi">
        <i class="c_icon-cloud-del pull-left"></i>Delete Bucket</a>
    </li>
  </ul>
</div>
<%= render :partial => "buckets/upload_modal" %>

<div aria-hidden="true" class="modal fade" id="create_bucket" tabindex="-1">
  <div class="modal-dialog" style="max-width:400px">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button"></button>
        <h4 class="modal-title">
          Bucket
        </h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <%= form_tag buckets_path, multipart: true, :method => :post, :remote => true do %>
            <div class="form-group">
              <%= text_field_tag :id, nil, :class=> 'form-control', placeholder: "Bucket Name", :required => true %>
            </div>
            <%= submit_tag "create", :class => "btn btn-success col-md-12 col-xs-12 bucket_create_submit" , :data => {:remote => true}%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- APP KELVI MODAL -->
<div aria-hidden="true" class="modal fade" id="megam_flykelvi" role="basic" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content c_modal-content">
            <div class="modal-header">
                <button aria-hidden="true" class="close" data-dismiss="modal" type="button"></button>
                <h4 class="modal-title">Delete Bucket</h4>
            </div>
            <div class="modal-body text-center">
                <%= t('you_want_to') %>
                delete a bucket?
            </div>
            <div class="modal-footer c_modal-footer">
                <button class="btn default" data-dismiss="modal" type="button">
                    <%= t('cancel') %>
                </button>

                <%= link_to  t('confirm'), bucket_path(:id => "delete"), :class => "btn btn-success a_pad", :remote => true, :method => :delete, :target => "_self" %>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script src="assets/megam.storages.js" />
<script>
    $(".bucket_create_submit").on("click", function(event) {
	$('#create_bucket').modal('hide');
});
</script>
