
<div class="row">
  <div class="col-xs-6 col-sm-7 col-md-9 col-lg-9 col-xl-9">
    <h4>Bucket Name: <%= @bucket_name %></h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="bottom-divider"></div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <table class="table tb_action_list">
      <thead>
        <tr>
          <th>Key</th>
          <th>Size</th>
          <th>Content Tyepe</th>
          <th>Last Modified</th>
          <th>Download URL</th>
        </tr>
      </thead>
      <tbody>
        <% @objects.each do |obj| %>
          <tr>
            <td class="set_title"><%= obj[:object_name] %></td>
            <td><%= obj[:size] %></td>
            <td><%= obj[:content_type] %></td>
            <td><i class="c_icon-calendar"></i> <%= obj[:last_modified] %> </td>
            <td>
              <%= link_to obj[:download_url] do %>
                <i class="c_icon-inBlue"></i><span><%= obj[:key] %></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
