<!--
** Copyright [2013-2015] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->
<div class="row">
	<div class="col-xs-6 col-sm-7 col-md-9 col-lg-9 col-xl-9">
		<h4>Activity</h4>
	</div>
	<div class="col-xs-6 col-sm-5 col-md-3 col-lg-3 col-xl-3">
		<ul class="list-inline c_sett_inline">
			<li class="pull-right">
				<i class="c_icon-compose"></i>
				<%= link_to  "Create", new_cross_cloud_path, :remote => true %>
			</li>
		</ul>
	</div>

</div>


<!--	<a data-toggle="modal" href="#view-details">View Details</a> -->


<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<div class="bottom-divider"></div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
		<table class="table tb_action_list">
			<thead>
				<tr>
					<th>Name</th>
					<th>Created At</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<% if @cross_clouds_collection.class != Megam::Error %>
				<% @cross_clouds.each do |cloud| %>
				<tr>
					<td class="set_title"><%= cloud[:name] %></td>
					<td><i class="c_icon-calendar"></i> <%= cloud[:created_at] %> </td>

					<td>

						<div class="row profile-actions">
							<%= link_to view_details_path(:settingsname => cloud[:name]), :data => {:toggle => "modal", target: "#viewdetails_postfinish_popup"}, :remote => true do %>
							<i class="icon-info pull-left"></i> View  
							<% end %>
						<%= link_to setting_path(:id => cloud[:name]), method: :delete, :data => {:toggle => "modal", target: "#settings_delete_popup", confirm: "Are you sure?"}, :remote => true do %>
							<i class="icon-trash"></i> Delete 
							<% end %>
						</div>
					</td>

				</tr>
				<% end %>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<div class="modal fade" id="settings_delete_popup" tabindex="-1" aria-hidden="true">

	<div class="modal-dialog">
		<div class="modal-content c_modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">Cloud Details</h4>
			</div>
			<div class="modal-body text-center">
				<div id="del_setting_msg">
				</div>
			</div>
			<div class="modal-footer c_modal-footer">
<%= link_to  "Ok", settings_path, :class => "btn btn-success" %>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>



