<div class="row cloud_signup_save">
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
		<h5>Sign In for google</h5>
		<!-- <a class="btn btn-default c_btn_gplus" href="/auth/google_oauth2" onClick='login();' id="loginText">Login with Google </a> -->
		<!-- <a class="btn btn-default c_btn_gplus" onClick='handleAuthClick();' id="loginText">Login with Google </a> -->
		<a class="btn btn-default c_btn_gplus" id="connect">Login with Google </a>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
		<h5>Save My Cloud As</h5>
		<div class="input-group margin-top-10" style="width:100%">
			<%= text_field_tag 'name', nil, placeholder: 'Enter a name to save', :required => true, :class =>"form-control" %>
			<span class="input-group-addon" style="width:35px" ></span>
		</div>
	</div>
</div>

<input type="hidden" name="google_client_id" value="<%= credentials['google_client_id'] %>">
<input type="hidden" name="google_secret_key" value="<%= credentials['google_secret_key'] %>">

<input type="hidden" name="provider" value="<%= selected_cloud %>">

<!-- Pass Hash in form element
<% session[:info].each do |key,value| %>
<%= hidden_field_tag "gce_auth_tokens[#{key}]",value %> 
<% end %>
-->

<div class="row cloud_signup_save">
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
		<h5>Image & Size</h5>
		<div class="input-group margin-top-10">
<%= label_tag 'Project Name'%>
			<%= text_field_tag 'project_name', nil, placeholder: 'Enter Project name', :required => true, :class =>"form-control" %>
			<span class="input-group-addon" ><i class="icon-question-sign" style=""></i></span>
		</div>

		<div class="input-group margin-top-10">
<%= label_tag 'Group'%>
			<%= text_field_tag 'group', nil, placeholder: 'Enter Network value', :required => true, :class =>"form-control" %>
			<span class="input-group-addon" ><i class="icon-question-sign" style=""></i></span>
		</div>

		<div class="input-group margin-top-10">
<%= label_tag 'Image'%>
			<%= text_field_tag 'image', nil, placeholder: 'Enter Image value', :required => true, :class =>"form-control" %>
			<span class="input-group-addon" ><i class="icon-question-sign" style=""></i></span>
		</div>

		<div class="input-group margin-top-10">
<%= label_tag 'Flavor'%>
			<%= text_field_tag 'flavor', nil, placeholder: 'Enter instance size', :required => true, :class =>"form-control" %>
			<span class="input-group-addon" ><i class="icon-question-sign"></i></span>
		</div>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
		<h5>Security</h5>

		<div class="input-group margin-top-10">
<%= label_tag 'Zone'%>
			<%= text_field_tag 'zone', nil, placeholder: 'Enter zone', :required => true, :class =>"form-control" %>
			<span class="input-group-addon" ><i class="icon-question-sign"></i></span>
		</div>

		<div class="input-group margin-top-10">
<%= label_tag 'SSHuser'%>
			<%= text_field_tag 'ssh_user', nil, placeholder: 'Enter SSH user', :required => true, :class =>"form-control" %>
			<span class="input-group-addon" ><i class="icon-question-sign" ></i></span>
		</div>

		<div class="input-group margin-top-10">
<%= label_tag 'SSHkey'%>
			<%= select_tag :id_rsa_public_key, options_for_select(@ssh_keys.map{ |c| c[:name] }), { :class => 'form-control' }%>

			<span class="input-group-addon" ><i class="icon-question-sign" ></i></span>
		</div>

		<div class="input-group margin-top-10">
			<br/>
			<%= submit_tag "Create", :style => "width:150px; height:50px;", :class => "btn green settings_create" %>

		</div>

	</div>
</div>


 <script>  
 
   $('#connect').click(function(){
      $.oauthpopup({
        path: '/auth/google_oauth2',
        callback: function(){
       //   $.get('/googleoauth', function(data){
          //  console.log(session[:info]);
        //    console.log("------------------------------------");
            window.close();
        //  });
        }
      });
    });  
</script>
