<input type="hidden" name="provider" value="<%= selected_cloud %>">
<div class="row-fluid">
	<div class="span4">
		<div class="div_border">
			<h4 class="alert-heading">Save this Cross Cloud As</h4>
		</div>
		<br/>
		<div class="row-fluid">
			<div class="control-group" id="cc_name">
				<div class="controls">
					<i class="fa fa-cloud"></i>
					&nbsp;
					<%= text_field_tag 'name', nil, placeholder: 'Enter a name' %>
					<%= link_to "#" do %>
					<i class="fa fa-question-circle"></i>
					<% end %>
				</div>
			</div>
		</div>
		<br/>
		<br/>
		<div class="row-fluid">
			<div id='cloud_logo'>
				<a href='/auth/google_oauth2'  target='_self' class ="btn btn-large disabled btn-primary btn-block" >
					<icon class="fa fa-google-plus" />&nbsp;Connect Your Cloud Account</a>
			</div>
		</div>
		<br/>
		<br/>
		<div class="row-fluid">
			<div id='acc_link'>
				<a href='https://accounts.google.com/SignUp' target='_blank' class ="btn btn-large disabled btn-default btn-block" >Create an Account for Google Cloud</a>
			</div>
		</div>
	</div>
	<div class="span4">
		<div class="div_border">
			<h4 class="alert-heading">Image & Size</h4>
		</div>
		<br/>

		<div class="control-group" id="cc_pname">
			<div class="controls">
				<%= text_field_tag 'project_name', nil, placeholder: 'Enter project name ..' %>
				<%= link_to "#" do %>
				<i class="fa fa-question-circle"></i>
				<% end %>
			</div>
		</div>
		<div class="control-group" id="cc_image">
			<div class="controls">
				<%= text_field_tag 'image', nil, placeholder: 'Enter Image value...' %>
				<%= link_to "#" do %>
				<i class="fa fa-question-circle"></i>
				<% end %>
			</div>
		</div>
		<div class="control-group" id="cc_flavor">
			<div class="controls">
				<%= text_field_tag 'flavor', nil, placeholder: 'Enter instance size...' %>
				<%= link_to "#" do %>
				<i class="fa fa-question-circle"></i>
				<% end %>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<%= text_field_tag 'zone', nil, placeholder: 'Enter zone...' %>
				<%= link_to "#" do %>
				<i class="fa fa-question-circle"></i>
				<% end %>
			</div>
		</div>
	</div>

	<div class="span4">
		<div class="div_border">
			<h4 class="alert-heading">Security</h4>
		</div>
		<br/>

		<div class="control-group" id="cc_sshuser">
			<div class="controls">
				<%= text_field_tag 'ssh_user', nil, placeholder: 'Enter SSH User..' %>
				<%= link_to "#" do %>
				<i class="fa fa-question-circle"></i>
				<% end %>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<%= text_field_tag 'id_rsa_public_key', nil, placeholder: 'Enter id_rsa public key..' %>
				<%= link_to "#" do %>
				<i class="fa fa-question-circle"></i>
				<% end %>
			</div>
		</div>

		<div class="control-group" id="cc_gcli">
			<div class="controls">
				<%= text_field_tag 'google_client_id', nil, placeholder: 'Enter google client id..' %>
				<%= link_to "#" do %>
				<i class="fa fa-question-circle"></i>
				<% end %>
			</div>
		</div>

		<div class="control-group" id="cc_gsk">
			<div class="controls">
				<%= text_field_tag 'google_secret_key', nil, placeholder: 'Enter google secret key..' %>
				<%= link_to "#" do %>
				<i class="fa fa-question-circle"></i>
				<% end %>
			</div>
		</div>
		<br/>
	</div>
</div>
