<div class="row cloud_signup_save">
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
		<h5>Sign Up for HP Cloud</h5>		
		<a class="btn btn-default colr-denimblue" href="http://www.hpcloud.com/"> Create a new hp account </a>
		<!-- <button class="btn btn-default btn-md c_btn_gplus"> Login with Google + </button> -->
	</div>

	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
		<h5>Save My Cloud As</h5>
		<div class="input-group margin-top-10" style="width:100%">
			<%= text_field_tag 'name', nil, placeholder: 'Enter a name to save', :required => true, :class =>"form-control" %>
			<span class="input-group-addon" style="width:35px" ></span>
		</div>
	</div>
</div>

<div class="row cloud_signup_save">
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
		<h5>Sign In with hp credentials</h5>
		<a class="btn btn-default c_btn_gplus" href="#">Login with HP cloud</a>		
	</div>

	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
		<h5>Security credentials</h5>
		<div class="input-group margin-top-10">
			<%= text_field_tag 'hp_access_key', nil, placeholder: 'Enter HP Access key' , :required => true, :class =>"form-control" %>
			<span class="input-group-addon" ><i class="icon-question-sign" ></i></span>
		</div>

		<div class="input-group margin-top-10">
			<%= text_field_tag 'hp_secret_key', nil, placeholder: 'Enter HP Secret key', :required => true, :class =>"form-control" %>
			<span class="input-group-addon" ><i class="icon-question-sign" ></i></span>
		</div>
	</div>
</div>

<input type="hidden" name="provider" value="<%= selected_cloud %>">

<div class="row cloud_signup_save">
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
		<h5>Image & Size</h5>
		<div class="input-group margin-top-10">
			<%= text_field_tag 'group', nil, placeholder: 'Enter Group name', :required => true, :class =>"form-control" %>
			<span class="input-group-addon" ><i class="icon-question-sign" style=""></i></span>
		</div>

		<div class="input-group margin-top-10">
			<%= text_field_tag 'image', nil, placeholder: 'Enter Image id' , :required => true, :class =>"form-control" %>
			<span class="input-group-addon" ><i class="icon-question-sign" style=""></i></span>
		</div>

		<div class="input-group margin-top-10">
			<%= text_field_tag 'flavor', nil, placeholder: 'Enter Instance size' , :required => true, :class =>"form-control" %>
			<span class="input-group-addon" ><i class="icon-question-sign" style=""></i></span>
		</div>

		<div class="input-group margin-top-10">
			<%= text_field_tag 'tenant_id', nil, placeholder: 'Enter Tenant id' , :required => true, :class =>"form-control" %>
			<span class="input-group-addon" ><i class="icon-question-sign"></i></span>
		</div>

		<div class="input-group margin-top-10">
			<%= text_field_tag 'zone', nil, placeholder: 'Enter HP zone' , :required => true, :class =>"form-control" %>
			<span class="input-group-addon" ><i class="icon-question-sign"></i></span>
		</div>

	</div>

	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
		<h5>Security</h5>

		<div class="input-group margin-top-10">
                        <%= text_field_tag 'ssh_key', nil, placeholder: 'Enter AWS SSH key' , :required => true, :class =>"form-control" %>
			<span class="input-group-addon" ><i class="icon-question-sign" ></i></span>
		</div>


		<div class="input-group margin-top-10">
			<%= text_field_tag 'ssh_user', nil, placeholder: 'Enter AWS SSH User' , :required => true, :class =>"form-control" %>
			<span class="input-group-addon" ><i class="icon-question-sign" ></i></span>
		</div>

		<div class="input-group margin-top-10">
			<%= select_tag :id_rsa_public_key, options_for_select(@ssh_keys.map{ |c| c[:name] }), { :class => 'form-control input-sm' }%>

			<span class="input-group-addon" ><i class="icon-question-sign" ></i></span>
		</div>
		
	</div>
</div>
