<input type="hidden" name="provider" value="<%= selected_cloud %>">
<div class="row-fluid">
	<div class="span4">
		<br/>
		<br/>
		<div class="div_border">
			<h4 class="alert-heading">Select Cloud Provider</h4>
		</div>
		<br/>
		<div class="row-fluid">
			<div class="control-group" id="cc_name">
				<div class="controls">
					Save this Cross Cloud As : <%= text_field_tag 'name', nil, :class=> 'required', placeholder: 'Enter a name' %>
					<%= link_to "#" do %>
					<i class="icon-question-sign"></i>
					<% end %>
				</div>
			</div>
		</div>
		<br/>
		<br/>
		<div class="row-fluid">
			<div class="offset2" id="cloud_logo">
				<%= image_tag("logo_hp.png", :size => "100x100") %>
			</div>
		</div>
		<br/>
		<br/>
		<div class="row-fluid">
			<div class="offset2" id="acc_link">
				<%= link_to "Create an account for amazon.com", "http://aws.amazon.com/console/", :target => "_blank" %>
			</div>
		</div>
	</div>
	<div class="span4">
		<br/>
		<br/>
		<div class="div_border">
			<h4 class="alert-heading">Image & Size</h4>
		</div>
		<br/>

		<div class="control-group" id="cc_group">
			<div class="controls">
				<%= text_field_tag 'group', nil, :class=> 'required', placeholder: 'Enter Group name' %>
				<%= link_to "#" do %>
				<i class="icon-question-sign"></i>
				<% end %>
			</div>
		</div>
		<div class="control-group" id="cc_image">
			<div class="controls">
				<%= text_field_tag 'image', nil, :class=> 'required', placeholder: 'Enter Image value...' %>
				<%= link_to "#" do %>
				<i class="icon-question-sign"></i>
				<% end %>
			</div>
		</div>
		<div class="control-group" id="cc_flavor">
			<div class="controls">
				<%= text_field_tag 'flavour', nil, :class=> 'required', placeholder: 'Enter instance size...' %>
				<%= link_to "#" do %>
				<i class="icon-question-sign"></i>
				<% end %>
			</div>
		</div>
	</div>

	<div class="span4">
		<br/>
		<br/>
		<div class="div_border">
			<h4 class="alert-heading">Security</h4>
		</div>
		<br/>
		<div class="control-group" id="cc_sshkey">
			<div class="controls">
				<%= text_field_tag 'ssh_key', nil, :class=> 'required', placeholder: 'Enter SSH key...' %>
				<%= link_to "#" do %>
				<i class="icon-question-sign"></i>
				<% end %>
			</div>
		</div>

		<div class="control-group" id="cc_sshuser">
			<div class="controls">
				<%= text_field_tag 'ssh_user', nil, :class=> 'required', placeholder: 'Enter SSH User..' %>
				<%= link_to "#" do %>
				<i class="icon-question-sign"></i>
				<% end %>
			</div>
		</div>

		<div class="control-group" id="cc_awspk">
			<div class="controls">
				<%= file_field_tag 'aws_private_key' %>
				<!--<%= text_field_tag 'aws_private_key', nil, :class=> 'required', placeholder: 'Enter AWS_private_key..' %>-->
				<%= link_to "#" do %>
				<i class="icon-question-sign"></i>
				<% end %>
			</div>
		</div>

		<div class="control-group" id="cc_rsapk">
			<div class="controls">
				<%= file_field_tag 'id_rsa_public_key' %>
				<!--<%= text_field_tag 'id_rsa_public_key', nil, :class=> 'required', placeholder: 'Enter id_rsa public key..' %>-->
				<%= link_to "#" do %>
				<i class="icon-question-sign"></i>
				<% end %>
			</div>
		</div>

		<div class="control-group" id="cc_awsak">
			<div class="controls">
				<%= text_field_tag 'aws_access_key', nil, :class=> 'required', placeholder: 'Enter HP access key..' %>
				<%= link_to "#" do %>
				<i class="icon-question-sign"></i>
				<% end %>
			</div>
		</div>

		<div class="control-group" id="cc_awssk">
			<div class="controls">
				<%= text_field_tag 'aws_secret_key', nil, :class=> 'required', placeholder: 'Enter HP secret key..' %>
				<%= link_to "#" do %>
				<i class="icon-question-sign"></i>
				<% end %>
			</div>
		</div>

		<br/>
	</div>
</div>
