<input type="hidden" name="provider" value="<%= selected_cloud %>">
<div class="row">
	<div class="span4">
		<br/>
		<br/>
		<div class="div_border">
			<h4 class="alert-heading">Save this Cross Cloud As</h4>
		</div>
		<br/>
		<div class="row">
			<div class="control-group" id="cc_name">
				<div class="controls">
					<i class="fa fa-cloud"></i>
					&nbsp;
					<%= text_field_tag 'name', nil, :class=> 'required', placeholder: 'Enter a name' %>
					<%= link_to "#" do %>
					<i class="fa fa-question-circle"></i>
					<% end %>
				</div>
			</div>
		</div>
		<br/>
		<br/>
		<div class="row">
			<div id="cloud_logo"></div>
		</div>
		<br/>
		<br/>
		<div class="row">
			<div  id="acc_link">
				<%= link_to "Create an account for hpcloud", "http://console.hpcloud.com", :target => "_blank",:class => "btn btn-default btn-large disabled btn-block" %>
			</div>
		</div>
	</div>
	<div class="span4">
		<br/>
		<br/>
		<div class="div_border">
			<h4 class="alert-heading">Image & Size</h4>
		</div>
		<br/>

		<div class="control-group" id="cc_group">
			<div class="controls">
				<%= text_field_tag 'group', nil, :class=> 'required', placeholder: 'Enter Group name' %>
				<%= link_to "#" do %>
				<i class="fa fa-question-circle"></i>
				<% end %>
			</div>
		</div>
		<div class="control-group" id="cc_image">
			<div class="controls">
				<%= text_field_tag 'image', nil, :class=> 'required', placeholder: 'Enter Image value...' %>
				<%= link_to "#" do %>
				<i class="fa fa-question-circle"></i>
				<% end %>
			</div>
		</div>
		<div class="control-group" id="cc_flavor">
			<div class="controls">
				<%= text_field_tag 'flavour', nil, :class=> 'required', placeholder: 'Enter instance size...' %>
				<%= link_to "#" do %>
				<i class="fa fa-question-circle"></i>
				<% end %>
			</div>
		</div>
		<div class="control-group" id="cc_tenantid">
			<div class="controls">
				<%= text_field_tag 'tenant_id', nil, :class=> 'required', placeholder: 'Enter Tenant Id' %>
				<%= link_to "#" do %>
				<i class="fa fa-question-circle"></i>
				<% end %>
			</div>
		</div>
		<div class="control-group" id="cc_zone">
			<div class="controls">
				<%= text_field_tag 'zone', nil, :class=> 'required', placeholder: 'Enter HP zone' %>
				<%= link_to "#" do %>
				<i class="fa fa-question-circle"></i>
				<% end %>
			</div>
		</div>		
		
	</div>

	<div class="span4">
		<br/>
		<br/>
		<div class="div_border">
			<h4 class="alert-heading">Security</h4>
		</div>
		<br/>
		<div class="control-group" id="cc_sshkey">
			<div class="controls">
				<%= text_field_tag 'ssh_key', nil, :class=> 'required', placeholder: 'Enter SSH key...' %>
				<%= link_to "#" do %>
				<i class="fa fa-question-circle"></i>
				<% end %>
			</div>
		</div>

		<div class="control-group" id="cc_sshuser">
			<div class="controls">
				<%= text_field_tag 'ssh_user', nil, :class=> 'required', placeholder: 'Enter SSH User..' %>
				<%= link_to "#" do %>
				<i class="fa fa-question-circle"></i>
				<% end %>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<%= text_field_tag 'private_key', nil, :class=> 'required', placeholder: 'Enter HP private key...' %>
				<%= link_to "#" do %>
				<i class="fa fa-question-circle"></i>
				<% end %>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<%= text_field_tag 'id_rsa_public_key', nil, :class=> 'required', placeholder: 'Enter id_rsa public key..' %>
				<%= link_to "#" do %>
				<i class="fa fa-question-circle"></i>
				<% end %>
			</div>
		</div>

		<div class="control-group" id="cc_awsak">
			<div class="controls">
				<%= text_field_tag 'hp_access_key', nil, :class=> 'required', placeholder: 'Enter HP access key..' %>
				<%= link_to "#" do %>
				<i class="fa fa-question-circle"></i>
				<% end %>
			</div>
		</div>

		<div class="control-group" id="cc_awssk">
			<div class="controls">
				<%= text_field_tag 'hp_secret_key', nil, :class=> 'required', placeholder: 'Enter HP secret key..' %>
				<%= link_to "#" do %>
				<i class="fa fa-question-circle"></i>
				<% end %>
			</div>
		</div>

		<br/>
	</div>
</div>
