<%= javascript_include_tag "megam.popovers.js" %>
<input type="hidden" name="provider" value="<%= selected_cloud %>">
<div class="row">
	<div class="col-md-4">
		<br/>
		<br/>
		<div class="underlineolivegreen">
			<h4 class="alert-heading">Save My Cloud As</h4>
		</div>
		<br/>
		<div class="row">
			<div class="form-group" id="cc_name">
				<label class="col-sm-2 col-md-2 col-lg-1 control-label"> &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-cloud"></i> &nbsp; </label>
				<div class="col-sm-8 col-md-8 col-lg-9">
					<%= text_field_tag 'name', nil, placeholder: 'Enter a name to save', :required => true,
					:class =>"form-control input-sm" %>
				</div>
				<%= link_to "#" do %>
				<i class="fa fa-question-circle" id="popover_cloud_name"></i>
				<% end %>
			</div>
		</div>
		<br/>
		<div  id="acc_link">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Sign Up for OpenNebula
				</div>
				<div class="panel-body">
					Click here : <%= link_to "Sign Up", "http://opennebula.org/", :target => "_blank", :class => "btn-link"  %>
					.Make sure you have the keys handy
					<ul class="inline-block">
						<li>
							OpenNebula
						</li>
						<li>
							OpenNebula
						</li>

					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<br/>
		<br/>
		<div class="underlineolivegreen">
			<h4 class="alert-heading">Image & Size</h4>
		</div>
		<br/>		


		<div class="form-group" id="cc_image">
			<div class="col-sm-11 col-md-11 col-lg-11">
				<%= text_field_tag 'image', nil, placeholder: 'Enter Opennebula Template name' , :required => true,
				:class =>"form-control input-sm" %>

			</div>
			<%= link_to "#" do %>
			<i class="fa fa-question-circle" id = "popover_opennebula_template"></i>
			<% end %>
		</div>
		<br/>
		<div class="form-group"  id="cc_region">
			<div class="col-sm-11 col-md-11 col-lg-11">
				<%= text_field_tag 'zone', nil, placeholder: 'Enter Opennebula End point' , :required => true,
				:class =>"form-control input-sm" %>

			</div>
			<%= link_to "#" do %>
			<i class="fa fa-question-circle" id="popover_opennubula_endpoint"></i>
			<% end %>
		</div>
	</div>

	<div class="col-md-4">
		<br/>
		<br/>
		<div class="underlineolivegreen">
			<h4 class="alert-heading">Security</h4>
		</div>
		<br/>
		<div class="form-group" id="cc_sshuser">
			<div class="col-sm-11 col-md-11 col-lg-11">
				<%= text_field_tag 'ssh_user', nil, placeholder: 'Enter AWS SSH User' , :required => true,
				:class =>"form-control input-sm" %>

			</div>
			<%= link_to "#" do %>
			<i class="fa fa-question-circle" id="popover_sshuser"></i>
			<% end %>
		</div>
		<br/>

		<% if @ssh_keys.any? %>
		<div class="form-group">
			<div class="col-sm-11 col-md-11 col-lg-11">
				<%= select_tag :id_rsa_public_key, options_for_select(@ssh_keys.map{ |c| c[:name] }) %>

			</div>
			<%= link_to "#" do %>
			<i class="fa fa-question-circle" id="popover_aws_publickey"></i>
			<% end %>
		</div>
		<% else %>
		<div class="form-group">
			<div class="col-sm-11 col-md-11 col-lg-11">
				<%= select_tag :id_rsa_public_key, options_for_select(ssh_keys.map{ |c| c[:name] }) %>
			</div>
			<%= link_to "#" do %>
			<i class="fa fa-question-circle" id="popover_aws_publickey"></i>
			<% end %>
		</div>
		<% end %>
		<br/>
		<div class="form-group" id="cc_oneuser">
			<div class="col-sm-11 col-md-11 col-lg-11">
				<%= text_field_tag 'opennebula_username', nil, placeholder: 'Enter Opennebula Username' , :required => true,
				:class =>"form-control input-sm" %>
			</div>
			<%= link_to "#" do %>
			<i class="fa fa-question-circle" id="popover_opennebula_username"></i>
			<% end %>
		</div>
		<br/>
		<div class="form-group" id="cc_onepass">
			<div class="col-sm-11 col-md-11 col-lg-11">
				<%= text_field_tag 'opennebula_password', nil, placeholder: 'Enter Opennebula Password', :required => true,
				:class =>"form-control input-sm" %>
			</div>
			<%= link_to "#" do %>
			<i class="fa fa-question-circle" id="popover_opennebula_password" ></i>
			<% end %>
		</div>
		<br/>
	</div>
</div>
