<div class="row cloud_signup_save">
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">

	</div>

	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
		<h5>Save My Cloud As</h5>
		<div class="input-group margin-top-10" style="width:100%">
			<%= text_field_tag 'name', nil, placeholder: 'Enter a name to save', :required => true, :class =>"form-control" %>
			<span class="input-group-addon" style="width:35px" ></span>
		</div>
	</div>
</div>
<% if defined? credentials %>
<input type="hidden" name="opennebula_username" value="<%= credentials['opennebula_access_key'] %>">
<input type="hidden" name="opennebula_password" value="<%= credentials['opennebula_secret_key'] %>">
<input type="hidden" name="zone" value="<%= credentials['zone'] %>">
<input type="hidden" name="flavor" value="id:0, name:empty">

<input type="hidden" name="provider" value="<%= selected_cloud %>">

<div class="row cloud_signup_save">
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
		<h5>Image & Size</h5>

		<div class="input-group margin-top-10">
<%= label_tag 'Template'%>
<%= select_tag :image, options_for_select(@flavors.map{ |c| "Id:#{c['id']}, Image:#{c['image']}, Ram:#{c['ram']}, Name:#{c['name']}" }), { :class => 'form-control' }%>
			<span class="input-group-addon" ><i class="icon-question-sign" style=""></i></span>
		</div>

		<div class="input-group margin-top-10">
<%= label_tag 'SSHkey'%>
			<%= select_tag :id_rsa_public_key, options_for_select(@ssh_keys.map{ |c| c[:name] }), { :class => 'form-control' }%>

			<span class="input-group-addon" ><i class="icon-question-sign" ></i></span>
		</div>

	</div>

	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
		<h5>Security</h5>

		<div class="input-group margin-top-10">
<%= label_tag 'SSHuser'%>
			<%= text_field_tag 'ssh_user', nil, placeholder: 'Enter image SSH User' , :required => true, :class =>"form-control" %>
			<span class="input-group-addon" ><i class="icon-question-sign" ></i></span>
		</div>


		<div class="input-group margin-top-10">
<br/>
                        <%= submit_tag "Create", :style => "width:150px; height:50px;", :class => "btn green settings_create" %>

		</div>


		
	</div>
<% end %>
</div>


