<input type="hidden" name="provider" value="<%= selected_cloud %>">
<div class="row">
	<div class="col-md-4">
		<br/>
		<br/>
		<div class="underlineolivegreen">
			<h4 class="alert-heading">Save My Cloud As</h4>
		</div>
		<br/>
		<div class="row">
			<div class="form-group" id="cc_name">
				<label class="col-sm-2 col-md-2 col-lg-1 control-label"> &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-cloud"></i> &nbsp; </label>
				<div class="col-sm-8 col-md-8 col-lg-9">
					<%= text_field_tag 'name', nil, placeholder: 'Enter a name to save', :id =>"required",
					:class =>"form-control input-sm" %>
				</div>
				<%= link_to "#" do %>
				<i class="fa fa-question-circle" id="popover_openqrm_name"></i>
				<% end %>
			</div>
		</div>
		<br/>
		<div  id="acc_link">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Sign Up for Openqrm
				</div>
				<div class="panel-body">
					Click here : <%= link_to "Sign Up", "http://aws.amazon.com/console/", :target => "_blank", :class => "btn-link"  %>
					.Make sure you have the keys handy
					<ul class="inline-block">
						<li>
							Openqrm
						</li>
						<li>
							OpenQrm
						</li>

					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<br/>
		<br/>
		<div class="underlineolivegreen">
			<h4 class="alert-heading">Image & Size</h4>
		</div>
		<br/>		

		<div class="form-group" id="cc_group">
			<div class="col-sm-11 col-md-11 col-lg-11">
				<%= text_field_tag 'group', nil, placeholder: 'Enter Group name', :id =>"required",
				:class =>"form-control input-sm" %>
			</div>
			<%= link_to "#" do %>
			<i class="fa fa-question-circle" id="popover_openqrm_group" ></i>
			<% end %>
		</div>
		<br/>

		<div class="form-group" id="cc_image">
			<div class="col-sm-11 col-md-11 col-lg-11">
				<%= text_field_tag 'image', nil, placeholder: 'Enter Image id' , :id =>"required",
				:class =>"form-control input-sm" %>

			</div>
			<%= link_to "#" do %>
			<i class="fa fa-question-circle" id = "popover_openqrm_image"></i>
			<% end %>
		</div>
		<br/>
		<div class="form-group" id="cc_flavor">
			<div class="col-sm-11 col-md-11 col-lg-11">
				<%= text_field_tag 'flavor', nil, placeholder: 'Enter Instance size' , :id =>"required",
				:class =>"form-control input-sm" %>
			</div>
			<%= link_to "#" do %>
			<i class="fa fa-question-circle" id="popover_aws_flavor"></i>
			<% end %>
		</div>
		<br/>
		<div class="form-group"  id="cc_region">
			<div class="col-sm-11 col-md-11 col-lg-11">
				<%= text_field_tag 'region', nil, placeholder: 'Enter AWS Region' , :id =>"required",
				:class =>"form-control input-sm" %>

			</div>
			<%= link_to "#" do %>
			<i class="fa fa-question-circle" id="popover_aws_region"></i>
			<% end %>
		</div>
	</div>

	<div class="col-md-4">
		<br/>
		<br/>
		<div class="underlineolivegreen">
			<h4 class="alert-heading">Security</h4>
		</div>
		<br/>
		<div class="form-group" id="cc_sshkey">
			<div class="col-sm-11 col-md-11 col-lg-11">
				<%= text_field_tag 'username', nil, placeholder: 'Enter Openqrm UserName' , :id =>"required",
				:class =>"form-control input-sm" %>
			</div>
			<%= link_to "#" do %>
			<i class="fa fa-question-circle" id="popover_openqrm_username"></i>
			<% end %>
		</div>
		<br/>
		<div class="form-group" id="cc_sshuser">
			<div class="col-sm-11 col-md-11 col-lg-11">
				<%= text_field_tag 'password', nil, placeholder: 'Enter Openqrm user\'s password' , :id =>"required",
				:class =>"form-control input-sm" %>

			</div>
			<%= link_to "#" do %>
			<i class="fa fa-question-circle" id="popover_openqrm_password"></i>
			<% end %>
		</div>
		<br/>
		<% if @ssh_keys.any? %>
		<div class="form-group">
			<div class="col-sm-11 col-md-11 col-lg-11">
				<%= select_tag :id_rsa_public_key, options_for_select(@ssh_keys.map{ |c| c[:name] }) %>

			</div>
			<%= link_to "#" do %>
			<i class="fa fa-question-circle" id="popover_aws_publickey"></i>
			<% end %>
		</div>
		<% else %>
		<div class="form-group">
			<div class="col-sm-11 col-md-11 col-lg-11">
				<%= select_tag :id_rsa_public_key, options_for_select(ssh_keys.map{ |c| c[:name] }) %>
			</div>
			<%= link_to "#" do %>
			<i class="fa fa-question-circle" id="popover_aws_publickey"></i>
			<% end %>
		</div>
		<% end %>
		<br/>
		<div class="form-group" id="cc_awsak">
			<div class="col-sm-11 col-md-11 col-lg-11">
				<%= text_field_tag 'openqrm_cloud_user', nil, placeholder: 'Enter Openqrm Cloud User Name' , :id =>"required",
				:class =>"form-control input-sm" %>
			</div>
			<%= link_to "#" do %>
			<i class="fa fa-question-circle" id="popover_aws_accesskey"></i>
			<% end %>
		</div>
		<br/>
		<div class="form-group" id="cc_awssk">
			<div class="col-sm-11 col-md-11 col-lg-11">
				<%= text_field_tag 'aws_secret_key', nil, placeholder: 'Enter AWS Secret key', :id =>"required",
				:class =>"form-control input-sm" %>
			</div>
			<%= link_to "#" do %>
			<i class="fa fa-question-circle" id="popover_aws_secretkey" ></i>
			<% end %>
		</div>
		<br/>
	</div>
</div>
