<input type="hidden" name="provider" value="<%= selected_cloud %>">
<div class="row">
	<div class="col-md-4">
		<br/>
		<br/>
		<div class="div_border">
			<h4 class="alert-heading">Save My Cloud As</h4>
		</div>
		<br/>
		<div class="row">
			<div class="control-group" id="cc_name">
				<div class="controls">
					&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-cloud"></i>
					&nbsp;
					<%= text_field_tag 'name', nil, placeholder: 'Enter a name' %>
					<%= link_to "#" do %>
					<i class="fa-question-sign" id="popover_pb_name"></i>
					<% end %>
				</div>
			</div>
		</div>
		<br/>
		<div  id="acc_link">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Sign Up for ProfitBricks
				</div>
				<div class="panel-body">
					Click here : <%= link_to "Sign Up", "https://www.profitbricks.com/signup", :target => "_blank", :class => "btn-link" %>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<br/>
		<br/>
		<div class="div_border">
			<h4 class="alert-heading">Image & Size</h4>
		</div>
		<br/>
		<div class="control-group" id="cc_tenantid">
			<div class="controls">
				<%= text_field_tag 'tenant_id', nil, placeholder: 'Datacenter Name' %>
				<%= link_to "#" do %>
				<i class="fa-question-sign" id="popover_hp_datacenter"></i>
				<% end %>
			</div>
		</div>
		<br/>
		<div class="control-group" id="cc_image">
			<div class="controls">
				<%= text_field_tag 'image', "Image name", :readonly => true, :title => "Image Name" %>
				<%= link_to "#" do %>
				<i class="fa-question-sign" id="popover_pb_image"></i>
				<% end %>
			</div>
		</div>
		(OR)
		<br/>
			<div class="control-group" id="cc_group">
			<div class="controls">
				<%= text_field_tag 'group', "raring-stencil", :readonly => true, :title => "Snapshot Name", placeholder: 'Snapshot Name' %>
				<%= link_to "#" do %>
				<i class="fa-question-sign" id="popover_pb_snapshot"></i>
				<% end %>
			</div>
		</div>
		<br/>
		<div class="control-group" id="cc_sshkey">
			<div class="controls">
				<%= text_field_tag 'ssh_key', nil, placeholder: 'Password for Image or snapshot', :title => "Enter password for your image or snapshot" %>
				<%= link_to "#" do %>
				<i class="fa-question-sign" id="popover_pb_image_password"></i>
				<% end %>
			</div>
		</div>
		<br/>
		<div class="control-group" id="cc_flavor">
			<div class="controls">
				<%= text_field_tag 'flavor', 10, :title => "Storage hdd Size", :size => 5 %>
				<%= text_field_tag 'ram', 1024, :title => "Ram size(Multiples of 256)", :size => 5 %>
				<%= text_field_tag 'cpus', 1, :title => "No of cores(cpus)", :size => 5 %>
				<%= link_to "#" do %>
				<i class="fa-question-sign"></i>
				<% end %>
			</div>
		</div>

		<br/>

	</div>

	<div class="col-md-4">
		<br/>
		<br/>
		<div class="div_border">
			<h4 class="alert-heading">Security</h4>
		</div>
		<br/>
		<div class="control-group" id="cc_sshuser">
			<div class="controls">
				<%= text_field_tag 'ssh_user', nil, placeholder: 'SSH User' %>
				<%= link_to "#" do %>
				<i class="fa-question-sign" id="popover_pb_sshuser"></i>
				<% end %>
			</div>
		</div>
		<br/>		
		<div class="control-group">
			<div class="controls">
				 <%= select_tag :id_rsa_public_key, options_for_select(ssh_keys.map{ |c| c[:name] }) %>
				<%= link_to "#" do %>
				<i class="fa-question-sign" id="popover_aws_publickey"></i>
				<% end %>
			</div>
		</div>
		<br/>
		<div class="control-group" id="cc_awsak">
			<div class="controls">
				<%= text_field_tag 'profitbricks_username', nil, placeholder: 'Profitbricks user email..' %>
				<%= link_to "#" do %>
				<i class="fa-question-sign" id="popover_pb_username"></i>
				<% end %>
			</div>
		</div>
		<br/>
		<div class="control-group" id="cc_awssk">
			<div class="controls">
				<%= text_field_tag 'profitbricks_password', nil, placeholder: 'profitbricks password..' %>
				<%= link_to "#" do %>
				<i class="fa-question-sign" id="popover_pb_password"></i>
				<% end %>
			</div>
		</div>

		<br/>
	</div>
</div>
