<div class="row cloud_signup_save">
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
		<h5>Sign Up for profitbricks Cloud</h5>
		<a class="btn btn-default colr-denimblue" href="https://www.profitbricks.com/signup"> Create a new profitbricks account </a>
		<!-- <button class="btn btn-default btn-md c_btn_gplus"> Login with Google + </button> -->
	</div>

	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
		<h5>Save My Cloud As</h5>
		<div class="input-group margin-top-10" style="width:100%">
			<%= text_field_tag 'name', nil, placeholder: 'Enter a name to save', :required => true, :class =>"form-control" %>
			<span class="input-group-addon" style="width:35px" ></span>
		</div>
	</div>
</div>

<div class="row cloud_signup_save">
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
		<h5>Sign In with profitbricks credentials</h5>
		<a class="btn btn-default c_btn_gplus" href="#" disabled>Login with profitbricks</a>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
		<h5>Security credentials</h5>
		<div class="input-group margin-top-10">
			<%= text_field_tag 'profitbricks_username', nil, placeholder: 'Enter profitbricks user email' , :required => true, :class =>"form-control" %>
			<span class="input-group-addon" ><i class="icon-question-sign" ></i></span>
		</div>

		<div class="input-group margin-top-10">
			<%= text_field_tag 'profitbricks_password', nil, placeholder: 'Enter profitbricks password', :required => true, :class =>"form-control" %>
			<span class="input-group-addon" ><i class="icon-question-sign" ></i></span>
		</div>
	</div>
</div>

<input type="hidden" name="provider" value="<%= selected_cloud %>">

<div class="row cloud_signup_save">
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
		<h5>Image & Size</h5>

		<div class="input-group margin-top-10">
			<%= text_field_tag 'tenant_id', nil, placeholder: 'Datacenter name' , :required => true, :class =>"form-control" %>
			<span class="input-group-addon" ><i class="icon-question-sign" style=""></i></span>
		</div>

		<div class="input-group margin-top-10">
			<%= text_field_tag 'image', nil, placeholder: 'Enter Image id' , :required => true, :readonly => true, :class =>"form-control" %>
			<span class="input-group-addon" ><i class="icon-question-sign" style=""></i></span>
		</div>

		<div class="input-group margin-top-10">
			<%= text_field_tag 'group', 'raring-stencil', placeholder: 'Enter Snapshot name', :required => true, :class =>"form-control" %>
			<span class="input-group-addon" ><i class="icon-question-sign" style=""></i></span>
		</div>

		<div class="input-group margin-top-10">
			<%= text_field_tag 'ssh_key', nil, placeholder: 'Password for Image or snapshot' , :required => true, :class =>"form-control" %>
			<span class="input-group-addon" ><i class="icon-question-sign" ></i></span>
		</div>

		<div class="input-group margin-top-10">
			<%= text_field_tag 'flavor', nil, placeholder: 'Storage hdd size' , :required => true, :class =>"form-control" %>
			<span class="input-group-addon" ><i class="icon-question-sign" style=""></i></span>
		</div>

		<div class="input-group margin-top-10">
			<%= text_field_tag 'ram', 1024, placeholder: 'Ram size(Multiples of 256)' , :required => true, :class =>"form-control" %>
			<span class="input-group-addon" ><i class="icon-question-sign"></i></span>
		</div>

		<div class="input-group margin-top-10">
			<%= text_field_tag 'cpus', 1, placeholder: 'No of cores(cpus)' , :required => true, :class =>"form-control" %>
			<span class="input-group-addon" ><i class="icon-question-sign"></i></span>
		</div>
	</div>

	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
		<h5>Security</h5>

		<div class="input-group margin-top-10">
			<%= text_field_tag 'ssh_user', nil, placeholder: 'Enter SSH User' , :required => true, :class =>"form-control" %>
			<span class="input-group-addon" ><i class="icon-question-sign" ></i></span>
		</div>

		<div class="input-group margin-top-10">
			<%= select_tag :id_rsa_public_key, options_for_select(@ssh_keys.map{ |c| c[:name] }), { :class => 'form-control input-sm' }%>

			<span class="input-group-addon" ><i class="icon-question-sign" ></i></span>
		</div>

	</div>
</div>
