<div class="row">
	<div class="col-xs-6 col-sm-7 col-md-9 col-lg-9 col-xl-9">
		<h4>Choose Your Cloud</h4>
	</div>
	<div class="col-xs-6 col-sm-5 col-md-3 col-lg-3 col-xl-3 c_back">
		<div class="pull-right">
			<i class="settings_lt_arrow glyphicon glyphicon-arrow-left"></i><a href="/settings" onclick="$('#settings_tab a[href="#tab_sshkey"]').tab('show')">Back</a>
		</div>
	</div>

</div>
<div class="row">

	<!-- <div class="col-md-12 col-xs-12"> -->
	<div class="carousel c_carousel default">

		<div class="prev" >
			<span class="icon-chevron-left"></span>
		</div>		
		<div class="jCarouselLite c_jCarouselLite">
			<ul>
			    
				<li>
					<a data-toggle="modal" rel="tooltip" title="Amazon cloud" href="#aws_init_popup"> <%= image_tag("amazon.png", :width => "123", :height => "120") %> </a>
				</li>
				<li>
					<a data-toggle="modal" rel="tooltip" title="HP cloud" href="#hp_init_popup"> <%= image_tag("hp.png", :width => "123", :height => "120") %> </a>
				</li>
				<li>
					<!-- <%= link_to image_tag("gce.png", :width => "123", :height => "120"), cloud_selector_path(:cloud => "gce"), :remote => true, :title => 'Google cloud', :rel => 'tooltip' %> -->

					<a data-toggle="modal" rel="tooltip" title="Google Compute Engine" href="#gce_init_popup"> <%= image_tag("gce.png", :width => "123", :height => "120") %> </a>
				</li>
				<li>
                      <a data-toggle="modal" rel="tooltip" title="Profitbricks cloud" href="#profitbricks_init_popup"> <%= image_tag("profitbricks.png", :width => "123", :height => "120") %> </a>

				</li>
				<li>
				    <a data-toggle="modal" rel="tooltip" title="Opennebula cloud" href="#opennebula_init_popup"> <%= image_tag("opennebula.png", :width => "123", :height => "120") %> </a>

				</li>
				<li>
				    <a data-toggle="modal" href="#gogrid_init_popup" rel="tooltip" title="Gogrid cloud"> <%= image_tag("gogrid.png", :width => "123", :height => "120") %> </a>

				</li>

			</ul>
		</div>
		<div class="next">
			<span class="icon-chevron-right"></span>
		</div>
		<!-- <button class="next">>></button> -->
		<div class="clear"></div>
	</div>

	<!-- </div> -->
</div>

<%= form_tag cross_clouds_path, multipart: true, :id => "megamform", :novalidate => 'novalidate', :method => 'post', :remote => true, data: { spinlock: '#spin_cross_cloud'}  do %>

<div id="provider_form">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<div class="alert c_remove_main alert-info">
				<strong>Info!</strong> Click on a cloud icon in the above slider to create a cloud setting.
			</div>
		</div>
	</div>
</div>
<input type="hidden" name="access_token" value="<%= @token %>">
<input type="hidden" name="refresh_token" value="<%= @refresh_token %>">
<input type="hidden" name="expire" value="<%= @expire %>">

<% end %>

<div class="modal fade" id="aws_init_popup" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content c_modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">Load Cloud Credentials</h4>
			</div>
			<%= form_tag cloud_selector_path, multipart: true, :method => 'post', :remote => true, data: { spinlock: '#signin_cloud_aws'}  do %>
			<%= render :partial => "cross_clouds/aws_api_form" %>
			<% end %>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<div class="modal fade" id="profitbricks_init_popup" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content c_modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">Load Cloud Credentials</h4>
			</div>
			<%= form_tag cloud_selector_path, multipart: true, :method => 'post', :remote => true, data: { spinlock: '#signn_cloud_profitbricks'}  do %>
			<%= render :partial => "cross_clouds/profitbricks_api_form" %>
			<% end %>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<div class="modal fade" id="gogrid_init_popup" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content c_modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">Load Cloud Credentials</h4>
			</div>
			<%= form_tag cloud_selector_path, multipart: true, :method => 'post', :remote => true, data: { spinlock: '#signn_cloud_aws'}  do %>
			<%= render :partial => "cross_clouds/gogrid_api_form" %>
			<% end %>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<div class="modal fade" id="hp_init_popup" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content c_modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">Load Cloud Credentials</h4>
			</div>
			<%= form_tag cloud_selector_path, multipart: true, :method => 'post', :remote => true, data: { spinlock: '#signin_cloud_hp'}  do %>
			<%= render :partial => "cross_clouds/hp_api_form" %>
			<% end %>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<div class="modal fade" id="gce_init_popup" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content c_modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">Load Cloud Credentials</h4>
			</div>
			<%= form_tag cloud_selector_path, multipart: true, :method => 'post', :remote => true, data: { spinlock: '#signin_cloud_gce'}  do %>
			<%= render :partial => "cross_clouds/gce_api_form" %>
			<% end %>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<div class="modal fade" id="opennebula_init_popup" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content c_modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">Load Cloud Credentials</h4>
			</div>
			<%= form_tag cloud_selector_path, multipart: true, :method => 'post', :remote => true, data: { spinlock: '#signin_cloud_aws'}  do %>
			<%= render :partial => "cross_clouds/opennebula_api_form" %>
			<% end %>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>


<div class="modal fade" id="crosscloud_postfinish_popup" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content c_modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">Create Cloud Setting</h4>
			</div>
			<div class="modal-body text-center">
				<div id="cloud_res_msg"></div>
			</div>
			<div class="modal-footer c_modal-footer">
				<%= link_to  "Ok", settings_path, :class => "btn btn-success", :target => "_self" %>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<div class="modal fade" id="crosscloud_postfinish_popup_error" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content c_modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">Create Cloud Setting</h4>
			</div>
			<div class="modal-body text-center">
				<div id="cloud_err_msg"></div>
			</div>
			<div class="modal-footer c_modal-footer">
				<%= link_to  "Ok", settings_path, :class => "btn btn-danger", :target => "_self" %>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

<script type="text/javascript">
	$(".default .jCarouselLite").jCarouselLite({
		btnNext : ".default .next",
		btnPrev : ".default .prev",
		start : 1,
		scroll : 1,

	});  
    
</script>
