<% content_for :content_settings do %>
<% provide(:title, 'Cross Clouds') %>
<%= render :partial => "users/header" , :locals => {:head => "Cross Clouds"}%>
<div id="breadcrumb">
	<%= render_breadcrumbs %>
</div>

<div class="container-fluid">

	<div class="widget-box">
		<div class="widget-title">
			<span class="icon"> <i class="icon-th-list"></i> </span>
			<h5>Cross Clouds Management</h5>
		</div>
		<div class="widget-content">
			<div class="container-fluid">
				<div class="span10">
					<div class="span3">
						<div class="cb_box_withpadding">
							<h4 align="center"> Quota</h4><h3 align="center" ><span class="icon"><i class="icon-book"></i></span>&nbsp;<%= @cross_clouds.count %>
							&nbsp; of 2</h3>
						</div>
						<br/>
						<%= link_to "New Cross Cloud", new_cross_cloud_path, class: "btn btn-large btn-success btn-block", :target => "_self" %>
						<br/>

						<div class="cb_box">
							<h4 align="center" >Recent Activity</h4>
							<h5 align="Center"><span class="icon"> <i class="icon-calendar"></i> </span><b><%= @cross_clouds.last[:created_at] %></b></h5>
							<h5 align="Center"><%= link_to "#{@cross_clouds.last[:name]}", cross_cloud_path(:id => "1", :name => "name"), :remote => true, data: { spinlock: '#crosscloud_current'} %> </h5>

						</div>
						<br/>

						<%= link_to "Upgrade", pricing_path, class: "btn btn-large btn-inverse btn-block", :target => "_self" %>

					</div>
					<!-- Span3 -->

					<div class="span6">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon"> <i class="icon-th-list"></i> </span>
								<h5>Cross Clouds Usage</h5>
							</div>
							<div class="widget-content" overflow-y: scroll;>
								<% @percent = @cross_clouds.count/2.0*100 %>
								<div class="row-fluid">
									<div class="span1">
										<h3>0</h3>
									</div>
									<div class="span10">
										<% if @percent >= 80 %>
										<div class="progress progress-danger">
											<div class="bar" style="width: <%= @percent %>%;"></div>
										</div>
										<% else %>
										<div class="progress progress-success">
											<div class="bar" style="width: <%= @percent %>%;"></div>
										</div>
										<% end %>
									</div>
									<div class="span1">
										<h3>2</h3>
									</div>
								</div>

							</div>
						</div>

						<div class="widget-box">
							<div class="widget-title">
								<span class="icon"> <i class="glyphicon glyphicon-th"></i> </span>
								<h5>Cross Clouds</h5>
							</div>
							<div class="widget-content nopadding">
								<table class="table table-bordered table-striped table-hover">
									<thead>
										<tr>
											<th>Name</th>
											<th>Date</th>
											<th>View</th>
											<th>Clone</th>
										</tr>
									</thead>
									<tbody>
										<% @cross_clouds.each do |pre_cl| %>
										<tr>
											<td> <%= pre_cl[:name] %></td>

											<td><%= pre_cl[:created_at] %></td>
											<td> <%= link_to "View", cross_cloud_path(pre_cl[:name]), :remote => true, class: "btn btn-mini btn-success" %> </td>
											<td> <%= link_to "import", "#", class: "btn btn-mini btn-success" %> </td>
										</tr>
										<% end %>
									</tbody>

								</table>
							</div>
						</div>
						<!-- Span6 -->

					</div>
					<!-- Span10 -->
				</div>
			</div>
		</div>
	</div>
	<!-- container-fluid -->

	<div id="cross_cloud_show_popup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
				×
			</button>
			<h3 id="myModalLabel">Cloud Book view</h3>
		</div>
		<div class="modal-body">
			<div class="alert alert-info">
				<p>
					<h4 id="cross_cloud_show"></h4>
				</p>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">
				Ok
			</button>
		</div>
	</div>

	<% end %>
	<%= render :template => users_show_path %>
