<% content_for :content_settings do %>
<% provide(:title, 'New Cross Cloud') %>
<%= render :partial => "users/header" , :locals => {:head => "New Cross Cloud"}%>
<div id="breadcrumb">
	<%= render_breadcrumbs %>
</div>

<div class="container-fluid">

	<div class="widget-box">
		<div class="widget-title">
			<span class="icon"> <i class="icon-th-list"></i> </span>
			<h5>Cross cloud settings</h5>
			<div class="buttons">
				<%= render :partial => "customizations/refresh" %>
			</div>
		</div>
		<div class="widget-content">
			<br/>
			<div class="control-group">
				<div class="controls" required name="cross cloud type">
					Choose your provider : <%= select_tag "cloud_provider",options_for_select(cross_cloud, selected: "Amazon EC2"), :id => "cross_cloud_list" , :name =>"type", :class => "filled", :remote => true %>
				</div>
			</div>
			<%= form_tag cross_clouds_path, :html => {:id =>'basic_validate', :novalidate => 'novalidate', :multipart => true },  :method => 'post', data: { spinlock: '#spin_cross_cloud', :remote => true}  do %>
			<input type="hidden" name="access_token" value="<%= @token %>">
			<input type="hidden" name="refresh_token" value="<%= @refresh_token %>">
			<input type="hidden" name="expire" value="<%= @expire %>">
			<div id="provider_form">
				<%= render :partial => "cross_clouds/aws_form" , :locals => {:selected_cloud => "Amazon EC2"}%>
			</div>
			<br/>
			<br/>
			<br/>
			<div class="row-fluid">
				<div class="span4"></div>
				<div class="span4">
					<%= submit_tag "Save", :class => "btn btn-large btn-success btn-block", :remote => true %>
				</div>
			</div>
			<% end %>
		</div>

		<div id="crosscloud_postfinish_popup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h3 id="myModalLabel">Cross Cloud</h3>
			</div>
			<div class="modal-body">
				<div class="alert alert-success">

					<p>
						<div id="res_msg"></div>
						</br>
					</p>
				</div>
			</div>
			<div class="modal-footer" id="crossclouds_path"></div>
		</div>

		<div id="crosscloud_postfinish_popup_error" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h3 id="myModalLabel">Cross Clouds</h3>
			</div>
			<div class="modal-body">
				<div class="alert alert-error">

					<p>
						A cross clouds creation request to the megam cloud server was not successful.
						</br>
						<div id="err_msg"></div>
					</p>
				</div>
			</div>
			<div class="modal-footer">
				<%= link_to  "Ok", new_cross_cloud_path, :class => "btn btn-primary", :target => "_self" %>
			</div>
		</div>

	</div>
	<!-- container-fluid -->

	<% end %>
	<%= render :template => users_show_path %>
