<% content_for :content_settings do %>
<% provide(:title, 'Clouds') %>
<%= render :partial => "users/header" , :locals => {:head => "Clouds"}%>
<div id="breadcrumb">
	<%= breadcrumbs.render(:format => :inline, :separator => '') %>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-11">
			<div class="widget-box">
				<div class="widget-title">
					<span class="icon"> <i class="fa fa-th-list"></i> </span>
					<h5>Choose Your Cloud</h5>
				</div>
				<div class="widget-content">
					<div class="flexslider" id="ccflex">
						<ul class="slides">
							<% cross_cloud_image.each do |cc| %>
							<li>
								<%= link_to selectclouds_path(:selected_cloud => cc, :ssh_keys => @ssh_keys), :remote => true, :type => "submit", :method => "post", data: { spinlock: '#dec'}  do %>
								<i class="logor_<%= cc %>", id ="slider-ccimage"></i>
								<% end %>
							</li>
							<% end %>
						</ul>
					</div>
					<%= form_tag cross_clouds_path, multipart: true, :id =>'basic_validate', :novalidate => 'novalidate', :name => "basic_validate1",  :method => 'post', :remote => true, data: { spinlock: '#spin_cross_cloud'}  do %>

					<div id="provider_form">
						<%= render :partial => "cross_clouds/aws_form" , :locals => {:selected_cloud => "Amazon EC2"}%>
					</div>
					<input type="hidden" name="access_token" value="<%= @token %>">
					<input type="hidden" name="refresh_token" value="<%= @refresh_token %>">
					<input type="hidden" name="expire" value="<%= @expire %>">
					<br/>
					<br/>
					<br/>
					<div class="row">
						<div class="col-md-4"></div>
						<div class="col-md-4">
							<%= submit_tag "Create Cloud", :class => "btn btn-lg btn-success btn-block" %>
						</div>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="crosscloud_postfinish_popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h3 id="myModalLabel">Clouds</h3>
			</div>
			<div class="modal-body">
				<div class="alert alert-success">

					<p>
						<div id="res_msg"></div>
						</br>
					</p>
				</div>
			</div>
			<div class="modal-footer" id="crossclouds_path"></div>
		</div>
	</div>
</div>

<div id="crosscloud_postfinish_popup_error" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h3 id="myModalLabel">Clouds</h3>
			</div>
			<div class="modal-body">
				<div class="alert alert-danger">
					<p>
						Failed to create a cloud setting.
						</br>
						<div id="err_msg"></div>
					</p>
				</div>
			</div>
			<div class="modal-footer">
				<%= link_to  "Ok", cloud_settings_path, :class => "btn btn-pink", :target => "_self" %>
			</div>
		</div>
	</div>
</div>

<% end %>
<%= render :template => users_show_path %>