<% content_for :content_settings do %>
<% provide(:title, 'New Cross Cloud') %>
<%= render :partial => "users/header" , :locals => {:head => "New Cross Cloud"}%>
<div id="breadcrumb">
	<%= render_breadcrumbs %>
</div>

<div class="container-fluid">

	<div class="widget-box">
		<div class="widget-title">
			<span class="icon"> <i class="icon-th-list"></i> </span>
			<h5>Cross cloud settings</h5>
			<div class="buttons">
				<%= render :partial => "customizations/refresh" %>
			</div>
		</div>
		<div class="widget-content">
			<%= form_tag(:controller => "cross_clouds", :action => "create") do %>
			<div class="row-fluid">
				<div class="span4">
					<br/>
					<br/>
					<div style="border-bottom-style:solid; border-color:#FF00FF">
						<h4 class="alert-heading">Select Cloud Provider</h4>
					</div>
					<br/>
					<div class="row-fluid">
						<div class="span2">
							<%= label_tag "provider:" %>
						</div>
						<div class="span4">
							<!--<%= select_tag "provider", "<option>Amazon EC2</option><option>hp cloud</option><option>Google cloud Engine</option>".html_safe %>-->
							<%= select_tag "provider", options_for_select(cross_cloud), selected: "Amazon EC2", :id => "cross_cloud_list" %>
							<!--<select ng-model="color" ng-options="c.name for c in crossclouds" style="width:170px;" ng-click="change_cross()"></select><br>-->

						</div>
					</div>
					<br/>
					<br/>
					<div class="row-fluid">
						<div class="offset2" id="cloud_logo">
							<%= image_tag("logo_aws.png", :size => "100x100") %>
						</div>
					</div>
				</div>
				<div class="span4">
					<br/>
					<br/>
					<div style="border-bottom-style:solid; border-color:#FF00FF">
						<h4 class="alert-heading">Image & Size</h4>
					</div>
					<br/>
					<%= text_field_tag 'name', nil, placeholder: 'Enter name' %>
					<br/>
					<%= text_field_tag 'group', nil, placeholder: 'Enter Group name' %>
					<br/>
					<%= text_field_tag 'image', nil, placeholder: 'Enter Image value...' %>
					<br/>
					<%= text_field_tag 'flavour', nil, placeholder: 'Enter instance size...' %>
				</div>

				<div class="span4">
					<br/>
					<br/>
					<div style="border-bottom-style:solid; border-color:#FF00FF">
						<h4 class="alert-heading">Security</h4>
					</div>
					<br/>
					<%= text_field_tag 'ssh_key', nil, placeholder: 'Enter ssh key...' %>
					<br/>
					<%= text_field_tag 'ssh_user', nil, placeholder: 'Enter ssh User..' %>
					<br/>
					<%= text_field_tag 'aws_private_key', nil, placeholder: 'Enter aws_private_key..' %>
					<br/>
					<%= text_field_tag 'id_rsa_public_key', nil, placeholder: 'Enter id_rsa public key..' %>
					<br/>
					<%= text_field_tag 'aws_access_key', nil, placeholder: 'Enter aws access key..' %>
					<br/>
					<%= text_field_tag 'aws_secret_key', nil, placeholder: 'Enter aws secret key..' %>
					<br/>
					<!--<input id="fileupload" type="file" name="files[]" data-url="https://s3-ap-southeast-1.amazonaws.com/cloudkeys/" multiple>
					<div id="progress">
						<div class="bar" style="width: 0%; height: 18px; background: green;"></div>
					</div>
					<button id="upload">click</button>-->
					<!--<div class="span2">
					<h5><%= label_tag "Upload AWS private key   :" %></h5>
					</div>
					<br/>
					<div class="span8">
					<%= file_field_tag :aws_private_key, placeholder: "Logo" %>
					</div>
					<br/>
					<br/>
					<br/>
					<div class="span2">
					<h5><%= label_tag "Upload id_rsa public key   :" %></h5>
					</div>
					<br/>
					<div class="span8">
					<%= file_field_tag :id_rsa_public_key, placeholder: "Logo" %>
					</div>-->
				</div>
			</div>
			<br/>
			<br/>
			<br/>
			<div class="row-fluid">
				<div class="span4"></div>
				<div class="span4">
					<%= submit_tag "Save", :class => "btn btn-large btn-success btn-block", :remote => true, :data => { :spinner => '#spin-btn', :disable_with => "Please wait..."} %>
				</div>
			</div>
			<% end %>
			<%= spinner_tag 'spin-btn' %>
		</div>
	</div>

</div>
<!-- container-fluid -->

<% end %>
<%= render :template => users_show_path %>
