<% content_for :content_settings do %>
<% provide(:title, 'New Cross CLoud') %>
<%= render :partial => "users/header" , :locals => {:head => "New Cross CLoud"}%>
<div id="breadcrumb">
	<%= render_breadcrumbs %>
</div>

<div class="container-fluid">

	<div class="widget-box">
		<div class="widget-title">
			<span class="icon"> <i class="icon-th-list"></i> </span>
			<h5>Cross cloud settings</h5>
			<div class="buttons">
				<%= render :partial => "customizations/refresh" %>
			</div>
		</div>
		<div class="widget-content">
			<%= form_tag(:controller => "cross_clouds", :action => "create") do %>
			<div class="row-fluid">
				<div class="span5">
					<div class="row-fluid">
						<br/>
						<br/>
						<div class="span2">
							<%= label_tag "provider:" %>
						</div>
						<div class="span4">
							<!--<%= select_tag "provider", "<option>Amazon EC2</option><option>hp cloud</option><option>Google cloud Engine</option>".html_safe %>-->
							<%= select_tag "provider", options_for_select(cross_cloud), selected: "Amazon EC2", :id => "cross_cloud_list" %>
							<!--<select ng-model="color" ng-options="c.name for c in crossclouds" style="width:170px;" ng-click="change_cross()"></select><br>-->

						</div>
					</div>					
					<br/>
					<br/>
					<div class="row-fluid">
						<div class="offset2" id="cloud_logo">
							<%= image_tag("logo_aws.png", :size => "100x100") %>
						</div>
					</div>
				</div>
				<div class="span5">
					<br/>
					<br/>
					<br/>
					<%= text_field_tag 'name', nil, placeholder: 'Enter name' %>
					<br/>
					<%= text_field_tag 'group', nil, placeholder: 'Enter Group name' %>
					<br/>
					<%= text_field_tag 'image', nil, placeholder: 'Enter Image value...' %>
					<br/>
					<%= text_field_tag 'flavour', nil, placeholder: 'Enter instance size...' %>
					<br/>
					<%= text_field_tag 'ssh_key', nil, placeholder: 'Enter ssh key...' %>
					<br/>
					<%= text_field_tag 'ssh_user', nil, placeholder: 'Enter ssh User..' %>
					<br/>
					<%= text_field_tag 'vault_location', nil, placeholder: 'Enter public key location..' %>

				</div>
			</div>
			<br/>
			<div class="row-fluid">
				<div class="span4"></div>
				<div class="span8">
					<div class="span2">
						<h5><%= label_tag "Upload ssh file   :" %>
					</div></h5>
					<div class="span8">
						<%= file_field_tag :ssh_file, placeholder: "Logo" %>
					</div>
				</div>
			</div>
			<br/>
			<br/>
			<div class="row-fluid">
				<div class="span4"></div>
				<div class="span4">
					<%= submit_tag "Save", :class => "btn btn-large btn-success btn-block", :remote => true, :data => { :spinner => '#spin-btn', :disable_with => "Please wait..."} %>
				</div>
			</div>
			<% end %>
			<%= spinner_tag 'spin-btn' %>
		</div>
	</div>

</div>
<!-- container-fluid -->

<% end %>
<%= render :template => users_show_path %>
