<% content_for :content_settings do %>
<% provide(:title, 'New Cross Cloud') %>
<%= render :partial => "users/header" , :locals => {:head => "New Cross Cloud"}%>
<div id="breadcrumb">
	<%= render_breadcrumbs %>
</div>

<div class="container-fluid">

	<div class="widget-box">
		<div class="widget-title">
			<span class="icon"> <i class="icon-th-list"></i> </span>
			<h5>Cross cloud settings</h5>
			<div class="buttons">
				<%= render :partial => "customizations/refresh" %>
			</div>
		</div>
		<div class="widget-content">
			<%= form_tag cross_clouds_path, :method => :post, :remote => true, data: { spinlock: '#spin_cross_cloud'}, multipart: true, :name => "basic_validate1", :id => "basic_validate", :novalidate => "novalidate" do %>
			<input type="hidden" name="access_token" value="<%= @token %>">
			<input type="hidden" name="refresh_token" value="<%= @refresh_token %>">
			<input type="hidden" name="expire" value="<%= @expire %>">
			<div class="row-fluid">
				<div class="span4">
					<br/>
					<br/>
					<div class="div_border">
						<h4 class="alert-heading">Select Cloud Provider</h4>
					</div>
					<br/>
					<div class="row-fluid">
						<div id="cc_name" >
							Save this Cross Cloud As : <%= text_field_tag 'name', nil, :class=> 'required', placeholder: 'Enter a name' %>
							<%= link_to "#" do %>
							<i class="icon-question-sign"></i>
							<% end %>
						</div>
						<br/>
						<%= select_tag "provider", options_for_select(cross_cloud, selected: "Amazon EC2"), :id => "cross_cloud_list" %>
					</div>
					<br/>
					<br/>
					<div class="row-fluid">
						<div class="offset2" id="cloud_logo">
							<%= image_tag("logo_aws.png", :size => "100x100") %>
						</div>
					</div>
					<br/>
					<br/>
					<div class="row-fluid">
						<div class="offset2" id="acc_link">
							<%= link_to "Create an account for amazon.com", "http://aws.amazon.com/console/", :target => "_blank" %>
						</div>
					</div>
				</div>
				<div class="span4">
					<br/>
					<br/>
					<div class="div_border">
						<h4 class="alert-heading">Image & Size</h4>
					</div>
					<br/>
					<div id="cc_pname">
						<%= text_field_tag 'project_name', nil, :class=> 'required', placeholder: 'Enter project name ..' %>
						<%= link_to "#" do %>
						<i class="icon-question-sign"></i>
						<% end %>
					</div>
					<div id="cc_group">
						<%= text_field_tag 'group', nil, :class=> 'required', placeholder: 'Enter Group name' %>
						<%= link_to "#" do %>
						<i class="icon-question-sign"></i>
						<% end %>
					</div>
					<div id="cc_image">
						<%= text_field_tag 'image', nil, :class=> 'required', placeholder: 'Enter Image value...' %>
						<%= link_to "#" do %>
						<i class="icon-question-sign"></i>
						<% end %>
					</div>
					<div id="cc_flavor">
						<%= text_field_tag 'flavour', nil, :class=> 'required', placeholder: 'Enter instance size...' %>
						<%= link_to "#" do %>
						<i class="icon-question-sign"></i>
						<% end %>
					</div>

				</div>

				<div class="span4">
					<br/>
					<br/>
					<div class="div_border">
						<h4 class="alert-heading">Security</h4>
					</div>
					<br/>
					<div id="cc_sshkey">
						<%= text_field_tag 'ssh_key', nil, :class=> 'required', placeholder: 'Enter SSH key...' %>
						<%= link_to "#" do %>
						<i class="icon-question-sign"></i>
						<% end %>
					</div>

					<div id="cc_sshuser">
						<%= text_field_tag 'ssh_user', nil, :class=> 'required', placeholder: 'Enter SSH User..' %>
						<%= link_to "#" do %>
						<i class="icon-question-sign"></i>
						<% end %>
					</div>

					<div id="cc_awspk">
						<%= file_field_tag 'aws_private_key' %>
						<!--<%= text_field_tag 'aws_private_key', nil, :class=> 'required', placeholder: 'Enter AWS_private_key..' %>-->
						<%= link_to "#" do %>
						<i class="icon-question-sign"></i>
						<% end %>
					</div>

					<div id="cc_rsapk">
						<%= file_field_tag 'id_rsa_public_key' %>
						<!--<%= text_field_tag 'id_rsa_public_key', nil, :class=> 'required', placeholder: 'Enter id_rsa public key..' %>-->
						<%= link_to "#" do %>
						<i class="icon-question-sign"></i>
						<% end %>
					</div>

					<div id="cc_awsak">
						<%= text_field_tag 'aws_access_key', nil, :class=> 'required', placeholder: 'Enter AWS access key..' %>
						<%= link_to "#" do %>
						<i class="icon-question-sign"></i>
						<% end %>
					</div>

					<div id="cc_awssk">
						<%= text_field_tag 'aws_secret_key', nil, :class=> 'required', placeholder: 'Enter AWS secret key..' %>
						<%= link_to "#" do %>
						<i class="icon-question-sign"></i>
						<% end %>
					</div>

					<div id="cc_gcli">
						<%= text_field_tag 'google_client_id', nil, :class=> 'required', placeholder: 'Enter google client id..' %>
						<%= link_to "#" do %>
						<i class="icon-question-sign"></i>
						<% end %>
					</div>

					<div id="cc_gsk">
						<%= text_field_tag 'google_secret_key', nil, :class=> 'required', placeholder: 'Enter google secret key..' %>
						<%= link_to "#" do %>
						<i class="icon-question-sign"></i>
						<% end %>
					</div>
					<br/>
				</div>					
			</div>
			<br/>
			<br/>
			<br/>
			<div class="row-fluid">
				<div class="span4"></div>
				<div class="span4">
					<div class="control-group">
						<div class="controls action">
							<%= submit_tag "Save", :class => "btn btn-large btn-success btn-block"%>
						</div>
					</div>
				</div>
			</div>
			<% end %>			
		</div>
	</div>

	<div id="crosscloud_postfinish_popup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
				×
			</button>
			<h3 id="myModalLabel">Cross Cloud</h3>
		</div>
		<div class="modal-body">
			<div class="alert alert-success">

				<p>
					<h4 id="res_msg"></h4>
					</br>
				</p>
			</div>
		</div>
		<div class="modal-footer" id="crossclouds_path"></div>
	</div>

	<div id="crosscloud_postfinish_popup_error" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
				×
			</button>
			<h3 id="myModalLabel">Cross Clouds</h3>
		</div>
		<div class="modal-body">
			<div class="alert alert-error">

				<p>
					<h4> A cross clouds creation request to the megam cloud server was not successful. </h4>
					</br>
					<div id="err_msg"></div>
				</p>
			</div>
		</div>
		<div class="modal-footer">
			<%= link_to  "Ok", new_cross_cloud_path, :class => "btn btn-primary", :target => "_self" %>
		</div>
	</div>

</div>
<!-- container-fluid -->

<% end %>
<%= render :template => users_show_path %>
