<% provide(:title, 'Not Found') %>

<%= render 'layouts/header' %>
<div id="content">
	<div class="container">
		<div class='row'>
			<div class='col-lg-10 colmd-10'>
				<h2>Sorry, the page you&#39;re looking for couldn&#39;t be found</h2>
				<p>
					<a href='javascript:history.back();'>Go Back</a> to the previous page, return to the <a href='/'>home page or <a href="mailto:support@megam.co.in?subject=Help me">Email Us</a> about this problem.
				</p>
				<%= image_tag "specman.png", :alt => "error"%>
				<br></br>
				<div class="panel panel-success">
					<div class="panel-heading">
						<b>Site Links</b>
					</div>
					<div class="panel-content">
						<h4>&nbsp;&nbsp;<%= link_to "    Documentation",  "http://www.gomegam.com/docs", { :target => '_blank'}  %></h4>

						<h4>&nbsp;&nbsp;<%= link_to "    Gomegam.com",  "http://www.gomegam.com", { :target => '_blank'}  %></h4>

						<h4>&nbsp;&nbsp;<%= link_to "    Blog",   "http://blog.megam.co", { :target => '_blank'} %></h4>

						<h4>&nbsp;&nbsp;<%= link_to "    Code",  "https://github.com/indykish", { :target => '_blank'} %></h4>
						<h4>&nbsp;&nbsp;<%= link_to"    Contact Support", "http://support.megam.co",:target => "_blank" %> </h4>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%= render 'layouts/footer' %>
