<% content_for :content_settings do %>
<% provide(:title, 'New Cloud App') %>
<br></br>
<%= image_tag "logo-amazon.png", :size => "128x128", :alt => "Amazon" %>
<%= image_tag "Google_apps.png", :size => "128x128", :alt => "Google_app" %>
<%= image_tag "heroku.png", :size => "128x128", :alt => "Heroku" %>
<%= image_tag "logo-salesforce.png", :size => "128x128", :alt => "Salesforce" %>
<br></br>

<%= form_for current_user.organization.cloud_app, :html => { :multipart => true } do |f| %>
<%= f.label :name %>
   <%= f.text_field :name, placeholder: "Apps Name"  %>
<%= f.submit nil, :class => 'btn btn-large btn-primary' %>

<% end %>

 <h3>To create Cloud Apps Items </h3>

   <%= link_to "Click here", new_apps_item_path %>


<% end %>

<%= render :template => customizations_show_path %>
