<% content_for :content_settings do %>
<% provide(:title, 'cloud_app_show') %>
<br></br>
<%= image_tag "logo-amazon.png", :size => "128x128", :alt => "Amazon" %>
<%= image_tag "Google_apps.png", :size => "128x128", :alt => "Google_app" %>
<%= image_tag "heroku.png", :size => "128x128", :alt => "Heroku" %>
<%= image_tag "logo-salesforce.png", :size => "128x128", :alt => "Salesforce" %>
<br></br>

<% if @user.organization.cloud_app %>

  <span class="content">App Name  : <%= @user.organization.cloud_app.name %></span>
	<span class="content">Cloud_App_ID  : <%= @user.organization.cloud_app.id %></span> 

 <%= form_for @user.organization.cloud_app, :html => { :multipart => true } do |f| %>

   <%= f.label :name %>
   <%= f.text_field :name, placeholder: "App Name"  %>
   <%= f.submit nil, :class => 'btn btn-large btn-primary' %>

 <% end %> <!-- Form End -->

 <% if @user.organization.cloud_app.apps_items %>
     
	<% @user.organization.cloud_app.apps_items.each do |a| %>
	<h3><%= a.product.name %></h3>
	
	<a href="<%= a.product.url %>">Get into your app</a>
	
	
	<%= link_to "Remove App", a, method: :delete,
	data: { confirm: "You sure?" } %>
	
	<% end %>
	<h3>Do you want to ADD more Apps? if YES </h3>
        <%= link_to "Click Here", new_apps_item_path %>
	
  <% else %>
  <h3>To Select Apps Items </h3>
  <%= link_to "Click Here", new_apps_item_path %>
  <% end %>


  <%else %>
  
   <h3>To create Cloud_app </h3>

   <%= link_to "Click here", new_cloud_app_path %>

  <% end %> 

<% end %>
<%= render :template => customizations_show_path %>
