<!--
** Copyright [2013-2015] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->
<% provide(:title, 'Billings') %>
<div class="rt-box col-xs-12 col-sm-8 col-md-9 col-lg-9 col-xl-9 c_bg_white c_height_5">
	<div class="row c_pading-b15 settings_top">
		<div class="margin_15">
			<div class="col-xs-9 col-sm-6 col-md-7">
				<h3> Billings </h3>
			</div>
			<%= render :partial => "users/topright_icons" %>
		</div>
	</div>
	

	
	<div class="row">
		<div class="margin_30 ">
			<div class=" card-details ">
				
					<div class="row">
						<div class="form-group col-md-6 col-sm-6 ">
							<h1>Total Balance</h1>
							<h1 class="col-md-offset-6"><%= @bill.balance.credit %>$</h1>
						</div>
						
<%= form_tag billings_promo_path, multipart: true, :id => "megamform", :novalidate => "novalidate", :method => "post", :remote => true  do %>

						<div class="form-group col-md-4 col-sm-6 ">
							<label class="col-md-7 col-sm-12 col-xs-12 row" for="exampleInputName2">Promo Code :</label>
					  <!--	<input type="text" placeholder="" id="exampleInputName2" class="form-control-card-details col-md-6 col-xs-12 col-sm-12"> -->
				<%= text_field_tag 'code', nil, :required => true, :id => 'code', :class => 'form-control-card-details col-md-6 col-xs-12 col-sm-12', placeholder: "", :data => {:placement=>"right"} %>

						</div>

						<div class="form-group col-md-2 col-sm-6 ">
							 <!-- <a href="#">APPLY</a> -->
					<%= submit_tag "APPLY", :class => "btn btn-success col-md-10 col-xs-10" %> 
<% end%>
						</div>
					</div>
				
				<div class="bottom-divider  settings_top"></div>

				<div class="row ">
					<div class="col-md-6  pay_via">
						<h2><i class="fa fa-credit-card"></i>Pay Via</h2>
						<%= render :partial => "billings/payment_merchants" %>
					</div>
					<div class="col-md-5 col-md-offset-1 help_center_left_right">
						<h2><i class="fa fa-plus-circle"></i>HELP CENTER</h2>
						<p>
							If you need assistance while placing
							order, contact one of our below
							support staff  by phone or email.
						</p>
						<h3><i class="fa fa-phone-square"></i> +91-9840559300 / <a href="mailto:support@megam.io"> <i class="fa fa-envelope-o"></i> help@megam.io</a></h3>
					</div>
				</div>

				<div class="bottom-divider  settings_top"></div>
				<%= render :partial => "billings/pay_now" %>
				<div class="col-md-12 row">
					<h2><i class="fa fa-history"></i> Billing History :</h2>
				</div>
				<div class="bottom-divider  settings_top"></div>
				<div class="col-md-12 row">
					<div class="table-responsive" id="bill_history">
						<table class="table">
							<thead>
								<tr>
									<th>Application</th>
									<th>Amount</th>
									<th>Currency</th>
									<th>Timestamp</th>
								</tr>
							</thead>
							<tbody>
								<% @billingHistories.bhistories.each do |history| %>
								<tr>
									<td><%= history.assembly_id %></td>
									<td><%= history.billing_amount %></td>
									<td><%= history.currency_type %></td>
									<td><%= history.created_at %></td>
								</tr>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
