<% content_for :content_settings do %>
<% provide(:title, 'Dashboard') %>

<%= render :partial => "users/header" , :locals => {:head => "Dashboard"}%>
<div id="breadcrumb">
	<a href="#" class="current"><%= render_breadcrumbs %></a>	
</div>
<br/>
<div class="container-fluid" ng-cloak>
	<div class="row">
		<div class="col-xs-12">
			<div class="alert alert-success alert-block">
				<h4 class="alert-heading">First Step</h4>
				<div>
					<p class="help-block">
						<%= image_tag "helpbota.png", :alt => "help bot"%>
						<strong>Go Ahead </strong>
						Develop your FIRST Application on Cloud
					</p>
					<i class="icon-chevron-left"></i>&nbsp; &nbsp; Click <span class="badge badge-important"> Cloud Application </span>
					</br>
				</div>
				<a class="close" data-dismiss="alert alert-warning" href="#">×</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="widget-box">
				<div class="widget-title">
					<span class="icon"><i class="icon-sitemap"></i></span>
					<h5>Ready to dive in.</h5>
					<span class="label label-info">5 Simple steps</span>
				</div>
				<div class="widget-content">
					<div class="accordion" id="collapse-group">
						<div class="accordion-group widget-box">
							<div class="accordion-heading">
								<div class="widget-title">
									<a data-parent="#collapse-group" href="#collapseGOne" data-toggle="collapse"> <span class="icon"><i class="icon-magnet"></i></span><h5>Step 1: Verify your email address - <%= current_user.email %></h5> </a>
								</div>
							</div>
							<div class="collapse in accordion-body" id="collapseGOne">
								<div class="widget-content">
									<div class="container">
										<% if !current_user.verified_email %>
										<%= current_user.email %>
										<%= link_to 'Verify', email_verify_path(current_user.verification_hash), :class => "btn btn-default btn-warning btn-xs", :remote => true, :target => "_self", :data => {spinner: '#spin_mail'}, title: 'Verify your email for megam communication like billing, notifications etc', rel: 'tooltip' %>
										<%= mini_spinner_tag 'spin_mail' %>

										<% else %>
										Hi <%= current_user.first_name %>, Great ! <span class="label label-success">verified <%= current_user.email %>. </span>Thank you.
										<% end %>
									</div>
								</div>
							</div>
						</div>
						<div class="accordion-group widget-box">
							<div class="accordion-heading">
								<div class="widget-title">
									<a data-parent="#collapse-group" href="#collapseGTwo" data-toggle="collapse"> <span class="icon"><i class="icon-magnet"></i></span><h5>Step 2: Update your profile</h5> </a>
								</div>
							</div>
							<div class="collapse in accordion-body" id="collapseGTwo">
								<div class="widget-content">
									<div class="container">
										<% if !current_user.organization %>
										<%= link_to "Update", edit_user_path(current_user), class: "btn btn-default btn-warning btn-xs", :target => "_self", title: 'Update your organization deatils', rel: 'tooltip'  %> your profile
										<% else %>
										<%= current_user.first_name.capitalize %>, Great ! your profile is <span class="label label-info">up-to date.</span> Thank you.
										<% end %>
									</div>
								</div>
							</div>
						</div>
						<div class="accordion-group widget-box">
							<div class="accordion-heading">
								<div class="widget-title">
									<a data-parent="#collapse-group" href="#collapseGThree" data-toggle="collapse"> <span class="icon"><i class="icon-magnet"></i></span><h5>Step 3: Launch a Cloud Book </h5> <span class="label label-info">Java/Play/RoR/Node.js</span></a>
								</div>
							</div>
							<div class="collapse in accordion-body" id="collapseGThree">
								<div class="widget-content">
									<% if current_user.cloud_books.empty?  %>
									<%= link_to "Take me there", new_cloud_book_path, :target => "_self" , class: "btn btn-default btn-warning btn-xs", title: 'Create a new cloud Book for your own application', rel: 'tooltip'  %>
									<% else %>
									Awesome ! <span class="label label-success"> you have one.</span>
									<%= link_to "Take me there", cloud_books_path, :target => "_self" , class: "btn btn-default btn-success btn-xs", title: 'See the list of your cloud books @ megam', rel: 'tooltip'  %>
									<% end %>
								</div>
							</div>
						</div>
						<div class="accordion-group widget-box">
							<div class="accordion-heading">
								<div class="widget-title">
									<a data-parent="#collapse-group" href="#collapseGFour" data-toggle="collapse"> <span class="icon"><i class="icon-magnet"></i></span><h5>Step 4: Customize Cross Cloud defaults</h5> <span class="label label-warning">*optional</span></a>
								</div>
							</div>
							<div class="collapse in accordion-body" id="collapseGFour">
								<div class="widget-content">
									<div class="container">
										<% if !current_user.onboarded_api %>
										<%= link_to "Take me there", edit_user_path(current_user), :target => "_self" , class: "btn btn-default btn-warning btn-xs"  %>Profile
										<% else %>
										Super cool ! <span class="label label-success"> you have cross cloud defaults.</span>
										<%= link_to "Take me there", cross_clouds_path, :target => "_self" , class: "btn btn-default btn-success btn-xs"  %>
										<% end %>
									</div>
								</div>
							</div>
						</div>
						<div class="accordion-group widget-box">
							<div class="accordion-heading">
								<div class="widget-title">
									<a data-parent="#collapse-group" href="#collapseGFive" data-toggle="collapse"> <span class="icon"><i class="icon-magnet"></i></span><h5>Step 5: Github Account ? </h5></a>
								</div>
							</div>
							<div class="collapse in accordion-body" id="collapseGFive">
								<div class="widget-content">
									Others scms, coming soon.
									Awesome ! <span class="label label-success"> if you have one.</span>
									(or)
									<i class="icon-github"><%= link_to "Create ", "https://github.com", :target => "_blank" , class: "btn btn-default btn-success btn-xs", title: 'Create a Github.com Account', rel: 'tooltip'  %> </i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="widget-box">
				<div class="widget-title">
					<span class="icon"><i class="icon-suitcase"></i></span>
					<h5>You have got questions ? We have got answers.</h5>
					<span class="label label-info">5</span>
				</div>
				<div class="widget-content nopadding">
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>?</th>
								<th>Answer</th>
								<th>Did it help?</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="taskDesc"><i class="icon-info-sign"></i> How can I update my profile ?</td>
								<td class="taskStatus"><span class="in-progress"> <a href="http://support.megam.co/kb/profile/creating-a-profile" target="_blank">here</a></span></td>

								<td class="taskOptions"><a href="#like" class="tip-top" data-original-title="Yup"><i class="icon-thumbs-up"></i></a>&nbsp;<a href="" class="tip-top" data-original-title="Nah"><i class="icon-thumbs-down"></i></a></td>
							</tr>
							<tr>
								<td class="taskDesc"><i class="icon-check-sign"></i> Launch a Java App ?</td>
								<td class="taskStatus"><span class="pending"> <a href="http://support.megam.co/kb/platform-applications/how-do-you-develop-a-java-application-on-megam" target="_blank">here</a></span></td>
								<td class="taskOptions"><a href="#like" class="tip-top" data-original-title="Yup"><i class="icon-thumbs-up"></i></a>&nbsp;<a href="" class="tip-top" data-original-title="Nah"><i class="icon-thumbs-down"></i></a></td>
							</tr>
							<tr>
								<td class="taskDesc"><i class="icon-check-sign"></i> Launch a Playframework App ?</td>
								<td class="taskStatus"><span class="pending"> <a href="http://support.megam.co/kb/platform-applications/how-do-you-develop-a-playframework-application-on-megam" target="_blank">here</a></span></td>
								<td class="taskOptions"><a href="#like" class="tip-top" data-original-title="Yup"><i class="icon-thumbs-up"></i></a>&nbsp;<a href="" class="tip-top" data-original-title="Nah"><i class="icon-thumbs-down"></i></a></td>
							</tr>
							<tr>
								<td class="taskDesc"><i class="icon-info-sign"></i> Why do I need to use Github ?</td>
								<td class="taskStatus"><span class="done"> <a href="http://support.megam.co/kb/quick-start/why-do-i-need-github-account" target="_blank">here</a></span></td>
								<td class="taskOptions"><a href="#like" class="tip-top" data-original-title="Yup"><i class="icon-thumbs-up"></i></a>&nbsp;<a href="" class="tip-top" data-original-title="Nah"><i class="icon-thumbs-down"></i></a></td>
							</tr>
							<tr>
								<td class="taskDesc"><i class="icon-info-sign"></i>Meter and monitor - Cloud books ?</td>
								<td class="taskStatus"><span class="pending"> <a href="http://support.megam.co/kb/cloud-applications/what-do-your-meter-monitor" target="_blank">here</a></span></td>
								<td class="taskOptions"><a href="#like" class="tip-top" data-original-title="Yup"><i class="icon-thumbs-up"></i></a>&nbsp;<a href="somedoclink" class="tip-top" data-original-title="Nah"><i class="icon-thumbs-down"></i></a></td>
							</tr>
							<tr>
								<td class="taskDesc"><i class="icon-trophy"></i> Request for a feature</td>
								<td class="taskStatus"><span class="done"> <a href="http://support.megam.co/discussions" target="_blank">Great. sure</a></span></td>
								<td class="taskOptions"><a href="#like" class="tip-top" data-original-title="Likes old requests (Vote now)"><i class="icon-thumbs-up"></i></a></td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div id="main" class="col-md-12">
			<ng-view ng-show="resolved" ng-cloak></ng-view>
		</div>
	</div>
	<br/>
	<div id="email_verify_popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						×
					</button>
					<h3 id="myModalLabel">Email Verification</h3>
				</div>
				<div class="modal-body">
					<div class="alert alert-success">

						<div id="msg">
							Email has been sent to <h5><%= current_user.email %></h5> for verification.
							Please check your email and follow the instructions
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">
						Ok
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<% end %>

<script>
    (function($) {
    $.Sources = JSON.parse('<%= raw Sources.sources.to_json %>   ');
    $.Books = JSON.parse('<%= raw Books.availableBooks(@user_id).to_json %>  ');
    })($);
</script>
<%= render :template => users_show_path %>