<div class="row">
	<div class="col-md-11">
		<div class="widget-box widget-chat nopadding">
			<div class="widget-title">
				<span class="icon"> <i class="icon-th-list"></i> </span>
				<h5>Apps Activity</h5>
				<div class="buttons">
					<%= link_to  apps_histories_path, class: "btn", title: 'Watch logs of created apps', rel: 'tooltip', :target => "_self" do %>
					<i class="icon-facetime-video">&nbsp;Logs</i>
					<%end %>
					<%= link_to "http://www.gomegam.com/contact", class: "btn", :target => "_blank" do %>
					<i class="icon icon-upgrade">&nbsp;Upgrade</i>
					<% end %>
				</div>
			</div>
			<div class="widget-content nopadding" >
				<div class="chat-content panel-left">

					<div class="chat-messages" id="chat-messages">
						<div class="row">
							<div class="col-md-11">
								<div class="col-md-5">
									<h4 align="Center"> <%= link_to app_path(:id => latest_book.id,:name => latest_book.name), :remote => true, data: { spinlock: '#book'} do %>
									<%= latest_book.name %>&nbsp;<i class="icon-edit"></i> <% end %> </h4>
								</div>
								<div class="col-md-6">
									<h5 align="Center"><span class="icon"> <i class="icon-calendar"></i> </span><%= latest_book.created_at.to_formatted_s(:rfc822) %></h5>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">

							</div>
						</div>
					</div>
					<div class="chat-message well">
						<span class="input-box input-group input-group-lg"> <span class="input-group-btn"> <%= link_to new_app_path, class: "btn btn-dark-green btn-lg btn-block", title: 'Choose your application\'s framework', rel: 'tooltip', :target => "_self" do %> <i class="icon-plus-sign">&nbsp;&nbsp;Create &nbsp;a &nbsp;new &nbsp;app&nbsp;&nbsp;</i> <% end %> </span>
							<input placeholder="Launch apps by choosing your framework..." type="text" class="form-control" disabled name="msg-box" id="msg-box" />
						</span>
					</div>
				</div>
				<div class="chat-users panel-right">
					<div class="panel-title">
						<h5>Apps usage <a href="http://support.megam.co/kb/cloud-applications/" class="pull-right" target="_blank"><i class="icon-question-sign"> Help</i> </a></h5>
					</div>
					<div class="panel-content nopadding">
						<ul class="contact-list">
							<li id="user-michelle" class="online new">
								<h5 align="center" ><span class="icon"> <i class="icon-rocket"></i> </span>&nbsp;Launched <b><%= @launched_books_quota %></b>&nbsp; Allowed <b>20</b></h5> <% @percent = @launched_books_quota/20.0*100 %>
								<div class="progress">
									<% if @percent >= 80 %>
									<div class="progress-bar progress-bar-warning" style="width: <%= @percent %>%;"></div>
									<% else %>
									<div class="progress-bar progress-bar-success" style="width: <%= @percent %>%;"></div>
									<% end %>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-11">
		<div id="oneapp"></div>
	</div>
</div>
<div class="row">
	<div class="col-md-11">
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon"> <i class="icon-th-list"></i> </span>
				<h5>My Apps</h5>
			</div>
			<div class="widget-content nopadding">
				<% @launched_books.each do |k, v| %>
				<% cb = App.find_by_group_name(k) %>
				<div class="accordion" id="collapse-group">
					<div class="accordion-group widget-box">
						<div class="accordion-heading">
							<div class="widget-title">
								<a data-parent="#collapse-group" href="#collapse<%= k%>" data-toggle="collapse"> <span class="icon"> <i class="icon-magnet"></i></span> <% if cb.book_type == 'APP' %> <span class="label label-info pull-right"><strong> <%= cb.book_type %><strong> </span> <% elsif cb.book_type == 'BOLT' %> <span class="label label-warning"><%= cb.book_type %></span> <% end %> <p></p> <span class="label label-danger pull-left">&nbsp;<strong><%= k%></strong></span> </a>
							</div>
						</div>
						<div class="collapse accordion-body" id="collapse<%= k%>">
							<div class="widget-content nopadding"  style="overflow-y: scroll; height:250px;">
								<table class="table">
									<thead>
										<tr>
											<th>Actions</th>
											<th>Name</th>
											<th>Marketplace</th>
											<th>Settings</th>
											<th>Activities</th>
											<th>Status</th>
										</tr>
									</thead>
									<tbody>
										<% v.each do |node| %>
										<tr>
											<% cloud_book = @nodes.lookup(node) %>
											<td> <% if cloud_book.node_type == "APP" %>
											<div class="btn-group">
												<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-folder-open"> Actions </span> <span class="caret"></span> </a>
												<ul class="dropdown-menu">
													<li>
														<%= link_to requests_path(:scm => cloud_book.predefs[:scm],:node_name => cloud_book.node_name, :book_type => cloud_book.node_type, :defns_id => cloud_book.appdefnsid, :status => cloud_book.status, :req_type => "build"), :remote => true,  data: { spinlock: '#cloud_book_request_now_nbuild'} do %>
														<i class="icon-building">&nbsp;Build&nbsp;</i> <% end %>
														<%= mini_spinner_tag  'cloud_book_request_now_nbuild' %>
													</li>
													<li class="divider"></li>
													<li>
														<%= link_to requests_path(:scm => cloud_book.predefs[:scm],:node_name => cloud_book.node_name, :book_type => cloud_book.node_type, :defns_id => cloud_book.appdefnsid, :status => cloud_book.status, :req_type => "start"), :remote => true,  data: { spinlock: '#cloud_book_request_now_nstart'} do %>
														<i class="icon-play">&nbsp;Start&nbsp;</i> <% end %>
														<%= mini_spinner_tag  'cloud_book_request_now_nstart' %>
													</li>
													<li>
														<%= link_to requests_path(:scm => cloud_book.predefs[:scm],:node_name => cloud_book.node_name, :book_type => cloud_book.node_type, :defns_id => cloud_book.appdefnsid, :status => cloud_book.status, :req_type => "stop"), :remote => true,  data: { spinlock: '#cloud_book_request_now_nstop'} do %>
														<i class="icon-stop">&nbsp;Stop&nbsp;</i> <% end %>
														<%= mini_spinner_tag  'cloud_book_request_now_nstop' %>
													</li>
													<li>
														<%= link_to requests_path(:scm => cloud_book.predefs[:scm],:node_name => cloud_book.node_name, :book_type => cloud_book.node_type, :defns_id => cloud_book.appdefnsid, :status => cloud_book.status, :req_type => "restart"), :remote => true,  data: { spinlock: '#cloud_book_request_now_nrestart'} do %>
														<i class="icon-refresh">&nbsp;Restart&nbsp;</i> <% end %>
														<%= mini_spinner_tag  'cloud_book_request_now_nrestart' %>
													</li>
													<li class="divider"></li>
													<!--
													<li>
													<%= link_to  app_path(:action => "show", :id => cb.id, :name => cloud_book.node_name, :book_type => cloud_book.node_type), :remote => true, data: { spinlock: '#book'}  do %>
													<i class="icon-list">&nbsp;Details&nbsp;</i>
													<% end %>
													</li>

													<span class="icon"> <i class="icon-calendar"></i> </span> <%= cloud_book.created_at.to_datetime.to_formatted_s(:rfc822) %>

													-->
													<li>
														<%= link_to preclone_path(:name => cloud_book.node_name),  :title=> "Clone Cloud Book", :remote => true, method: :post do %> <i class="icon-copy"> Clone</i> <% end %>
													</li>
													<li>
														<%= link_to app_path(:id => cb.id, :name => cloud_book.node_name), :title=> "Delete Cloud Book", method: :delete, :remote => true,  data: { spinlock: '#cloud_book_request_delete'}, :target => "_self", :data => { :confirm => "Are you sure you wish to delete the app ?"} do %> <i class="icon-trash"> Delete</i> <% end %>
													</li>
												</ul>
											</div> <% else %>
											<div class="btn-group">
												<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> Actions <span class="caret"></span> </a>
												<ul class="dropdown-menu">
													<li>
														<%= link_to requests_path(:scm => cloud_book.predefs[:scm],:node_name => cloud_book.node_name, :book_type => cloud_book.node_type, :defns_id => cloud_book.boltdefnsid, :status => cloud_book.status, :req_type => "start"), :remote => true,  data: { spinlock: '#cloud_book_request_now_nstart'} do %>
														<i class="icon-play">&nbsp;Start&nbsp;</i> <% end %>
														<%= mini_spinner_tag  'cloud_book_request_now_nstart' %>
													</li>
													<li>
														<%= link_to requests_path(:scm => cloud_book.predefs[:scm],:node_name => cloud_book.node_name, :book_type => cloud_book.node_type, :defns_id => cloud_book.boltdefnsid, :status => cloud_book.status, :req_type => "stop"), :remote => true,  data: { spinlock: '#cloud_book_request_now_nstart'} do %>
														<i class="icon-play">&nbsp;Start&nbsp;</i> <% end %>
														<%= mini_spinner_tag  'cloud_book_request_now_nstart' %>
													</li>
													
																										
													<li>
														<%= link_to requests_path(:scm => cloud_book.predefs[:scm],:node_name => cloud_book.node_name, :book_type => cloud_book.node_type, :defns_id => cloud_book.boltdefnsid, :status => cloud_book.status, :req_type => "restart"), :remote => true,  data: { spinlock: '#cloud_book_request_now_nstart'} do %>
														<i class="icon-play">&nbsp;Start&nbsp;</i> <% end %>
														<%= mini_spinner_tag  'cloud_book_request_now_nstart' %>
													</li>
													<li class="divider"></li>
													<li>
														<%= link_to requests_path(:scm => cloud_book.predefs[:scm],:node_name => cloud_book.node_name, :book_type => cloud_book.node_type, :defns_id => cloud_book.boltdefnsid, :status => cloud_book.status, :req_type => "build"), :remote => true,  data: { spinlock: '#cloud_book_request_now_nstart'} do %>
														<i class="icon-play">&nbsp;Start&nbsp;</i> <% end %>
														<%= mini_spinner_tag  'cloud_book_request_now_nstart' %>
													</li>
													<li>
														<%= link_to "More", app_path(:id => cb.id, :name => cloud_book.node_name, :book_type => cloud_book.node_type), :remote => true, data: { spinlock: '#book'} %>
													</li>
												</ul>
											</div> <% end %> </td>
											<td> <%= link_to  "http://#{cloud_book.node_name}" , { :target => '_blank'} do %> <i class="icon icon-external-link">&nbsp;<%= "#{cloud_book.node_name}" %></i> <%end%> </td>
											<td align="center"> <%= link_to  app_path(:action => "show", :id => cb.id, :name => cloud_book.node_name), :remote => true, data: { spinlock: '#book'}  do %> <i class="icon-shopping-cart"></i> <% end %> </td>
											<td align="center"> <%= link_to  app_path(:action => "show", :id => cb.id, :name => cloud_book.node_name), :remote => true, data: { spinlock: '#book'}  do %> <i class="icon-cog"></i> <% end %> </td>
											<td align="center"> <%= link_to  activities_path(:name => cloud_book.node_name, :book_type => cloud_book.node_type), :remote => true, data: { spinlock: '#book'}  do %> <i class="icon-list"></i> <% end %> </td>
											<td align="center"><i class="icon-circle"> </i><span class="label label-success" , align="center"><%= cloud_book.status %></span></td>
										</tr>
										<% end %>
									</tbody>

								</table>

							</div>
						</div>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div id="cloud_book_request_now_popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h3 id="myModalLabel">Cloud Book</h3>
			</div>
			<div class="modal-body">
				<div class="alert alert-success">

					<p>
						Your request was submitted to megam cloud gateway was successful.
						</br>
						<div id="cloud_book_request_now_success"></div>
						</br>
					</p>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-pink" data-dismiss="modal">
					Ok
				</button>
			</div>
		</div>
	</div>
</div>

<div id="cloud_book_request_now_popup_error" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h3 id="myModalLabel">Build</h3>
			</div>
			<div class="modal-body">
				<div class="alert alert-error">
					<p>
						Your request to megam cloud gateway was not successful.
						</br>
						<%= link_to  "Please open a support ticket support.megam.co", "http://support.megam.co", :class => "btn btn-primary", :target => "_self"%>
					</p>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-pink" data-dismiss="modal">
					Ok
				</button>
			</div>
		</div>
	</div>
</div>
