<!--
** Copyright [2013-2015] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->
<div class="row">
	<div class="col-md-12">
		<div class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-3 col-md-3 col-lg-2 control-label">General</label>
				<div class="col-sm-8 col-md-8 col-lg-9">
					<input type="text" class="form-control input-lg" disabled  placeholder="<%= cloud_book.node_name %>">
					</input>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 col-md-3 col-lg-2 control-label"></label>
				<div class="col-sm-8 col-md-8 col-lg-9">
					<input type="text" class="form-control input-lg" disabled placeholder="Framework: <%= cloud_book.predefs[:name] %>">
					</input>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 col-md-3 col-lg-2 control-label"></label>
				<div class="col-sm-8 col-md-8 col-lg-9">
					<input type="text" class="form-control input-lg" disabled placeholder="Domain: megam.co">
					</input>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 col-md-3 col-lg-2 control-label"></label>
				<div class="col-sm-8 col-md-8 col-lg-9">
					<input type="text" class="form-control input-lg"   placeholder="Running in <%= cloud_book.request[:command]["compute"]["cctype"]%> cloud">
					</input>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 col-md-3 col-lg-2 control-label"></label>
				<div class="col-sm-8 col-md-8 col-lg-9">
					<input type="text" class="form-control input-lg"   placeholder="Zone <%= cloud_book.request[:command]["compute"]["access"]["zone"]  || cloud_book.request[:command]["compute"]["access"]["region"] %>">
					</input>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 col-md-3 col-lg-2 control-label">Repos & Builds</label>
				<div class="col-sm-8 col-md-8 col-lg-9">
					<input type="text" class="form-control input-lg" disabled  placeholder="<%= cloud_book.predefs[:scm] unless cloud_book.predefs[:scm].empty? && cloud_books.predefs[:war].empty? %>">
					</input>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 col-md-3 col-lg-2 control-label"></label>
				<div class="col-sm-8 col-md-8 col-lg-9">
					<input type="text" class="form-control input-lg" placeholder="Last built on">
					</input>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-2"></div>
				<div class="col-lg-9">
					<div class="widget-box collapsible">
						<div class="widget-title">
							<a  href="#collapseOneAppAdv" data-toggle="collapse"> <span class="icon"> <i class="fa fa-magnet"></i></span> <h4>&nbsp;Modify Actions</h4></a>
						</div>
						<div class="collapse" id="collapseOneAppAdv">
							<div class="widget-content">
								<div class="row">
									<div class="col-md-4">
										<div class="well">
											<ul class="nav nav-pills nav-stacked">
												<li class="active">
													<%= link_to "Start", get_request_path(:node_name => cloud_book.node_name, :book_type => cloud_book.node_type, :defns_id => cloud_book.appdefnsid, :req_type => "start"), :class => "btn btn-primary btn-lg active", :remote => true, rel: 'tooltip', data: { spinner: '#lcrequest'} %>
												</li>
												<li>
													<%= link_to "Stop", get_request_path(:node_name => cloud_book.node_name, :book_type => cloud_book.node_type, :defns_id => cloud_book.appdefnsid, :req_type => "stop"), :class => "btn btn-primary btn-lg", :remote => true, data: { spinner: '#lcrequest'} %>
												</li>
												<li>
													<%= link_to "Build", get_request_path(:node_name => cloud_book.node_name, :book_type => cloud_book.node_type, :defns_id => cloud_book.appdefnsid, :req_type => "build"), :class => "btn btn-primary btn-lg", :remote => true, data: { spinner: '#lcrequest'} %>
												</li>
												<li>
													<%= link_to "Restart", get_request_path(:node_name => cloud_book.node_name, :book_type => cloud_book.node_type, :defns_id => cloud_book.appdefnsid, :req_type => "restart"), :class => "btn btn-primary btn-lg", :remote => true, data: { spinner: '#lcrequest'} %>
												</li>
											</ul>
										</div>
									</div>
									<div class="col-md-7" id="lc_form">
										<div class="alert alert-success">
											Select an action to control the lifecyle of the App
											<%= cloud_book.node_name %>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
