<%= form_tag(build_request_path, :method => "post", :name => "lifecycle", :remote => true) do %>
<div class="panel panel-success">
	<div class="panel-heading">
		<span class="icon"> <i class="fa fa-th-list"></i> </span>
		<h5>Modify Action</h5>
	</div>
	<div class="panel-body">
		<input type="hidden"  name="appdefns_id" value="<%= @appdefns_id %>">
		<input type="hidden"  name="req_type" value="<%= @req_type %>">
		<input type="hidden"  name="book_type" value="<%= @book_type %>">
		<input type="hidden"  name="node_name" value="<%= @node_name %>">
		<div class="input-group">
			<input type="text" name="lc_apply" value="<%= @lc_apply %>" class="form-control">
			<span class="input-group-addon"><%= link_to "#" do %> <i class="fa fa-question-circle"></i> <% end %></span>
		</div>		
		<div class="input-group">
			<input type="text" name="lc_additional" value="<%= @lc_additional %>" class="form-control">
			<span class="input-group-addon"><%= link_to "#" do %> <i class="fa fa-question-circle"></i> <% end %></span>
		</div>
		<div class="input-group">
			<%= text_field_tag 'lc_when', nil, :id => "lc_when", :class=> 'form-control required', placeholder: 'Enter preconditions if any' %>
			<span class="input-group-addon"><%= link_to "#" do %> <i class="fa fa-question-circle"></i> <% end %></span>
		</div>			
		<%= submit_tag @req_type.capitalize, :class => "btn btn-lg btn-success btn-block", :remote => true, data: { spinner: '#send_request_spinner'} %>
	</div>
	<div class="panel-footer">
		<span class="label label-warning">Warning:</span>&nbsp; This is an advanced option.  
	</div>
</div>
<% end %>
<%= spinner_tag 'send_request_spinner' %>
