<!--
** Copyright [2013-2015] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->
<%= label_tag :CPU_threshhold %>
<%= range_field_tag(:cpu_threshhold, nil, in: 1...100) %>

<%= label_tag :HTTP_request %>
<%= range_field_tag(:http_request, nil, in: 1...10) %>
<%= number_field_tag(:http_request, nil) %>

<%= form_tag(:controller => "cross_clouds", :action => "create") do %>
<div class="row">
	<div class="span2">
		<h5><%= label_tag "Upload ssh file   :" %>
	</div></h5>
	<div class="span8">
		<%= file_field_tag :ssh_file, placeholder: "Logo" %>
	</div>
</div>

<div class="row">
	<div class="span2">
		<h5><%= label_tag "Upload ssh security   :" %>
	</div></h5>
	<div class="span8">
		<%= file_field_tag :ssh_file, placeholder: "Logo" %>
	</div>
</div>

<br/>
<br/>
<div class="row">
	<div class="span4"></div>
	<div class="span4">
		<%= submit_tag "Save", :class => "btn btn-large btn-success btn-block", :remote => true, :data => { :spinner => '#spin-btn'} %>
	</div>
</div>
<% end %>
