<% content_for :content_settings do %>
<% provide(:title, 'New Apps_Item') %>

<div id="content-header">
	<h1>Cloud Applications</h1>
	<div class="btn-group">
		<a class="btn btn-large tip-bottom" title="Manage Files"><i class="icon-file"></i></a>
		<a class="btn btn-large tip-bottom" title="Manage Users"><i class="icon-user"></i></a>
		<a class="btn btn-large tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a>
		<a class="btn btn-large tip-bottom" title="Manage Orders"><i class="icon-shopping-cart"></i></a>
	</div>
</div>
<%= render_breadcrumbs %>

<div class="container-fluid">

<table class="table table-condensed">
        <thead>
		<tr class="alert">
			<th>Logo</th>
			<th>Name</th>
			<th>Description</th>
			<th>Category</th>
			<th>Action</th>
		</tr>
	</thead>
	<br/>
	<tbody>
	<% @products.each do |product| %>
	<tr class="success" >
		<td> <%= image_tag product.image_url, :size => "128x100" %> </td><dd></dd>
		<% if product.name === "Box.com" or product.name === "DropBox.com" %>
			<td><h3><%= product.name %></h3><h6>*Free</h6></td><dd></dd>
		<% else %>
			<td><h3><%= product.name %></h3></td><dd></dd>
		<% end %>
		<td><%= product.description %></td><dd></dd>
                <td><%= product.category %></td><dd/>
		<td> <% @apps_item.each do |apps_item_el| %>
		<% if apps_item_el.product_id === product.id %>
		<div id=<%= dom_id(product) %>>
			<%= render :partial => "apps_items/remove_button", :locals => {:apps_item_el => apps_item_el, :product => product} %>
		</div> <% end %>
		<% end %>
		<% if product.description != 1 %>
		<div id=<%= dom_id(product) %>>
			<%= render :partial => "apps_items/add_button", :locals => {:product => product} %>
		</div> <% end %> </td>
	</tr>
	<% end %> <!-- each product -->
	</tbody>
</table>
</div>
<% end %>
<%= render :template => users_show_path %>
