<% content_for :content_settings do %>
<% provide(:title, 'New Apps_Item') %>
<h2> My Cloud Applications </h2>
<table class="table table-condensed">
        <thead>
		<tr>
			<th>Logo</th>
			<th>Name</th>
			<th>Description</th>
			<th>Category</th>
			<th>Action</th>
		</tr>
	</thead>
	<hr/>
	<br/>
	<tbody>
	<% @products.each do |product| %>
	<tr class="success" >
		<td> <%= image_tag product.image_url, :size => "128x100" %> </td><dd></dd>
		<% if product.name === "Box.com" or product.name === "DropBox.com" %>
			<td><h3><%= product.name %></h3><h6>*Free</h6></td><dd></dd>
		<% else %>
			<td><h3><%= product.name %></h3></td><dd></dd>
		<% end %>
		<td><%= product.description %></td><dd></dd>
                <td><%= product.category %></td><dd/>
		<td> <% @apps_item.each do |apps_item_el| %>
		<% if apps_item_el.product_id === product.id %>
		<div id=<%= dom_id(product) %>>
			<%= render :partial => "apps_items/remove_button", :locals => {:apps_item_el => apps_item_el, :product => product} %>
		</div> <% end %>
		<% end %>
		<% if product.description != 1 %>
		<div id=<%= dom_id(product) %>>
			<%= render :partial => "apps_items/add_button", :locals => {:product => product} %>
		</div> <% end %> </td>
	</tr>
	<% end %> <!-- each product -->
	</tbody>
</table>
<% end %>
<%= render :template => customizations_show_path %>
