<!--
** Copyright [2013-2016] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->
<%= form_tag launchers_path, multipart: true, :novalidate => 'novalidate', :id => "megamform",  :method => 'post'  do %>
  <%= render :partial => "launchers/common_head", :locals => {:launch_item => @launch_item } %>
  <div class="modal-body app_body">
    <%= hidden_field_tag :id, @launch_item.name %>
    <div class="row">
      <div class="col-md-12 pad_tb25">
        <%= render template="launchers/common_banner", :locals => {:launch_item => @launch_item} %>
        <br/>
        <div class="">
          <%= render 'launch/name' :locals => {:launch_item => @launch_item} %>
          <%= render 'launchers/step1_choose_favourize' %>
          <%= render 'launchers/step3_choose_git', :locals => {:launch_item => @launch_item} %>
          <%= render 'launchers/step2_choose_sshkey', :locals => {:launch_item => @launch_item} %>
          <br/>
          <br/>
          <div class="row">
            <div class="col-md-offset-4 col-md-4">
              <div class="form-group">
                <%= submit_tag t('cockpits.create'), :class => "btn btn-success col-xs-12", :data => {:remote => true, disable_with: "Creating..." } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<script type="text/javascript">
  // Script to show the scm type (gitlab or github)
      function scmOption(myRadio) {
        choose_megam_scm = myRadio.value;
        switch (choose_megam_scm) {
        case "byoc_scm" :
          $("#app_byoc_scm").show();
          break;
        case "core_scm" :
          $("#app_byoc_scm").hide();
          break;
        default :
          $("#app_byoc_scm").hide();
        }
      }

      // Onclick events for gitlab and github
      function github_oauth() {
        $("#scm_name").val("github");
        $("#type").val("source");
        $.oauthpopup({
          path: "/auth/github",
          callback: function () {
            $.ajax({
              type: "POST",
              url: "/publish_github",
              success: function (data) {
              },
              error: function (data) {
              }
            });
            return false;
          }
        });
      }

      function gitlab_auth() {
        $("#scm_name").val("gitlab");
        $("#type").val("source");
        $.oauthpopup({
          path: "/auth/gitlab",
          callback: function () {
            $.ajax({
              type: "POST",
              url: "/publish_gitlab",
              success: function (data) {
              },
              error: function (data) {
              }
            });
            return false;
          }
        });
      }
</script>
