<!--
** Copyright [2013-2016] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->
<%= hidden_field_tag :id, @launch_item.name %>
<div class="row">
  <div class="col-md-12 pad_tb25">
    <span class="app_left_name"><%= t('marketplace.launch_description') %></span>
    <P class="model-description">
      <%= @launch_item.description %>
      <a href="http://docs.megam.io/docs/megam_oja_gettingstarted" target="_blank">
        <%= t('marketplace.view_docs') %></a>
    </P>
    <br/>
    <div class="">
      <h4><%= t('name') %></h4>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <%= text_field_tag 'assemblyname', nil, placeholder: "marketplace.torpedo", :class =>"form-control", :value => @launch_item.generate_random_name, :required => true %>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <%= text_field_tag 'domain', nil, :class =>"form-control", :value => SiteSetting.domain_name, disabled: true %>
            <%= hidden_field_tag 'domain', nil, :class =>"form-control", :value => SiteSetting.domain_name %>
          </div>
        </div>
      </div>
      <% unless @launch_item.has_docker?  %>
        <%= render template="launchers/torpedo_settings" %>
        <%= render template="launchers/choose_sshkey", :locals => {:ssh_keys => @launch_item.existing_sshkeys} %>
        <%= hidden_field_tag 'sshoption', nil, placeholder: "", :class =>"form-control sshoption"%>
        <%= hidden_field_tag 'componentname', nil, placeholder: "", :class =>"form-control", :value =>  @launch_item.generate_random_name %>
        <br/>
        <br/>
        <div class="row">
          <div class="col-md-offset-4 col-md-4">
            <div class="form-group">
              <%= submit_tag t('cockpits.create'), :class => "btn btn-success col-xs-12", :data => {:remote => true, disable_with: "Creating..." } %>
            </div>
          </div>
        </div>
      <% else %>
        <%= render template="marketplaces/docker_compute" %>
        <%= hidden_field_tag 'componentname', nil, placeholder: "", :class =>"form-control", :value =>  @launch_item.generate_random_name %>
        <h4><%= t('marketplace.image_name') %></h4>
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <%= text_field_tag 'source', nil, placeholder: t('marketplace.image_name_placeholder'), :class =>"form-control", :required => true %>
            </div>
          </div>
          <%= hidden_field_tag 'type', nil, placeholder: "DockerHub", :class =>"form-control", :value => "image" %>
          <%= hidden_field_tag 'scm_name', nil, placeholder: 'DockerHub', :class =>"form-control", :value => "https://hub.docker.com" %>
          <div class="col-xs-6">
            <div class="form-group">
              <%= submit_tag t('cockpits.create'), :class => "btn btn-success col-xs-12", :data => {:remote => true, disable_with: "Creating new container..."} %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
