<% content_for :content_settings do %>
<% provide(:title, 'Cloud Provisioners') %>
<%= render :partial => "users/header" , :locals => {:head => "Cloud Provisioners"}%>

<div class="container">
	<div class="row">
		<div class="col-md-11">
			<div class="widget-box">
				<div class="widget-title">
					<h5>Cloud Provisioners</h5>
				</div>
				<div class="widget-content">
					<div class="row">
						<div class="col-md-12">
							<div class="alert alert-success alert-block">
								<h4 class="alert-heading"></h4>
								<div>
										<i class="logo_chef"></i>
									 default <span class="label label-info">cloud provisioner</span> connected to <a href="https://github.com/indykish/chef-repo.git" target="_blank">https://github.com/indykish/chef-repo.git</a> exists.
									Use this option, If you wish to use your own remote chef repository.
									<a href="https://wiki.opscode.com/display/chef/Home" class="btn btn-link" target="_blank"> Click here to know about chef</a>
								</div>
							</div>
						</div>
						<%= form_tag cloud_tool_settings_path, multipart: true, :id =>'basic_validate', :novalidate => 'novalidate', :name => "basic_validate1",  :method => 'post', :remote => true, data: { spinlock: '#spin_cross_cloud'}  do %>
						<div class="row">
							<input type="hidden" name="cloud_type" value="chef">

							<div class="form-group">
								<div class="col-sm-12 col-md-12 col-lg-12">
									<div class="row">
										<div class="col-md-6">
											<div class="input-group input-group-lg">
												<span class="input-group-addon"><i class="fa fa-ticket"></i></span>
												<%= text_field_tag 'repo_name', nil, :class=> 'required form-control', placeholder: 'Enter a Name to Save' %>

											</div>
										</div>
										<div class="col-md-6">
											<div class="input-group input-group-lg">
												<%= text_field_tag 'repo', nil, :class=> 'required form-control', placeholder: 'Cloud Provisioner Repository' %>
												<span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-offset-4">
								<%= submit_tag "Create Cloud Provisioner", :class => "btn btn-lg btn-success" %>
							</div>
						</div>

						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="cloud_tool_setting_postfinish_popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h3 id="myModalLabel">Cloud Provisioner</h3>
			</div>
			<div class="modal-body">
				<div class="alert alert-success">

					<p>
						<div id="res_msg"></div>
						</br>
					</p>
				</div>
			</div>
			<div class="modal-footer" id="cloudtoolsettings_path">
				<%= link_to  "OK", settings_path, :class => "btn btn-pink", :target => "_self" %>
			</div>
		</div>
	</div>
</div>

<div id="cloud_tool_setting_postfinish_popup_error" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h3 id="myModalLabel">Cloud Provisioner</h3>
			</div>
			<div class="modal-body">
				<div class="alert alert-danger">
					<p>
						A cloud provisioner setup to the megam cloud gateway was not successful.
						</br>
						<div id="err_msg"></div>
					</p>
				</div>
			</div>
			<div class="modal-footer">
				<%= link_to  "Ok", settings_path, :class => "btn btn-primary", :target => "_self" %>
			</div>
		</div>
	</div>
</div>

<% end %>
<%= render :template => users_show_path %>