{{#if showTop}}
    {{render "header"}}
{{/if}}
<div id="main-outlet">
    <div class="container">
        {{global-notice}}
    </div>
    {{outlet}}
    {{outlet "loading"}}
</div>
{{notification-container notifications=notificationMessages position="bottom-right"}}

{{#if showFooter}}
    {{custom-html "footer"}}
{{/if}}

{{render "modal"}}
