{{render "header"}}

<div id="main-outlet">
  <div class="container">
    {{#if showTop}}
      {{custom-html "top"}}
    {{/if}}
    {{global-notice}}
    {{create-topics-notice}}
  </div>
  {{outlet}}
  {{render "user-card"}}
</div>

{{#if showFooter}}
  {{custom-html "footer"}}
{{/if}}
{{render "modal"}}
