{{#if showTop}}
  {{custom-html "top"}}
{{else}}
<div class="header navbar navbar-fixed-top">
  <div class="container-fluid">
    <!-- BEGIN TOP NAVIGATION BAR -->
    <div class="header-inner">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
          <a class="navbar-brand" href='/'>
          {{home-logo}}
          </a>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 col-lg-offset-6 col-md-offset-6 col-sm-offset-6">
          <div class="row">
            <ul class="nav navbar-nav pull-right">
              <li>
                <span>
                  <a href="#create_socket" id="new-account-link" {{action "createTopic" target='discovery'}}><u class="colr-bluegrey"></u>
                    socket
                  </a>
                </span>
              </li>
              <li>
                {{#link-to 'dummy'}}
                  <i class="c_icon-window-lg pull-left"></i>
                      <span class="hidden-xs hidden-sm pull-left">{{i18n 'marketplace.title'}}</span>
                  {{/link-to}}
              </li>
              {{#if siteSettings.enable_ceph_logins}}
              <li>
                  {{#link-to 'dummy'}}
                    <i class="c_icon-storage-lg pull-left"></i>
                    <span class="hidden-xs hidden-sm pull-right">
                    {{i18n 'storage.title'}}</span>
                  {{/link-to}}
              </li>
            {{/if}}
            <li class="dropdown" id="header_notification_bar">
              <a class="dropdown-toggle" data-close-others="true" data-hover="dropdown" data-toggle="dropdown" href="#"> <i class="c_glob header_user_profile"></i> </a>
              <ul class="dropdown-menu extended notification">
                <ul class="dropdown-menu-list scroller">
                  <li>
                    {{#link-to 'dummy'}}
                      <span class="label label-sm label-icon label-success"> <i class="glyphicon glyphicon-user"></i> </span>
                      {{i18n 'top_toolbar.profile'}}
                      {{/link-to}}
                  </li>
                  <li>
                    {{#link-to 'dummy'}}
                      <span class="label label-sm label-icon label-danger"> <i class="glyphicon glyphicon-off"></i> </span>
                      {{i18n 'top_toolbar.signout'}}
                    {{/link-to}}
                  </li>
                </ul>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{{/if}}
