<!--
** Copyright [2013-2016] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->

<div class="signin login">
    <div class="container">
        {{login-logo minimized=showExtraInfo}}

        <!-- BEGIN LOGIN -->
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-xl-8 offset-sm-1 offset-md-1 offset-lg-2 offset-xl-2 bg_white border_grey">
                <div class="container">
                    <div class="row bottom-divider">
                        <div class="offset-lg-1 offset-md-1 col-lg-10 col-md-10">
                            <h2>{{i18n 'login.title'}}</h2>
                        </div>
                    </div>
                </div>
                <br/>

                <div class="offset-lg-1 offset-md-1 col-lg-10 col-md-10">
                    <form>
                        <div class="c_inline">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-112">
                                        <i class="tickdot"></i>
                                        {{text-field value=loginName placeholderKey="login.email_placeholder" class ="form-control" id="login-account-name" autocorrect="off" autocapitalize="off" autofocus="autofocus"}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-112">
                                        <i class="tickdot"></i>
                                        {{password-field value=loginPassword type="password" placeholderKey="login.password_placeholder" class ="form-control" id="login-account-password" maxlength="200" capsLockOn=capsLockOn}}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer">
                                    <div class="row pad_t12">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 tour-btn">
                                            <span>
                                                <a href="#create_account" id="new-account-link" {{action "createAccount"}}>
                                                    <u class="colr-bluegrey"></u>
                                                    {{i18n 'login.create_account'}}
                                                </a>
                                            </span>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-right tour-btn">
                                            <span>
                                                <a href="#" id="forgot-password-link" {{action "showForgotPassword"}} class="pull-right" style="pointer-events: none;color: #b0b5ba;">
                                                    <u class="colr-denimblue"></u>{{i18n 'forgot_password.action'}}
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 tour-btn">
                                            <button class="btn btn-success btn-plain" id="take-a-tour" {{action "takeTour"}}>
                                                <a>
                                                    {{i18n 'login.take_a_tour'}}
                                                </a>
                                            </button>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right tour-btn">
                                            <button class="btn btn-success btn-plain-green" {{bind-attr disabled="loginDisabled"}} {{action "login"}}>
                                                {{loginButtonText}}
                                                <span class="pull-right">
                                                    {{conditional-loading-spinner condition=showSpinner size="large"}}
                                                </span>
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            {{login-buttons action="externalLogin"}}
                        </div>
                    </form>
                </div>
        </div>
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-xl-8 offset-sm-1 offset-md-1 offset-lg-2 offset-xl-2 footer-bottom">
            <div class="row">
                <p class="text-center">
                    Copyright
                    <a href="http://megam.io/" target="_blank">Megam</a>
                    <a href="http://det.io/" target="_blank">& DET.io</a>
                    <span class="pull-right"></span>
                </p>
            </div>
        </div>
    </div>
</div>
