<div class="container-fluid main-cover">
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-md-2 col-xl-1 c_bg_white">
      <div class="row">
        <div class="page-sidebar navbar-collapse collapse">
          {{render "navigation/default"}}
        </div>
      </div>
    </div>
    <div id="list-container">
      <div class="rt-box col-xs-12 col-sm-9 col-md-10 c_bg_white c_height_5">
       <div class="">
         <div class="row c_pading-b15">
           <div class="storage_top">
             <div class="col-xs-12 col-sm-6 col-md-6">
               <h3><b> VM </b></h3>
             </div>
           </div>
         </div>
       </div>
       <div class="bottom-divider"></div>
            <section>
              <div class="tabbable-custom nav-justified margintb_15">
                    <ul class="nav nav-tabs nav-justified">
                        {{vm-management-tab panels=panels selectedTab=selectedTab tab="info"}}
                        {{vm-management-tab panels=panels selectedTab=selectedTab tab="storage"}}
                        {{vm-management-tab panels=panels selectedTab=selectedTab tab="network"}}
                        {{vm-management-tab panels=panels selectedTab=selectedTab tab="cpu"}}
                        {{vm-management-tab panels=panels selectedTab=selectedTab tab="ram"}}
                        {{vm-management-tab panels=panels selectedTab=selectedTab tab="hdd"}}
                        {{vm-management-tab panels=panels selectedTab=selectedTab tab="logs"}}
                    </ul>

                    <div class="modal-body">
                        {{#each panels as |tab|}}
                            {{component tab selectedTab=selectedTab category=model.metaData}}
                        {{/each}}
                    </div>
                </div>
              </section>
     </div>
    </div>
  </div>
</div>
