<div class="container-fluid main-cover vm">
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-2 col-xl-1 c_bg_white">
            <div class="row">
                <div class="page-sidebar navbar-collapse collapse">
                    {{render "navigation/default"}}
                </div>
            </div>
        </div>
        <div id="list-container">
            <div class="rt-box col-xs-12 col-sm-9 col-md-10 c_bg_white c_height_5">
                <div class="">
                  <div class="row c_pading-b15">
                    <div class="">
                      <div class="col-xs-12 col-sm-6 col-md-6 header_title">
                        <h3>VM <small><b>{{model.fullName}}</b></small> <small><b>{{model.status}}</b></small></h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bottom-divider"></div>
                <div class="">
                    <div class="row c_pading-b25">
                        <button type="button" class="btn btn-default pull-left">
                          <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                        <button type="button" class="btn btn-default pull-right">
                          <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <button type="button" class="btn btn-default pull-right" {{action "openVNC"}}>
                          <span class="glyphicon glyphicon-blackboard" style="color: rgb(111, 111, 111)"></span> VNC
                        </button>
                        <button type="button" class="btn btn-default pull-right">
                          <span class="glyphicon glyphicon-repeat"></span> Reboot
                        </button>
                        <button type="button" class="btn btn-default pull-right">
                          <span class="glyphicon glyphicon-pause"></span> Shutdown
                        </button>
                        <button type="button" class="btn btn-default pull-right">
                          <span class="glyphicon glyphicon-play"></span> Start
                        </button>
                    </div>
                </div>
                <section class="vm">
                    <ul class="tabs">
                        {{vm-management-tab panels=panels selectedTab=selectedTab tab="info"}}
                        {{vm-management-tab panels=panels selectedTab=selectedTab tab="storage"}}
                        {{vm-management-tab panels=panels selectedTab=selectedTab tab="network"}}
                        {{vm-management-tab panels=panels selectedTab=selectedTab tab="cpu"}}
                        {{vm-management-tab panels=panels selectedTab=selectedTab tab="ram"}}
                        {{vm-management-tab panels=panels selectedTab=selectedTab tab="hdd"}}
                        {{vm-management-tab panels=panels selectedTab=selectedTab tab="logs"}}
                    </ul>
                    <div class="vm-modal-body">
                        {{#each panels as |tab|}}
                            {{component tab selectedTab=selectedTab model=model}}
                        {{/each}}
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
