<li>
	<span class="content">Name  : <%= organization.name %></span>
	<span class="content">account name  : <%= organization.account_name %></span>
	<span class="content">active  : <%= organization.active %></span>
	<span class="content">type  : <%= organization.type %></span>
	<span class="content">url  : <%= organization.url %></span>
	<span class="content">Org_ID  : <%= organization.id %></span>
</li>
