<!--
** Copyright [2013-2015] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->
<div class="row c_pading-b15">
	<div class="portlet-body-head">
		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
			<i class="c_icon-layer_lg"></i>Your Addons <span><%= @services_spun %> Addons running</span>
		</div>
	</div>
</div>
<div class="bottom-divider"></div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

	<div class="row app_box">
		<%= link_to marketplaces_path do %>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 app_cover">
			<div class="app_inner">
				<div class="app_new">
					<span class="glyphicon glyphicon-plus"></span>
					<p>
						Create addons
					</p>
				</div>
			</div>
		</div>
		<% end %>
		<% if @assemblies != nil %>
		<% @assemblies.each do |asm| %>
		<% if asm.class != Megam:: Error %>
		<% asm.assemblies.each do |assembly| %>
		<% sflag = false %>
		<% if assembly != nil %>
		<% if assembly[0].class != Megam::Error %>

		<% if assembly[0].components.length > 0 %>
		<% assembly[0].components.each do |com| %>
		<% if com != nil %>
		<% com.each do |c| %>
		<% com_type = c.tosca_type.split(".") %>
		<% ctype = get_type(com_type[2]) %>
		<% if ctype == "ADDON" %>
		<% sflag = true %>
		<% end %>
		<% end %>
		<% end %>
		<% end %>
		<% end %>

		<% if sflag %>
		<% if assembly[0].status != "Terminated" %>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 app_cover">
			<div class="app_inner">
				<div class="app">
					<div class="app_head">
						<span class="app_config" id="config_menu_<%= assembly[0].name %>"><i class="c_icon-config"></i></span>
						<div class="config_menu config_menu_<%= assembly[0].name %>">
							<ul>
								<li>
									<%= link_to lifecycle_path(:id => assembly[0].id, :name => assembly[0].name, :command => "start", :type => "addon"), :remote => true, :class => "link_img" do %>
									<i class="glyphicon glyphicon-play-circle"></i>Start Addon
									<% end %>
								</li>
								<li>
									<%= link_to lifecycle_path(:id => assembly[0].id, :name => assembly[0].name, :command => "stop", :type => "addon"), :remote => true, :class => "link_img" do %>
									<i class="glyphicon glyphicon-record"></i>Stop Addon
									<% end %>
								</li>
								<li>
									<%= link_to lifecycle_path(:id => assembly[0].id, :name => assembly[0].name, :command => "restart", :type => "addon"), :remote => true, :class => "link_img" do %>
									<i class="glyphicon glyphicon-refresh"></i>Restart Addon
									<% end %>
								</li>
								<!-- <li>
								<a data-toggle="modal" href="#addon_delete"><i class="glyphicon glyphicon-trash"></i>Delete Service</a>
								</li> -->
							</ul>
						</div>
						<div class="row app_icon">
							<h5><%= assembly[0].name %></h5>
							<% if assembly[0].components.length > 0 %>
							<% appkey = assembly[0].name + "." + assembly[0].components[0][0].inputs[:domain] %>
							<%= link_to appkey, addonsoverview_path(:appkey => assembly[0].id) %>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
								<ul class="list-inline app_icon_bottom">
									<%  assembly[0].components.each do |com| %>
									<% if com != nil %>
									<% com.each do |c| %>
									<% com_type = c.tosca_type.split(".") %>
									<% ctype = get_type(com_type[2]) %>
									<% if ctype == "ADDON" %>
									<li>
										<%= image_tag "logos/"+com_type[2].downcase+".png", :alt => "" %>
									</li>
									<% end %>
									<% end %>
									<% end %>
									<% end %>
								</ul>
							</div>
							<% end %>
						</div>
						<!-- <img class="center-block" src="assets/img/app2.png"> -->
					</div>
					<div class="app_footer">
						<!-- <div class="circle_red"></div> -->
						<i class="circle_green"></i>
						<span><strong><%= assembly[0].status %></strong></span>
						<% if asm.inputs[:id].length > 1 %>
						<% url = "http://#{Rails.configuration.designer_host}:#{Rails.configuration.designer_port}/?email=#{current_user.email}&api_key=#{current_user.api_key}&callbackURL=https://www.megam.co/varai&assembliesID=#{asm.id}" %>
						<a href="<%= url %>" target="_blank" ><i class="c_icon-window pull-right" style="color:blue"></i></a>
						<% end %>
						<i class="c_icon-star pull-right"></i>
					</div>
				</div>
			</div>

		</div>
		<% else %>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 app_cover">
			<div class="app_inner">
				<div class="app">
					<div class="app_head">
						<span class="app_config" id="config_menu_<%= assembly[0].name %>"><i class="c_icon-config"></i></span>
						<div class="config_menu config_menu_<%= assembly[0].name %>">
							<ul>
								<li>
									<i class="glyphicon glyphicon-play-circle"></i>Start App
								</li>
								<li>
									<i class="glyphicon glyphicon-record"></i>Stop App
								</li>
								<li>
									<i class="glyphicon glyphicon-refresh"></i>Restart App
								</li>
								<li>
									<i class="glyphicon glyphicon-trash"></i>Delete App
								</li>
							</ul>
						</div>
						<div class="row app_icon">
							<h5><%= assembly[0].name %></h5>
							<% if assembly[0].components.length > 0 %>
							<%= assembly[0].name + "." + assembly[0].components[0][0].inputs[:domain] %>

							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
								<ul class="list-inline app_icon_bottom">
									<%  assembly[0].components.each do |com| %>
									<% if com != nil %>
									<% com.each do |c| %>
									<% com_type = c.tosca_type.split(".") %>
									<% ctype = get_type(com_type[2]) %>
									<li>
										<%= image_tag "logos/"+com_type[2].downcase+".png", :alt => "" %>
									</li>
									<% end %>
									<% end %>
									<% end %>
								</ul>
							</div>
							<% end %>
						</div>
						<!-- <img class="center-block" src="assets/img/app2.png"> -->
					</div>
					<div class="app_footer">
						<i class="circle_red"></i>
						<span><strong><%= assembly[0].status %></strong></span>
						<i class="c_icon-window pull-right" style="color:blue"></i>
						<i class="c_icon-star pull-right"></i>
					</div>
				</div>
			</div>

		</div>
		<% end %>
		<% end %>
		<% end %>
		<% end %>
		<% end %>
		<% end %>
		<% end %>
		<% end %>

	</div>
</div><!-- services ends here -->
