<% content_for :content_settings do %>
<% provide(:title, 'Dashboard') %>

			<div class="rt-box col-xs-12 col-sm-8 col-md-9 col-lg-9 col-xl-9 c_bg_white c_height_5">
				<div class="portlet box blue">
					<div class="portlet-title">
						<div class="caption">Dashboard</div>
						<span class="pull-right c_small">Not sure what to do next?<i class="c_icon-rocket"></i><a href="#">Take a Tour</a></span>
					</div>
					<div class="portlet-body c_height_5">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						   <div class="row c_pading-b15 settings_top">
					          <div class="margin_15">
						         <div class="col-xs-6 col-sm-5">
							         <i class="c_icon-grid"></i>Over all <span>3 Apps & 0 services running</span>
						        </div>
						       <div class="col-xs-6 col-sm-7 settings_grid pad_t25">
							       <div class="pull-right mplace-icons">
							           <%= link_to "http://#{Rails.configuration.designer_host}:#{Rails.configuration.designer_port}/?email=#{current_user.email}&api_key=#{current_user.api_token}&callbackURL=https://www.megam.co/visualCallback", :title=> "TOSCA Designer", :id => "designer_link", :target => "_blank"  do %>		
							              <i class="icon-grid"></i>
		                                    Designer
		                                <% end %>

										<%= link_to marketplaces_path, :title=> "Manage Marketplace", :id => "db_link", :target => "_self"  do %>
												<i class="icon-window"></i>
													Marketplace
										<% end %>							       
								        
							       </div>
						        </div>
					         </div>	
				           </div>
							<!--<div class="row c_pading-b15">
								<div class="portlet-body-head">
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
										<i class="c_icon-grid"></i>Over all <span>3 Apps & 0 services running</span>
									</div>
									<div class="col-xs-5 col-sm-5 settings_grid pad_t25">
							           <div class="pull-right mplace-icons">
								           <span class="mplace-selected">Market Place</span>
								           <i class="c_icon-window-lg"></i>
								           <span>Visual Designer</span>
								           <i class="c_icon-grid-25"></i>
							          </div>
						           </div>
								</div>-->
								<!-- <div class="pull-right">
									<span class="icon-th-large"></span>
								</div> -->
							</div>	
							<!--<div class="bottom-divider"></div>-->
							<div class="row progressbar-cover">
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
									<h5>Memory used</h5>
									<div class="progress">
				                        <div class="progress-bar progress-bar-success" style="width: 35%">
				                           <span class="sr-only">35% Complete (success)</span>
				                        </div>
				                        <div class="progress-bar progress-bar-warning" style="width: 20%">
				                           <span class="sr-only">20% Complete (warning)</span>
				                        </div>
				                        <div class="progress-bar progress-bar-danger" style="width: 10%">
				                           <span class="sr-only">10% Complete (danger)</span>
				                        </div>
				                    </div>   
								</div>
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
									<h5>App health</h5>
									<div class="progress">
				                        <div class="progress-bar progress-bar-success" style="width: 35%">
				                           <span class="sr-only">35% Complete (success)</span>
				                        </div>
				                    </div> 
								</div>
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
									<h5>Services used</h5>
									<div class="progress">
				                        <div class="progress-bar progress-bar-success" style="width: 35%">
				                           <span class="sr-only">35% Complete (success)</span>
				                        </div>
				                        <div class="progress-bar progress-bar-warning" style="width: 20%">
				                           <span class="sr-only">20% Complete (warning)</span>
				                        </div>
				                        <div class="progress-bar progress-bar-danger" style="width: 10%">
				                           <span class="sr-only">10% Complete (danger)</span>
				                        </div>
				                    </div> 
								</div>
							</div>

							<div class="row c_pading-b15">
								<div class="portlet-body-head">
									<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
										<i class="c_icon-grid"></i>Your Apps <span>3 Apps running</span>
									</div>
								</div>
							</div>	
							<div class="bottom-divider"></div>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

								<div class="row app_box">
									<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 app_cover">
										<div class="app_inner">
											<div class="app_new">
												<span class="c_icon-plus"></span>
												<p>Create New App</p>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 app_cover">
										<div class="app_inner">
											<div class="app">
												<div class="app_head">
													<span class="app_config" id="config_menu_1"><i class="c_icon-config"></i></span>
													<div class="config_menu config_menu_1">
														<ul>
															<li><a href="#"><i class="glyphicon glyphicon-play-circle"></i>Start App</a></li>
															<li><a href="#"><i class="glyphicon glyphicon-record"></i>Stop App</a></li>
															<li><a href="#"><i class="glyphicon glyphicon-refresh"></i>Restart App</a></li>
															<li><a href="#"><i class="glyphicon glyphicon-trash"></i>Delete App</a></li>
														</ul>
													</div>
													<div class="row app_icon">
														<h4><a href="#">Open nebula</a></h4>
														<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
															<ul class="list-inline app_icon_bottom">
																<li><%= image_tag "apps1.png" %></li>
																<li><%= image_tag  "apps1.png"  %></li>
																<li><%= image_tag  "apps1.png"  %></li>
															</ul>
														</div>
													</div>
													<!-- <img class="center-block" src="app2.png"> -->
												</div>
												<div class="app_footer">
													<!-- <div class="circle_red"></div> -->
													<i class="circle_red"></i>
													<span>Down</span>
													<i class="c_icon-window pull-right"></i>
													<i class="c_icon-star pull-right"></i>
												</div>
											</div>
										</div>
											
									</div>
									<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 app_cover">
										<div class="app_inner">
											<div class="app">
												<div class="app_head">
													<span class="app_config" id="config_menu_2"><i class="c_icon-config"></i></span>
													<div class="config_menu config_menu_2">
														<ul>
															<li><a href="#"><i class="glyphicon glyphicon-play-circle"></i>Start App</a></li>
															<li><a href="#"><i class="glyphicon glyphicon-record"></i>Stop App</a></li>
															<li><a href="#"><i class="glyphicon glyphicon-refresh"></i>Restart App</a></li>
															<li><a href="#"><i class="glyphicon glyphicon-trash"></i>Delete App</a></li>
														</ul>
													</div>
														<div class="row app_icon">
															<h4><a href="#">Open nebula</a></h4>
															<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
																<ul class="list-inline app_icon_bottom">
																	<li><%= image_tag  "apps1.png"  %></li>
																	<li><%= image_tag  "apps1.png"  %></li>
																	<li><%= image_tag  "apps1.png"  %></li>
																</ul>
															</div>
														</div>
													<!-- <img class="center-block" src="app2.png"> -->
												</div>
												<div class="app_footer">
													<!-- <div class="circle_red"></div> -->
													<i class="circle_red"></i>
													<span>Down</span>
													<i class="c_icon-window pull-right"></i>
													<i class="c_icon-star pull-right"></i>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 app_cover">
										<div class="app_inner">
											<div class="app">
												<div class="app_head">
													<span class="app_config" id="config_menu_3"><i class="c_icon-config"></i></span>
													<div class="config_menu config_menu_3">
														<ul>
															<li><a href="#"><i class="glyphicon glyphicon-play-circle"></i>Start App</a></li>
															<li><a href="#"><i class="glyphicon glyphicon-record"></i>Stop App</a></li>
															<li><a href="#"><i class="glyphicon glyphicon-refresh"></i>Restart App</a></li>
															<li><a href="#"><i class="glyphicon glyphicon-trash"></i>Delete App</a></li>
														</ul>
													</div>

													<div class="row app_icon">
														<h4><a href="#">Open nebula</a></h4>
														<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
															<ul class="list-inline app_icon_bottom">
																<li><%= image_tag  "apps1.png"  %></li>
																<li><%= image_tag  "apps1.png"  %></li>
																<li><%= image_tag  "apps1.png"  %></li>
															</ul>
														</div>
													</div>
												</div>
												<div class="app_footer">
													<!-- <div class="circle_red"></div> -->
													<i class="circle_red"></i>
													<span>Down</span>
													<i class="c_icon-window pull-right"></i>
													<i class="c_icon-star pull-right"></i>
												</div>
											</div>
										</div>
									</div>
								</div>	
							</div><!-- running apps ends here -->

							<div class="row c_pading-b15">
								<div class="portlet-body-head">
									<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
										<i class="c_icon-layer_lg"></i>Your Services <span>0 Services running</span>
									</div>
								</div>
							</div>	
							<div class="bottom-divider"></div>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

								<div class="row app_box">
									<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 app_cover">
										<div class="app_inner">
											<div class="app_new">
												<span class="c_icon-plus"></span>
												<p>Create a service</p>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 app_cover">
										<div class="app_inner">
											<div class="app">
												<div class="app_head">
													<span class="c_icon-config app_config"></span>
													<div class="row app_icon">
														<h4><a href="#">Open nebula</a></h4>
														<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
															<ul class="list-inline app_icon_bottom">
																<li><%= image_tag  "apps1.png"  %></li>
																<li><%= image_tag  "apps1.png"  %></li>
																<li><%= image_tag  "apps1.png"  %></li>
															</ul>
														</div>
													</div>
												</div>
												<div class="app_footer">
													<!-- <div class="circle_red"></div> -->
													<i class="circle_green"></i>
													<span>Running</span>
													<i class="c_icon-window pull-right"></i>
													<i class="c_icon-star pull-right"></i>
												</div>
											</div>
										</div>
											
									</div>
									<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 app_cover">
										<div class="app_inner">
											<div class="app">
												<div class="app_head">
													<span class="c_icon-config app_config"></span>
													<div class="row app_icon">
														<h4><a href="#">Open nebula</a></h4>
														<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
															<ul class="list-inline app_icon_bottom">
																<li><%= image_tag  "apps1.png"  %></li>
																<li><%= image_tag  "apps1.png"  %></li>
																<li><%= image_tag  "apps1.png"  %></li>
															</ul>
														</div>
													</div>
												</div>
												<div class="app_footer">
													<!-- <div class="circle_red"></div> -->
													<i class="circle_red"></i>
													<span>Down</span>
													<i class="c_icon-window pull-right"></i>
													<i class="c_icon-star pull-right"></i>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 app_cover">
										<div class="app_inner">
											<div class="app">
												<div class="app_head">
												<span class="c_icon-config app_config"></span>
												<div class="row app_icon">
														<h4><a href="#">Open nebula</a></h4>
														<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
															<ul class="list-inline app_icon_bottom">
																<li><%= image_tag  "apps1.png"  %></li>
																<li><%= image_tag  "apps1.png"  %></li>
																<li><%= image_tag  "apps1.png"  %></li>
															</ul>
														</div>
													</div>
												</div>
												<div class="app_footer">
													<!-- <div class="circle_red"></div> -->
													<i class="circle_green"></i>
													<span>Running</span>
													<i class="c_icon-window pull-right"></i>
													<i class="c_icon-star pull-right"></i>
												</div>
											</div>
										</div>
									</div>
								</div>	
							</div><!-- services ends here -->
						</div>
					</div>
    
              </div>
           </div>
		</div>





<% end %>
<%= render :template => users_show_path %>
