<div class="widget-box">
	<div class="widget-title">
		<span class="icon"> <i class="icon-th-list"></i> </span>
		<h5>Manage Cloud Provisioners</h5>
	</div>
	<div class="widget-content" >
		<div class="row">
			<div class="col-md-4">
				<div class="cb_box">
					<h4 align="center">No of Cloud Provisioners</h4>
					<h5 align="center" ><span class="icon"><i class="icon-book"></i></span>&nbsp;Used <%= @cloud_tool_settings.count %>&nbsp;Allowed 2</h5>
					<br/>
				</div>
			</div>
			<div class="col-md-4">
				<div class="cb_box">
					<% @percent = @cloud_tool_settings.count/2.0*100 %>
					<br/>
					<br/>
					<div class="row">
						<div class="col-md-1">
							<h3>&nbsp;0</h3>
						</div>
						<div class="col-md-9">
							<div class="progress">
								<% if @percent >= 80 %>
								<div class="progress-bar progress-bar-warning" style="width: <%= @percent %>%;"></div>
								<% else %>
								<div class="progress-bar progress-bar-success" style="width: <%= @percent %>%;"></div>
								<% end %>
							</div>
						</div>
						<div class="col-md-1">
							<h3>2</h3>
						</div>
					</div>
					<br/>
				</div>
			</div>
			<div class="col-md-4">
				<div class="cb_box">
					<h4 align="center" >Recent Activity</h4>
					<h5 align="Center"><span class="icon"> <i class="icon-calendar"></i> </span><b><%= @cloud_tool_settings.last[:created_at] %></b></h5>
					<h5 align="Center"><%= link_to "#{@cloud_tool_settings.last[:name]}", cloud_tool_setting_path(:id => "1", :name => "name"), :remote => true, data: { spinlock: '#cloud_current'} %> </h5>
				</div>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-md-6">
				<%= link_to new_cloud_tool_setting_path, :id => "popover_cloud_provisioner", class: "btn btn-lg btn-success btn-block", :target => "_self" do %>
				<i class="icon-paper-clip">&nbsp;Choose Your Cloud Provisioner</i>
				<% end %>
			</div>
			<div class="col-md-6">
				<%= link_to "Upgrade", pricing_path, class: "btn btn-lg btn-inverse btn-block ", :target => "_self", :disabled => true %>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-md-12">
				<div class="widget-box">
					<div class="widget-title">
						<h5>Cloud Provisioners</h5>
					</div>
					<div class="widget-content nopadding">
						<table class="table table-bordered table-striped table-hover data-table">
							<thead>
								<tr>
									<th>Actions</th>
									<th>Name</th>
									<th>Created At</th>
								</tr>
							</thead>
							<tbody>
								<% @cloud_tool_settings.each do |pre_cl| %>
								<tr class="gradeA">
									<td align="center"> <%= link_to cloud_tool_setting_path(pre_cl[:name], :type => "cloud_tool_setting"), :remote => true, 
									:class => "btn btn-dark-blue" do %> <i class="icon-eye-open">&nbsp;View</i> <% end %> </td>
									<td align="center"> <%= pre_cl[:name] %></td>
									<td align="center"><span class="icon"> <i class="icon-calendar"></i> </span> <%= pre_cl[:created_at] %> </td>
								</tr>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="cloud_tool_setting_show_popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h3 id="myModalLabel">View Cloud Provisioner</h3>
			</div>
			<div class="modal-body">
				<div class="alert alert-info">
					<p>
						<div id="cloud_tool_setting_show"></div>
					</p>
				</div>
			</div>
			<div class="modal-footer">
				<%= link_to  "Ok", cloud_settings_path, :class => "btn btn-primary", :target => "_self" %>
			</div>
		</div>
	</div>
</div>

