<div class="widget-box nopadding">
	<div class="widget-title">
		<span class="icon"> <i class="icon-th-list"></i> </span>
		<h5>Manage Clouds</h5>
	</div>
	<div class="widget-content" >
		<div class="row">
			<div class="col-md-4">
				<div class="cb_box">
					<h4 align="center">No of Clouds</h4>
					<h5 align="center" ><span class="icon"><i class="icon-book"></i></span>&nbsp;Used <%= @cross_clouds.count %>&nbsp;Allowed 2</h5>
					<br/>
				</div>
			</div>
			<div class="col-md-4">
				<div class="cb_box">
					<% @percent = @cross_clouds.count/2.0*100 %>
					<br/>
					<br/>
					<div class="row">
						<div class="col-md-1">
							<h3>0</h3>
						</div>
						<div class="col-md-9">
							<div class="progress">
								<% if @percent >= 80 %>
								<div class="progress-bar progress-bar-warning" style="width: <%= @percent %>%;"></div>
								<% else %>
								<div class="progress-bar progress-bar-success" style="width: <%= @percent %>%;"></div>
								<% end %>
							</div>
						</div>
						<div class="col-md-1">
							<h3>2</h3>
						</div>
					</div>
					<br/>
				</div>
			</div>
			<div class="col-md-4">
				<div class="cb_box">
					<h4 align="center" >Recent Activity</h4>
					<h5 align="Center"><span class="icon"> <i class="icon-calendar"></i> </span><b><%= @cross_clouds.last[:created_at] %></b></h5>
					<h5 align="Center"><%= link_to "#{@cross_clouds.last[:name]}", cross_cloud_path(:id => "1", :name => "name"), :remote => true, data: { spinlock: '#crosscloud_current'} %> </h5>
				</div>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-md-6">
				<%= link_to "Choose Your Cloud", new_cross_cloud_path, class: "btn btn-lg btn-success btn-block", :id => "popover_clouds", :target => "_self" %>
			</div>
			<div class="col-md-6">
				<%= link_to "Upgrade", pricing_path, class: "btn btn-lg btn-inverse btn-block ", :target => "_self", :disabled => true %>
			</div>
		</div>

	</div>
</div>
<br/>
<div class="widget-box nopadding">
	<div class="widget-title">
		<span class="icon"> <i class="icon-th"></i> </span>
		<h5>Clouds</h5>
	</div>
	<div class="widget-content nopadding">
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Created At</th>
					<th>Details</th>
				</tr>
			</thead>
			<tbody>
				<% @cross_clouds.each do |pre_cl| %>
				<tr>
					<td align="center"> <%= pre_cl[:name] %></td>
					<td align="center"><%= pre_cl[:created_at] %></td>
					<td align="center"> <%= link_to "View", cloud_setting_path(pre_cl[:name], :type => "cross_cloud"), :remote => true, class: "btn btn-mini btn-success" %> </td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
<div id="cross_cloud_show_popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<h3 id="myModalLabel">View Cloud</h3>
			</div>
			<div class="modal-body">
				<div class="alert alert-info">
					<p>
						<h4 id="cross_cloud_show"></h4>
					</p>
				</div>
			</div>
			<div class="modal-footer">
				<%= link_to  "Ok", cloud_settings_path, :class => "btn btn-primary", :target => "_self" %>
			</div>
		</div>
	</div>
</div>
