<div class="widget-box nopadding">
	<div class="widget-title">
		<span class="icon"> <i class="icon-th-list"></i> </span>
		<h5>Manage Keys</h5>
	</div>
	<div class="widget-content" >
		<div class="row"  id="ssh_keys_page">
			<div class="col-md-12">
				<div class="col-md-4">
					<div class="cb_box">
						<h4 align="center" >Recent Activity</h4>
						<% if !@ssh_keys.nil? %>
						<h5 align="Center"><span class="icon"> <i class="icon-calendar"></i> </span><b><%= @ssh_keys.last[:created_at] %></b></h5>
						<h5 align="Center"><%= link_to "#{@ssh_keys.last[:name]}", sshkeys_download_path(:filename =>"#{@ssh_keys.last[:name]}" + ".pub"), :remote => true, data: { spinlock: '#sshkey_current'} %> </h5>
						<% else %>
						<h5 align="Center">You don't have any SSH Keys yet. Just click <strong>New Key (or) Import </strong> button.
						<% end %>
					</div>
				</div>
				<div class="col-md-4">
					<br/>
					</br/>
					<%= link_to new_ssh_key_path, class: "btn btn-lg btn-success btn-block", :id => "popover_sshkey_new", :target => "_self" do %>
					<i class="icon-cloud">&nbsp;New Key</i>
					<% end %>
				</div>
				<div class="col-md-4">
					<br/>
					</br/>
					<%= link_to ssh_key_import_path, class: "btn btn-lg btn-success btn-block", :id => "popover_sshkey_import", :target => "_self" do %>
					<i class="icon-cloud-upload">&nbsp;Import Key</i>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="widget-box nopadding">
	<div class="widget-title">
		<span class="icon"> <i class="icon-th"></i> </span>
		<h5>SSH Keys</h5>
	</div>
	<div class="widget-content nopadding">
		<% if @ssh_keys_collection.class != Megam::Error %>
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th>Actions</th>
					<th>Name</th>
					<th>Created At</th>
				</tr>
			</thead>
			<tbody>
				<% @ssh_keys.each do |sshkey| %>
				<tr>
					<td align="center"> <%= link_to   "#", :class => "btn btn-dark-blue" do %> <i class="icon-eye-open">&nbsp;View</i> <% end %>
					<%= link_to  sshkeys_download_path(:filename => sshkey[:name]+".pub"), :class => "btn btn-dark-blue" , :target => "_self" do %> <i class="icon-cloud-download">&nbsp;Pub</i> <% end %>
					<%= link_to  sshkeys_download_path(:filename => sshkey[:name]+".key"), :class => "btn btn-dark-red", :target => "_self" do %> <i class="icon-cloud-download">&nbsp;Private</i> <% end %> </td>
					<td align="center"><%= sshkey[:name] %></td>
					<td align="center"><span class="icon"> <i class="icon-calendar"></i> </span> <%= sshkey[:created_at] %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<% end %>
	</div>
</div>
