<% content_for :content_settings do %>
<% provide(:title, 'Manage Logs') %>
<%= render :partial => "users/header" , :locals => {:head => "Logs"}%>
<div id="breadcrumb">
	<%= breadcrumbs.render(:format => :inline, :separator => '') %>
</div>
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12" ng-controller="LogCtrl">
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">My Logs</h3>
				</div>
				<div class="panel-body updates" style="height:450px; overflow-y: scroll; ">
					<% @nodes.each do |node| %>
					<div class="new-update clearfix">
						<i class="fa fa-check-circle"></i>
						<div class="update-done">
							<a title="" href="" ng-click="sendmessage('logloader','<%= node.name %>')"><strong><%= node.name %></strong></a>
						</div>
					</div>
					<% end %>
				</div>
				<div class="panel-footer">
					<h5>Choose App/Service</h5>
				</div>
			</div>
			<input type="hidden" ng-model="source" />
		</div>
		<div class="col-sm-9 col-md-9 col-lg-9">
			<div class="panel panel-primary" >
				<div class="panel-heading" cg-busy="{tracker:'logloader', backdrop:false}">
					<div class="row">
						<label class="col-sm-7 col-md-7 col-lg-8 control-label">{{bookName}}</label>
						<!--<div class="col-sm-4 col-md-4 col-lg-4">
						<input type="search" ng-model="q" placeholder="filter message..." class="form-control input-sm"/>
						</div> -->
						<div class="col-sm-5 col-md-5 col-lg-4">
							<span class="pull-right"><a href="http://monitor.megam.co/kibana/#/dashboard/file/{{bookName}}.json" target="_blank" class="btn btn-pink btn-xs"><strong>Offline Log : {{bookName}} </strong></a></span>
						</div>
					</div>
				</div>
				<div class="panel-body nopadding" style=" height:500px; overflow-y: scroll;">
					<table class="table table-bordered table-striped table-hover" >
						<thead>
							<tr>
								<th class="col-md-3">Timestamp <!-- <span class="label label-default">{{logTimezone }}</span>--></th>
								<th class="col-md-9">Message</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="log in logs | orderBy:predicate:!reverse | slice:0:100">
								<td>
								<p>
									<small> {{ log.timestamp | date:'d MMM yy, hh:mm a Z' }}</small>
								</p></td>
								<td>
								<p>
									<small>{{log.message }}</small>
								</p></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<% end %>
<%= render :template => users_show_path %>
