<% if @launched_apps_services.count > 0 %>
<div class="row clearfix">
	<div class="col-xs-5 col-sm-5 col-md-6 col-lg-6">
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon"> <i class="icon icon-bar-chart"></i> </span>
				<h5>Distribution of Apps in cloud</h5>
			</div>
			<div class="widget-content">
				<div class="bars"></div>
			</div>
		</div>
	</div>
	<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon"> <i class="icon icon-bar-chart"></i> </span>
				<h5>Distribution of Apps/Services</h5>
			</div>
			<div class="widget-content">
				<div class="pie"></div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
		<div class="widget-box" style="height:400px; overflow-y: scroll;">
			<div class="widget-title">
				<span class="icon"> <i class="icon icon-refresh"></i> </span>
				<h5>Latest updates</h5>
			</div>

			<div class="widget-content nopadding">
				<% @launched_apps_services.each do |one_app_service| %>
				<div class="new-update clearfix">
					<i class="icon icon-ok-sign"></i>
					<div class="update-done">
						<a title="" href="http://<%= one_app_service.name %>" target="_blank" ><strong>[<%= one_app_service.name %>] <%= one_app_service.predef_name.capitalize %> <%= one_app_service.book_type.downcase %> is onboard!</strong></a>
						<span class="update-day-value"> <%= one_app_service.created_at.to_formatted_s(:rfc822) %> </span>
					</div>
					<div class="update-date">
						<div class="col-md-4 col-md-offset-4">
							<%= link_to dashboard_path(one_app_service.id), :class=>"btn btn-primary btn-lg active", :id =>id="popover_dashboard_monitor", :target => "_blank"  do %>
							<i class="icon icon-bolt"></i>
							Monitor
							<% end %>
						</div>
						<div class="col-md-4">
							<%= link_to "#", :class=>"btn btn-dark-green btn-lg active", :id =>id="popover_dashboard_cloud" do %>
							<i class="icon icon-cloud"></i>
							<%= one_app_service.cloud_name %>
							<% end %>
						</div>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
<%=javascript_tag "drawAppDistribution(#{raw @apps_distrib.to_json})" =%>
<%=javascript_tag "drawCloudDistribution(#{raw @cloud_distrib.to_json})" =%>
<% else %>
<div class="row">
	<div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<p class="help-block">
					<%= image_tag "helpbota.png", :alt => "help bot"%>
					<h4 class="alert-heading">Welcome. Not sure what to do next?
				</p>
			</div>
			<div class="panel-body">
				<div class="alert alert-info alert-block">
					<div>
						Get started with...
						<table class="table table-hover">
							<thead></thead>
							<tbody>
								<tr>
									<td><span class="badge badge-info">Java</span></td>
									<td><i class="icon-code"> </i>
									<code>
										Online code editor
									</code> <%= link_to  "A simple web app run on Java container in megam.", new_cloud_book_path, :target => "_self", title: "Lauch your java app in megam"  %> </td>
								</tr>
								<tr>
									<td><span class="badge badge-info">Ruby</span></td>
									<td><i class="icon-plus-sign" > </i>
									<code>
										Ruby Sample app
									</code><%= link_to  "A simple general purpose Rails 4.0 web app run on Ruby on Rails container in megam.", new_cloud_book_path, :target => "_self", title: "Lauch your ruby on rails app in megam"  %> </td>
								</tr>
								<tr>
									<td><span class="badge badge-info">Marketplace</span></td>
									<td><i class="icon-shopping-cart"> </i>
									<code>
										Marketplace
									</code> <%= link_to  "Wordpress A ready to deploy, general purpose wordpress package with MySQL database.", new_market_place_path, :target => "_self", title: "Lauch your wordpress app in megam"  %> </td>

								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div>
					<i class="icon-chevron-left"></i>&nbsp; &nbsp; Click <span class="badge badge-important"> My Apps to get stared. </span>
					</br>
				</div>
			</div>
		</div>

	</div>
</div>
<% end %>
