<%= form_tag(federate_path, :method => "post") do %>
<% nodup_app_items.each do |nodup_apps_item| %>

<% product=Product.find(nodup_apps_item.product_id) %>

<% unless type_now ||= nodup_apps_item.federated_identity_type %>
<% type_now = product.identity %>
<%end%>

<% if nodup_apps_item.product_id === product.id && (type_now.match(identity_type)) %>

<div class="span5">

	<div id="blog_wrapper">
		<div class="post">
			<div class="row">

				<div class="span2">
						<i class="logoc_<%= product.image_url %>", alt=<%= product.name %> ></i>		
				</div>
				<div class="span3 info">
					<a href="blog-post.html"> <h3>Measure theme blog post</h3> </a>
					<p>
						<!-- Slide THREE -->
						There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
					</p>
					<div class="post_info">
						<% if !nodup_apps_item.federated_identity_type %>
						<div class="slideThree">
							<input type="checkbox" value="<%= product.name %>_<%= identity_type %>" id="<%= product.name %>_<%= identity_type %>" name="product_<%= product.id %>" />
							<label for="<%= product.name %>_<%= identity_type %>"></label>
						</div>
						<% else %>
						<span class="label label-info"><%= nodup_apps_item.federated_identity_type %></span><strong> fed url => </strong><span class="badge badge-info">http://grocery.megam.co:9098<%= nodup_apps_item.my_url %></span>
						<% end %>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<% end %>
<% end %>

<input type="hidden" name="identity_type" value="<%= identity_type %>">
<input type="hidden" name="ci" value="<%= cloud_identity.id %>">

<div class="row">
	<div class="span4"></div>
	<div class="span5">
		</br>
		<%= submit_tag("Federate", :class => "btn btn-success") %>
	</div>
</div>
<% end %>

