<% content_for :content_settings do %>
<% provide(:title, 'Cloud Identity') %>

<div id="content-header">
	<h1>Cloud Identity</h1>
	<div class="btn-group">
		<a class="btn btn-large tip-bottom" title="Manage Files"><i class="icon-file"></i></a>
		<a class="btn btn-large tip-bottom" title="Manage Users"><i class="icon-user"></i></a>
		<a class="btn btn-large tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a>
		<a class="btn btn-large tip-bottom" title="Manage Orders"><i class="icon-shopping-cart"></i></a>
	</div>
</div>
<%= render_breadcrumbs %>

<div class="container">

	<div class="row">
		<div class="span12">
			<h1><small>Federated aplications</small></h1>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th> # </th>
						<th> Logo </th>
						<th> Application_Name </th>
						<th> App URL </th>
						<th> Action </th>

					</tr>
				</thead>

				<tbody>
					<% i=0 %>
					<% @cloud_identity.apps_items.each do |cloud_app| %>
					<tr>
						<td><%= i += 1 %></td>
						<td><%= image_tag Product.find(cloud_app.product_id).image_url, :alt => Product.find(cloud_app.product_id).name,:class => "main_pic" %></td>
						<td><%= link_to "url", cloud_app.my_url, :class => "btn btn-mini btn-success" %></td>
						<td><%= cloud_app.app_name %></td>
						<td><%= render :partial => "customizations/modal_remove", :locals => {:link => apps_item_path(:id => cloud_app.id, :app_name => cloud_app.app_name, :federated_identity_type => cloud_app.federated_identity_type), :method => :put, :modal_title => "Cloud Identity", :modal_message => "Are you sure you want remove federation for #{cloud_app.app_name} ?"} %></td>
					</tr>
					<% end %>

				</tbody>
			</table>

		</div>
	</div>

	<div class="row">
		<div class="span12">
			<h1><small>Available applications to be federated</small></h1>

			<div class="widget-box">
				<div class="widget-title">
					<div class="buttons">
						<a title="Icon Title" class="btn btn-mini" href="#"><i class="icon-shopping-cart"></i> Select All</a>
						<a title="Icon Title" class="btn btn-mini" href="#"><i class="icon-shopping-cart"></i> Deselect All</a>
					</div>
					<ul class="nav nav-tabs">
						<li class="active">
							<a data-toggle="tab" href="#tab1">SAML2</a>
						</li>
						<li>
							<a data-toggle="tab" href="#tab2">OAuth</a>
						</li>
						<li>
							<a data-toggle="tab" href="#tab3">Custom</a>
						</li>
					</ul>
				</div>
				<div class="widget-content tab-content">
				    <% nodup_app_items = current_user.apps_items.select("DISTINCT ON (PRODUCT_ID, FEDERATED_IDENTITY_TYPE) *") %>

					<div id="tab1" class="tab-pane active">
						<%= render :partial => "cloud_identities/select_app" , :locals => {:nodup_app_items => nodup_app_items, :identity_type => 'saml2', :cloud_identity => @cloud_identity, :products => @products} %>
					</div>
					<div id="tab2" class="tab-pane">
						<%= render :partial => "cloud_identities/select_app" , :locals => {:nodup_app_items => nodup_app_items, :identity_type => 'oauth', :cloud_identity => @cloud_identity, :products => @products} %>

					</div>
					<div id="tab3" class="tab-pane">
						<%= render :partial => "cloud_identities/select_app" , :locals => {:nodup_app_items => nodup_app_items, :identity_type => 'custom_key', :cloud_identity => @cloud_identity, :products => @products} %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% end %> <!-- content_for -->
<%= render :template => users_show_path %>
