<% content_for :content_settings do %>
<% provide(:title, 'Cloud Identity') %>

<div id="content-header">
	<h1>Cloud Identity</h1>
	<div class="btn-group">
		<a class="btn btn-large tip-bottom" title="Manage Files"><i class="icon-file"></i></a>
		<a class="btn btn-large tip-bottom" title="Manage Users"><i class="icon-user"></i></a>
		<a class="btn btn-large tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a>
		<a class="btn btn-large tip-bottom" title="Manage Orders"><i class="icon-shopping-cart"></i></a>
	</div>
</div>
<%= render_breadcrumbs %>

<div class="container-fluid">
	<div class="row-fluid">
		<div>
			<% if @user.organization %>
			<p class="help-block">
				<%= image_tag "helpbota.png", :alt => "help bot"%>
				<span class="label label-info">free </span><strong> Hosted cloud identity for dev/test purpose. </strong>For production upgrade to our <span class="badge badge-important">paid</span> version.

			</p>
			<% end %>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div class="widget-box">
				<div class="widget-title">
					<span class="icon"> <i class="icon-th-list"></i> </span>
					<h5>Setup Cloud Identity</h5>
				</div>
				<div class="widget-content">
					<%= render :partial => "cloud_identities/setup_identity", :locals => {:num => "1"} %>
				</div>

			</div>
		</div>
	</div>

	<%= $_POST %>

	<div class="row-fluid">
		<div class="span12">
			<div class="widget-box">
				<div class="widget-title">
					<span class="icon"> <i class="icon-th-list"></i> </span>
					<h5>Hosted Cloud Identity</h5>
					<div class="buttons">

						<%= link_to upgrade_path, :class => "btn btn-mini", :title => "Icon Title" do %> <i class="icon-shopping-cart"></i> Upgrade<% end %>

						<%= render :partial => "customizations/refresh" %>
					</div>
				</div>
				<div class="widget-content">
					<div class="invoice-content">
						<div>
							<%= render :partial => "cloud_identities/identity_table", :locals => {:cloud_identities => @cloud_identity } %>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row-fluid">
		<div class="span12">

			<h1><small>Federation</small></h1>
			<p>
				<strong>Select an Account name, under which you want to federate the following cloud applications </strong>
			</p>

			<% identities_array = current_user.cloud_identities.all.map { |ci| [ci.account_name, ci.id] } %>
			<%= select_tag(@ci, options_for_select(identities_array)) %>

			<div class="widget-box">
				<div class="widget-title">
					<div class="buttons">
						<a title="Icon Title" class="btn btn-mini" href="#"><i class="icon-shopping-cart"></i> Select All</a>
						<a title="Icon Title" class="btn btn-mini" href="#"><i class="icon-shopping-cart"></i> Deselect All</a>
					</div>
					<ul class="nav nav-tabs">
						<li class="active">
							<a data-toggle="tab" href="#tab1">SAML2</a>
						</li>
						<li>
							<a data-toggle="tab" href="#tab2">OAuth</a>
						</li>
						<li>
							<a data-toggle="tab" href="#tab3">Custom</a>
						</li>
					</ul>
				</div>
				<div class="widget-content tab-content">
					<div id="tab1" class="tab-pane active">
						<%= render :partial => "cloud_identities/select_app" , :locals => {:identity_type => 'saml2'} %>
					</div>
					<div id="tab2" class="tab-pane">
						<%= render :partial => "cloud_identities/select_app" , :locals => {:identity_type => 'oauth'} %>
					</div>
					<div id="tab3" class="tab-pane">
						<%= render :partial => "cloud_identities/select_app" , :locals => {:identity_type => 'custom'} %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% end %> <!-- content_for -->
<%= render :template => users_show_path %>
