<% content_for :content_settings do %>
<% provide(:title, 'Cloud Identity') %>

<% if @user.organization %>
<%= image_tag @user.organization.logo, :alt => @user.organization.name %>
<br>
</br>
<li>
	<span class="content">Name  : <%= @user.organization.name %></span>
	<span class="content">account name  : <%= @user.organization.account_name %></span>
	<span class="content">url  : <%= @user.organization.url %></span>
	<span class="content">Org_ID  : <%= @user.organization.id %></span>

</li>
<br>
</br>

<% if @user.organization.cloud_identity %>

 <%= form_for @user.organization.cloud_identity, :html => { :multipart => true } do |f| %>

   <%= f.label :url %>
   <%= f.text_field :url, placeholder: "URL"  %>
   <%= f.submit nil, :class => 'btn btn-large btn-primary' %>

 <% end %> <!-- Form End -->

<span class="content">Cloud_Identity_ID  : <%= @user.organization.cloud_identity.id %></span> <br></br>
<h4>Your Cloud Identity</h4>
<%= link_to "www.google.com" do %>  <%= @user.organization.cloud_identity.url %> <% end %>
<br></br>
<%= link_to "Delete Identity", @user.organization.cloud_identity, method: :delete,
data: { confirm: "You sure?" } %>
<% else %> <!-- user organization cloud_identity -->

<h3>To create an identity with <tab></tab> <%= @user.organization.account_name %> </h3>

<%= link_to "Click here", new_cloud_identity_path %>

<% end %> <!-- user organization cloud_identity -->

<% else %> <!-- user organization -->
<br></br>
<h3> Please click profile to set your organization details. </h3>
<% end %> <!-- if user organization -->

<% end %>

<%= render :template => customizations_show_path %>

