<% content_for :content_settings do %>
<% provide(:title, @user.first_name) %>

<% if @user.organization %>
<%= image_tag @user.organization.logo, :alt => @user.organization.name %>
<br></br>
<li>
	<span class="content">Name  : <%= @user.organization.name %></span>
	<span class="content">account name  : <%= @user.organization.account_name %></span>
	<span class="content">url  : <%= @user.organization.url %></span>
	<span class="content">Org_ID  : <%= @user.organization.id %></span>
	
</li>
<br></br>

<% if @user.organization.cloud_identity %>

	<%= form_for @user.organization.cloud_identity, :html => { :multipart => true } do |f| %>

	<%= f.label :url %>
	<%= f.text_field :url %>
<%= f.submit nil, :class => 'btn btn-large btn-primary' %>

<% end %>
	
	<span class="content">Cloud_Identity_ID  : <%= @user.organization.cloud_identity.id %></span>

	<%= link_to "www.google.com" do %>  <%= @user.organization.cloud_identity.url %> <% end %>
	
	<%= link_to "Delete Identity", @user.organization.cloud_identity, method: :delete,
	data: { confirm: "You sure?" } %>
<% else %>

<h3>To create an identity with <tab></tab> <%= @user.organization.account_name %> </h3>

<%= link_to cloud_identities_create_path do %>Create New Identity<% end %>

<% end %>
<% else %>
<%= image_tag "blue.png", :alt => "Megam" %>
<div class="alert alert-warning">
	<span class="label label-important">!</span>
	<strong>Warning!</strong> Your account isn't complete. Kindly complete your profile before we could proceed further.
</div>
<button type="submit" class="btn btn-large btn-warning">
	Edit
</button>
<% end %>
<hr>
</hr>
Cloud Applications
<% end %>

<%= render :template => customizations_show_path %>

