<% content_for :content_settings do %>
<% provide(:title, 'Cloud Identity') %>

<div id="content-header">
	<h1>Cloud Identity</h1>
	<div class="btn-group">
		<a class="btn btn-large tip-bottom" title="Manage Files"><i class="icon-file"></i></a>
		<a class="btn btn-large tip-bottom" title="Manage Users"><i class="icon-user"></i></a>
		<a class="btn btn-large tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a>
		<a class="btn btn-large tip-bottom" title="Manage Orders"><i class="icon-shopping-cart"></i></a>
	</div>
</div>
<%= render_breadcrumbs %>

<div class="container-fluid">

	<% if @user.organization %>
	<div class="alert alert-success">
		Well done !. You are almost there. Next step is to create a cloud identity for realm
		<span class="label label-info"><%= @user.organization.account_name %></span>
	</div>

	<% end %>
	<% if @user.organization.cloud_identity %>

	<%= link_to "Launch Identity", @user.organization.cloud_identity.url, :class => "btn", data: { confirm: "You sure?" } %>

	<% else %>

<div id="insert_identity">
			<%= render :partial => "cloud_identities/identity_btn" %>
</div> 



	<h3>Federation</h3>

	<div class="widget-box">
		<div class="widget-title">
			<ul class="nav nav-tabs">
				<li class="active">
					<a data-toggle="tab" href="#tab1">SAML2</a>
				</li>
				<li>
					<a data-toggle="tab" href="#tab2">Oauth</a>
				</li>
				<li>
					<a data-toggle="tab" href="#tab3">Custom key</a>
				</li>
			</ul>
		</div>
		<div class="widget-content tab-content">
			<div id="tab1" class="tab-pane active">
				<% @products.each do |product| %>
				<% @apps_item.each do |apps_item_el| %>
				<% if apps_item_el.product_id === product.id && (product.identity === 'saml2' || product.identity === 'saml2,oauth') %>

			<div class="container_check">
				<%= image_tag product.image_url, :alt => product.name %>
				<!-- Slide THREE -->
				<div class="slideThree">
					<input type="checkbox" value="None" id="<%= product.name %>_saml2" name="check" />
					<label for="<%= product.name %>_saml2"></label>
				</div> </div>
				<% end %>
				<% end %>
				<% end %>
				<br/>


<div id="federate_saml2">
			<%= render :partial => "cloud_identities/federate_btn", :locals => {:identity => "saml2" } %>
</div>


			</div>
			<div id="tab2" class="tab-pane">
				<% @products.each do |product| %>
				<% @apps_item.each do |apps_item_el| %>
				<% if apps_item_el.product_id === product.id && (product.identity === 'oauth' || product.identity === 'saml2,oauth' ||product.identity === 'oauth,custom_key') %>
				<div class="container_check">
				<%= image_tag product.image_url, :alt => product.name, :size => "100x100" %>
				<!-- Slide THREE -->
				<div class="slideThree">
					<input type="checkbox" value="None" id="<%= product.name %>_oauth" name="check" />
					<label for="<%= product.name %>_oauth"></label>
				</div></div>
				<% end %>
				<% end %>
				<% end %>
				<br/>

				<div id="federate_oauth">
			<%= render :partial => "cloud_identities/federate_btn" %>
</div>
			</div>
			<div id="tab3" class="tab-pane">
				<% @products.each do |product| %>
				<% @apps_item.each do |apps_item_el| %>
				<% if apps_item_el.product_id === product.id && (product.identity === 'custom_key' ||product.identity === 'oauth,custom_key') %>
			<div class="container_check">
				<%= image_tag product.image_url, :alt => product.name, :size => "100x100" %>
				<!-- Slide THREE -->
				<div class="slideThree">
					<input type="checkbox" value="None" id="<%= product.name %>_key" name="check" />
					<label for="<%= product.name %>_key"></label>
				</div></div>
				<% end %>
				<% end %>
				<% end %>
				<br/>

				<div id="federate_custom_key">
			<%= render :partial => "cloud_identities/federate_btn" %>
</div>
			</div>
		</div>
	</div>

	<% end %> <!-- if user organization -->
</div>
<% end %>
<%= render :template => users_show_path %>
