<!--
** Copyright [2013-2015] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->
<% content_for :content_settings do %>
<% provide(:title, "Buckets") %>

<div class="rt-box col-xs-12 col-sm-9 col-md-10 c_bg_white c_height_5">

	<%= render :partial => "users/topright_icons", :locals => {:title_name => "Your Files", :grid_list => "false"} %>

	<!--	<%= react_component('Show' )  %> -->
  <div class="col-xs-12 col-sm-9 col-md-9 br_grey">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="bottom-divider"></div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <table class="table yfiles-tb tb_upload">
        <tbody>
          <% @objects.each do |obj| %>
          <tr>
            <td width="5%">
              <div class="checker"><span class=""><input type="checkbox"></span></div>
            </td>
              <td class="td-left"><i class="pop_icon c_icon-text"></i><i class="set_title"><b><%= obj[:object_name].split("/").last %></b></i></td>
              <td style="padding-top:17px"><%= obj[:size] %></td>
              <td style="padding-top:17px">
                <%= link_to obj[:download_url] do %>
                <i class="c_icon-d margin_15  pull-right"></i>
                  <% end %>
              </td>
              <td style="padding-top:15px">
                <%= link_to do %>
                <i class="c_icon-trash margin_15 pull-right"></i>
                <% end %>
              </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="col-sm-3 storage-rt-list ">
  <dl>
    <h3>Usage</h3>
    <dt>
      Total Storage
    </dt>
    <dd>
      <%= @buckets[:total_size] %>
    </dd>
    <dt class="margin-top-20"></dt>
    <dt>
      Total Buckets
    </dt>
    <dd>
      <%= @buckets[:total_buckets] %>
    </dd>

    <h3>Billing</h3>
    <dt>
      Last billed amount
    </dt>
    <dd>
      2500/- INR
    </dd>
    <dt class="margin-top-20"></dt>
    <dt>
      Current due
    </dt>
    <dd>
      0/- INR
    </dd>
    <dt class="margin-top-20"></dt>
    <dt>
      Region
    </dt>
    <dd>
      <%= image_tag "flag_IN.png", :alt => "flag" %> INDIA
    </dd>
  </dl>
</div>
</div>
<% end %>
<%= render :template => "users/show" %>
