<div class="modal-dialog" style="max-width:400px">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title"> Upload </h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <%= form_tag bucketkolkes_path, :method => :post, :remote => true, :multipart => true do %>
          <div class="form-group">
          <label class="fileinput-button">
          <%= hidden_field_tag 'bucket_name', nil, :class=> 'form-control', :id => "bucketName", placeholder: "Bucket Name", :required => true %>
          <span class="col-xs-12"><i class="filetag" ></i> <span class="filetag"><%= t('ssh_keys.add_files') %></span> <%= file_field_tag :sobject, multiple: true %> </span>
          </label>
          </div>
          <%= submit_tag "upload", :class => "btn btn-success col-md-12 col-xs-12" , :data => {:remote => true}%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
