<legend>Connector Action</legend>


<%= form_for @connector_action, :html => { :multipart => true } do |ca| %>
		
		<table class="table table-condensed table-striped">
			<tr>
				<td><%= ca.label :Name %></td>
				<td><%= ca.text_field :Name, :class => 'text_field', placeholder: "Name" %></td>
				
			</tr>
			<tr>
				<td><%= ca.label :Email %></td>
				<td><%= ca.text_field :Email, :class => 'text_field', placeholder: "Email" %></td>
			</tr>
			<tr>
				<td><%= ca.label :User_Name %></td>
				<td><%= ca.text_field :UserName, :class => 'text_field', placeholder: "User Name" %></td>
			</tr>
			<tr>
				<td><%= ca.label :Locale %></td>
				<td><%= ca.text_field :Locale, :class => 'text_field', placeholder: "Locale" %></td>
			</tr>
		</table>
		
		<%= ca.submit nil, :class => 'btn btn-mini btn-primary' %>


	<% end %>
