<!--
** Copyright [2013-2016] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->
<div class="container">
	<div class="row">
		<div class="col-sm-12 footer-menu">
			<ul class="list-inline text-center">
				<li>
					<a href="https://www.megam.io" target="_blank"><%= t('login.megam_io') %></a>
				</li>
				<li>
					<a href="http://docs.megam.io" target="_blank"><%= t('footer.docs') %></a>
				</li>
				<li>
					<a href="http://devcenter.megam.io" target="_blank"><%= t('footer.devcenter') %></a>
				</li>
				<li>
					<a href="http://support.megam.io" target="_blank"><%= t('footer.support') %></a>
				</li>
				<li>
					<a href="http://docs.megam.io/discuss" target="_blank"><%= t('footer.forum') %></a>
				</li>
			</ul>
		</div>
		<div class="col-sm-12">
			<p class="text-center">
				<%= t('footer.copyright') %>
			</p>
		</div>
	</div>
</div>
