<footer class="footer">
	<div class="row">
		<div class="span3">
			<ul class="unstyled">
				<li>
					<%= link_to "Getting started",   page_path("get_started") %>
				</li>
				<li>
					<%= link_to "Documentation",   page_path("doc") %>
				</li>
			</ul>
		</div>
		<div class="span3">
			<ul class="unstyled">
				<li>
					<%= link_to "About",  page_path("about") %>
				</li>
				<li>
					<%= link_to "Contact us",   page_path("contact_us") %>
				</li>
			</ul>
		</div>
		<div class=span3>
			<ul class="unstyled">
				<li>
					<%= link_to "Contribute",   page_path("contribute") %>
				</li>
				<li>
					<%= link_to "Read Our Blog",   "http://blog.megam.co", { :target => '_blank'} %>
				</li>
			</ul>
			
			<a href="https://twitter.com/indykish" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @indykish</a>
		</div>
	</div>
	<small> © 2012 megam. All rights reserved. <span class="seperator">|</span> <a href="/terms-of-use/">Terms of Use</a><span class="seperator">|</span> <a href="/privacy-policy/">Privacy Policy</a> </small>
</footer>
