<div class="row">

		<div class="col-md-1 col-md-offset-3">
			<ul class="list-unstyled">
				<li>
					<%= link_to "Gomegam",   "http://gomegam.com", { :target => '_blank'} %>
				</li>
			</ul>
		</div>
		<div class="col-md-1">
			<ul class="list-unstyled">
				<li>
					<%= link_to "Documentation",   "http://gomegam.com/docs", { :target => '_blank'} %>
				</li>
			</ul>
		</div>
		
		<div class="col-md-1">
			<ul class="list-unstyled">
				<li>
					<%= link_to "Blog",   "http://blog.megam.co", { :target => '_blank'} %>
				</li>
			</ul>
		</div>
		<div class="col-md-1">
			<ul class="list-unstyled">
				<li>
					<%= link_to "Support",   "http://support.megam.co", { :target => '_blank'} %>
				</li>

			</ul>
		</div>
		<div class="col-md-1">
			<ul class="list-unstyled">
				<li>
					<%= link_to "Contribute",   "http://gomegam.com/docs/contactus.html", { :target => '_blank'} %>
				</li>
			</ul>
		</div>		
		<div class="col-md-2 col-md-offset-2">			
			<small> &copy; 2014 megam. All rights reserved. </small>
		</div>
</div>
<br/>
	
