<div class="row">
		<div class="col-md-1 col-md-offset-4">
			<ul class="list-unstyled">
				<li>
					<%= link_to "Gomegam",   "http://www.gomegam.com", { :target => '_blank'} %>
				</li>
			</ul>
		</div>
		<div class="col-md-1">
			<ul class="list-unstyled">
				<li>
					<%= link_to "Documentation",   "http://www.gomegam.com/docs", { :target => '_blank'} %>
				</li>
			</ul>
		</div>

		<div class="col-md-1">
			<ul class="list-unstyled">
				<li>
					<%= link_to "Blog",   "http://www.gomegam.com/blog", { :target => '_blank'} %>
				</li>
			</ul>
		</div>
		<div class="col-md-1">
			<ul class="list-unstyled">
				<li>
					<%= link_to "Support",   "http://support.megam.co", { :target => '_blank'} %>
				</li>

			</ul>
		</div>
		<div class="col-md-1">
			<ul class="list-unstyled">
				<li>
					<%= link_to "Contribute",   "http://gomegam.com/docs/contactus.html", { :target => '_blank'} %>
				</li>
			</ul>
		</div>
		<div class="col-md-4 col-md-offset-6">
			<small> &copy; 2012-2014 megam. All rights reserved. </small>
		</div>
</div>
<br/>
