<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"> </span> <span class="icon-bar"> </span> <span class="icon-bar"> </span> </a>
			<a class="brand" href="#">foo</a>
			<div class="nav-collapse pull-right">
				<ul class="nav">
					<li>
						<%= link_to "Products", products_path %>
					</li>
					<li>
						<%= link_to "Help", help_path %>
					</li>
					<li>
						<% if current_user %> <span class="label label-success">Logged in as <%= current_user.email %> </span>
						<% else %>
						<%= link_to "Sign In", signin_path %>
						<% end %>
					</li>
					<li>
						<% if current_user %>
						<%= link_to "Sign out", signout_path %>
						<% end %>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>