<!--
** Copyright [2013-2016] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->
<!DOCTYPE html>
<html>
  <head>
    <base href="#">
    <meta charset="utf-8"/>
    <title><%= content_for?(:title) ? yield(:title) + ' - ' + SiteSetting.title : SiteSetting.title %></title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <meta name="description" content="<%= SiteSetting.site_description %>">
    <%= render partial: "layouts/head" %>
    <%= nilavu_csrf_tags %>

    <%= render_google_universal_analytics_code %>
    <%= render_nudgespot_realtimechat_code %>
    <script src="https://www.google.com/jsapi" type="text/javascript"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {
                packages: ['corechart']
              });
    </script>
  </head>
  <body>
    <%= render 'toastr_rails/flash' %>
    <div id="cockpit">
      <%= yield %>
    </div>
  </body>
</html>
