<!--
** Copyright [2013-2015] [Megam Systems]
**
** Licensed under the Apache License, Version 2.0 (the "License");
** you may not use this file except in compliance with the License.
** You may obtain a copy of the License at
**
** http://www.apache.org/licenses/LICENSE-2.0
**
** Unless required by applicable law or agreed to in writing, software
** distributed under the License is distributed on an "AS IS" BASIS,
** WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
** See the License for the specific language governing permissions and
** limitations under the License.
-->
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
	<!--<![endif]-->
	<!-- BEGIN HEAD -->
<html ng-app="Nilavu">
	<head>
		<base href="/">
		<%= favicon_link_tag 'favicon.png' %>
		<title>Megam - PaaS | <%= yield(:title) %></title>
		<%= stylesheet_link_tag "application", :media => "all" %>
                <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= analytics_init if Rails.env.production? %>

		<%= javascript_include_tag "application" %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= script_tag_for_all_templates %>
                <%= csrf_meta_tags %>

		<meta name="description=" content="Megam is a platform as service. We offer launching app cross cloud bundled with
		realtime logging, application monitoring.">

                <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />
		<meta content="" name="description" />
		<meta content="" name="author" />
		<meta name="MobileOptimized" content="320">
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript">
			google.setOnLoadCallback(function() {
				angular.bootstrap(document.body, ['app']);
			});
			google.load('visualization', '1', {
				packages : ['corechart']
			});
		</script>
	</head>
	<body>
		<div id="cockpit">
			<%= yield %>
		</div>
	</body>
</html>
