<!DOCTYPE html>
<html>
	<head>
	<%= favicon_link_tag 'favicon.ico' %>
		<title>Megam | <%= yield(:title) %></title>
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= render 'layouts/shim' %>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<a href="#" class="scrolltop"> <span>up</span> </a>
		<%= yield %>
		<%= render 'layouts/footer' %>
		<!-- JQuery will invoke via the spinner and display a loading modal lock. -->
		<div id="loading" />
		<%= gflash %>
	</body>
</html>
