<!DOCTYPE html>
<html ng-app="Nilavu">
	<head>
		<base href="/">
		<%= favicon_link_tag 'favicon.png' %>
		<title>Megam - PaaS | <%= yield(:title) %></title>

		<%= stylesheet_link_tag "application", :media => "all" %>

		<%= javascript_include_tag "application" %>
		<%= script_tag_for_all_templates %>

		<meta name="description=" content="Megam is a platform as service provider. We offer launching app cross cloud bundled with
		realtime logging, application monitoring.">

		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />
		<meta content="" name="description" />
		<meta content="" name="author" />
		<meta name="MobileOptimized" content="320">

		<%= render 'layouts/shim' %>

	</head>
	<body>
		<div id="spinner" class="spinner" style="display:none;">
			<%= image_tag "ajax-loading.gif"%>
		</div>
		<%= yield %>
	</body>
</html>
