<!DOCTYPE html>
<html>
	<head>
		<title> Identity Provision | <%= yield(:title) %></title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= render 'layouts/shim' %>
	</head>
	<body>
			<%= render 'layouts/header' %>
			<a href="#" class="scrolltop">
        <span>up</span>
    </a>
				<%= yield %>
			<%= render 'layouts/footer' %>
			<!-- JQuery will invoke via the spinner and display a loading modal lock. -->
			<div id="loading" />
	</body>
</html>
